

.general-setting-card{
    padding: 15px;
    width:95%;
    height: 95%;
    margin: 5px;
    bottom: 5px;

}

.mat-toolbar {
     margin-bottom: 5px;
}

.main-container{
    height: 100vh;
}


.top-menu{
    position: fixed;
    top:0;
    left: 0;
    z-index: 9;
    //height: 50px;
}
  .example-container{
    //top: 7%;
    background-color: #f1f1f1;
    //padding-top: 50px;
}

.load-card{
    width: 80%;
    height: 80%;
}

.card{
    top:50px;
}

.color-picker-alternative{
    cursor: pointer;
}