<mat-toolbar color="primary" class="fixed-header-master">
    <label class="form-header-lbl">{{'Global Settings'|translate}}</label>
    <span class="example-spacer"></span>
</mat-toolbar>

<div>

    <ngx-alerts></ngx-alerts>

    <form [formGroup]="settingsForm">
        <mat-card class="card">

            <mat-card-content>
                <div class="example-loading-shade" *ngIf="spinStart">
                    <mat-spinner *ngIf="spinStart"></mat-spinner>
                </div>
                <mat-tab-group class="tab-container" dynamicHeight=false>

                    <mat-tab label="{{'Application Settings'|translate}}">

                        <div formGroupName="globalSetting" fxLayout="column" fxLayoutAlign="start start">
                            <mat-card class="general-setting-card">
                                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">

                                            <mat-form-field class="form-box">
                                                <mat-select class="input-container" formControlName="stockIncreaseOnId"
                                                     matTooltip={{hintValue}}>
                                                    <mat-option *ngFor="let stockUpdateOn of increaseStockUpdateOns"
                                                        [value]="stockUpdateOn.id">
                                                        {{stockUpdateOn.transactionTypeName}}
                                                    </mat-option>

                                                </mat-select>
                                                <mat-placeholder>{{'Stock Increase Transaction'|translate}} </mat-placeholder>
                                              
                                            </mat-form-field>
                                            <button mat-button (click)="helpOpen(1)">
                                                <mat-icon style="font-size: 13pt;">help</mat-icon>
                                            </button>
                                        </div>
                                       
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="40%">
                                                <span>{{'Special price calculation required'|translate}}</span>
                                                <div>
                                                    <mat-radio-group formControlName="specialPriceCalculation">
                                                        <mat-radio-button [checked]="settingsForm.get('globalSetting').get('specialPriceCalculation').value === specialPriceCalculationYes"
                                                            [value]="specialPriceCalculationYes">
                                                            <label>{{'Yes'|translate}}</label>
                                                        </mat-radio-button> &nbsp; &nbsp;
                                                        <mat-radio-button [checked]="settingsForm.get('globalSetting').get('specialPriceCalculation').value === specialPriceCalculationNo"
                                                            [value]="specialPriceCalculationNo">
                                                            <label>{{'No'|translate}}</label>
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>
                                            <button mat-button (click)="helpOpen(6)">
                                                <mat-icon style="font-size: 13pt;">help</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <mat-form-field class="form-box">
                                                <mat-select class="input-container" formControlName="stockDecreaseOnId"
                                                     matTooltip={{hintValue}}>
                                                    <mat-option *ngFor="let stockUpdateOn of decreaseStockUpdateOns"
                                                        [value]="stockUpdateOn.id">
                                                        {{stockUpdateOn.transactionTypeName}}
                                                    </mat-option>

                                                </mat-select>
                                                <mat-placeholder>{{'Stock Decrease Transaction'|translate}}</mat-placeholder>
                                            </mat-form-field>
                                            <button mat-button (click)="helpOpen(2)">
                                                <mat-icon style="font-size: 13pt;">help</mat-icon>
                                            </button>
                                        </div>
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <span>{{'Unit rate reference for sales'|translate}}</span>
                                                <div>
                                                    <mat-radio-group formControlName="salePrice">
                                                        <mat-radio-button [checked]="settingsForm.get('globalSetting').get('salePrice').value === materialMRPPrice"
                                                            [value]="materialMRPPrice">
                                                            <label>{{'MRP'|translate}}</label>
                                                        </mat-radio-button>
                                                        &nbsp; &nbsp;
                                                        <mat-radio-button [checked]="settingsForm.get('globalSetting').get('salePrice').value === materialSellingPrice"
                                                            [value]="materialSellingPrice">
                                                            <label>{{'Selling Price'|translate}}</label>
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">
                                            <!-- <mat-checkbox formControlName="allowPartyCode">
                                                <label>Allow to Print partyCode in Reports?</label>
                                            </mat-checkbox> -->
                                            </div>
                                        </div>
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <span>{{'Unit rate reference for purchase'|translate}}</span>
                                                <div>
                                                    <mat-radio-group formControlName="purchasePrice">
                                                        <mat-radio-button [checked]="settingsForm.get('globalSetting').get('purchasePrice').value === materialMRPPrice"
                                                            [value]="materialMRPPrice">
                                                            <label>{{'MRP'|translate}}</label>
                                                        </mat-radio-button>
                                                        &nbsp; &nbsp;
                                                        <mat-radio-button [checked]="settingsForm.get('globalSetting').get('purchasePrice').value === materialBuyingPrice"
                                                            [value]="materialBuyingPrice">
                                                            <label>{{'Buying price'|translate}}</label>
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                        <div fxFlex="50%">
                                            <div fxFlex="50%">

                                                <!-- <mat-checkbox formControlName="itemLevelDiscount" 
                                                    matTooltip={{hintValue}} (change)="checkTransactionCount()">
                                                    <label>Item level discount calculation required?</label>

                                                </mat-checkbox> -->
                                                <!-- <div *ngIf = "disableItemLevel"> {{hintValue}}</div> -->
                                            </div>
                                        </div>
                                        <div fxFlex="50%">
                                            <!-- <div fxFlex="50%"> -->
                                            <mat-checkbox formControlName="disableItemGroup" labelPosition="after">
                                                {{'Disable item grouping in transaction'|translate}}{{'(Allow same material in seperate
                                                rows)'|translate}}
                                            </mat-checkbox>
                                            <!-- </div> -->
                                        </div>
                                    </div>
                                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%" fxHide.lt-md="true">
                                    
                                                <div fxLayout="column" fxLayoutGap="10px">
                                    
                                                    <div fxLayout="row" fxLayoutGap="100px">
                                                        <div fxFlex="90%" fxLayout="row" fxLayoutGap="10px">
                                                            <span>{{'Transaction Type'|translate}} </span>
                                                        </div>
                                                        <div fxFlex="10%" fxLayout="row" fxLayoutGap="80px">
                                    
                                                            <div fxFlex="50%"> <label>{{'Purchase'|translate}}</label></div>
                                                            <div fxFlex="50%"> <label>{{'Sales'|translate}}</label></div>
                                                        </div>
                                                    </div>
                                    
                                                    <div fxLayout="row" fxLayoutGap="10px">
                                                        <div fxFlex="90%" fxLayout="row" fxLayoutGap="10px">
                                                            <span>{{'Item level tax calculation required ?'|translate}} </span>
                                                        </div>
                                                        <div fxFlex="10%" fxLayout="row" fxLayoutGap="80px">
                                                            <div fxFlex="50%">
                                                                <mat-checkbox matTooltip={{hintValue}} formControlName="itemLevelTaxPurchase"></mat-checkbox>
                                                            </div>
                                                            <div fxFlex="50%">
                                                                <mat-checkbox matTooltip={{hintValue}} formControlName="itemLevelTax"></mat-checkbox>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                    
                                                    </div>
                                                    
                                                </div>
                                                <button mat-button (click)="helpOpen(3)">
                                                    <mat-icon style="font-size: 13pt;">help</mat-icon>
                                                </button>
                                        
                                    
                                            </div>
                                            
                                           
                                            <div fxFlex="50%" fxShow.gt-md="false">
                                                <div fxLayout="row" fxLayoutGap="10px">
                                                    <div fxLayout="column" fxLayoutGap="10px">
                                                        <div fxFlex="50%" fxLayout="column" fxLayoutGap="10px">
                                                            <span>{{'Transaction Type'|translate}} </span>
                                                        </div>
                                                        <div fxFlex="50%" fxLayout="column" fxLayoutGap="10px">
                                    
                                                            <div fxFlex="50%"> <label>{{'Purchase'|translate}}</label></div>
                                                            <div fxFlex="50%"> <label>{{'Sales'|translate}}</label></div>
                                                        </div>
                                                    </div>
                                                   
                                                    <div fxLayout="column" fxLayoutGap="10px">
                                                        <div fxFlex="50%" fxLayout="column" fxLayoutGap="10px">
                                                            <span>{{'Item level tax calculation required ?'|translate}} </span>
                                                        </div>
                                                        <div fxFlex="50%" fxLayout="column" fxLayoutGap="10px">
                                                            <div fxFlex="50%">
                                                                <mat-checkbox matTooltip={{hintValue}} formControlName="itemLevelTaxPurchase"></mat-checkbox>
                                                            </div>
                                                            <div fxFlex="50%">
                                                                <mat-checkbox matTooltip={{hintValue}} formControlName="itemLevelTax"></mat-checkbox>
                                                               
                                                            </div>
                                                          
                                                           
                                                        </div>
                                                       
                                                    </div>
                                                    
                                                    <div>
                                                      
                                                    </div>
                                                </div>
                                               
                                            </div>
                                           
                                           
                                        </div>
                                       
                                        
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                    
                                                <mat-checkbox formControlName="cutomerMateriaBinding" (change)="checkCutomerMateriaBinding()">
                                                    <label>{{'Enable customer binding in material master'|translate}}</label>
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                        
                                    </div>



                                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="44%">
                                                <mat-checkbox formControlName="inclusiveTax">
                                                    <label>{{'Inclusive tax in transaction required?'|translate}}</label>
                                                </mat-checkbox>

                                            </div>
                                            <button mat-button (click)="helpOpen(4)">
                                                <mat-icon style="font-size: 13pt;">help</mat-icon>
                                            </button>
                                        </div>
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <mat-checkbox readOnly formControlName="showOnlyCustomerMaterialInSales"
                                                    (change)="checkShowOnlyCustomerMaterialInSales()">
                                                    <label>{{'Show only customer materials in sales transactions'|translate}}</label>
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>

                                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="40%">

                                                <mat-checkbox readOnly formControlName="roundOffTaxTransaction">
                                                    <label>{{'Apply round-off tax for transaction'|translate}}</label>
                                                </mat-checkbox>
                                            </div>
                                            <button mat-button (click)="helpOpen(5)">
                                                <mat-icon style="font-size: 13pt;">help</mat-icon>
                                            </button>
                                        </div>
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="40%">
                                                <mat-checkbox formControlName="stockCheckRequired">
                                                    <label>{{'Is stock check required?'|translate}}
                                                    </label>
                                                </mat-checkbox>
                                            </div>
                                            <button mat-button (click)="helpOpen(7)">
                                                <mat-icon style="font-size: 13pt;">help</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                    <div fxFlex="50%">
                                                <mat-checkbox formControlName="allowPartyCode">
                                                    <label>{{'Display party code with party name in prints'|translate}}</label>
                                                </mat-checkbox>
                                                </div>
                                            </div>
                                        </div>

                                </div>
                            </mat-card>
                        </div>

                    </mat-tab>
                    <mat-tab label="{{'Transaction Numbering'|translate}}">
                        <mat-card class="general-setting-card">
                            <div formArrayName="numberRangeConfigurations">
                                <div *ngFor="let numberRangeItem of settingsForm.get('numberRangeConfigurations')['controls']; let idx=index">
                                    <app-transaction-settings [group]="numberRangeItem" [taxMaxIndex]="settingsForm.get('numberRangeConfigurations')['controls'].length"
                                        [idx]="idx" [allTransactionTypes]="transactionTypes"
                                        [excludedTransctionTypeIds]="excludedTransctionTypeIds" (addIndex)="checkAndAddNewNRRow($event)"
                                        (deleteIndex)="removeNumberRangeItem($event)"></app-transaction-settings>
                                </div>
                            </div>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="{{'Tax'|translate}}">
                            <mat-card class="general-setting-card">
                        <div *ngFor="let tax of settingsForm.get('taxes')['controls']; let idx=index">
                            <app-tax-settings [group]="tax" [taxMaxIndex] = "settingsForm.get('taxes')['controls'].length" [idx]="idx" (addIndex)="checkAndAddNewRow($event)" (deleteIndex)="removeTaxItem($event)"></app-tax-settings>
                        </div>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="{{'Unit Of Measure'|translate}}">
                            <mat-card class="general-setting-card">
                        <div *ngFor="let uom of settingsForm.get('unitOfMeasurements')['controls']; let idx=index">
                            <app-uom-settings [group]="uom" [idx]="idx" (addIndex)="checkAndAddNewUomRow($event)"  [taxMaxIndex] = "settingsForm.get('unitOfMeasurements')['controls'].length"
                             (deleteIndex)="removeUomItem($event)"></app-uom-settings>
                        </div>
                            </mat-card>
                    </mat-tab>
                    <mat-tab label="{{'Terms and Conditions'|translate}}">
                            <mat-card class="general-setting-card">
                        <div *ngFor="let tnc of settingsForm.get('termsAndConditions')['controls']; let idx=index">
                            <app-tn-csettings [group]="tnc" [allTransactionTypes]="transactionTypes" (addIndex)="checkAndAddNewTCRow($event)" [taxMaxIndex] = "settingsForm.get('termsAndConditions')['controls'].length" (defaultCheckValue)="checkIsDefaultForTC($event)"
                                (deleteIndex)="removeTCItem($event)" [idx]="idx"></app-tn-csettings>
                        </div>
                        </mat-card>
                    </mat-tab>
                    <!-- <mat-tab label="Report template settings">
                            <mat-card class="general-setting-card">
                        <mat-form-field class="t-type-select">
                            <mat-select class="input-container" [(ngModel)]="transactionType" [ngModelOptions]="{standalone: true}">
                                <mat-option *ngFor="let transactionType of transactionTypes" [value]="transactionType">
                                    {{transactionType.name}}
                                </mat-option>

                            </mat-select>
                            <mat-placeholder>Transaction Type</mat-placeholder>
                        </mat-form-field>
                        </mat-card>
                    </mat-tab> -->
                    <mat-tab label="{{'Print Templates'|translate}}">
                        <app-print-template [allTransactionTypes]="printTemplateTransactionTypes"></app-print-template>
                    </mat-tab>

                    <mat-tab label="{{'Print Copies'|translate}}">
                        <app-print-copies [allTransactionTypes]="transactionTypes"></app-print-copies>
                    </mat-tab>


                  


                    
                    <!-- <mat-tab label="{{'Email settings'|translate}}">
                    
                    
                    
                        <app-email-settings ></app-email-settings>
                    
                    
                    
                    </mat-tab> -->







                    <mat-tab label="{{'Appearance settings'|translate}}">
                        <mat-card>
                            <!-- <div>
                                <button mat-icon-button [matMenuTriggerFor]="themeMenu">
                                  <i class="material-icons">
                                    color_lens
                                  </i>
                                </button>
                                <mat-menu #themeMenu="matMenu">
                                  <button mat-menu-item>
                                    <mat-icon (click)="onSetTheme('alternative')" class="color-picker-alternative" style="color:saddlebrown">color_lens</mat-icon>
                                    <mat-icon (click)="onSetTheme('default-theme')" class="color-picker-alternative" style="color: navy">color_lens</mat-icon>
                                    <mat-icon (click)="onSetTheme('blue-grey-theme')" class="color-picker-alternative" style="color:darkslategrey">color_lens</mat-icon>
                                  </button>
                                  <button mat-menu-item>
                                    <mat-icon (click)="onSetTheme('deep-orange-theme')" class="color-picker-alternative" style="color:coral">color_lens</mat-icon>
                                    <mat-icon (click)="onSetTheme('grey-theme')" class="color-picker-alternative" style="color:silver">color_lens</mat-icon>
                                    <mat-icon (click)="onSetTheme('green-theme')" class="color-picker-alternative" style="color: lightgreen">color_lens</mat-icon>
                                  </button>
                                </mat-menu>
                              </div> -->

                            <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10pt">
                                <div>
                                    <p>{{'Choose Theme'|translate}}</p>
                                </div>
                                <div fxLayout="row" fxLayoutGap="10pt" fxLayoutAlign="space-around center" style="width:70%">
                                    <div fxFlex="33">
                                        <!-- <mat-icon (click)="onSetTheme('alternative')" class="color-picker-alternative" style="color:saddlebrown">color_lens</mat-icon> -->
                                        <mat-list>
                                            <mat-list-item>
                                                <mat-icon mat-list-icon (click)="onSetTheme('alternative')" class="color-picker-alternative"
                                                    style="color:saddlebrown">color_lens</mat-icon>
                                                <h4 mat-line>{{'Alternative'|translate}}</h4>
                                                <p mat-line>{{'Alternative Theme'|translate}} </p>
                                            </mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div fxFlex="33">
                                        <!-- <mat-icon (click)="onSetTheme('default-theme')" class="color-picker-alternative" style="color: navy">color_lens</mat-icon> -->
                                        <mat-list>
                                            <mat-list-item>

                                                <mat-icon mat-list-icon (click)="onSetTheme('default-theme')" class="color-picker-alternative"
                                                    style="color: navy">color_lens</mat-icon>
                                                <h4 mat-line>{{'Default'|translate}}</h4>
                                                <p mat-line>{{'Default Blue Theme'|translate}} </p>
                                            </mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div fxFlex="34">
                                        <!-- <mat-icon (click)="onSetTheme('blue-grey-theme')" class="color-picker-alternative" style="color:darkslategrey">color_lens</mat-icon> -->
                                        <mat-list>
                                            <mat-list-item>

                                                <mat-icon mat-list-icon (click)="onSetTheme('blue-grey-theme')" class="color-picker-alternative"
                                                    style="color:darkslategrey">color_lens</mat-icon>
                                                <h4 mat-line>{{'Blue Grey'|translate}}</h4>
                                                <p mat-line>{{'Blue Grey Theme'|translate}} </p>
                                            </mat-list-item>
                                        </mat-list>
                                    </div>
                                </div>

                                <div fxLayout="row" fxLayoutGap="10pt" fxLayoutAlign="space-around center" style="width:70%">
                                    <div fxFlex="33">
                                        <!-- <mat-icon (click)="onSetTheme('deep-orange-theme')" class="color-picker-alternative" style="color:coral">color_lens</mat-icon> -->
                                        <mat-list>
                                            <mat-list-item>
                                                <mat-icon mat-list-icon (click)="onSetTheme('deep-orange-theme')" class="color-picker-alternative"
                                                    style="color:coral">color_lens</mat-icon> 
                                                <h4 mat-line>{{'Deep Orange'|translate}}</h4>
                                                <p mat-line>{{'Deep Orange Theme'|translate}} </p>
                                            </mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div fxFlex="33">
                                        <!-- <mat-icon (click)="onSetTheme('grey-theme')" class="color-picker-alternative" style="color:silver">color_lens</mat-icon> -->
                                        <mat-list>
                                            <mat-list-item>
                                                <mat-icon mat-list-icon (click)="onSetTheme('grey-theme')" class="color-picker-alternative"
                                                    style="color:silver">color_lens</mat-icon>
                                                <h4 mat-line>{{'Grey'|translate}}</h4>
                                                <p mat-line>{{'Grey Theme'|translate}} </p>
                                            </mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div fxFlex="34">
                                        <!-- <mat-icon (click)="onSetTheme('green-theme')" class="color-picker-alternative" style="color: lightgreen">color_lens</mat-icon> -->
                                        <mat-list>
                                            <mat-list-item>
                                                <mat-icon mat-list-icon (click)="onSetTheme('green-theme')" class="color-picker-alternative"
                                                    style="color: lightgreen">color_lens</mat-icon>
                                                <h4 mat-line>{{'Green'|translate}}</h4>
                                                <p mat-line>{{'Green Theme'|translate}} </p>
                                            </mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div fxFlex="34">
                                            <mat-list>
                                                    <mat-list-item>
                                                           
                                        <button mat-icon-button  [matMenuTriggerFor]="languageMenu">
                                            <mat-icon>translate</mat-icon>
                                           
                                          </button>
                                          <h4 mat-line>{{'Language'|translate}}</h4>
                                        <p mat-line>{{'Change the Language'|translate}}</p>
                                        </mat-list-item>
                                    </mat-list>
                                      <mat-menu #languageMenu="matMenu">
                                         <button mat-menu-item (click)="setLanguage('kn')">{{'Kannada'|translate}}</button>
                                        <button mat-menu-item (click)="setLanguage('en')">{{'English'|translate}}</button>
                                        <button mat-menu-item (click)="setLanguage('hn')">{{'Hindi'|translate}}</button>

                                      </mat-menu>
                                    </div>  


                                </div>
                            </div>


                        </mat-card>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>

        <app-action-panel *ngIf="activityRoleBindings" [inForm]="settingsForm" [applicableButtons]="applicableButtons"
            [activityRoleBindings]="activityRoleBindings" (closeEvent)="closeForm()" (saveEvent)="onSubmit(settingsForm.getRawValue())">
        </app-action-panel>
    </form>
</div>