
<mat-card>
    <mat-card-content>
        <form [formGroup]="printCopiesForm">
            <div fxLayout="row" fxLayoutAlign="stretch" fxLayoutGap="1px">
                <div class="item-header" fxFlex="42" color="primary">
                    <mat-toolbar class="item-header" color="primary">{{'Print Copy Text'|translate}}</mat-toolbar>
                </div>
                <div class="item-header" fxFlex="18" color="primary">
                    <mat-toolbar class="item-header" color="primary">{{'Action'|translate}}</mat-toolbar>
                </div>
            </div>

            <div formArrayName="printCopiesList"
                *ngFor="let printCopies of printCopiesForm.get('printCopiesList')['controls']; let i = index;">
                <div [formGroupName]="i" class="items" fxLayout="column" fxLayoutAlign="stretch">

                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxFlex="70">
                            <mat-form-field class="input-container" appearance="outline" >
                                <mat-hint>Max 30 characters</mat-hint>
                                <input matInput class="input-sm " type="text" #input1 maxlength=30 formControlName="name">
                                <mat-hint align="end">{{input1.value?.length || 0}}/30</mat-hint>
                            </mat-form-field>
                        </div>
                        <div fxFlex="30">
                            <mat-icon class="delete-class" (click)="delete(i); $event.stopPropagation()">delete
                            </mat-icon>
                            <mat-icon class="delete-class" (click)="add()">add</mat-icon>
                        </div>
                    </div>

                </div>

            </div>
            <div class="form-top">

            </div>
            <div>
                <button mat-raised-button color="primary" (click)="onSubmit(printCopiesForm.value)">{{'Save AND CLOSE'|translate}}</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>