 
    <div class="example-container">
      
        <mat-toolbar color="primary" class="fixed-header-master">
            <div>
                <app-sub-heading [route]="route">
                </app-sub-heading>
            </div>
            <!-- <div fxLayout="row" fxLayoutAlign="end center" class="title-row">
                <div fxFlex="97">
                    <label class="form-header-lbl">Stock Trace of Material</label>
                </div>
                <div fxFlex>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="saveAsExcel()">
                        <mat-icon>import_export</mat-icon>
                        <span>Export to Excel</span>
                        </button>
                        <button mat-menu-item (click)="close()">
                        <mat-icon>close</mat-icon>
                        <span>Close</span>
                        </button>
                    </mat-menu>
                </div>
            </div> -->
        </mat-toolbar>
        <mat-accordion>
          <mat-expansion-panel  [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5pt">
                  <div><mat-icon style="font-size:20pt;">filter_list</mat-icon></div>
                  <div><p>{{'Filter'|translate}}</p></div>
                </div>
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
             <div fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center center" fxLayoutAlign.lt-md="space-around stretch">
            <!-- <div > -->
              <form [formGroup]="stockTraceForm" novalidate>

            <div fxLayoutAlign="space-around center" fxLayoutAlign.lt-md="space-around stretch" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10pt">
               
              <mat-form-field>
                  <input matInput [matDatepicker]="fromDatepicker" placeholder="{{'From date'|translate}}" formControlName="fromDate">
                  <mat-datepicker-toggle matSuffix [for]="fromDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #fromDatepicker></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                  <input matInput [matDatepicker]="toDatepicker" placeholder="{{'To date'|translate}}" formControlName="toDate">
                  <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #toDatepicker></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                  <mat-select formControlName="materialId">
                    <mat-option>-- None --</mat-option>
                    <mat-option *ngFor="let material of materials" [value]="material.id">
                      {{material.name}}
                    </mat-option>
          
                  </mat-select>
                  <mat-placeholder>{{'Material'|translate}}</mat-placeholder>
                </mat-form-field>
                
      
      
                <button mat-raised-button color="primary" (click)="onSearch()">
                        <i class="material-icons menu-icon top-search" matTooltip="Search">{{'search'|translate}}</i>
                    </button>
                    <button mat-raised-button type="button" (click)="clear()"><i class="material-icons" matTooltip="Clear!">{{'clear_all'|translate}}</i></button>
                    
           </div>

              </form>
            <!-- </div> -->
          </div>
        </mat-expansion-panel>
      </mat-accordion>
<div>
   
  </div>
  <div class="example-container-new mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort>

      
      
        <ng-container matColumnDef="businessDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{'Business Date'|translate}}
            </th>
            <td mat-cell *matCellDef="let element"> 
              {{element.businessDate | date: 'dd/MM/yyyy'}}
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="transactionDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{'Transaction Date'|translate}}
            </th>
            <td mat-cell *matCellDef="let element">
              {{element.transactionDate | date: 'dd/MM/yyyy'}}
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

      <ng-container matColumnDef="materialName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Material Name'|translate}} </th>
        <td mat-cell *matCellDef="let element" > {{element.materialName}}</td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>


      <ng-container matColumnDef="transactionNote">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Transaction Note'|translate}} </th>
        <td mat-cell *matCellDef="let element" > {{element.transactionNote}}</td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>

    <ng-container matColumnDef="transactionNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'Transaction Number'|translate}}
      </th>
      <td mat-cell *matCellDef="let element"> {{element.transactionNumber}} </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    
    <ng-container matColumnDef="partyName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Party Name'|translate}} </th>
      <td mat-cell *matCellDef="let element" > {{element.partyName}}</td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ngContainer matColumnDef="quantityIn">
      <th mat-header-cell *matHeaderCellDef>
        {{'In Quantity'|translate}}
      </th>
      <td mat-cell *matCellDef="let element">
        <p style="text-align: right;">{{element.quantityIn}}</p>
      </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ngContainer>

    <ngContainer matColumnDef="quantityOut">
        <th mat-header-cell *matHeaderCellDef>
          {{'Out Quantity'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;">{{element.quantityOut}}</p>
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ngContainer>

     <ngContainer matColumnDef="closingStock">
      <th mat-header-cell *matHeaderCellDef>
        {{'Closing Stock'|translate}}
      </th>
      <td mat-cell *matCellDef="let element">
        <p style="text-align: right;">{{element.closingStock}}</p>
      </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ngContainer>

 
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>

  </div>
  <mat-paginator [length]="resultsLength"   [pageSize]="pageSize"  showFirstLastButtons></mat-paginator>


</div>


<div class="button-panel" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">

    <div>
    <button mat-raised-button type="button" (click)="close()" matTooltip="Close"><i class="material-icons">close</i> {{'Close'|translate}}</button>
    </div>
    <div>
    <button mat-raised-button type="button" color="primary" (click)="saveAsExcel()" matTooltip="Save as Excel"><i class="material-icons">import_export</i> {{'Export to Excel'|translate}}</button>
    </div>
    <div>
      <button mat-raised-button type="button" color="primary" (click)="saveAsPdf()" matTooltip="Save as Pdf"><i class="material-icons">import_export</i>
        {{'Export to Pdf'|translate}}</button>
    </div>
</div>
  