

.item-header{
    font-size: 10pt;
    // font-weight: bold;
    padding: 2px;
    white-space: normal;
    height:30px;
    text-align: center;
    line-height: 15px;
}
.input-container{
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
}

.heading-container{
    margin-right: 1px;
    padding: 0px;
    border-radius: 0px;
    border-right: 1px;
    /* border-right-color: white; */
    /* background-color: #337ab7; */
    /* color: white; */
    background-color: #d9edf7;
    border-right-color: black;
    color: black;
    font-size: 90%;
    font-weight: bold;
}
/* .input-container:nth-child(odd){
    background:yellow;
}

.input-container:nth-child(even){
    background:green;
} */

.input-sm{
    width: 100%;
    border-radius: 0px;
    padding: 0px;
    border: 0px;
    color: black;
    //margin-bottom: -1.35em
}

.input-right{
    text-align: right;
}

.input-center{
    text-align: center;
    align-content: center;
}
.small-item-view{
    margin-bottom: 2%;
}

.lbl-class{
    background-color: white;
    border-top: 1px;
    width:100%;
    height: 100%;
    color: black;
    text-align: center;
}

.delete-class{
    // background-color: white;
    width:100%;
    height: 100%;
    margin-top: 40%;
    // fill:black;
    // color:black;
    cursor: pointer;
}

// .mat-raised-button{
//     padding:0px;
// }



.large-row{
    width:1500px;
}

.input-container{
    // margin: 0px;
    // padding: 2px;
    // height:30px;
    // border-radius: 0px;
    background-color: white;
    font-size: 10pt;
    // font-weight: bold;
    //padding: 5px;
    width: 100%;
    margin-bottom: -1.35em
    // white-space: normal;
    // height:30px;
   // text-align: center;
    // line-height: 15px;
    // background-color: white;
}

.input-sm-invalid{
    width: 100%;
    border-radius: 5px;
    padding: 0px;
    border: 10px;
    border-color: red;
   color: red;
   //margin-bottom: -1.35em
    //background-color: red;
}

//  .read-only{
//     // background-color: rgb(221, 216, 216);
//     }

    .overflow-visible {
      //  white-space: initial;
      }

      .fixed-item-header{
          position: fixed;
      }

    div.mat-expansion-panel-body{
    padding: 0px;
}      

// .mat-form-field-wrapper{
//     padding-bottom: 0px;
// }

.mat-form-field {
    .mat-form-field-wrapper {
        padding-bottom: 0;
    }
    .mat-form-field-underline {
        bottom: 0;
    }
}