<div fxLayout="row" fxLayoutAlign="center center" style="height: 90vh;">


  <mat-card fxFlex="20">
    <mat-card-header>
      <mat-card-title>{{aboutCompany.companyName}}</mat-card-title>
    </mat-card-header>
    <!-- <img mat-card-image src="./assets/BOS-Standard-Logo.png" alt="Product Logo"> -->
    <img mat-card-image src="./assets/SUKTHA-LOGO-DARK-BG.png" alt="Product Logo">
    <mat-card-content>
      <div fxLayout="column">

        <div fxLayout="row">
          <div fxFlex="45">
            <strong>Version</strong>
          </div>
          <div fxFlex="70">
            {{aboutCompany.productVersion}}
          </div>
        </div>

        <div fxLayout="row">
          <div fxFlex="45">
            <strong>Support</strong>
          </div>
          <div fxFlex="70">
            {{aboutCompany.companyEmail}}
          </div>
        </div>

        <div fxLayout="row">
          <div fxFlex="45">
            <strong>Website</strong>
          </div>
          <div fxFlex="70">
            <a [href]="'http://'+aboutCompany.companyWebsite">{{aboutCompany.companyWebsite}}</a>
          </div>
        </div>

        <div fxLayout="row">
          <div fxFlex="45">
            <strong>ContactNum</strong>
          </div>
          <div fxFlex="70">
            <a [href]="'http://'+aboutCompany.companyContactNumber">{{aboutCompany.companyContactNumber}}</a>
          </div>
        </div>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-panel" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">

        <div>
          <button mat-raised-button type="button" (click)="close()" matTooltip="Close"><i class="material-icons">close</i>
            Close</button>
        </div>


      </div>
    </mat-card-actions>

  </mat-card>
</div>