<div class="example-container">

  <mat-toolbar color="primary" class="fixed-header-master">
    <div>
      <app-sub-heading [route]="route_in">
      </app-sub-heading>
    </div>

  </mat-toolbar>

  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5pt">
            <div>
              <mat-icon style="font-size:20pt;">filter_list</mat-icon>
            </div>
            <div>
              <p>{{'Filter'|translate}}</p>
            </div>
          </div>
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>

      <div fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center center" fxLayoutAlign.lt-md="space-around stretch">
        <form [formGroup]="filterForm" novalidate>
          <mat-radio-group (change)="partyTypeChange()" [(ngModel)]="mainPartyType" [ngModelOptions]="{standalone: true}">
            <mat-radio-button [value]="'customer'">
              <label>{{'Customer'|translate}}</label>
            </mat-radio-button> &nbsp; &nbsp;
            <mat-radio-button [value]="'supplier'">
              <label>{{'Supplier'|translate}}</label>
            </mat-radio-button>
          </mat-radio-group>
          <div fxLayoutAlign="space-around center" fxLayoutAlign.lt-md="space-around stretch" fxLayout="row" fxLayout.lt-md="column"
            fxLayoutGap="10pt">

            <mat-form-field>
              <input type="text" matInput [formControl]="partyControl" [matAutocomplete]="autoParty">
              <mat-placeholder>{{'Party'|translate}}</mat-placeholder>
              <mat-autocomplete #autoParty="matAutocomplete" [displayWith]="displayFnParty">
                <mat-option *ngFor="let party of filteredParties | async" [value]="party" (onSelectionChange)="partyChange($event,party)">
                  {{party.partyCode}}-{{party.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <div>
  
              <mat-checkbox  [formControl]="allowAllMaterial" >
              <label>{{'Include All Materials'|translate}}</label>
                  </mat-checkbox>
                  </div>
           

            <!-- <mat-form-field style="align-content: left;">
              <mat-select placeholder="{{'Set page limit'|translate}}" [(value)]="pageSize" (selectionChange)="setPageAfterPageLimit()">
                <mat-option>-- None --</mat-option>
                <mat-option *ngFor="let num of pageNumbers" [value]="num">
                  {{num}}
                </mat-option>
              </mat-select>
            </mat-form-field> -->
          </div>
          <div fxLayoutAlign="end end" fxLayoutGap="10px">
            <button mat-raised-button color="primary" (click)="onSearch()">
              <i class="material-icons menu-icon top-search" matTooltip="Search">search</i>
            </button>
            <button mat-raised-button type="button" (click)="clear()">
              <i class="material-icons" matTooltip="Clear!">clear_all</i>
            </button>
          </div>
        </form>

      </div>
    </mat-expansion-panel>



  </mat-accordion>





  <div>
    <ngx-datatable class="material" [rows]="rows" (sort)="onSort($event)" [columnMode]="'force'" [headerHeight]="'auto'" [footerHeight]="50"
      [rowHeight]="'auto'" [sorts]="[{prop:'partyName', dir: 'desc'},{prop:'materialName', dir: 'desc'}]" [scrollbarH]="true" [scrollbarV]="false" [reorderable]="reorderable"
      [limit]="10" [rowClass]="getRowClass">
      <ngx-datatable-column name="{{'SlNo'|translate}}" headerClass="report-header" [maxWidth]="80">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <strong>{{(page.pageNumber * page.size) + rowIndex + 1}}</strong>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column headerClass="report-header" name="partyName">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()"  class="sort-btn sort-desc undefined">{{'Party Name'|translate}}</span>
        </ng-template>
      </ngx-datatable-column>






      <ngx-datatable-column headerClass="report-header"   name="materialTypeName">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()" class="sort-btn sort-desc undefined">{{'Material Type'|translate}}</span>
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column headerClass="report-header" name="materialName">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()" class="sort-btn sort-desc undefined">{{'Material Name'|translate}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column headerClass="report-header" name="partNumber">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span >{{'Material Part Number'|translate}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column headerClass="report-header" name="partyPrice">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span >{{'Party Price'|translate}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column headerClass="report-header" name="currentPrice">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span >{{'Actual Price'|translate}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column headerClass="report-header" name="comments">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span >{{'Comments'|translate}}</span>
        </ng-template>
      </ngx-datatable-column>

     
















    </ngx-datatable>
  </div>

</div>


<div class="button-panel" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">

  <div>
    <button mat-raised-button type="button" (click)="close()" matTooltip="Close">
      <i class="material-icons">close</i> {{'Close'|translate}}</button>
  </div>
  <div>
    <button mat-raised-button type="button" color="primary" (click)="saveAsExcel()" matTooltip="Save as Excel">
      <i class="material-icons">import_export</i> {{'Export to Excel'|translate}}</button>
  </div>
  <div>
    <button mat-raised-button type="button" color="primary" (click)="saveAsPdf()" matTooltip="Save as Pdf">
      <i class="material-icons">import_export</i>
      {{'Export to Pdf'|translate}}</button>
  </div>
</div>