.menu-row{
    background-color: lightgray;
    margin:1px;
}

label{
    font-size: 12px;
}
.form-header-lbl{
    font-size: 24px;
}

// .mat-card{
//     padding: 0px;
//     margin-bottom: 5%;
//     margin-right: 5%;
//     margin-top: 5%;
//     margin-left: 5%;
// }

.mat-card-content {
    padding: 10px;
}

.mat-dialog-content{
    max-height: 100%;
}

.button-row{
    position: fixed;
    bottom: -4px;
    right: 0px;
    // left: 20px;
    margin-top:20px;
    background-color: #f1f1f1;
    align-content: center;
    text-align: center;
    width: 100%;
    z-index: 9;
    font-size: 34px;
}

// .action-panel{
//     margin: auto;
//     width: 50%;
//     position: fixed;
// }

// .mat-tab-label.mat-tab-label-active {
//     background-color: red;
//   }



/* Styles for the active tab label */
// .mat-tab-label.mat-tab-label-active {
//     min-width: 25px !important;
//     padding: 5px;
//     background-color: red !important;
//     //color: red;
//     font-weight: 700;
// }