<div class="main-container" [class]="themeClass">
<form *ngIf="userRoleForm" [formGroup]="userRoleForm" (ngSubmit)="onSubmit(userRoleForm.value)">
  <mat-dialog-content>
    <div class="example-loading-shade" *ngIf="spinStart">
      <mat-spinner *ngIf="spinStart"></mat-spinner>
    </div>
    <mat-card>

      <mat-toolbar color="primary">
        <label class="form-header-lbl">Assign Permissions</label>

      </mat-toolbar>
      <ngx-alerts></ngx-alerts>
      <mat-card-content>

        <div formArrayName="userRoleMenus">
          <div *ngFor="let menu of userRoleForm.get('userRoleMenus')['controls']; let idx=index">
            <!-- <div *ngFor="let menu of userRoleMenu"> -->
            <div [formGroup]="menu">
              <mat-checkbox formControlName="isRoleAssigned" (change)="toggleLevelOne(idx)">
                <label>{{menu.get('menuName').value}}</label>
              </mat-checkbox>
              <!-- <div *ngIf="!activities">
      <label>No activities</label>
    </div> -->
              <div *ngFor="let act of menu.get('activities')['controls']; let idx2=index">
                <div [formGroup]="act" *ngIf="!(act.get('activityName').value === 'Logout' || act.get('activityName').value === 'About')">


                  <div fxLayout="row" class="menu-row">
                    <div fxFlex="5"></div>
                    <div fxFlex="22">
                      <mat-checkbox formControlName="isRoleAssigned" (change)="toggleLevelTwo(act)">
                        <label>{{act.get('activityName').value}}</label>
                      </mat-checkbox>
                    </div>

                    <div fxFlex="73" fxLayout="row" *ngIf="!act.submenus">
                      <div fxFlex="15">
                        <!-- <mat-checkbox *ngIf="act.get('submenus').value.length === 0" formControlName="permissionToApprove">
                          <label>Approve</label>
                        </mat-checkbox> -->
                      </div>
                      <div fxFlex="15">
                        <mat-checkbox *ngIf="act.get('submenus').value.length === 0"
                          formControlName="permissionToCancel">
                          <label>Cancel</label>
                        </mat-checkbox>
                      </div>
                      <div fxFlex="15">
                        <mat-checkbox *ngIf="act.get('submenus').value.length === 0"
                          formControlName="permissionToCreate">
                          <label>Create</label>
                        </mat-checkbox>
                      </div>
                      <div fxFlex="15">
                        <mat-checkbox *ngIf="act.get('submenus').value.length === 0"
                          formControlName="permissionToDelete">
                          <label>Delete</label>
                        </mat-checkbox>
                      </div>
                      <div fxFlex="15">
                        <mat-checkbox *ngIf="act.get('submenus').value.length === 0"
                          formControlName="permissionToPrint">
                          <label>Print</label>
                        </mat-checkbox>
                      </div>
                      <div fxFlex="25">
                        <mat-checkbox *ngIf="act.get('submenus').value.length === 0"
                          formControlName="permissionToUpdate">
                          <label>Update</label>
                        </mat-checkbox>
                      </div>
                    </div>

                  </div>


                  <div *ngIf="act.get('submenus').value">
                    <div *ngFor="let sub of act.get('submenus')['controls']">
                      <div [formGroup]="sub">
                        <div *ngFor="let subAct of sub.get('activities')['controls']">
                          <div [formGroup]="subAct">
                            <div fxLayout="row" fxLayoutGap="5px" class="menu-row">
                              <div fxFlex="10"></div>
                              <div fxFlex="22">
                                <mat-checkbox formControlName="isRoleAssigned" (change)="toggleLevelThree(subAct, act)">
                                  <label>{{subAct.get('activityName').value}}</label>
                                </mat-checkbox>
                              </div>
                              <div fxFlex="10">
                                <!-- <mat-checkbox formControlName="permissionToApprove">
                                  <label>Approve</label>
                                </mat-checkbox> -->
                              </div>
                              <div fxFlex="10">
                                <mat-checkbox formControlName="permissionToCancel">
                                  <label>Cancel</label>
                                </mat-checkbox>
                              </div>
                              <div fxFlex="10">
                                <mat-checkbox formControlName="permissionToCreate">
                                  <label>Create</label>
                                </mat-checkbox>
                              </div>
                              <div fxFlex="10">
                                <mat-checkbox formControlName="permissionToDelete">
                                  <label>Delete</label>
                                </mat-checkbox>
                              </div>
                              <div fxFlex="10">
                                <mat-checkbox formControlName="permissionToPrint">
                                  <label>Print</label>
                                </mat-checkbox>
                              </div>
                              <div fxFlex="18">
                                <mat-checkbox formControlName="permissionToUpdate">
                                  <label>Update</label>
                                </mat-checkbox>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>


      </mat-card-content>
    </mat-card>

  </mat-dialog-content>

  <mat-dialog-actions>

    <div class="button-row">
      <button mat-raised-button type="button" (click)="closeForm()" matTooltip="Close">
        <i class="material-icons">close</i> Close
      </button>
      <button [disabled]="!enableSave" mat-raised-button type="submit" color="primary" matTooltip="Save">
        <i class="material-icons">save</i> Save
      </button>
    </div>
  </mat-dialog-actions>


</form>
</div>