<div class="main-container" [class]="themeClass">
  <mat-toolbar color="primary" class="top-menu mat-elevation-z5">
    <div fxHide fxShow.lt-md="true">
      <!-- <a href="#" (click)="sidenav.toggle()"><i class="material-icons">view_headline</i></a> -->
      <!-- <button (click)="sidenav.toggle()" mat-fab color="accent"><i class="material-icons">view_headline</i></button> -->
      <i (click)="sidenav.toggle()" class="material-icons menu-icon left-menu-button">menu</i>
    </div>
    <!-- <span>My B O S </span> -->
    <div fxLayout="row" fxLayoutGap="5pt" fxLayoutAlign="start center">
      <div class="menu-item"  fxShow.lt-md="false">
        <!-- <p>theme: {{themeClass}}</p> -->
        <img height="50"  src="./assets/BOS-Standard-Logo.png"><!-- log change -->
        <!-- <img src="./assets/myBOSCloudAppLogo.png"> style="max-width:140px;" -->
      </div>
      <div  fxShow.lt-md="false" fxFlexAlign="center">
          <!-- <div class="image-with-button"> -->
              <!-- <secured-image *ngIf="companyLogoPath" [src]="companyLogoPath">
              </secured-image> -->
              <img height="50" *ngIf="companyService.companyLogoBase64" [src]="companyService.companyLogoBase64">
            <!-- </div> -->
        
      </div>
  
  
      <div >
        <form>
          <mat-form-field>
            <mat-placeholder style="font-size:1.2em"><mat-icon [inline]="true">search</mat-icon></mat-placeholder>
            <input type="text"  matInput [formControl]="activityControl" [matAutocomplete]="autoAct">
            <mat-autocomplete #autoAct="matAutocomplete" [displayWith]="displayActivityName">
              <mat-option (onSelectionChange)="onActivityChange(activity)" *ngFor="let activity of filteredActivities | async" [value]="activity">
             <span [translate]="activity.name" [matTooltip]="activity.name"></span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>
    
    <!-- <div *ngIf="speech.speechSupported">
        <button *ngIf="!speech.listening"
        mat-icon-button
        (click)="speech.startListening()">
          <mat-icon>mic</mat-icon>
        </button>

        <button *ngIf="speech.listening"
        mat-icon-button
        (click)="speech.abort()">
          <mat-icon>mic_off</mat-icon>
        </button>

    </div> -->
 <!-- <div>
    <button mat-icon-button  [matMenuTriggerFor]="languageMenu">
        <mat-icon>translate</mat-icon>
      </button>
  <mat-menu #languageMenu="matMenu">
    <button mat-menu-item (click)="setLanguage('kn')">Kannada</button>
    <button mat-menu-item (click)="setLanguage('en')">English</button>
  </mat-menu>
</div>   -->
    <div class="server-issue">{{serverStatus}}</div>
    <div class="server-issue" (click)="openDialog()" style="width:230pt; overflow: hidden; cursor: pointer;" >
      <!-- <button mat-button > -->
        {{warningStatus ? "Financial year has changed. Please click here to know more": ""}}
      <!-- </button> -->
    </div>
    <span class="example-spacer"></span>

    <div fxShow="true" fxHide.lt-md="true">

      <!-- The following menu items will be hidden on both SM and XS screen sizes -->

      <!-- <a href="#" mat-button>Settings</a>

    <a href="#" mat-button routerLink="/invoice">Sales</a>

    <a href="#" mat-button routerLink="/app-test">Purchase</a>

    <a href="#" mat-button>Dashboard</a>

    <a href="#" mat-button>Reports</a> -->

      <menu-comp></menu-comp>
    
    </div>

  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav #sidenav class="side-nav-class hederspace" fxLayout="column">

      <div fxLayout="column">
        <!-- <mat-nav-list>
        <a mat-list-item href="#" color="accent"><button mat-mini-fab color="accent"><i class="material-icons">account_balance</i></button> Menu Item 11 </a>
        <a mat-list-item href="#" color="accent"><button mat-mini-fab color="accent"><i class="material-icons">assessment</i></button> Menu Item 12 </a>
        <a mat-list-item href="#" color="accent"><button mat-mini-fab color="accent"><i class="material-icons">assignment_return</i></button> Menu Item 13 </a>
        <a mat-list-item href="#" color="accent"><button mat-mini-fab color="accent"><i class="material-icons">credit_card</i></button> Menu Item 14 </a>
      </mat-nav-list> -->
        <menu-comp></menu-comp>

      </div>

    </mat-sidenav>
    <div [@routerTransition]="getState(o)">
      <router-outlet #o="outlet"></router-outlet>
    </div>
    <!-- <nested-table></nested-table> -->
  </mat-sidenav-container>
</div>