
// body {
//     margin: 0px;
//     padding: 0px;
// }

// .example-header-image {
//     background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//     background-size: cover;
// }


// .mat-card-content {
//     padding: 10px;
// }

// .top-menu{
//     position: fixed;
//     top:0;
//     left: 0;
//     z-index: 9;
//     font-size: 14px;
//     font-weight: 500;
//     //height: 50px;
// }

// .example-container{
//     top: 55px;
//     background-color: #f1f1f1
// }
// .example-icon {
//     padding: 0 14px;
// }

// .example-spacer {
//     flex: 1 1 auto;
// }

// .image-with-button img{
//     width: auto;
//     height: 40pt !important;


// }

// .image-with-button secured-image{
//     // width: 70%;
//     // max-width:90%;
//     max-height: 90%;
//     height: auto;
//     padding-left: 10pt;
//     padding-right: 10pt;
// }
// .company-logo-container {
//     // max-width:140pt;
//     // padding-left: 10pt;
//     padding-right: 10pt;
// }

.server-issue{
    font-size: 8pt;
    color:orangered;
    background-color: lightyellow;
}
.hederspace{
    width: 150pt;
    padding-top: 50pt;
    // margin-left: -135px
}
