.button-panel{
    position: fixed;
    bottom: -4px;
    //right: 10px;
    // left: 50%;
    margin-top:20px;
    background-color: #f1f1f1;
    align-content: center;
    text-align: center;
    width: 100%;
    z-index: 9;
    font-size: 34px;
}



  .card-header{
    margin:20px
  }
  


