.button-panel{
    position: fixed;
    bottom: -4px;
    //right: 10px;
    // left: 50%;
    margin-top:20px;
    background-color: #f1f1f1;
    align-content: center;
    text-align: center;
    width: 100%;
    z-index: 9;
    left:0px;
    font-size: 34px;
}

// .example-container{
//     margin-top: 5%;
//     background-color: #f1f1f1
// }

.mat-card{
    top:50px;
}

  .table{
   // top:80px;
//     width:95%;
//     height: 95%;
//      padding: 0px;
//      margin-bottom: 5%;
//     margin-right: 5%;
    margin-top: 50%;
 }



.title-row{
    width: 100%;
}

