<mat-card >

 <mat-toolbar color="primary" class="fixed-header-master">
  <label class="form-header-lbl">{{'User Roles'|translate}}</label>
</mat-toolbar>
<ngx-alerts></ngx-alerts>
<form *ngIf="roleForm" [formGroup]="roleForm" (ngSubmit)="onSubmit(roleForm.value)">

    <mat-card-content>

     <div  formArrayName="roles">
       <ngx-datatable #table class="material" [rows]="roleForm.get('roles').value" 
        [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)' 
        [selectAllRowsOnPage]="false" [displayCheck]="displayCheck"   [scrollbarH]="true"
        [columnMode]="'force'" [headerHeight]="'auto'" [footerHeight]="50"
          [rowHeight]="'auto'" [limit]="10">
          <ngx-datatable-column [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
            [checkboxable]="true">
          </ngx-datatable-column>
          <ngx-datatable-column name="role">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>{{'Role'|translate}}</strong>
              </span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <div [formGroupName]="rowIndex">
                <mat-form-field>
                  <input matInput placeholder="{{'Role'|translate}}" formControlName="role">
                </mat-form-field>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="roleTypeName">

            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>{{'Role Type'|translate}}</strong>
              </span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">

              <div [formGroupName]="rowIndex">

                <mat-form-field>
                  <mat-placeholder>{{'Role Type*'|translate}}</mat-placeholder>
                  <mat-select formControlName="roleTypeId">
                    <mat-option *ngFor="let roleType of roleTypes" [value]="roleType.id">{{roleType.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="id">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>{{'Action'|translate}}</strong>
              </span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <button mat-raised-button type="button" [disabled]="!value" color="primary" (click)="openPermissionDialog(value)">{{'Assign Permissions'|translate}}</button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>

   


  <div class="button-panel" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div>
      <button mat-raised-button type="button" color="primary" (click)="close()" matTooltip="Close">
        <i class="material-icons">close</i>{{'Close'|translate}}
      </button>
    </div>
    <div>
      <button mat-raised-button type="button" (click)="addNew()"> 
          <i class="material-icons">add</i> {{'Add'|translate}}</button>
    </div>
    <div>
      <button mat-raised-button color="warn" type="button" (click)="delete()">
        <i class="material-icons">delete_forever</i> {{'Delete'|translate}}</button>
    </div>
    <div>
      <button mat-raised-button color="primary" type="button" [disabled]="!roleForm.valid || !roleForm.touched || !enableSave" (click)="onSubmit(roleForm.value)">
        <i class="material-icons"  matTooltip="Save">save</i> {{'Save'|translate}}</button>
    </div>
  </div>
</mat-card-content>
</form> 
</mat-card>