.completed {
  
    color: #808080; 
}
.pending {
  
    color: #20fd45; 
}


.fixed-header {
    //top: 0;
  
    position: relative;
   
  
  }


 
  
  .item {
  
   flex: 0 10%;
    height: 130px;
    margin-bottom: 2%; /* (100-32*3)/2 */
  }
  
//   .item {
//     height: 40px;
//     margin-bottom: 10px;
//   }