<mat-sidenav-container fxFlexFill class="example-container">
  <mat-sidenav position="end" #rightsidenav>
    <app-recent-auto-transaction (autoTransactionModel)="recentTransactionGet($event); rightsidenav.toggle()" [recentAutoTransactionLoadCounter]="recentAutoTransactionLoadCounter"
      (noDataFound)="whenNoDataFound($event); rightsidenav.toggle()"></app-recent-auto-transaction>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <ngx-alerts></ngx-alerts>
    <div class="example-loading-shade" *ngIf="spinStart">
      <mat-spinner *ngIf="spinStart"></mat-spinner>
    </div>
    <form [formGroup]="autoTransactionForm" #formDirective="ngForm">
      <mat-card>
        <mat-toolbar *ngIf="tags" color="primary" class="fixed-header-master">

          <app-sub-heading [route]="route"></app-sub-heading>


          <span class="example-spacer"></span>






          <div>
            <i (click)="rightsidenav.toggle()" class="material-icons menu-icon top-search">list</i>
          </div>
        </mat-toolbar>
        <mat-card-header *ngIf="tags">
          <mat-card-subtitle>

          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout.lt-md="column" fxLayoutGap="10px">

                <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                  <div  fxFlex="50%" *ngIf="tags">
                      <mat-form-field class="input-container" *ngIf="!readonlyParty">
                          <mat-placeholder>{{'Customer*'| translate}}</mat-placeholder>
                          <mat-select formControlName="partyId" class="input-container" (selectionChange)="onSelectParty($event)" [disabled]="autoTransactionForm.disabled">
                            <mat-option *ngFor="let pi of partys" [value]="pi.id">
                              {{pi.name}}
                            </mat-option>
                          </mat-select>
        
        
        
        
        
                        </mat-form-field>

                        <mat-form-field *ngIf="readonlyParty">
                            <mat-label>{{ 'Customer' | translate }} </mat-label>
                            <input  matInput [disabled]="autoTransactionForm.disabled" readonly [value]="tempPartyName" id="partyname">
                          </mat-form-field>

                    </div>
                    </div>
                    </div>

          <div fxLayout.lt-md="column" fxLayoutGap="10px">

            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <div *ngIf="tags" fxFlex="50%">
                <mat-form-field class="input-container" *ngIf="!disablesInvoice">
                  <mat-placeholder>{{'Invoice No*'| translate}}</mat-placeholder>
                  <mat-select formControlName="invoiceNumber" class="input-container" [disabled]="autoTransactionForm.disabled">
                    <mat-option *ngFor="let si of sourceInvoices" [value]="si.invoiceNumber">
                      {{si.invoiceNumber}}
                    </mat-option>
                  </mat-select>





                </mat-form-field>

                <mat-form-field *ngIf="disablesInvoice">
                  <mat-label>{{ 'Invoice' | translate }} {{'Number'| translate}}</mat-label>
                  <input  matInput [disabled]="autoTransactionForm.disabled" readonly [value]="invoiceNumbervalue" id="invoice_tempTransactionNumber">
                </mat-form-field>



              </div>


            </div>

            <div fxFlex="45%" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <div fxFlex="80%" *ngIf="allowPreview">
                <label>{{'Please Check Scheduled Dates Before Saving'|translate}}</label>
                <button mat-raised-button color="accent" (click)="getScheduledDates(autoTransactionForm.value)">{{'Preview Dates'|translate}}</button>
              </div>
              <div class="item" *ngIf="allowPreview" fxFlex="40%">
                <ul *ngFor="let scheduledDate of scheduledDates">
                  <li>{{scheduledDate|date:"dd/MM/yyyy"}}</li>


                </ul>
              </div>
              <div fxFlex="30%"></div>
              <div class="item" *ngIf="!allowPreview" fxLayout.lt-sm="column">

                <label>
                  <B>{{'Scheduled Dates'|translate}}</B>
                </label>

                <ul *ngFor="let date of completedScheduledDate">
                  <li class="completed">{{date|date:"dd/MM/yyyy"}}</li>


                </ul>
                <ul *ngFor="let date of pendingScheduledDate">
                  <li class="pending">{{date|date:"dd/MM/yyyy"}}</li>


                </ul>


              </div>
            </div>
          </div>
          <div fxLayout.lt-md="column" fxLayoutGap="10px">
            <div fxFlex="45%" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <div fxFlex="50%">
                <mat-form-field *ngIf="!allowReadOnly">
                  <mat-placeholder>{{'Period To create Invoice*'|translate}}</mat-placeholder>
                  <mat-select formControlName="periodToCreateTransaction" (selectionChange)="onSelect($event)" (selectionChange)="onChange()"
                    [disabled]="autoTransactionForm.disabled||disablePeriod">
                    <mat-option *ngFor="let period of periodToCreateTransactions" [value]="period.id">{{period.name}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="autoTransactionForm.controls.periodToCreateTransaction?.invalid">Please enter Period To create Invoice</mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="allowReadOnly">
                  <mat-label>{{'Period To create Invoice*'|translate}}</mat-label>
                  <input  matInput [disabled]="autoTransactionForm.disabled" readonly [value]="periodValue" id="invoice_tempTransactionNumber" >
                </mat-form-field>


              </div>


            </div>


          </div>


















          <div *ngIf="dateToGenerate" fxLayout.lt-md="column" fxLayoutGap="10px">

            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <div fxFlex="50%">
                <mat-form-field *ngIf="!allowReadOnly">
                  <mat-placeholder>{{'Date To Generate Invoice*'|translate}}</mat-placeholder>
                  <mat-select (selectionChange)="onChange()" formControlName="daysOfMonth" [disabled]="autoTransactionForm.disabled||disables">
                    <mat-option *ngFor="let date of dateToGenerateInvoices" [value]="date.id">{{date.id}}</mat-option>
                  </mat-select>

                </mat-form-field>

                <mat-form-field *ngIf="allowReadOnly">
                  <mat-label>{{ 'Date To Generate Invoice*' | translate }} </mat-label>
                  <input matInput [disabled]="autoTransactionForm.disabled" readonly [value]="daysValue" id="invoice_tempTransactionNumber" >
                </mat-form-field>

              </div>
            </div>




          </div>



          <div *ngIf="weeks" fxLayout.lt-md="column" fxLayoutGap="10px">

            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <div fxFlex="50%">
                <mat-form-field *ngIf="!allowReadOnly">
                  <mat-placeholder>{{'Days Of Weeks*'|translate}}</mat-placeholder>
                  <mat-select (selectionChange)="onChange()" formControlName="daysOfWeek" [disabled]="autoTransactionForm.disabled||disables">
                    <mat-option *ngFor="let days of daysOfWeeks" [value]="days.id">{{days.name}}</mat-option>
                  </mat-select>

                </mat-form-field>

                <mat-form-field *ngIf="allowReadOnly">
                  <mat-label>{{ 'Days Of Weeks*' | translate }}</mat-label>
                  <input matInput [disabled]="autoTransactionForm.disabled" readonly [value]="weekValue" id="invoice_tempTransactionNumber" >
                </mat-form-field>
              </div>
            </div>


          </div>

          <div fxLayout.lt-md="column" fxLayoutGap="10px">

            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <div fxFlex="50%">

                <mat-form-field>
                    <mat-label>{{ 'Count Of Invoice*' | translate }}</mat-label>
                  <input matInput [disabled]="autoTransactionForm.disabled||disables" [readonly]="autoTransactionForm.disabled||disables"  (keyup)="onChange()" formControlName="countOfInvoice">
                  <mat-error *ngIf="autoTransactionForm.controls.countOfInvoice?.invalid">Please enter valid count Max 12</mat-error>
                </mat-form-field>
              </div>

            </div>

          </div>



          <div fxLayout.lt-md="column" fxLayoutGap="10px">
            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <div fxFlex="50%">
                <mat-form-field>
                  <input matInput  [max]="financialMaxDate" [matDatepicker]="autoTransactionDatepicker" readonly placeholder="{{'Date To Start Transaction*' | translate}}"
                    (dateChange)="onChange()" formControlName="startDate" [disabled]="autoTransactionForm.disabled||disables">
                  <mat-datepicker-toggle matSuffix [for]="autoTransactionDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #autoTransactionDatepicker [disabled]="autoTransactionForm.disabled||disables"></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div fxLayout.lt-md="column" fxLayoutGap="10px">
            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <div fxFlex="50%">
                <mat-checkbox formControlName="email" [disabled]="autoTransactionForm.disabled">
                  <label>{{'Enable Email'|translate}}</label>
                </mat-checkbox>
              </div>
            </div>
            <!-- <button (click)="getScheduledDates(autoTransactionForm.value)">Preview Dates</button>
            <ul>
            <li *ngFor="let scheduledDate of scheduledDates">
              {{scheduledDate| date:"dd/MM/yyyy"}}
            </li>
          </ul> -->
          </div>
          <div *ngIf="recentAutoTransactionStop" fxLayout.lt-md="column" fxLayoutGap="10px">
            <div fxFlex="25%" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <div fxFlex="50%">
                <!-- <mat-form-field>
              <input matInput [min]="financialMinDate" [max]="financialMaxDate" [matDatepicker]="autoTransactionStopDatepicker" readonly placeholder="{{'Date To End Transaction*' | translate}}"
                formControlName="endDate">
              <mat-datepicker-toggle matSuffix [for]="autoTransactionStopDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #autoTransactionStopDatepicker [disabled]="autoTransactionForm.disabled"></mat-datepicker>
            </mat-form-field> -->
              </div>
            </div>



            <div *ngIf="recentAutoTransactionStop" fxLayoutGap="10px">


              <section>

                <div class="example-button-row">

                  <button [disabled]="autoTransactionForm.disabled" mat-raised-button color="accent" (click)=stopTransaction() matTooltip="Stop Transaction">{{'Stop Transaction'|translate}}</button>
                </div>
              </section>





            </div>




          </div>










        </mat-card-content>



      </mat-card>
      <div *ngIf="!tags" class="button-panel" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">

        <div>
          <button mat-raised-button type="button" (click)="save(autoTransactionForm.value)" matTooltip="Save" [disabled]="!this.autoTransactionForm.valid">
            <i class="material-icons">save</i>
            {{'Save'|translate}}</button>
        </div>



        <div>
          <button mat-raised-button type="button" (click)="stopTransaction()" matTooltip="Stop Transaction" [disabled]="disableStop">
            <i class="material-icons">stop</i>
            {{'stopTransaction'|translate}}</button>
        </div>

        <div>
          <button mat-raised-button type="button" (click)="closePopup()" matTooltip="Close">
            <i class="material-icons">close</i>
            {{'Close'|translate}}</button>
        </div>
      </div>

      <app-action-panel *ngIf="tags" [inForm]="autoTransactionForm" [applicableButtons]="applicableButtons" [activityRoleBindings]="activityRoleBindings"
        (editEvent)="edit()" (closeEvent)="closeForm()" (deleteEvent)="delete(autoTransactionForm.value, formDirective)" [primaryKey]="autoTransactionForm.get('id').value"
        (clearEvent)="clearForm(formDirective)" (saveEvent)="save(autoTransactionForm.value)">
      </app-action-panel>
    </form>


  </mat-sidenav-content>


</mat-sidenav-container>