
.item-header{
    font-size: 10pt;
    font-weight: bold;
    white-space: normal;
    height:30px;
    text-align: center;
    line-height: 15px;
    color: white !important;
}
.input-container{
    background-color: white;
    font-size: 10pt;
    width: 100%;
    margin-bottom: -1.35em
}
.delete-class{
    text-align: center;
    height: 100%;
    color:black;
    cursor: pointer;
    font-size: 24px;
}

.items{
    // overflow-x:scroll;
    width:1500px;
    background-color: #f1f1f1;
  //  width: 100%;
}

.mat-form-field{
    width:100%;
}
.input-sm-invalid{
    width: 100%;
    border-radius: 0px;
    padding: 0px;
    border: 0px;
    color: red;
    background-color: #fff;
}

.center{
    width:100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    // background-color: white;
}