<!-- <div [formGroup]="group">
        <div *ngIf="idx === 0" class="grid-container">
            <div class="grid-cell-header">
                <label>Transaction</label>
            </div>
            <div class="grid-cell-header">
                <label>Prefix</label>
            </div>
            <div class="grid-cell-header">
                <label>Postfix</label>
            </div>
            <div class="grid-cell-header">
                <label>Delimiter</label>
            </div>
            <div class="grid-cell-header">
                <label>Financial Year</label>
            </div>
            <div class="grid-cell-header">
                <label>Start Number</label>
            </div>
            <div class="grid-cell-header">
                <label>Reset Auto Number</label>
            </div>
            <div class="grid-cell-header">
                <label>Auto Number</label>
            </div>
            <div class="grid-cell-header">
                <label>T&C</label>
            </div>
            <div class="grid-cell-header">
                <label>Action</label>
            </div>
        </div>
        <div class="grid-container">
            <div class="grid-cell">
                <input type="text" class="input-sm" formControlName="transactionTypeName">
                <mat-select style="background-color:white; padding: 0px; height:100%" formControlName="transactionTypeId">
                    <mat-option *ngFor="let item of allTransactionTypes" [value]="item.id">
                        {{item.name}}
                    </mat-option> 
                </mat-select>
            </div>
            <div class="grid-cell">
                <input type="text" class="input-sm" formControlName="prefix">
            </div>
            <div class="grid-cell">
                <input type="text" class="input-sm"  formControlName="postfix">
            </div>  
            <div class="grid-cell">
                <input type="text" class="input-sm"  formControlName="delimiter">
            </div>    
            <div class="input-sm check-box-container">
                <mat-checkbox formControlName="financialYearCheck">
                </mat-checkbox>
            </div>      
            <div class="grid-cell">
                <span matTooltip="Only numbers!">
                <input type="text" class="input-sm"  OnlyNumber="true"  [ngClass]="{'input-sm-invalid' : group.controls.startNumber?.invalid }" formControlName="startNumber">
            </span>
            </div>
            <div class="grid-cell">
                <input type="text" class="input-sm" formControlName="autoNumberReset">
                <div class="input-sm check-box-container">
                    <mat-checkbox formControlName="autoNumberReset">
                    </mat-checkbox>
                </div>
            </div>
            <div class="grid-cell">
                <div class="input-sm check-box-container">
                    <mat-checkbox formControlName="autoNumber">
                    </mat-checkbox>
                </div>
            </div>
            <div class="grid-cell">
                <div class="input-sm check-box-container">
                    <mat-checkbox formControlName="termsAndConditionCheck">
                    </mat-checkbox>
                </div>
            </div>
            <div class="grid-cell input-sm">
                <mat-icon class="delete-class" (click)="delete(idx)">delete</mat-icon>
                <mat-icon class="delete-class" (click)="add(idx)">add</mat-icon>
            </div>
        </div>
    </div> -->
    
<div [formGroup]="group" class="items" fxLayout="column" fxLayoutAlign="stretch">
    <div *ngIf="idx === 0" fxLayout="row" fxLayoutAlign="stretch" fxLayoutGap="1px" fxHide.lt-md="true">
        <div class="item-header" fxFlex="18" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Transaction Type'|translate}}</mat-toolbar>
        </div>
        <div class="item-header" fxFlex="8" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Prefix'|translate}}</mat-toolbar>
        </div>
        <div class="item-header" fxFlex="8" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Postfix'|translate}}</mat-toolbar>
        </div>
        <div class="item-header" fxFlex="10" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Seperator / Delimiter'|translate}} </mat-toolbar>
        </div>
        <div class="item-header" fxFlex="9" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Start Number'|translate}}</mat-toolbar>

        </div>
        <div class="item-header" fxFlex="10" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Financial Year'|translate}}</mat-toolbar>
        </div>
        <div class="item-header" fxFlex="10" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Auto Number'|translate}}</mat-toolbar>
        </div>
        <div class="item-header" fxFlex="10" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Reset Auto Number'|translate}}</mat-toolbar>
        </div>
        <div class="item-header" fxFlex="8" color="primary">
                <mat-toolbar class="item-header" color="primary">{{'Transaction Num Prifix'|translate}}</mat-toolbar>
        </div>
        <div class="item-header" fxFlex="8" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Action'|translate}}</mat-toolbar>
        </div>
    </div>

    <div fxLayout="row" fxHide.lt-md="true" fxLayoutAlign="space-between center">
        <div fxFlex="18">
            <mat-form-field class="input-container" appearance="outline">
                <mat-select class="input-sm" formControlName="transactionTypeId"  [disableControl]="group.get('transactionTypeId').value ? true : false" >
                    <mat-option *ngFor="let item of allTransactionTypes" [value]="item.id" [disabled]="excludedTransctionTypeIds?.includes(item.id)"  >
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="8">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput [maxlength]="getMaxLength(1)"  class="input-sm " type="text" formControlName="prefix" [readonly]="group.get('transactionTypeId').value ? false : true"  [matTooltip]="gettooltip()">
            </mat-form-field>
        </div>
        <div fxFlex="8">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm " type="text" formControlName="postfix" [readonly]="group.get('transactionTypeId').value ? false : true"  [matTooltip]="gettooltip()">
            </mat-form-field>
        </div>
        <div fxFlex="10">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm " type="text" formControlName="delimiter" [readonly]="group.get('transactionTypeId').value ? false : true"  [matTooltip]="gettooltip()"> 
            </mat-form-field>
        </div>
        <div fxFlex="10">
            <mat-form-field class="input-container" appearance="outline">
                <span matTooltip="Only numbers!">
                    <input matInput class="input-sm " [maxlength]="getMaxLength(2)" type="text" OnlyNumber="true" [ngClass]="{'input-sm-invalid' : group.controls.startNumber?.invalid }"
                        formControlName="startNumber" [readonly]="group.get('transactionTypeId').value ? false : true"  [matTooltip]="gettooltip()">
                </span>
            </mat-form-field>
        </div>
        <div fxFlex="10" class="center">
            <mat-checkbox formControlName="financialYearCheck" appearance="outline" [disableControl]="group.get('transactionTypeId').value ? false : true"  [matTooltip]="gettooltip()">
            </mat-checkbox>
        </div>
        <div fxFlex="10" class="center">
            <mat-checkbox appearance="outline" formControlName="autoNumber" [disableControl]="group.get('transactionTypeId').value ? false : true"  [matTooltip]="gettooltip()" (change)="onAutoNumberCheck($event)" >
            </mat-checkbox>
        </div>
        <div fxFlex="10" class="center">
            <mat-checkbox  formControlName="autoNumberReset" appearance="outline" [disableControl]="group.get('transactionTypeId').value ? false : true"  [matTooltip]="gettooltip()" >
            </mat-checkbox>
        </div>
        <div fxFlex="8" class="center">
                <mat-checkbox formControlName="isZeroPrefix" appearance="outline" [disableControl]="group.get('transactionTypeId').value ? false : true"  [matTooltip]="gettooltip()">
                </mat-checkbox>
        </div>

        <div fxFlex="8">
            <mat-icon class="delete-class" (click)="delete(idx); $event.stopPropagation()">delete</mat-icon>
            <mat-icon  *ngIf="(taxMaxIndex - 1) === idx" class="delete-class" (click)="add(idx)">add</mat-icon>
        </div>
    </div>
    <div fxLayout="column" fxLayoutGap="2px" fxLayoutAlign="space-evenly stretch" fxShow="false" fxShow.lt-md="true" class="small-item-view">

        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="40" color="primary">Transaction Type</mat-toolbar>
            <div  fxFlex="60">
                <mat-form-field class="input-container">
                    <mat-select class="input-sm" formControlName="transactionTypeId">
                        <mat-option *ngFor="let item of allTransactionTypes" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="40" color="primary">Prefix</mat-toolbar>
            <div fxFlex="60">
                <mat-form-field  class="input-container">
  
                    <input matInput class="input-sm "   type="text" formControlName="prefix">

                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="40" color="primary">Postfix</mat-toolbar>
            <div class="input-container" fxFlex="60">
                <mat-form-field>
                    <input matInput class="input-sm " type="text" formControlName="postfix">

                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="40" color="primary">Delimiter/Seperator</mat-toolbar>
            <div class="input-container" fxFlex="60">
                <mat-form-field>
                    <input matInput class="input-sm " type="text" formControlName="delimiter">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="40" color="primary">Start Number</mat-toolbar>
            <div class="input-container" fxFlex="60">
                <mat-form-field>
                    <span matTooltip="Only numbers!">
                        <input matInput class="input-sm " type="text" OnlyNumber="true" [ngClass]="{'input-sm-invalid' : group.controls.startNumber?.invalid }"
                            formControlName="startNumber">
                    </span>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="40" color="primary">Financial Year</mat-toolbar>
            <div class="input-container" fxFlex="60">
                <mat-checkbox class="input-sm " formControlName="financialYearCheck">
                </mat-checkbox>
            </div>
        </div>
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="40" color="primary">Auto Number</mat-toolbar>
            <div class="input-container" fxFlex="60">
                <mat-checkbox class="input-sm " formControlName="autoNumber">
                </mat-checkbox>
            </div>
        </div>
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="40" color="primary">Reset Auto Number</mat-toolbar>
            <div class="input-container" fxFlex="60">
                <mat-checkbox class="input-sm " formControlName="autoNumberReset">
                </mat-checkbox>
            </div>
        </div>
        <div fxLayout="row">
                <mat-toolbar class="item-header" fxFlex="40" color="primary">Transaction Num Prifix</mat-toolbar>
                <div class="input-container" fxFlex="60">
                    <mat-checkbox class="input-sm " formControlName="isZeroPrefix">
                    </mat-checkbox>
                </div>
        </div>
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="40" color="primary">Action</mat-toolbar>
            <div fxFlex="60">
                <mat-icon class="delete-class " (click)="delete(idx); $event.stopPropagation()">delete</mat-icon>
                <mat-icon  *ngIf="(taxMaxIndex - 1) === idx" class="delete-class" (click)="add(idx)">add</mat-icon>
            </div>
        </div>
    </div>
</div>
  