.dc-items{
    overflow-x: scroll;
    background-color: #f1f1f1;
    height: 30vh;
}

.bottom { 
    position:absolute;                  
    bottom:0;                          
    right:0;                          
} 

.mat-hints {
    color:  #f1f1f1;
    font-size: 15px;

 }