<mat-toolbar color="primary" class="fixed-header">
    <!-- <label class="form-header-lbl">{{transactionType?.name}}</label>
    <span class="example-spacer">
        <div *ngIf="dcForm?.get('deliveryChallanNumber').value!= null">
            <label>[{{dcForm?.get('deliveryChallanNumber').value}} - {{dcForm?.get('statusName').value}}]</label>
        </div>

    </span> -->
    <div *ngIf='transactionType'>
        <app-sub-heading [transactionNumber]="dcForm?.get('deliveryChallanNumber').value"
            [statusName]="dcForm?.get('statusName').value" [route]="route">
        </app-sub-heading>
    </div>
    <span class="example-spacer">
    </span>
    <div>
        <i class="material-icons  menu-icon top-search" id="help_videos" (click)="helpVideos()"
        matTooltip="{{'Help Videos'|translate}}">help</i>
        </div> 
    <div *ngIf="isCreateEnabled && isInJWINDC() " fxLayout="row" fxLayoutAlign="center center">
        <button  mat-button (click)="createOutgoingDC()" >{{'Create OUTDC'|translate}}</button>
    </div>             
    <div *ngIf="isCreateEnabled && isSCOUTDC() " fxLayout="row" fxLayoutAlign="center center">
        <button  mat-button (click)="createOutgoingDC()" >{{'Create INDC'|translate}}</button>
    </div> 
    <div *ngIf="isCreateEnabled && isInJWOUTDC() " fxLayout="row" fxLayoutAlign="center center">
        <button  mat-button (click)="createOutgoingDC()" >{{'Create Invoice'|translate}}</button>
    </div>  
    <div *ngIf="isCreateEnabled && isSCINDC() " fxLayout="row" fxLayoutAlign="center center">
        <button  mat-button (click)="createOutgoingDC()" >{{'Create Invoice'|translate}}</button>
    </div>  

    <div fxLayout="row" fxLayoutAlign="center center">
        <i *ngIf="dcForm && dcForm.get('id').value!= null" class="material-icons menu-icon top-search" (click)="showReference()">link</i>
        <i (click)="rightsidenav.toggle()" class="material-icons menu-icon top-search">list</i>

    </div>
    <div *ngIf="dcForm && dcForm.get('id').value!= null" class="bottom">
    
        <mat-hint *ngIf="showTheCreatedBy" class="mat-hints">{{'Created By:'|translate}} {{dcForm?.get('updateBy').value}}/{{dcForm?.get('updatedDate').value| date: 'dd/MM/yyyy'}} </mat-hint>
        <mat-hint *ngIf="!showTheCreatedBy" class="mat-hints">{{'LastUpdated By:'|translate}} {{dcForm?.get('updateBy').value}}/{{dcForm?.get('updatedDate').value| date: 'dd/MM/yyyy'}} </mat-hint>          </div>
</mat-toolbar>


<ngx-alerts></ngx-alerts>
<mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav position="end" #rightsidenav>
        <div *ngIf="transactionType">
            <recent-dc-table (dcHeader)="recentDeliveryChallanGetMain($event); rightsidenav.toggle()" (noDataFound)="whenNoDataFound($event)"
                [recentDcLoadCounter]="recentDcLoadCounter" [transactionType]="transactionType"></recent-dc-table>
        </div>

    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <ngx-alerts></ngx-alerts>
        <div class="example-loading-shade" *ngIf="spinStart">
            <mat-spinner *ngIf="spinStart"></mat-spinner>
        </div>

        <form *ngIf="dcForm" [formGroup]="dcForm" #formDirective="ngForm" autocomplete="disabled">
                <div class="form-top">

                </div>
            <mat-card>
                <!-- <mat-toolbar color="primary">
                  <label class="form-header-lbl">{{transactionType?.name}}</label>
                  <span class="example-spacer"></span>
                  <div>
                      <i (click)="rightsidenav.toggle()" class="material-icons menu-icon top-search">search</i>
                  </div>
              </mat-toolbar> -->
                <mat-card-header>
                    <mat-card-subtitle *ngIf=" dcForm.get('deliveryChallanNumber').value!= null">
                        <label>[{{dcForm.get('deliveryChallanNumber').value}} - {{dcForm.get('statusName').value}}]</label>
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>

                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field *ngIf="dcForm.get('deliveryChallanNumber').value || !isAutoNumber">
                                    <input matInput placeholder="{{'DC Number'|translate}}" [readonly]="isAutoNumber" formControlName="deliveryChallanNumber" #deliveryChallanNumber/>
                                </mat-form-field>

                                <mat-form-field *ngIf="!dcForm.get('deliveryChallanNumber').value && isAutoNumber" hintLabel="May get changed if your coleage saves first">
                                    <mat-label>{{transactionType?.name|translate}} {{'Number'| translate}}</mat-label>
                                    <input matInput readonly [value]="tempTransactionNumber" matTooltip="For indication only it may get changed after save">
                                </mat-form-field>
                            </div>

                            <div fxFlex="50%">
                                <mat-form-field>
                                    <input matInput [min]="financialMinDate" [max]="financialMaxDate" [matDatepicker]="dcDatepicker" readonly placeholder="{{'DC Date*'|translate}}"
                                        formControlName="deliveryChallanDate">
                                    <mat-datepicker-toggle matSuffix [for]="dcDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #dcDatepicker [disabled]="dcForm.disabled"></mat-datepicker>
                                    <mat-error *ngIf="dcForm.controls.deliveryChallanDate?.invalid">Please choose Delivery Challan Date</mat-error>

                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <!-- <mat-form-field *ngIf="isPartyChangeable" style="width:80%">
                                  <mat-placeholder>{{partyPlaceHolder}}*</mat-placeholder>
                                  <mat-select formControlName="partyId" (change)="onPartyChange()">
                                      <mat-option>{{selectedParty?.name}}</mat-option>
                                      <mat-option *ngFor="let party of parties" [value]="party.id">
                                          {{party.name}}
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field> -->
                                <mat-form-field *ngIf="isPartyChangeable" style="width:80%">
                                    <input type="text" matInput formControlName="partyName" [matAutocomplete]="autoParty">
                                    <mat-placeholder>{{'Vendor*'| translate}}</mat-placeholder>
                                    <mat-autocomplete #autoParty="matAutocomplete" [displayWith]="displayFnParty">
                                        <mat-option (onSelectionChange)="onPartyChange($event,party)" *ngFor="let party of filteredParties | async" [value]="party" [matTooltip]="party.partyCode+'-'+party.name + (party.areaName ? '[' +party.areaName + ']' : '')">
                                            {{party.partyCode}}-{{party.name}} {{party.areaName ? '[' +party.areaName + ']' : ''}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="dcForm.controls.partyName?.invalid">Please choose Party Name</mat-error>

                                </mat-form-field>
                                <mat-form-field *ngIf="!isPartyChangeable" style="width:80%">
                                    <input readonly matInput [placeholder]="partyPlaceHolder" formControlName="partyName">
                                </mat-form-field>
                                
                            </div>
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <!-- <input matInput type="text" placeholder="GSTN" [disabled]="dcForm.disabled" readonly [value]="selectedParty?.gstNumber" /> -->
                                    <input readonly matInput type="text" placeholder="{{'GSTN'|translate}}" formControlName="gstNumber" />

                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%" *ngIf="!isDCList">


                                    <mat-form-field  hintLabel="{{'Start typing to search for po'|translate}}">
                                            <input type="text" matInput formControlName="purchaseOrderNumber" [matAutocomplete]="autoPo"
                                              id="dc_purchaseOrderNumber">
                                            <mat-placeholder>{{'Purchase Order No' | translate}}</mat-placeholder>
                                            <mat-autocomplete #autoPo="matAutocomplete">
                                              <mat-option (onSelectionChange)="onPurchaseOrderNumberChange($event, po, false)"
                                                id="dc_purchaseOrders" *ngFor="let po of filteredPO | async"
                                                [value]="po.purchaseOrderNumber">
                                                {{po.purchaseOrderNumber}}
                                              </mat-option>
                                            </mat-autocomplete>
                          
                                          </mat-form-field>



                                
                                
                            </div>
                            <div fxFlex="50%" *ngIf="isDCList">
                                <mat-form-field *ngIf="deliveryChallans.length !== 0 && !readonlyIndc">
                                    <mat-placeholder>DC</mat-placeholder>
                                    <mat-select formControlName="inDeliveryChallanNumber" (selectionChange)="onDCChange()" [disabled]="dcForm.disabled" multiple>
                                        <mat-option *ngFor="let dc of deliveryChallans" [value]="dc.deliveryChallanNumber">
                                            {{dc.deliveryChallanNumber}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field *ngIf="deliveryChallans.length === 0 || readonlyIndc">
                                    <input readonly matInput placeholder="{{'DC'| translate}}" formControlName="inDeliveryChallanNumber">
                                  </mat-form-field>
                            </div>

                            <div fxFlex="50%" *ngIf="!isDCList">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="poDatepicker" readonly placeholder="{{'PO Date'|translate}}" formControlName="purchaseOrderDate">
                                    <mat-datepicker-toggle matSuffix [for]="poDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #poDatepicker ></mat-datepicker>

                                </mat-form-field>

                            </div>
                            <div fxFlex="50%" *ngIf="isDCList">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="dcDatepicker" readonly placeholder="{{'DC Date'|translate}}" formControlName="inDeliveryChallanDate">
                                    <mat-datepicker-toggle matSuffix [for]="dcDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #dcDatepicker disabled="true"></mat-datepicker>

                                </mat-form-field>

                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                    
                            </div>
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="{{'State Name'|translate}}" [disabled]="dcForm.disabled" readonly [value]="selectedParty?.stateName"
                                    />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <input matInput placeholder="{{'Internal Ref Num'|translate}}" [readonly]="allowInternalRefNo" formControlName="internalReferenceNumber">
                                </mat-form-field>

                            </div>
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="RefDatepicker" [max]="maxDate" readonly placeholder="{{'Reference Date'|translate}}" formControlName="internalReferenceDate">
                                    <mat-datepicker-toggle matSuffix [for]="RefDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #RefDatepicker [disabled]="allowInternalRefNo"></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">

                            </div>
                            <div fxFlex="50%">
                                <div fxLayout="column">
                                    <div>
                                        <mat-form-field>
                                            <textarea matInput type="text" placeholder="{{'Address'|translate}}" [disabled]="dcForm.disabled" readonly [value]="selectedParty?.address"></textarea>
                                        </mat-form-field>
                                    </div>
                                   
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>

                    


                            <div fxLayout="row" fxLayoutAlign="end start">
                                <div>
                                    <button type="button" mat-raised-button [disabled]="!isPartyChangeable || dcForm.disabled" color="accent" (click)="addNewParty()" matTooltip="No need to go to 'Party Master' create new {{partyPlaceHolder}} by clicking here">
                                        {{'Create New'|translate}} {{partyPlaceHolder||translate}}
                                </button>
                                </div>
                              </div>

                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-content>
                    <!-- <div fxLayout="row" fxLayoutAlign="space-between center">
                             
                                <mat-radio-group [formControl]="supplyTypeControl"  [disabled]="dcForm.disabled" >
                                  <mat-radio-button value="1" checked="true">Goods </mat-radio-button>
                                  <mat-radio-button value="2">Service </mat-radio-button>
                                </mat-radio-group>
                            
                            </div> -->
                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <!-- <mat-form-field>
                              <mat-placeholder>Material*</mat-placeholder>
                              <mat-select [(ngModel)]="material" (selectionChange)="onMaterialSelect()" [ngModelOptions]="{standalone: true}" [disabled]="dcForm.disabled">
                                  <mat-option *ngFor="let material of materials" [value]="material">
                                      {{material.name}}
                                  </mat-option>
                              </mat-select>
                          </mat-form-field> -->
                            <div fxLayout="row" fxLayoutGap="10px">
                                <div fxLayout="column">
                                    <div>
                                        <mat-form-field class="example-full-width">
                                            <input type="text" placeholder="{{'Material*'|translate}}" aria-label="Number" autocomplete="disabled" matInput [formControl]="materialControl" [matAutocomplete]="autoMaterial">
                                            <mat-autocomplete #autoMaterial="matAutocomplete" [displayWith]="displayFnMaterial">
                                                <mat-option (onSelectionChange)="onMaterialSelectChange($event, materialOption)" *ngFor="let materialOption of filteredMaterials | async"
                                                    [value]="materialOption" [matTooltip]="materialOption.name + (materialOption.partNumber ? '[' +materialOption.partNumber + ']' : '')">
                                                    {{ materialOption.name }} {{materialOption.partNumber ? '[' +materialOption.partNumber + ']' : ''}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>  
                                    </div>
                                    <div>
                                        <button type="button" mat-raised-button color="accent" (click)="addNewMaterial()" [disabled]="dcForm.disabled" matTooltip="No need to open 'Material Master' create new material by clicking here">
                                                {{'Create New Material'|translate}}
                                        </button>
                                    </div>
                                </div>

                                <mat-form-field>
                                    <input matInput #materialquantity placeholder="{{'Qty*'|translate}}" [value]="1" [(ngModel)]="materialQuantity" [ngModelOptions]="{standalone: true}"
                                        [disabled]="dcForm.disabled">
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px" style="width:50%">
                            <div fxLayout="row" fxLayoutGap="10px">
                                <mat-form-field style="width: 50%">
                                    <mat-placeholder>
                                       {{'UOM*'|translate}}
                                    </mat-placeholder>
                                    <mat-select [(ngModel)]="uom" [ngModelOptions]="{standalone: true}" [disabled]="dcForm.disabled">
                                        <mat-option *ngFor="let uom of uoms" [value]="uom">
                                            {{uom.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field *ngIf="isItemLevelTax" style="width: 50%">
                                    <mat-placeholder>
                                        {{'Tax*'|translate}}
                                    </mat-placeholder>
                                    <mat-select [(ngModel)]="tax" [ngModelOptions]="{standalone: true}" [disabled]="dcForm.disabled || isContainer">
                                        <mat-option *ngFor="let tax of taxes" [value]="tax">
                                            {{tax.name}}@{{tax.rate}}%
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-placeholder>
                                        {{'Process'|translate}}
                                    </mat-placeholder>
                                    <mat-select [(ngModel)]="process" [ngModelOptions]="{standalone: true}" [disabled]="dcForm.disabled" multiple>
                                        <mat-option *ngFor="let process of processes" [value]="process">
                                            {{process.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <button mat-mini-fab color="accent" [disabled]="!(selectedParty || !isPartyChangeable) || (!tax && isItemLevelTax) || !material || !materialQuantity || dcForm.disabled || isJWOUTDC"
                            matTooltip="Add" (click)="addDcItem(materialquantity.value)">
                            <i class="material-icons">arrow_downward</i>
                        </button>
                        <!-- <button mat-raised-button type="button" [disabled]="!(selectedParty || !isPartyChangeable)|| !tax ||!material|| !materialQuantity" (click)="addDcItem(materialquantity.value)">Add</button> -->
                    </div>
                    <div formArrayName="deliveryChallanItems" class="dc-items">

                        <div *ngFor="let item of dcForm.get('deliveryChallanItems')['controls']; let idx=index">
                            <jobwork-dc-item 
                            [group]="item" 
                            (deleteIndex)="removeDcItem($event)" 
                            [index]="idx" 
                            [transactionType]="transactionType.name"
                            (quantityChange)="quantityChange($event)" 
                            (changeCounter)="itemChanged($event)"></jobwork-dc-item>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center end" fxLayoutGap="10px">
                        <div fxFlex="70">
                            <!-- <mat-checkbox>Labour Charges Only</mat-checkbox> -->
                        </div>
                        <div fxFlex="30">
                            <mat-form-field>
                                <input matInput placeholder="{{'Total Quantity'|translate}}" formControlName="totalQuantity" readonly/>
                            </mat-form-field>
                        </div>
                    </div>

                </mat-card-content>
            </mat-card>

            <mat-card>

                <mat-card-content>
                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="100%">
                            <mat-tab-group>
                                <mat-tab label="{{'Transportation Details'|translate}}">

                                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{'E-Way Bill'|translate}}" formControlName="eWayBill" />
                                                </mat-form-field>
                                            </div>
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{'Person Name'|translate}}" formControlName="personName" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{'Inspected By'|translate}}" formControlName="inspectedBy" />
                                                </mat-form-field>
                                            </div>
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{'Mode Of Dispatch'|translate}}" formControlName="modeOfDispatch" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>

                                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{'Vehicle Number'|translate}}" formControlName="vehicleNumber" />
                                                </mat-form-field>
                                            </div>
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <input matInput [matDatepicker]="dispatchDatepicker" readonly placeholder="{{'Dispatch Date'|translate}}" formControlName="dispatchDate">
                                                    <mat-datepicker-toggle matSuffix [for]="dispatchDatepicker"></mat-datepicker-toggle>
                                                    <mat-datepicker #dispatchDatepicker></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{'Total Packages'|translate}}" formControlName="numberOfPackages" />
                                                </mat-form-field>
                                            </div>

                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{'Dispatch Time'|translate}}" formControlName="dispatchTime" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <textarea matInput placeholder="{{'Delivery Note'|translate}}" formControlName="deliveryNote"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- </div> -->
                                    <!-- </div> -->
                                </mat-tab>
                                <mat-tab label="{{'Terms And Conditions'|translate}}">
                                    <div fxLayout="column">
                                        <mat-form-field>
                                            <mat-hint>Max {{item_length}} characters</mat-hint>
                                            <textarea matInput placeholder="{{'Terms And Conditions' | translate}}" #input3 maxlength={{item_length}}
                                                formControlName="termsAndConditions"> </textarea>
                                            <mat-hint align="end">{{input3.value?.length || 0}}/{{item_length}}</mat-hint>
                                        </mat-form-field>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>

                    <!-- <button type="button" value="sub" (click)="findInvalidControls()" >{{dcForm.invalid}}</button> -->
                </mat-card-content>
            </mat-card>

            <app-action-panel *ngIf="activityRoleBindings" [inForm]="dcForm" [applicableButtons]="applicableButtons" [activityRoleBindings]="activityRoleBindings"
                [primaryKey]="dcForm.get('id').value" [statusId]="dcForm.get('statusId').value" [statusBasedPermission]="statusBasedPermission"
                (editEvent)="edit()" (cancelEvent)="cancel()" (closeEvent)="closeForm()" (deleteEvent)="delete()" (printEvent)="print()"
                (clearEvent)="clearForm(formDirective)"
                (saveEvent)="onSubmitWrap(dcForm.getRawValue())">
            </app-action-panel>


        </form>

    </mat-sidenav-content>
</mat-sidenav-container>