<div class="form-top">
    </div>
<mat-card class="recent-card">
    <!-- <mat-card-header>View Details
    </mat-card-header> -->
    <div class="form-top">
        </div>
    <mat-card-content>
        <div class="recent-header">
            <form [formGroup]="filterForm" novalidate>
                <mat-form-field>
                    <input matInput placeholder="{{'Filter'|translate}}" formControlName="filterText">
                </mat-form-field>
            </form>
        </div>

        <div class="recent-container mat-elevation-z8">
            <div class="example-loading-shade" *ngIf="isLoadingResults">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            </div>

            <mat-table #table [dataSource]="dataSource" class="example-table" matSort matSortActive="purchaseOrderDate" matSortdisableClear
                matSortDirection="desc">



                <ng-container matColumnDef="purchaseOrderNumber" >
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Po No'|translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let row"  >{{row.purchaseOrderNumber}}[{{row.statusName}}]</mat-cell>
                </ng-container>

                <ng-container matColumnDef="purchaseOrderDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header >{{'Date'|translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let row" class="date" >{{row.purchaseOrderDate | date: 'dd/MM/yyyy'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="grandTotal">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.lt-md="false">{{'Amount'|translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let row"  fxShow.lt-md="false" >{{row.grandTotal}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="partyName">
                    <mat-header-cell *matHeaderCellDef  mat-sort-header>{{'Party'|translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let row" >{{row.partyCode}}-{{row.partyName}}</mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row class="tran-item-list" (click)="onRowClick(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card> 