

<div [formGroup]="group" class="items" fxLayout="column" fxLayoutAlign="stretch">
    <div *ngIf="idx === 0" fxLayout="row" fxLayoutAlign="stretch" fxLayoutGap="1px" fxHide.lt-md="true">
        <div class="item-header" fxFlex="22" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Transaction Type'|translate}}</mat-toolbar>
        </div>
        <div class="item-header" fxFlex="16" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Name'|translate}}</mat-toolbar>
        </div>
        <div class="item-header" fxFlex="52" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Terms & Condition'|translate}} (max 600 characters)</mat-toolbar>
        </div>
        <!-- <div class="item-header" fxFlex="19" color="primary">
            <mat-toolbar class="item-header" color="primary">Delivery terms</mat-toolbar>
        </div>
        <div class="item-header" fxFlex="19" color="primary">
            <mat-toolbar class="item-header" color="primary">Payment terms</mat-toolbar>

        </div> -->
        <div class="item-header" fxFlex="5" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Is Defult'|translate}}</mat-toolbar>
        </div>
        <div class="item-header" fxFlex="5" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Action'|translate}}</mat-toolbar>
        </div>
    </div>

    <div fxLayout="row" fxHide.lt-md="true" fxLayoutAlign="space-between center">
        <div fxFlex="22">
            <mat-form-field class="input-container" appearance="outline">
                <mat-select class="input-sm" formControlName="transactionTypeId" (selectionChange)="checkIsDefault()">
                    <mat-option *ngFor="let item of allTransactionTypes" [value]="item.id" >
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="16">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm " type="text" formControlName="name">
            </mat-form-field>
        </div>
        <div fxFlex="52">
            <mat-form-field class="input-container" appearance="outline">
                <textarea matInput class="input-sm " type="text" maxlength="600" formControlName="termsAndCondition"></textarea>
            </mat-form-field>
        </div>
        <!-- <div fxFlex="19">
            <mat-form-field class="input-container" appearance="outline">
                <textarea matInput class="input-sm " type="text" formControlName="deliveryTerms"></textarea>
            </mat-form-field>
        </div>
        <div fxFlex="19">
            <mat-form-field class="input-container" appearance="outline">
                <textarea matInput class="input-sm " type="text" formControlName="paymentTerms"></textarea>
            </mat-form-field>
        </div> -->
        <div fxFlex="5"  class="center" >
            <mat-checkbox formControlName="defaultTermsAndCondition"  (change)="checkIsDefault()">
            </mat-checkbox>
        </div>
        <div fxFlex="5">
            <mat-icon class="delete-class" (click)="delete(idx); $event.stopPropagation()">delete</mat-icon>
            <mat-icon *ngIf="(taxMaxIndex - 1) === idx" class="delete-class" (click)="add(idx)">add</mat-icon>
        </div>
    </div>
    <div fxLayout="column" fxLayoutGap="2px" fxLayoutAlign="space-evenly stretch" fxShow="false" fxShow.lt-md="true" class="small-item-view">

        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="40" color="primary">Transaction Type</mat-toolbar>
            <div class="input-container" fxFlex="60">
                <mat-form-field>
                    <mat-select class="input-sm" formControlName="transactionTypeId">
                        <mat-option *ngFor="let item of allTransactionTypes" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>

                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="40" color="primary">Name</mat-toolbar>
            <div class="input-container" fxFlex="60">
                <mat-form-field>
                    <input matInput class="input-sm " type="text" formControlName="name">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="40" color="primary">Terms & Condition</mat-toolbar>
            <div class="input-container" fxFlex="60">
                <mat-form-field>
                    <textarea matInput class="input-sm " type="text" formControlName="termsAndCondition"></textarea>
                </mat-form-field>
            </div>
        </div>
        <!-- <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="40" color="primary">Delivery terms</mat-toolbar>
            <div class="input-container" fxFlex="60">
                <mat-form-field>
                    <textarea matInput class="input-sm " type="text" formControlName="deliveryTerms"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="40" color="primary">Payment terms</mat-toolbar>
            <div class="input-container" fxFlex="60">
                <mat-form-field>
                    <textarea matInput class="input-sm " type="text" formControlName="paymentTerms"></textarea>
                </mat-form-field>
            </div>
        </div> -->
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="40" color="primary">Is Defult</mat-toolbar>
            <div class="input-container" fxFlex="60">

                <mat-checkbox formControlName="defaultTermsAndCondition" (change)="checkIsDefault()">
                </mat-checkbox>
            </div>
        </div>
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="40" color="primary">Action</mat-toolbar>
            <div fxFlex="60">
                <mat-icon class="delete-class " (click)="delete(idx); $event.stopPropagation()">delete</mat-icon>
                <mat-icon *ngIf="(taxMaxIndex - 1) === idx" class="delete-class" (click)="add(idx)">add</mat-icon>
            </div>
        </div>
    </div>
</div>