<div class="example-container">
  <mat-toolbar color="primary" class="fixed-header-master">
    <div>
      <app-sub-heading [route]="route_in">
      </app-sub-heading>
    </div>
  </mat-toolbar>
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5pt">
            <div>
              <mat-icon style="font-size:20pt;">filter_list</mat-icon>
            </div>
            <div>
              <p>{{'Filter'|translate}}</p>
            </div>
          </div>
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>

      <div fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center center">
        <form [formGroup]="filterForm" novalidate>
          <div fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">
            <div fxFlex>
              <mat-form-field class="form-box">
                <mat-select class="input-container" formControlName="financialYearId">
                  <mat-option>-- None --</mat-option>
                  <mat-option *ngFor="let financialYear of financialYears" [value]="financialYear.id">
                    {{financialYear.financialYear}}
                  </mat-option>

                </mat-select>
                <mat-placeholder>{{'Financial Year'|translate}}</mat-placeholder>
              </mat-form-field>
            </div>
            <div fxFlex>
              <mat-form-field>
                <input type="text" matInput [formControl]="partyControl" [matAutocomplete]="autoParty">
                <mat-placeholder>{{partyPlaceHolder|translate}}</mat-placeholder>
                <mat-autocomplete #autoParty="matAutocomplete" [displayWith]="displayFnParty">
                  <mat-option *ngFor="let party of filteredParties | async" [value]="party"
                    (onSelectionChange)="partyChange($event,party)">
                    {{party.partyCode}}-{{party.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
              
            <mat-form-field>
              <input type="text" matInput [formControl]="materialControl" [matAutocomplete]="autoMaterial">
              <mat-placeholder>{{'Material'|translate}}</mat-placeholder>
              <mat-autocomplete #autoMaterial="matAutocomplete" [displayWith]="displayFnMaterial">
                <mat-option *ngFor="let material of filteredMaterials | async" [value]="material"
                  (onSelectionChange)="materialChange($event,material)" [matTooltip]="material.name + (material.partNumber ? '-' +material.partNumber:'')">
                  {{material.name}} {{material.partNumber ? '-' +material.partNumber: ''}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <div fxFlex>
              <mat-form-field>
                <input matInput [matDatepicker]="fromatatepicker" placeholder="{{'From date'|translate}}" readonly
                  formControlName="transactionFromDate">
                <mat-datepicker-toggle matSuffix [for]="fromatatepicker"></mat-datepicker-toggle>
                <mat-datepicker #fromatatepicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div fxFlex>
              <mat-form-field>
                <input matInput [matDatepicker]="toDatepicker" placeholder="{{'To date'|translate}}" readonly
                  formControlName="transactionToDate">
                <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #toDatepicker></mat-datepicker>
              </mat-form-field>
            </div>
            <button *ngIf="pdfGenerated" mat-button (click)="print()">
              <div style="font-size:2em">
                <mat-icon [inline]="true" color="primary">print</mat-icon>
              </div>
            </button>
            <button *ngIf="pdfGenerated" mat-button (click)="download()">
              <div style="font-size:2em">
                <mat-icon [inline]="true" color="primary">cloud_download</mat-icon>
              </div>
            </button>

            <button mat-raised-button color="primary" (click)="onSearch()">
              <i class="material-icons menu-icon top-search" matTooltip="Search">search</i>
            </button>
            <button mat-raised-button type="button" (click)="clear()"><i class="material-icons"
                matTooltip="Clear!">clear_all</i></button>
          </div>
        </form>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div>
  <ngx-extended-pdf-viewer *ngIf="pdfGenerated" [src]="pdfData" useBrowserLocale="false" height="50vh"
    delayFirstView="2000" [showFindButton]="false" [showOpenFileButton]="false" [showBookmarkButton]="false"
    [showSecondaryToolbarButton]="true" [showZoomButtons]="false" [showSidebarButton]="false"
    [showPresentationModeButton]="false" [showHandToolButton]="false" [filenameForDownload]="filenameForDownload"
    [showPagingButtons]="false" [showPrintButton]="false" [showDownloadButton]="false" [zoom]="'page-actual'"></ngx-extended-pdf-viewer>
</div>
<div>
  <!-- <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageNumbers"></mat-paginator> -->
</div>
<div class="button-panel" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  <div>
    <button mat-raised-button type="button" (click)="close()" matTooltip="Close"><i class="material-icons">close</i>
      {{'Close'|translate}}</button>
  </div>
  <div>
    <button mat-raised-button type="button" color="primary" (click)="saveAsExcel()" matTooltip="Save as Excel"><i
        class="material-icons">import_export</i> {{'Export to Excel'|translate}}</button>
  </div>
</div>