<div class="main-container" [class]="themeClass">
    <h1 mat-dialog-title>{{heading}}</h1>
    <mat-dialog-content [formGroup]="vehiclePopUpForm" >
    
     
      <div *ngIf="type ===1" fxLayout.lt-md="column" fxLayoutGap="10px">
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            <mat-form-field class="input-container"  >
              <mat-select class="input-container" formControlName="transactionMode">
                <mat-option *ngFor="let transactionMode of transactionModes" [value]="transactionMode.id">
                  {{transactionMode.name}}
                </mat-option>
              </mat-select>
              <mat-placeholder>{{'Transaction Mode*'|translate}}</mat-placeholder>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            <mat-form-field>
              <input matInput placeholder="{{'Vehicle Number'|translate}}" formControlName="vehicleNo" />
              <mat-error *ngIf="vehiclePopUpForm.controls.vehicleNo?.invalid">Vehicle Number must be 7-15 characters</mat-error>
               
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            <mat-form-field class="input-container" >
              <mat-select class="input-container" formControlName="vehicleType" >
                <mat-option   *ngFor="let vehicleType of vehicleTypes" [value]="vehicleType.code">
                  {{vehicleType.name}}
                </mat-option>
              </mat-select>
              <mat-placeholder>{{'Vehicle Type*'|translate}}</mat-placeholder>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            <mat-form-field>
              <input matInput placeholder="{{'Transporter Doc No' | translate}}"
                  formControlName="transDocNo" id="transDocNo">
                  <mat-error *ngIf="vehiclePopUpForm.controls.transDocNo?.invalid">
                    Transport Doc. No. must be less than 16 characters </mat-error>
           </mat-form-field>
          </div>
        </div>
    
       
      </div>
    
      <div *ngIf="type===1" fxLayout.lt-md="column" fxLayoutGap="10px">
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            <mat-form-field>
              <input matInput [max]="maxDate" [matDatepicker]="transDocDatepicker"
                placeholder="{{'Transporter Doc Date' | translate}}"
                formControlName="transDocDate" id="transDocDate" readonly>
              <mat-datepicker-toggle matSuffix [for]="transDocDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #transDocDatepicker ></mat-datepicker>
              <mat-error *ngIf="vehiclePopUpForm.controls.transDocDate?.invalid"> 
                  The Document Date should be less than or equal to current date</mat-error>

            </mat-form-field>
          </div>
        </div>
        
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            <mat-form-field class="input-container"  >
              <mat-select class="input-container" formControlName="reasonCode">
                <mat-option *ngFor="let reasonCode of reasonCodes" [value]="reasonCode.id">
                  {{reasonCode.name}}
                </mat-option>
              </mat-select>
              <mat-placeholder>{{'Reason Code*'|translate}}</mat-placeholder>
            </mat-form-field>
          </div>
        </div>
    
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            <mat-form-field>
              <textarea matInput placeholder="{{'Reason Remarks*'|translate}}" formControlName="reasonRemarks"></textarea>
              <mat-error *ngIf="vehiclePopUpForm.controls.reasonRemarks?.invalid">
                must be 1-50 characters</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            
          </div>
        </div>
       
      </div>
     
      <div *ngIf="type===2" fxLayout.lt-md="column" fxLayoutGap="10px">
      
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            <mat-form-field hintLabel="Format:29AAAAA0000A1Z5"> 
              <input matInput placeholder="{{'Transporter ID(GSTIN)' | translate}}"
                  formControlName="transporterId" id="transporterId">
              <mat-error *ngIf="vehiclePopUpForm.controls.transporterId?.invalid">
                 Transporter ID must be 1-15 characters</mat-error>
          </mat-form-field>
          </div>
        </div>
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
             
          </div>
        </div>
    
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
             
          </div>
        </div>
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            
          </div>
        </div>
       
      </div>

      <div *ngIf="type===3" fxLayout.lt-md="column" fxLayoutGap="10px">
      
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            <mat-form-field class="input-container"  >
              <mat-select class="input-container" formControlName="cancelledReason">
                <mat-option *ngFor="let cancelCode of cancelCodes" [value]="cancelCode.id">
                  {{cancelCode.name}}
                </mat-option>
              </mat-select>
              <mat-placeholder>{{'Cancelled Reason*'|translate}}</mat-placeholder>
            </mat-form-field>
          </div>
        </div>
    
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            <mat-form-field>
              <textarea matInput placeholder="{{'Cancelled Remarks*'|translate}}" formControlName="cancelledRemarks"></textarea>
              <mat-error *ngIf="vehiclePopUpForm.controls.cancelledRemarks?.invalid">
                must be 1-250 characters</mat-error>
            </mat-form-field>
          </div>
        </div>
    
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
             
          </div>
        </div>
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            
          </div>
        </div>
       
      </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button  mat-raised-button type="button" (click)="close()" matTooltip="Close"><i class="material-icons">close</i> {{'Close'|translate}}</button>    
  <button mat-raised-button type="button" (click)="update(vehiclePopUpForm.getRawValue())" matTooltip="Save"   [disabled]="type===1 &&!vehiclePopUpForm.valid"><i class="material-icons">save</i> {{'Update'|translate}}</button>

  </mat-dialog-actions>
  </div>