<mat-toolbar color="primary" class="fixed-header">

    <div *ngIf='transactionType'>
        <app-sub-heading [transactionNumber]="tranForm?.get('purchaseOrderNumber').value" [statusName]="tranForm?.get('statusName').value"
        [route]="route_po">
        </app-sub-heading>
    </div>

    <!-- <div fxLayout="column">
        <div fxLayout="row">
            <div>
                <label class="form-header-lbl">{{transactionType?.name}}</label>
            </div>
            <div *ngIf="tranForm?.get('purchaseOrderNumber').value!= null">
                    <label>[{{tranForm?.get('purchaseOrderNumber').value}} - {{tranForm?.get('statusName').value}}]</label>
            </div>
        </div>
        <div>
            <h6 class="sub-hint">this page is used to record information about {{transactionType?.name}}</h6>
        </div>
        

    </div> -->


    <span class="example-spacer"></span>
    <div>
        <i class="material-icons  menu-icon top-search" id="help_videos" (click)="helpVideos()"
        matTooltip="{{'Help Videos'|translate}}">help</i>
        </div> 
    <div *ngIf="isCreateDCenabled" fxLayout="row" fxLayoutAlign="center center" fxHide fxShow.gt-md="true">
        <button  mat-button (click)="createInvoice()" id="po_createInvoice">{{'Create Invoice'|translate}}</button>    
        <button  mat-button (click)="createDeliveryChallan()" id="po_createDeliveryChallan">{{'Create DC'|translate}}</button>    
        <!-- <i class="material-icons  menu-icon top-search" (click)="createDeliveryChallan()" matTooltip="Create Delivery challan">
            arrow_forward
        </i> -->
        <!-- <button mat-fab color="primary" (click)="createPurchaseOrder()" >Create PO</button>   -->
    </div>


    <div fxLayout="row" fxLayoutAlign="center center">
            <!-- <button mat-icon-button>
                    <mat-icon class="material-icons menu-icon top-search">link</mat-icon>
            </button> -->
        <!-- <mat-icon aria-hidden="false" class="material-icons menu-icon top-search">link</mat-icon> -->

        <i *ngIf="tranForm && tranForm.get('id').value!= null" class="material-icons menu-icon top-search" (click)="showReference()">link</i>
        <i (click)="rightsidenav.toggle(); showRecent=true" class="material-icons menu-icon top-search">list</i>
    </div>
    <div *ngIf="tranForm && tranForm.get('id').value!= null" class="bottom">
    
        <mat-hint *ngIf="showTheCreatedBy" class="mat-hints">{{'Created By:'|translate}} {{tranForm?.get('updateBy').value}}/{{tranForm?.get('updatedDate').value| date: 'dd/MM/yyyy'}} </mat-hint>
        <mat-hint *ngIf="!showTheCreatedBy" class="mat-hints">{{'LastUpdated By:'|translate}} {{tranForm?.get('updateBy').value}}/{{tranForm?.get('updatedDate').value| date: 'dd/MM/yyyy'}} </mat-hint>                  </div>
</mat-toolbar>

<ngx-alerts></ngx-alerts>
<mat-sidenav-container autosize  fxFlexFill class="example-container" >
    <mat-sidenav position="end" #rightsidenav>
        <div *ngIf='transactionType && showRecent' class="min-container">
            <app-recent-po-table (poHeader)="recentPurchaseOrderGet($event); rightsidenav.toggle()" (noDataFound)="whenNoDataFound($event)"
                [recentPoLoadCounter]="recentPoLoadCounter" [transactionType]="transactionType"></app-recent-po-table>
        </div>

    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <div class="example-loading-shade" *ngIf="spinStart">
            <mat-spinner *ngIf="spinStart"></mat-spinner>
        </div>
        <form *ngIf="tranForm" [formGroup]="tranForm" #formDirective="ngForm">
            <div class="form-top">

            </div>
            <mat-card>
                <!-- <mat-toolbar color="primary">
                  <label class="form-header-lbl">{{transactionType?.name}}</label>
                  <span class="example-spacer"></span>
                  <div>
                      <i (click)="rightsidenav.toggle()" class="material-icons menu-icon top-search">search</i>
                  </div>
              </mat-toolbar> -->
                <mat-card-header>
                    <mat-card-subtitle *ngIf="tranForm.get('purchaseOrderNumber').value!= null">
                        <label>[{{tranForm.get('purchaseOrderNumber').value}} - {{tranForm.get('statusName').value}}]</label>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field *ngIf="tranForm.get('purchaseOrderNumber').value || !isAutoNumber">
                                    <mat-label>{{transactionType?.name| translate}} {{'Number*'| translate}}
                                    </mat-label>
                                    <input matInput [readonly]="isAutoNumber" formControlName="purchaseOrderNumber" id="po_purchaseOrderNumber" #purchaseOrderNumber />
                                </mat-form-field>

                                <mat-form-field *ngIf="!tranForm.get('purchaseOrderNumber').value && isAutoNumber" hintLabel="{{'May get changed if your colleague saves first'|translate}}">
                                    <mat-label>{{transactionType?.name| translate }} {{'Number'| translate}}</mat-label>
                                    <input matInput readonly [value]="tempTransactionNumber" id="po_tempTransactionNumber" matTooltip="{{'For indication only it may get changed after save'|translate}}">
                                </mat-form-field>
                                <!-- <mat-form-field>
                                    <input matInput placeholder="PO Number" [readonly]="isAutoNumber" formControlName="purchaseOrderNumber" />
                                    <input  matInput readonly [value]="tempTransactionNumber" matTooltip="For indication only it may get changed after save"> 
                                </mat-form-field> -->
                            </div>
                            <div fxFlex="50%">
                                <mat-form-field>
                                        <mat-label>{{transactionType?.name| translate }} {{'Date*' | translate}}</mat-label>
                                    <input matInput [matDatepicker]="poDatepicker" [min]="financialMinDate" [max]="financialMaxDate" 
                                    readonly placeholder="{{transactionType?.name | translate }} {{'PO Date*' | translate}}"  formControlName="purchaseOrderDate" id="po_purchaseOrderDate">
                                    <mat-datepicker-toggle matSuffix [for]="poDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker [disabled]="tranForm.disabled" #poDatepicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <!-- <mat-form-field *ngIf="isPartyChangeable" style="width:80%">
                                  <mat-placeholder>{{partyPlaceHolder}}*</mat-placeholder>
                                  <mat-select formControlName="partyId" (selectionChange)="onPartyChange()">
                                      <mat-option *ngFor="let party of parties" [value]="party.id">
                                          {{party.name}}
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field> -->
                                <mat-form-field *ngIf="isPartyChangeable" style="width:80%">
                                    <mat-hint>{{'start typing to search for'|translate}} {{partyPlaceHolder|translate}}</mat-hint>
                                    <input type="text" matInput formControlName="partyName" id="po_partyName" [matAutocomplete]="autoParty">
                                    <mat-placeholder>{{partyPlaceHolder|translate}}*</mat-placeholder>
                                    <mat-autocomplete #autoParty="matAutocomplete" [displayWith]="displayFnParty">
                                        <mat-option (onSelectionChange)="onPartyChange($event,party)" id="po_onPartyChange" *ngFor="let party of filteredParties | async" [value]="party" [matTooltip]="party.partyCode+'-'+party.name + (party.areaName ? '[' +party.areaName + ']' : '')">
                                            {{party.partyCode}}-{{party.name}} {{party.areaName ? '[' +party.areaName + ']' : ''}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <mat-form-field *ngIf="!isPartyChangeable" style="width:80%">
                                    <input readonly matInput [placeholder]="partyPlaceHolder" [matAutocomplete]="auto" formControlName="partyName" id="po_partyName">
                                </mat-form-field>
                                
                            </div>

                            <div fxFlex="50%">
                                <mat-form-field>
                                    <input readonly matInput type="text" placeholder="{{taxNumberText | translate}}" formControlName="gstNumber" id="po_gstNumber" />
                                </mat-form-field>
                                
                            </div>

                        </div>
                    </div>

                    <div fxLayout.lt-md="column" fxLayoutGap="10px">

                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">

                            <div fxFlex="50%">
                                <div *ngIf="isCust">

                                    <mat-form-field *ngIf="quotationHeaders.length !== 0">
                                        <mat-placeholder>{{'Quotation Number'|translate}}</mat-placeholder>
                                        <mat-select formControlName="quotationNumber" id="po_quotationNumber" (selectionChange)="onQuotationNumberChange()" [disabled]="tranForm.disabled">
                                            <mat-option *ngFor="let qot of quotationHeaders" id="po_quotationHeaders" [value]="qot.quotationNumber">
                                                {{qot.quotationNumber}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field *ngIf="quotationHeaders.length === 0">
                                        <input readonly matInput placeholder="{{'Quotation Number' | translate}}" formControlName="quotationNumber" id="po_quotationNumber">
                                    </mat-form-field>
                                </div>

                                <div *ngIf="!isCust">
                                    <mat-form-field>
                                        <input matInput placeholder="{{'Quotation Number' | translate}}" formControlName="quotationNumber" id="po_quotationNumber">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxFlex="50%">
                                <div>
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="QotDatepicker" readonly placeholder="{{'Quotation Date'|translate}}" formControlName="quotationDate" id="po_quotationDate">
                                        <mat-datepicker-toggle matSuffix [for]="QotDatepicker"></mat-datepicker-toggle>
                                        <mat-datepicker [disabled]="tranForm.disabled || isCust" #QotDatepicker></mat-datepicker>
                                    </mat-form-field>
                                </div>


                                <!-- <div *ngIf="isCust">
                                  <mat-form-field>
                                      <input matInput [matDatepicker]="QotDatepicker" readonly placeholder="Quotation Date" formControlName="quotationDate">
                                      <mat-datepicker-toggle matSuffix [for]="QotDatepicker"></mat-datepicker-toggle>
                                      <mat-datepicker #QotDatepicker disabled="true"></mat-datepicker>
                                  </mat-form-field>
                              </div> -->
                            </div>
                        </div>

                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="center center">
                            <div fxFlex="50%">



                                <div>
                                    <mat-checkbox [(ngModel)]="isChecked" formControlName="isOpenEnded" id="po_isOpenEnded" (change)="openEndedConformationChange($event)" [disabled]="tranForm.disabled || tranForm?.get('id').value!= null">{{'Open ended'|translate}}
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="{{'State Name' | translate}}" [disabled]="true" [disabled]="tranForm.disabled" [value]="selectedParty?.stateName"
                                    id="po_State"/>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <input matInput placeholder="{{'Internal Ref Num' | translate}}" formControlName="internalReferenceNumber" id="po_internalReferenceNumber">
                                </mat-form-field>
                            </div>
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="RefDatepicker" [max]="maxDate" readonly placeholder="{{'Reference Date'| translate}}" formControlName="internalReferenceDate" id="po_internalReferenceDate">
                                    <mat-datepicker-toggle matSuffix [for]="RefDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker [disabled]="tranForm.disabled" #RefDatepicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <div *ngIf="tranForm.controls.isOpenEnded.value">
                                    <!-- <mat-form-field>
                                    <input matInput placeholder="PO End Date" formControlName="purchaseOrderEndDate">
                                </mat-form-field> -->

                                    <mat-form-field>
                                        <input matInput [matDatepicker]="poEDDatepicker" [min]="financialMinDate" [max]="financialMaxDate" readonly placeholder="{{'PO End Date*'| translate}}"
                                            formControlName="purchaseOrderEndDate" id="po_purchaseOrderEndDate">
                                        <mat-datepicker-toggle matSuffix [for]="poEDDatepicker"></mat-datepicker-toggle>
                                        <mat-datepicker [disabled]="tranForm.disabled" #poEDDatepicker></mat-datepicker>
                                    </mat-form-field>

                                </div>


                                <mat-form-field>
                                    <textarea matInput type="text" placeholder="{{'Remarks' | translate}}" formControlName="remarks" id="po_remarks"></textarea>
                                </mat-form-field>

                                <!-- <p>{{data}}</p> -->

                            </div>
                            <div fxFlex="50%">


                                <mat-form-field>
                                    <textarea readonly matInput type="text" placeholder="{{'Address' | translate}}"  formControlName="billToAddress" id="po_billToAddress"></textarea>

                                </mat-form-field>
                            </div>
                        </div>
                    </div>


                    <div fxLayout="row" fxLayoutAlign="start start" class="close-po">
                        <div>
                            <button type="button" id="close Po"  [disabled]="!isPoClosed || tranForm.disabled" mat-raised-button color="accent" (click)="closePo()" matTooltip="Close Purchase Order by clicking here">
                                    {{'Close Po'|translate}}
                            </button>
                        </div>
                    </div>
                           
                       
                   

                    

                    <div fxLayout="row" fxLayoutAlign="end start">
                        <div>
                            <button type="button" id="po_NewParty" [disabled]="!isPartyChangeable || tranForm.disabled" mat-raised-button color="accent" (click)="addNewParty()" matTooltip="No need to go to 'Party Master' create new {{partyPlaceHolder}} by clicking here">
                                    {{'Create New'|translate}} {{partyPlaceHolder| translate}}
                            </button>
                        </div>
                    </div>
              
                </mat-card-content>

            </mat-card>

            <mat-card>
                <mat-card-content>
                    <div  fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20pt">
                        <div fxFlex>
                            <mat-radio-group  *ngIf="!isJW" [formControl]="supplyTypeControl" [disabled]="tranForm.disabled">
                                <mat-radio-button id="po_Goods" value=1 checked="true">{{'Goods'|translate}} </mat-radio-button> &nbsp; &nbsp;
                                <mat-radio-button id="po_Service" value=2>{{'Service'|translate}} </mat-radio-button>
                            </mat-radio-group>
                            <mat-checkbox style="margin-left: 20pt;" #inclusiveTax [(ngModel)]="isInclusiveTax" id="po_isInclusiveTax" [disabled]="inclusiveTaxDisable" (change)="inclusiveTaxChange()"
                            [ngModelOptions]="{standalone: true}">{{'Inclusive Tax'|translate}}</mat-checkbox>
                        </div>
                        
                        <!-- <div fxFlex>
                            <mat-checkbox #inclusiveTax [(ngModel)]="isInclusiveTax" [disabled]="inclusiveTaxDisable" (change)="inclusiveTaxChange()"
                                [ngModelOptions]="{standalone: true}">Inclusive Tax</mat-checkbox>
                        </div> -->
                    </div>
                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <!-- <mat-form-field>
                              <mat-placeholder>Material*</mat-placeholder>
                              <mat-select [(ngModel)]="material" (selectionChange)="onMaterialSelect()" [ngModelOptions]="{standalone: true}" [disabled]="tranForm.disabled">
                                  <mat-option *ngFor="let material of materials" [value]="material">
                                      {{material.name}}
                                  </mat-option>
                              </mat-select>
                          </mat-form-field> -->
                            <div fxLayout="row" fxLayoutGap="10px">

                                <mat-form-field class="example-full-width" hintLabel="{{'Start typing material/service name here...'|translate}}">
                                    <input type="text" placeholder="{{'Material' | translate}}*" [disabled]="tranForm.disabled" aria-label="Number" matInput [formControl]="materialControl" id="po_materialControl"
                                        [matAutocomplete]="autoMaterial">
                                    <mat-autocomplete #autoMaterial="matAutocomplete" [displayWith]="displayFnMaterial">
                                        <mat-option (onSelectionChange)="onMaterialSelectChange($event, materialOption)" *ngFor="let materialOption of filteredMaterials | async"
                                            [value]="materialOption" id="po_materialOption" [matTooltip]="materialOption.name + (materialOption.partNumber ? '[' +materialOption.partNumber + ']' : '')">
                                            {{ materialOption.name }} {{materialOption.partNumber ? '[' +materialOption.partNumber + ']' : ''}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                
                                <mat-form-field>
                                    <input matInput #materialquantity placeholder="{{'Qty' | translate}}*" value="1" OnlyNumber="true" [(ngModel)]="materialQuantity" [ngModelOptions]="{standalone: true}"
                                        [disabled]="tranForm.disabled || tranForm.controls.isOpenEnded.value" id="po_Qty">
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxLayout="row" fxLayoutGap="10px">
                                <mat-form-field style="width: 50%">
                                    <mat-placeholder>
                                            {{'UOM' | translate}}*
                                    </mat-placeholder>
                                    <mat-select [(ngModel)]="uom" [ngModelOptions]="{standalone: true}" [disabled]="tranForm.disabled" id="po_uom">
                                        <mat-option *ngFor="let uom of uoms" id="po_uoms" [value]="uom">
                                            {{uom.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field *ngIf="isItemLevelTax" style="width: 50%">
                                    <mat-placeholder>
                                            {{'Tax' | translate}}*
                                    </mat-placeholder>
                                    <mat-select [(ngModel)]="tax" id="po_tax" [ngModelOptions]="{standalone: true}" [disabled]="tranForm.disabled || !isItemLevelTax || this.isContainer" >
                                        <mat-option *ngFor="let tax of taxes" id="po_taxs" [value]="tax">
                                            {{tax.name}}@{{tax.rate}}% 
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="jobworkPO">
                                    <mat-form-field>
                                        <mat-placeholder>
                                                {{'Process'|translate}}
                                        </mat-placeholder>
                                        <mat-select [(ngModel)]="process" [ngModelOptions]="{standalone: true}" id="po_process" [disabled]="tranForm.disabled" multiple>
                                            <mat-option *ngFor="let process of processes" id="po_proces" [value]="process">
                                                {{process.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <button mat-mini-fab color="accent" id="po_addPoItem" [disabled]="!(selectedParty || !isPartyChangeable) || (!tax && isItemLevelTax) || !material || !(materialQuantity >= 0) || tranForm.disabled"
                            matTooltip="Add" (click)="addPoItem(materialquantity.value)">
                            <!-- <i class="material-icons">add</i> -->
                            <i class="material-icons">
                                arrow_downward
                            </i>
                        </button>
                        <!-- <button mat-raised-button type="button" [disabled]="!(selectedParty || !isPartyChangeable)|| !tax ||!material|| !materialQuantity" (click)="addPoItem(materialquantity.value)">Add</button> -->
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start end">
                        <div>
                                <button type="button" [disabled]="tranForm.disabled" id="po_NewMaterial" mat-raised-button color="accent" (click)="addNewMaterial()" >
                                    {{'Create New Material'|translate}}
                                </button>
                        </div>
                    </div>
                    <div formArrayName="purchaseOrderItems" class="po-item">

                        <div *ngFor="let item of tranForm.get('purchaseOrderItems')['controls']; let idx=index">
                            <transaction-item [group]="item" [index]="idx" [isInclusiveTax]="isInclusiveTax" [isItemLevelTax]="isItemLevelTax" [isItemLevelDiscount]="isItemLevelDiscount"
                                [isIgst]="isIgst" [isJWPO]="jobworkPO" [quantityChangeCounter]="quantityChangeCounter" (changeCounter)="handleChanges()" (quantityChange)="quantityChange($event)"
                                (deleteIndex)="removePOItem($event)" [isOpen] = "tranForm.controls.isOpenEnded.value">
                            </transaction-item>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center end" fxLayoutGap="10px">
                        <div fxFlex="70">
                            <!-- <mat-checkbox>Labour Charges Only</mat-checkbox> -->
                        </div>
                        <div fxFlex="30">
                            <mat-form-field>
                                <input matInput placeholder="{{'Sub Total' | translate}}" formControlName="subTotalAmount" id="po_subTotalAmount" readonly />
                            </mat-form-field>
                        </div>
                    </div>

                </mat-card-content>
            </mat-card>

            <mat-card>

                <mat-card-content>
                    <div fxLayout.lt-md="column" fxLayoutGap="20px">
                        <div fxFlex="70%">
                            <mat-tab-group>
                                <mat-tab label="{{'Terms And Conditions' | translate}}">
                                    <div fxLayout="column">

                                        <mat-form-field *ngIf="termsAndConditionObjects.length > 0">
                                            <mat-placeholder>
                                               {{'Choose Terms & Conditions' | translate}}*
                                            </mat-placeholder>
                                            <mat-select [(ngModel)]="tnc" [ngModelOptions]="{standalone: true}" [disabled]="tranForm.disabled" (selectionChange)="onTncChange()" id="po_tnc">
                                                <mat-option *ngFor="let tnc of termsAndConditionObjects" id="po_tncs" [value]="tnc">
                                                    {{tnc.paymentTerms}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <!-- 
                                        <mat-form-field>
                                            <mat-hint>Max {{item_length}} characters</mat-hint>
                                            <textarea matInput placeholder="Payment Terms" #input1 maxlength={{item_length}} formControlName="paymentTerms"></textarea>
                                            <mat-hint align="end">{{input1.value?.length || 0}}/{{item_length}}</mat-hint> 
                                        </mat-form-field> -->

                                        <!-- <div fxFlex="70%"></div> -->


                                        <!-- <mat-form-field>
                                            <mat-hint>Max {{item_length}} characters</mat-hint>
                                            <input  matInput placeholder="Delivery Terms" #input2 maxlength={{item_length}}  formControlName="deliveryTerms">
                                            <mat-hint align="end">{{input2.value?.length || 0}}/{{item_length}}</mat-hint> 
                                        </mat-form-field> -->

                                        <!-- <div fxFlex="70%"></div> -->

                                        <mat-form-field>
                                            <mat-hint>{{'Max'|translate}} {{item_length}} {{'characters'|translate}}</mat-hint>
                                            <textarea matInput placeholder="{{'Terms And Conditions' | translate}}" #input3 maxlength={{item_length}} formControlName="termsAndConditions" id="po_termsAndConditions"></textarea>
                                            <mat-hint align="end">{{input3.value?.length || 0}}/{{item_length}}</mat-hint>
                                        </mat-form-field>


                                        <!-- <mat-form-field hintLabel="Max 10 characters">
                                                <input matInput #input maxlength="10" placeholder="Enter some input">
                                                <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
                                        </mat-form-field> -->

                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>

                        <div fxFlex>
                            <mat-card *ngIf="!tranForm.controls.isOpenEnded.value" class="mat-elevation-z10 summary-section">
                                <div fxLayout="column">
                                    <!--class="summary-section" -->
                                    <mat-form-field *ngIf="!isItemLevelDiscount">
                                        <input matInput placeholder="{{'Discount percent'|translate}}" class="input-right summary-field" [readonly]="isItemLevelDiscount" formControlName="discountPercent" id="po_discountPercent"
                                            (change)="headerDiscountPerChange()">
                                        <mat-error *ngIf="tranForm.controls.discountPercent?.invalid">Discount Percent should be less than 100%</mat-error>

                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput  placeholder="{{'Total Discount'| translate}}" class="input-right summary-field" [readonly]="true" formControlName="totalDiscount" id="po_totalDiscount"
                                            (change)="headerDiscountAmtChange()">
                                    </mat-form-field>

                                    <mat-form-field>
                                        <input matInput placeholder="{{'Total Taxable Amount*'| translate}}" class="input-right summary-field" readonly formControlName="totalTaxableAmount" id="po_totalTaxableAmount">
                                    </mat-form-field>

                                    <!-- <mat-form-field>
                                                        <input matInput placeholder="Grand Total" class="input-right summary-field" value="5000.00">
                                                      </mat-form-field> -->
                                    <div *ngIf="!isIgst && isItemLevelTax">
                                        <mat-form-field>
                                            <input matInput placeholder="{{'Total SGST Tax'| translate}}" class="input-right summary-field" readonly formControlName="sgstTaxAmount" id="po_sgstTaxAmount">
                                        </mat-form-field>
                                        <mat-form-field>
                                            <input matInput placeholder="{{'Total CGST Tax'| translate}}" class="input-right summary-field" readonly formControlName="cgstTaxAmount" id="po_cgstTaxAmount">
                                        </mat-form-field>
                                    </div>
                                   
                                    <div *ngIf="isIgst && isItemLevelTax">
                                        <mat-form-field>
                                            <input matInput placeholder="{{'Total IGST Tax'| translate}}"  class="input-right summary-field" readonly formControlName="igstTaxAmount" id="po_igstTaxAmount">
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf="!isItemLevelTax">
                                        <div *ngIf="selectedParty?.countryId==1">
                                        <mat-form-field>
                                            <mat-placeholder>
                                                    {{'Tax' | translate}}
                                            </mat-placeholder>
                                            <mat-select [(ngModel)]="headerTax" [ngModelOptions]="{standalone: true}" id="po_headerTax" [disabled]="tranForm.disabled" (selectionChange)="headerTaxChange()">
                                                <mat-option *ngFor="let tax of taxes" id="po_Tax" [value]="tax" [disabled]= "isheaderTaxDisable">
                                                    {{tax.name}}@{{tax.rate}}%
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="tranForm.controls.headerTax?.invalid">Please select tax
                                            </mat-error>

                                        </mat-form-field>
                                    </div>
                                        <div *ngIf="isIgst">
                                            <mat-form-field>
                                                <input matInput placeholder="{{'Total IGST Tax'| translate}}" class="input-right summary-field" readonly formControlName="igstTaxAmount" id="po_igstTaxAmount">
                                            </mat-form-field>
                                        </div>
                                        <div *ngIf="!isIgst">
                                            <mat-form-field>
                                                <input matInput placeholder="{{'Total SGST Tax'| translate}}" class="input-right summary-field" readonly formControlName="sgstTaxAmount" id="po_sgstTaxAmount">
                                            </mat-form-field>
                                            <mat-form-field>
                                                <input matInput placeholder="{{'Total CGST Tax' | translate}}" class="input-right summary-field" readonly formControlName="cgstTaxAmount" id="po_cgstTaxAmount">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                        <div *ngIf="selectedParty?.countryId!=1">
                                            <mat-form-field>
                                             <input matInput type="text"  placeholder="{{'Currency'| translate}}"  
                                               formControlName="currencyName" id="po_currencyName" readonly/>
                                           </mat-form-field>
                                         </div>
                                 
                                    <div>
                                        <!-- <mat-form-field>
                                            <input matInput placeholder="Advance Amount" OnlyNumber="true" class="input-right summary-field"
                                                formControlName="advanceAmount" (change)="calculateGrandtotal()">
                                        </mat-form-field> -->
                                        <mat-checkbox style="width: 50%" [disabled]="tranForm.disabled" [ngModelOptions]="{standalone: true}" [disabled]="isRoundOffDisabled"
                                            [checked]="isRoundOffAmount" (change)="calculateGrandtotal()" [(ngModel)]="isRoundOffAmount" id="po_RoundOffAmount">
                                            <label>
                                                    {{'Round Off' | translate}}
                                            </label>
                                        </mat-checkbox>
                                        <mat-form-field>
                                            <input matInput placeholder="{{'Round Off Amount'| translate}} " class="input-right summary-field" formControlName="roundOffAmount" id="po_roundOffAmount" readonly
                                            />
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf="!isCust">
                                        <mat-checkbox style="width: 50%" [disabled]="tranForm.disabled" formControlName="isReverseCharge" id="po_isReverseCharge" (change)="calculateGrandtotal()">
                                            <label>
                                                    {{'Reverse Charge' | translate}}
                                            </label>
                                        </mat-checkbox>
                                    </div>
                                    <div>
                                        <span></span>
                                    </div>
                                    <div>
                                        <mat-form-field>
                                            <input matInput placeholder="{{'Grand Total'  | translate}}" class="input-right summary-field" readonly formControlName="grandTotal" id="po_grandTotal" (click)="showForm()">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-card>
                        </div>

                    </div>

                </mat-card-content>
            </mat-card>
            <app-action-panel *ngIf="activityRoleBindings" [inForm]="tranForm" [applicableButtons]="applicableButtons" [activityRoleBindings]="activityRoleBindings"
                [primaryKey]="tranForm.get('id').value" [statusId]="tranForm.get('statusId').value" [statusBasedPermission]="statusBasedPermission"
                (editEvent)="edit()" (saveEvent)="onSubmit(tranForm.value)" (closeEvent)="closeForm()" (deleteEvent)="delete(formDirective)"
                (cancelEvent)="cancel()" (printEvent)="print()" (clearEvent)="clearForm(formDirective)">
            </app-action-panel>
        </form>
    </mat-sidenav-content>
</mat-sidenav-container>