<div class="example-container">


  <mat-toolbar color="primary" class="fixed-header-master">

      <div>
          <app-sub-heading [route]="route_in">
          </app-sub-heading>
      </div>
    <!-- <div fxLayout="row" fxLayoutAlign="end center" class="title-row">
      <div fxFlex="97">
        <label class="form-header-lbl">Reports > {{userService.currentActivity}}</label>
      </div>
      <div fxFlex>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="saveAsExcel()">
            <mat-icon>import_export</mat-icon>
            <span>Export to Excel</span>
          </button>
          <button mat-menu-item (click)="close()">
            <mat-icon>close</mat-icon>
            <span>Close</span>
          </button>
        </mat-menu>
      </div>
    </div> -->
  </mat-toolbar>
  <mat-accordion>
    <mat-expansion-panel  [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5pt">
            <div><mat-icon style="font-size:20pt;">filter_list</mat-icon></div>
            <div><p>{{'Filter'|translate}}</p></div>
          </div>
        </mat-panel-title>
        <mat-panel-description>
  
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <div fxLayout="column" fxLayoutGap="10" fxLayoutAlign="start center" fxLayoutAlign.lt-md="space-around stretch" >
        <form [formGroup]="filterForm" novalidate>

          <div fxLayoutAlign="space-around center" fxLayoutAlign.lt-md="space-around stretch" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10pt">
            <mat-form-field class="form-box">
              <mat-select class="input-container" formControlName="financialYearId">
                <mat-option>-- None --</mat-option>
                <mat-option *ngFor="let financialYear of financialYears" [value]="financialYear.id">
                  {{financialYear.financialYear}}
                </mat-option>
  
              </mat-select>
              <mat-placeholder>{{'Financial Year'|translate}}</mat-placeholder>
            </mat-form-field>
     
            <mat-form-field >
                <input type="text" matInput [formControl]="partyControl" [matAutocomplete]="autoParty">
                <mat-placeholder>{{partyPlaceHolder|translate}}</mat-placeholder>
                <mat-autocomplete #autoParty="matAutocomplete" [displayWith]="displayFnParty">
                  <mat-option *ngFor="let party of filteredParties | async" [value]="party" (onSelectionChange)="partyChange($event,party)">
                    {{party.partyCode}}-{{party.name}}
                  </mat-option>
                </mat-autocomplete>              
            </mat-form-field>
  
            
            <mat-form-field >
                <input type="text" matInput [formControl]="materialControl" [matAutocomplete]="autoMaterial">
                <mat-placeholder>{{'Material'|translate}}</mat-placeholder>
                <mat-autocomplete #autoMaterial="matAutocomplete" [displayWith]="displayFnMaterial">
                  <mat-option *ngFor="let material of filteredMaterials | async" [value]="material" (onSelectionChange)="materialChange($event,material)" [matTooltip]="material.name + (material.partNumber ? '-' +material.partNumber:'')">
                    {{material.name}} {{material.partNumber ? '-' +material.partNumber: ''}}
                  </mat-option>
                </mat-autocomplete>              
            </mat-form-field>
  
            <mat-form-field>
              <input matInput [matDatepicker]="fromatatepicker" placeholder="{{'From date'|translate}}" readonly formControlName="transactionFromDate">
              <mat-datepicker-toggle matSuffix [for]="fromatatepicker"></mat-datepicker-toggle>
              <mat-datepicker #fromatatepicker></mat-datepicker>
            </mat-form-field>
  
            <mat-form-field>
              <input matInput [matDatepicker]="toDatepicker" placeholder="{{'To date'|translate}}" readonly formControlName="transactionToDate">
              <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #toDatepicker></mat-datepicker>
            </mat-form-field>
            
            <mat-form-field style="align-content: left;">
              <mat-select placeholder="{{'Set page limit'|translate}}" [(value)]="pageSize" (selectionChange)="setPageAfterPageLimit()">
                <mat-option>-- None --</mat-option>
                <mat-option *ngFor="let num of pageNumbers" [value]="num">
                      {{num}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
          </div>
          <div fxLayoutAlign="end end" fxLayoutGap="10px">
            <button mat-raised-button color="primary" (click)="onSearch()">
              <i class="material-icons menu-icon top-search" matTooltip="Search">search</i>
            </button>
            <button mat-raised-button type="button" (click)="clear()"><i class="material-icons" matTooltip="Clear!">clear_all</i></button>
          </div>
         
        </form>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

    <ngx-datatable class="material" [rows]="rows" (sort)="onSort($event)" [sorts]="[{prop:'deliveryChallanDate', dir: 'asc'}]"
      [columnMode]="'force'" 
      [scrollbarH]="true"
      [headerHeight]="'auto'" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements"   [scrollbarH]="true"
      [offset]="page.pageNumber"  [externalSorting]="true"  [limit]="page.size" (page)='setPage($event)'>
      <ngx-datatable-column headerClass="report-header" name="{{'SlNo'|translate}}"  [maxWidth]="80">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <strong>{{(page.pageNumber * page.size) + rowIndex + 1}}</strong>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column headerClass="report-header"   name="deliveryChallanNumber">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()" class="sort-btn sort-desc undefined ">{{'DC Number'|translate}}</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span style="cursor: pointer;" (click)="showReference(row.id)">{{row.deliveryChallanNumber }}</span>
      </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column headerClass="report-header"  name="deliveryChallanDate">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()" class="sort-btn sort-desc undefined">{{'DC Date'|translate}}</span>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value | date: 'dd/MM/yyyy'}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column headerClass="report-header"  name="statusName" >
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()" class="sort-btn sort-desc undefined">{{'Status'|translate}}</span>        
        </ng-template>     
      </ngx-datatable-column>

      <ngx-datatable-column headerClass="report-header" name="partyName">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()" class="sort-btn sort-desc undefined">{{'Party Name'|translate}}</span>
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column headerClass="report-header" prop="materialName">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{'Material'|translate}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column headerClass="report-header" name="hsnOrSac">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{'HSN Code'|translate}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column headerClass="report-header" prop="quantity">
        <ng-template let-column="column"  ngx-datatable-header-template>
          <span> {{'Qty/Units'|translate}}</span>
        </ng-template>
        <!-- <ng-template let-value="value" ngx-datatable-cell-template>
          {{value  | number : '.2'}}
        </ng-template> -->
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.quantity | number : '.2'}}  {{row.uom}}
      </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column prop="remarks" headerClass="report-header">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{'Remarks'|translate}}
        </ng-template>
      </ngx-datatable-column>


    </ngx-datatable>

</div>

<div class="button-panel" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">

  <div>
    <button mat-raised-button type="button" (click)="close()" matTooltip="Close">
      <i class="material-icons">close</i> {{'Close'|translate}}
    </button>
  </div>
  <div>
    <button mat-raised-button type="button" color="primary" (click)="saveAsExcel()" matTooltip="Save as Excel">
      <i class="material-icons">import_export</i> {{'Export to Excel'|translate}}
    </button>
  </div>
  <div>
    <button mat-raised-button type="button" color="primary" (click)="saveAsPdf()" matTooltip="Save as Pdf">
      <i class="material-icons">import_export</i> {{'Export to Pdf'|translate}}
    </button>
  </div>
</div>