<mat-toolbar color="primary" class="fixed-header-master">
    <app-sub-heading [route]="route"></app-sub-heading>
</mat-toolbar>

<div>
    <ngx-alerts></ngx-alerts>
    <div class="example-loading-shade" *ngIf="spinStart">
        <mat-spinner *ngIf="spinStart"></mat-spinner>
    </div>
    <form [formGroup]="companyForm">

        <mat-card class="card">

            <mat-card-content>
                <mat-tab-group>
                    <mat-tab label="{{'Basic Information'|translate}}">
                        <div formGroupName="companyDTO">

                            <mat-card>

                                <mat-card-content>
                                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <input matInput [readonly]="disableSelect" matTooltip={{hintValue}} placeholder="{{'Company Name*'|translate}}" formControlName="name"
                                                    />
                                                    <mat-error *ngIf="companyForm.get('companyDTO.name')?.invalid">
                                                        Please enter Company Name</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">

                                                <mat-form-field>
                                                    <mat-placeholder>{{'Company Type*'|translate}}</mat-placeholder>
                                                    <!-- <mat-select> -->
                                                    <!-- <mat-option value=1>Registerd</mat-option> -->

                                                    <mat-select formControlName="gstRegistrationTypeId" [disabled]="disableSelect" matTooltip={{hintValue}} (selectionChange)="getRegstrationType()">
                                                        <mat-option *ngFor="let regType of gstRegistrationTypes" [value]="regType.id">{{regType.name}}</mat-option>
                                                    </mat-select>
                                                    <mat-error *ngIf="companyForm.get('companyDTO.gstRegistrationTypeId')?.invalid">
                                                        Please select GST registration type</mat-error>

                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">

                                                <div class="image-with-button">

                                                    <img *ngIf="companyLogoPath" class="img-container" [src]="companyLogoPath | secure" alt="" />

                                                    <ng-container *ngIf="enableSaveButton">
                                                        <button *ngIf="companyLogoPath" mat-icon-button type="button" (click)="imageInput.click()" color="primary" matTooltip="Upload new image">
                                                            <div style="font-size:2em">
                                                                <mat-icon [inline]="true">attach_file</mat-icon>
                                                            </div>
                                                        </button>
                                                        <button *ngIf="companyLogoPath" mat-icon-button type="button" (click)="deleteImage()" color="warn" matTooltip="Delete image">
                                                            <div style="font-size:2em">
                                                                <mat-icon [inline]="true">cancel_presentation</mat-icon>
                                                            </div>
                                                        </button>


                                                        <button *ngIf="!companyLogoPath" mat-raised-button type="button" color="primary" (click)="imageInput.click()">{{'Upload Company Logo'|translate}}
                                                        </button>
                                                        <mat-spinner [diameter]="40" *ngIf="uploadingProgressing"></mat-spinner>
                                                    </ng-container>
                                                </div>
                                                <div>

                                                    <input hidden #imageInput type="file" accept="image/*" id="file" (change)="handleFileInput($event)">
                                                </div>




                                            </div>

                                        </div>
                                    </div>


                                    <div fxLayout.lt-md="column" fxLayoutGap="10px">


                                        <!-- <div fxLayout.lt-md="column" fxLayoutGap="10px"> -->
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <mat-placeholder>{{'State / Province*'|translate}}</mat-placeholder>
                                                    <mat-select formControlName="stateId" [disabled]="disableSelect" matTooltip={{hintValue}} (selectionChange)="checkStateChange()">
                                                        <!-- <mat-option value=1>Karnataka</mat-option> -->
                                                        <mat-option *ngFor="let state of states" [value]="state.id">
                                                            {{state.name}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error *ngIf="companyForm.get('companyDTO.stateId')?.invalid">
                                                        Please select State</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <mat-placeholder>{{'Country'|translate}}</mat-placeholder>
                                                    <mat-select formControlName="countryId" [disabled]="disableSelect" matTooltip={{hintValue}}>
                                                        <!-- <mat-option value=1>India</mat-option> -->
                                                        <mat-option *ngFor="let country of countries" [value]="country.id">
                                                            {{country.name}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error *ngIf="companyForm.get('companyDTO.countryId')?.invalid">
                                                        Please select Country</mat-error>
                                                </mat-form-field>


                                            </div>
                                        </div>
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <div class="image-with-button">

                                                    <img *ngIf="certImagePath" class="img-container" [src]="certImagePath | secure" alt="" />

                                                    <ng-container *ngIf="enableSaveButton">
                                                        <button *ngIf="certImagePath" mat-icon-button type="button" (click)="certImageInput.click()" matTooltip="Upload new image"
                                                            color="primary">
                                                            <div style="font-size:2em">
                                                                <mat-icon [inline]="true">{{'attach_file'}}</mat-icon>
                                                            </div>
                                                        </button>
                                                        <button *ngIf="certImagePath" mat-icon-button type="button" (click)="deleteCertImage()" matTooltip="Delete image" color="warn">
                                                            <div style="font-size:2em">
                                                                <mat-icon [inline]="true">{{'cancel_presentation'}}</mat-icon>
                                                            </div>
                                                        </button>


                                                        <button *ngIf="!certImagePath" mat-raised-button type="button" color="primary" (click)="certImageInput.click()">{{'Upload Certificate Image'|translate}}</button>
                                                        <mat-spinner [diameter]="40" *ngIf="uploadingProgressing"></mat-spinner>
                                                    </ng-container>
                                                </div>
                                                <div>

                                                    <input hidden #certImageInput type="file" accept="image/*" id="file" (change)="uploadCertificateImage($event)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{'Primary Mobile'|translate}}" formControlName="primaryMobile" />
                                                    <mat-error *ngIf="companyForm.get('companyDTO.primaryMobile')?.invalid">
                                                        Please enter valid Primary Mobile Number</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">

                                                <mat-form-field>
                                                    <input matInput placeholder="{{'Secondary Mobile'|translate}}" formControlName="secondaryMobile" />
                                                    <mat-error *ngIf="companyForm.get('companyDTO.secondaryMobile')?.invalid">
                                                        Please enter valid Secondary Mobile Number</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{'Contact Number'|translate}}" formControlName="contactPersonNumber" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>

                                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{'Contact Person Name'|translate}}" formControlName="contactPersonName" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{'Primary Telephone'|translate}}" formControlName="primaryTelephone" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{'Secondary Telephone'|translate}}" formControlName="secondaryTelephone" />
                                                </mat-form-field>

                                            </div>

                                        </div>
                                    </div>



                                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{'Website'|translate}}" formControlName="website" />
                                                    <mat-error *ngIf="companyForm.get('companyDTO.website')?.invalid">
                                                        Please enter valid Website</mat-error>

                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{'Email*'|translate}}" formControlName="email" />
                                                    <mat-error *ngIf="companyForm.get('companyDTO.email')?.invalid">
                                                        Please enter valid E-mail</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{'Fax Number'|translate}}" formControlName="faxNumber" />
                                                </mat-form-field>
                                            </div>
                                        </div>

                                    </div>

                                    <div fxLayout.lt-md="column" fxLayoutGap="10px">

                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <!-- <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                <div fxFlex="50%"> -->
                                                <mat-form-field>
                                                    <textarea matInput placeholder="{{'Address*'|translate}}" formControlName="address"></textarea>
                                                    <mat-error *ngIf="companyForm.get('companyDTO.address')?.invalid">
                                                        Please enter Address</mat-error>
                                                </mat-form-field>
                                                <!-- <button mat-mini-fab color="primary" type="button"
                                                    matTooltip="Add more Addresses" (click)="addAddress()">
                                                    <i class="material-icons">add</i>
                                                </button> -->
                                                <!-- </div>
                            </div> -->
                                            </div>
                                        </div>
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                    <mat-form-field>
                                                            <mat-placeholder>{{'City'|translate}}</mat-placeholder>
                                                            <mat-select [disabled]="companyForm.disabled" formControlName="cityId"  id="company_cityId">
                                                              
                                                                <mat-option *ngFor="let city of cities" [value]="city.id">
                                                                    {{city.name}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>



                                               
                                            </div>
                                        </div>

                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                    <mat-form-field>
                                                            <mat-hint>{{'Max'|translate}} {{item_length}} {{'characters'|translate}}</mat-hint>
                                                            <textarea matInput placeholder="{{'Tag Line'|translate}}" #input1 maxlength={{item_length}} formControlName="tagLine"></textarea>
                                                            <mat-hint align="end">{{input1.value?.length || 0}}/{{item_length}}</mat-hint>
                                                        </mat-form-field>

                                                
                                            </div>
                                        </div>



                                    </div>

                                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">

                                                    <mat-form-field>
                                                            <input matInput placeholder="{{'Postal code'|translate}}" OnlyNumber="true" formControlName="pinCode" />
                                                        </mat-form-field>

                                               
                                            </div>
                                        </div>

                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                               
                                                    <mat-form-field>
                                                            <input matInput placeholder="{{'Print Footer'|translate}}" maxlength="100" formControlName="subject" />
                                                            <mat-hint align="end">
                                                                {{companyForm.get('companyDTO.subject').value?.length || 0}}/100
                                                            </mat-hint>
                                                        </mat-form-field>        
                                                   
                                            </div>
                                        </div>

                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <div class="image-with-button">

                                                    <img *ngIf="signaturePath" class="img-sigcontainer" [src]="signaturePath | secure" alt="" />

                                                    <ng-container *ngIf="enableSaveButton">
                                                        <button *ngIf="signaturePath" mat-icon-button type="button" (click)="signatureImageInput.click()" matTooltip="{{'Upload new Signature'|translate}}"
                                                            color="primary">
                                                            <div style="font-size:2em">
                                                                <mat-icon [inline]="true">{{'attach_file'}}</mat-icon>
                                                            </div>
                                                        </button>
                                                        <button *ngIf="signaturePath" mat-icon-button type="button" (click)="deleteSignatureImage()" matTooltip="Delete Signature"
                                                            color="warn">
                                                            <div style="font-size:2em">
                                                                <mat-icon [inline]="true">{{'cancel_presentation'}}</mat-icon>
                                                            </div>
                                                        </button>


                                                        <button *ngIf="!signaturePath" mat-raised-button type="button" color="primary" (click)="signatureImageInput.click()">{{'Upload Signature'|translate}}</button>
                                                        <mat-spinner [diameter]="40" *ngIf="signatureUploadingProgressing"></mat-spinner>
                                                    </ng-container>
                                                   
                                                </div>
                                                <div>

                                                    <input hidden #signatureImageInput type="file" accept="image/*" id="file" (change)="uploadSignatureImage($event)">
                                                </div>
                                                <label>{{'Please Upload Signature'|translate}}</label>
                                            </div>
                                        </div>


                                    </div>
                                    <div fxLayout.lt-md="column" fxLayoutGap="10px"> 
                                        <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                       
                                            <div fxFlex="33%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">
                                                    <mat-form-field>
                                                        <mat-placeholder>{{'Currency*'|translate}}</mat-placeholder>
                                                        <mat-select formControlName="companyCurrencyId" [disabled]="companyForm.disabled" id="company_currencyId">
                                                            <mat-option *ngFor="let currency of currencys" [value]="currency.id">
                                                                {{currency.currencyName}} ( {{currency.shortName }} )
                                                            </mat-option>
                                                        </mat-select>
                                                        
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div fxFlex="33%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">
                                                    <mat-form-field>
                                                        <input matInput placeholder="{{'Credit Limit'|translate}}" formControlName="creditLimit" />
                                                       
                                                         </mat-form-field>
                                                </div>
                                            </div>
                                            <div fxFlex="33%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">
                                                    <mat-form-field>
                                                        <input matInput placeholder="{{'Insurance Type'|translate}}" formControlName="insuranceType" />
                                                       
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                     
                                          
                                        </div>
                                    </div>
                                    <div fxLayout.lt-md="column" fxLayoutGap="10px"> 
                                        <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                       
                                            <div fxFlex="33%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">
                                                    <mat-form-field>
                                                        <input matInput placeholder="{{'Insurance Ref'|translate}}" formControlName="insuranceRef" />
                                                       
                                                    </mat-form-field>
                                                </div> 
                                            </div>
                                            <div fxFlex="33%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">
                                                    <mat-form-field>
                                                        <input matInput placeholder="{{'Finance Person'|translate}}" formControlName="financePerson" />
                                                       
                                                    </mat-form-field>
                                                </div> 
                                            </div>
                                            <div fxFlex="33%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">
                                                    <mat-form-field>
                                                        <input matInput placeholder="{{'Finance Email'|translate}}" formControlName="financeEmail" />
                                                       
                                                    </mat-form-field>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                    <div formArrayName="addressesListDTO">
                                        <!-- <div *ngFor="let address of companyForm.get('partyDTO.addressesListDTO').['controls']; let idx=index"> -->
                                        <div *ngFor="let address of companyForm.get('companyDTO.addressesListDTO')['controls']; let idx=index">
                                            <mat-card>
                                                <div [formGroup]="address">
                                                    <mat-card-content>
                                                        <div fxLayout.lt-md="column" fxLayoutGap="10px">

                                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                                <mat-form-field>
                                                                    <textarea matInput placeholder="Address*" formControlName="address"></textarea>
                                                                </mat-form-field>
                                                            </div>
                                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                                <mat-form-field>
                                                                    <input matInput placeholder="Contact Person Name" formControlName="contactPersonName" />
                                                                </mat-form-field>
                                                            </div>

                                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                                <mat-form-field>
                                                                    <input matInput placeholder="Contact Person number" formControlName="contactPersonNumber" />
                                                                </mat-form-field>
                                                            </div>
                                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                                <mat-form-field>
                                                                    <input matInput placeholder="Contact Person designation" formControlName="contactPersonDesignation" />
                                                                </mat-form-field>
                                                            </div>
                                                            <button mat-mini-fab color="primary" type="button" matTooltip="Delete Address" (click)="deleteAddress(idx)">
                                                                <!-- <mat-icon class="delete-class" (click)="delete(idx)">delete</mat-icon> -->
                                                                <i class="material-icons">delete</i>
                                                                <!-- <mat-icon class="delete-class" color="primary" (click)="deleteAddress(index)">delete</mat-icon> -->
                                                            </button>
                                                            <button mat-mini-fab color="primary" type="button" matTooltip="Add Address" (click)="addAddress()">
                                                                <i class="material-icons">add</i>
                                                            </button>
                                                        </div>
                                                    </mat-card-content>
                                                </div>
                                            </mat-card>
                                        </div>
                                    </div>

                                </mat-card-content>
                            </mat-card>

                            <mat-card>
                                <mat-toolbar color="primary">
                                    <label class="form-header-lbl">{{'Company Legal Information'|translate}}</label>
                                </mat-toolbar>
                                <mat-card-content>

                                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="60%">
                                                <mat-form-field *ngIf="isGstRegistered" hintLabel="Only 20 Character">
                                                    <!-- <input matInput placeholder="GST Number" formControlName="gstNumber" /> -->
                                                    <!-- <span matTooltip="Format:29AAAAA0000A1Z5"> -->
                                                    <input matInput [readonly]="disableSelect" placeholder="{{'GST Number*'|translate}}" formControlName="gstNumber" minlength="20"
                                                        maxlength="20" (change)="validateGST()" #gstinput (input)="gstinput.value=$event.target.value.toUpperCase()"
                                                    />
                                                    <mat-hint align="end">
                                                        {{companyForm.get('companyDTO.gstNumber').value?.length || 0}}/20
                                                    </mat-hint>
                                                    <!-- </span> -->
                                                    <mat-error *ngIf="companyForm.get('companyDTO.gstNumber').invalid">
                                                        please enter valid GST Number</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                       <!--   <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="65%">
                                                <mat-form-field hintLabel="Format:AAAPL1234C">
                                                    <input matInput placeholder="{{'PAN Number'|translate}}" maxlength="10" formControlName="panNumber" #paninput (input)="paninput.value=$event.target.value.toUpperCase()"
                                                    />
                                                    <mat-hint align="end">
                                                        {{companyForm.get('companyDTO.panNumber').value?.length || 0}}/10
                                                    </mat-hint>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                         <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="60%">
                                                <mat-form-field>
                                                    <input matInput [matDatepicker]="PANDatepicker" [max]="maxDate" readonly placeholder="{{'PAN Date'|translate}}" formControlName="panDate">
                                                    <mat-datepicker-toggle matSuffix [for]="PANDatepicker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #PANDatepicker></mat-datepicker>
                                                </mat-form-field>
                                            </div> -->
                                            <!-- <div fxFlex="50%">
                                    <mat-form-field>
                                        <input matInput placeholder="Website" formControlName="website" />
                                      </mat-form-field>
                                </div> -->
                                        <!-- </div> -->
                                                    
                                      <!--   <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="58%">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{'IEC Code'|translate}}"  formControlName="iecCode" #iecinput (input)="iecinput.value=$event.target.value.toUpperCase()"
                                                    />
                                                    < <mat-hint align="end">
                                                        {{companyForm.get('companyDTO.iecCode').value?.length || 0}}/12
                                                    </mat-hint>
                                                </mat-form-field>
                                            </div>
                                        </div>



                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="58%">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{'MSME Number'|translate}}" maxlength="12" formControlName="msmeNumber" #msmeinput (input)="msmeinput.value=$event.target.value.toUpperCase()"
                                                    />
                                                    <mat-hint align="end">
                                                        {{companyForm.get('companyDTO.msmeNumber').value?.length || 0}}/12
                                                    </mat-hint>
                                                </mat-form-field>
                                            </div>
                                        </div> -->
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="73%">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{'CIN Number'|translate}}" maxlength="20" formControlName="cinNumber" #cininput (input)="cininput.value=$event.target.value.toUpperCase()"
                                                    />
                                                    <mat-hint align="end">
                                                        {{companyForm.get('companyDTO.cinNumber').value?.length || 0}}/20
                                                    </mat-hint>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </mat-tab>

                    <mat-tab label="{{'Banks List'|translate}}">
                        <mat-card>
                            <mat-card-content>
                                <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                    <div fxLayout.lt-sm="column" fxLayoutGap="10px">
                                        <!-- <mat-form-field>
                                            <mat-placeholder>Bank</mat-placeholder>
                                            <mat-select [(ngModel)]="bankLocal" [disabled]="companyForm.disabled" [ngModelOptions]="{standalone: true}">
                                                <mat-option *ngFor="let bank of banks" [value]="bank">
                                                    {{bank.bankname}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field> -->

                                        <div fxLayout="row" fxLayoutGap="10px">
                                            <div fxFlex="40" fxFlex.lt-md="100">
                                                <mat-form-field>
                                                    <mat-placeholder>{{'Bank'|translate}}</mat-placeholder>
                                                    <mat-select [(ngModel)]="bankLocal" [disabled]="companyForm.disabled" (selectionChange)="addBankMap()" [ngModelOptions]="{standalone: true}">
                                                        <mat-option *ngFor="let bank of banks" [value]="bank">
                                                            {{bank.bankname}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div fxFlex="60">

                                            </div>
                                        </div>
                                    </div>



                                    <!-- <button type="button" mat-mini-fab color="primary" [disabled]="!bankLocal" matTooltip="Add" (click)="addBankMap()">
                                        <i class="material-icons">add</i>
                                    </button> -->
                                    <!-- <button mat-raised-button type="button" [disabled]="!(selectedParty || !isPartyChangeable)|| !tax ||!material|| !materialQuantity" (click)="addInvoiceItem(materialquantity.value)">Add</button> -->
                                </div>
                                <!-- </fieldset> -->

                                <div formArrayName="partyBankMapDTOList">
                                    <div *ngFor="let item of companyForm.get('partyBankMapDTOList')['controls']; let idx=index">
                                        <div [formGroup]="item">
                                            <div *ngIf="idx === 0" class="items" fxLayout="row" fxHide.lt-md="true" fxLayoutGap="2px" fxLayoutAlign="space-evenly stretch">
                                                <div class="item-header" fxFlex="5" color="primary">
                                                    <mat-toolbar class="item-header" color="primary">#</mat-toolbar>
                                                </div>
                                                <div class="item-header" fxFlex="25" color="primary">
                                                    <mat-toolbar class="item-header" color="primary">{{'Bank'|translate}}</mat-toolbar>
                                                </div>
                                                <div class="item-header" fxFlex="40" color="primary">
                                                    <mat-toolbar class="item-header" color="primary">{{'Branch Name'|translate}}
                                                    </mat-toolbar>
                                                </div>
                                                <div class="item-header" fxFlex="15" color="primary">
                                                    <mat-toolbar class="item-header" color="primary">{{'IFSC code'|translate}}
                                                    </mat-toolbar>
                                                </div>
                                                <div class="item-header" fxFlex="15" color="primary">
                                                    <mat-toolbar class="item-header" color="primary">{{'A/C number'|translate}}
                                                    </mat-toolbar>
                                                </div>
                                                <div class="item-header" fxFlex="15" color="primary">
                                                    <mat-toolbar class="item-header" color="primary">{{'Brank AD Code'|translate}}
                                                    </mat-toolbar>
                                                </div>
                                                <!-- <div class="item-header" fxFlex="10" color="primary">
                                                    <mat-toolbar class="item-header" color="primary">Opening Balance
                                                    </mat-toolbar>
                                                </div> -->
                                                <div class="item-header" fxFlex="10" color="primary">
                                                    <mat-toolbar class="item-header" color="primary">{{'Delete'|translate}}
                                                    </mat-toolbar>
                                                </div>
                                            </div>
                                            <div fxLayout="row" fxHide.lt-md="true" fxLayoutGap="2px" fxLayoutAlign="space-evenly center">
                                                <div class="input-container center" fxFlex="5">
                                                    <label class="lbl-class ">{{idx+1}}</label>
                                                </div>
                                                <div fxFlex="25">
                                                    <mat-form-field class="input-container" appearance="outline">
                                                        <input matInput type="text" class="input-sm" formControlName="bankname" #bankInput1 maxlength={{bankInputLength}}>
                                                        <mat-hint align="end">{{bankInput1.value?.length || 0}}/{{bankInputLength}}</mat-hint>
                                                    </mat-form-field>
                                                </div>
                                                <div fxFlex="40">
                                                    <mat-form-field class="input-container" appearance="outline">
                                                        <input matInput type="text" class="input-sm" formControlName="branch" #branchInput1 maxlength={{branchInputLength}}>
                                                        <mat-hint align="end">{{branchInput1.value?.length || 0}}/{{branchInputLength}}</mat-hint>
                                                    </mat-form-field>
                                                </div>
                                                <div fxFlex="15">
                                                    <mat-form-field class="input-container" appearance="outline">
                                                        <input matInput type="text" class="input-sm" formControlName="ifsc" #ifsc1 maxlength="15">
                                                        <mat-hint align="end">{{ifsc1.value?.length || 0}}/15</mat-hint>
                                                    </mat-form-field>
                                                </div>
                                                <div fxFlex="15">
                                                    <mat-form-field class="input-container" appearance="outline">
                                                        <input matInput type="text" class="input-sm" formControlName="accountNumber" #accountNumber1 maxlength="30">
                                                        <mat-hint align="end">{{accountNumber1.value?.length || 0}}/30</mat-hint>
                                                    </mat-form-field>
                                                </div>

                                                <div fxFlex="15">
                                                    <mat-form-field class="input-container" appearance="outline">
                                                        <input matInput type="text" class="input-sm" formControlName="bankAdCode" #bankAdCode1 maxlength="14">
                                                        <mat-hint align="end">{{bankAdCode1.value?.length || 0}}/30</mat-hint>
                                                    </mat-form-field>
                                                </div>
                                                <!-- <div fxFlex="10">
                                                    <mat-form-field class="input-container" appearance="outline">
                                                        <input matInput type="text" class="input-sm"
                                                            formControlName="openingBalance">
                                                    </mat-form-field>
                                                </div> -->
                                                <div fxFlex="10">
                                                    <!-- class="delete-class center"  -->
                                                    <button *ngIf="!companyForm.disabled" mat-icon-button>
                                                        <mat-icon (click)="deleteBankMap(idx)" style="font-size: 25px">
                                                            delete</mat-icon>
                                                    </button>

                                                </div>
                                            </div>
                                            <div fxLayout="column" fxLayoutGap="2px" fxLayoutAlign="space-evenly stretch" fxShow="false" fxShow.lt-md="true" class="small-item-view">
                                                <div fxLayout="row">
                                                    <mat-toolbar class="item-header" fxFlex="30" color="primary">#
                                                    </mat-toolbar>
                                                    <div fxFlex="70">
                                                        <label class="lbl-class">{{idx + 1}}</label>
                                                    </div>
                                                </div>
                                                <div fxLayout="row">
                                                    <mat-toolbar class="item-header" fxFlex="30" color="primary">Bank
                                                    </mat-toolbar>
                                                    <div class="input-container" fxFlex="70">
                                                        <mat-form-field>
                                                            <input matInput type="text" formControlName="bankname" #bankInput maxlength={{bankInputLength}}>
                                                            <mat-hint align="end">{{bankInput.value?.length || 0}}/{{bankInputLength}}</mat-hint>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div fxLayout="row">
                                                    <mat-toolbar class="item-header" fxFlex="30" color="primary">Branch Name
                                                    </mat-toolbar>
                                                    <div class="input-container" fxFlex="70">
                                                        <mat-form-field>
                                                            <input matInput type="text" formControlName="branch" #branchInput maxlength={{branchInputLength}}>
                                                            <mat-hint align="end">{{branchInput.value?.length || 0}}/{{branchInputLength}}</mat-hint>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div fxLayout="row">
                                                    <mat-toolbar class="item-header" fxFlex="30" color="primary">IFSC
                                                    </mat-toolbar>
                                                    <div class="input-container" fxFlex="70">
                                                        <mat-form-field>
                                                            <input matInput class="input-sm " type="text" formControlName="ifsc" #ifsc maxlength="15">
                                                            <mat-hint align="end">{{ifsc.value?.length || 0}}/15</mat-hint>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div fxLayout="row">
                                                    <mat-toolbar class="item-header" fxFlex="30" color="primary">A/C Number
                                                    </mat-toolbar>
                                                    <div class="input-container" fxFlex="70">
                                                        <mat-form-field>
                                                            <input matInput class="input-sm " type="text" formControlName="accountNumber" #accountNumber maxlength="30">
                                                            <mat-hint align="end">{{accountNumber.value?.length || 0}}/30</mat-hint>
                                                        </mat-form-field>
                                                    </div>
                                                </div>

                                                <div fxLayout="row">
                                                    <mat-toolbar class="item-header" fxFlex="30" color="primary">Brank AD Code
                                                    </mat-toolbar>
                                                    <div class="input-container" fxFlex="70">
                                                        <mat-form-field>
                                                            <input matInput class="input-sm " type="text" formControlName="bankAdCode" #bankAdCode maxlength="14">
                                                            <mat-hint align="end">{{bankAdCode.value?.length || 0}}/30</mat-hint>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <!-- <div fxLayout="row">
                                                    <mat-toolbar class="item-header" fxFlex="30" color="primary">Opening
                                                        Balance</mat-toolbar>
                                                    <div class="input-container" fxFlex="70">
                                                        <mat-form-field>
                                                            <input matInput class="input-sm " type="text"
                                                                formControlName="openingBalance">
                                                        </mat-form-field>
                                                    </div>
                                                </div> -->
                                                <div fxLayout="row">
                                                    <mat-toolbar class="item-header" fxFlex="30" color="primary">Delete
                                                    </mat-toolbar>
                                                    <div fxFlex="70">
                                                        <mat-icon *ngIf="!companyForm.disabled" class="delete-class " (click)="deleteBankMap(index)">delete</mat-icon>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </mat-card-content>
                        </mat-card>

                    </mat-tab>

                </mat-tab-group>

            </mat-card-content>
        </mat-card>
        <!-- <div >{{companyForm.valid}} </div> -->
        <app-action-panel *ngIf="activityRoleBindings" [inForm]="companyForm" [applicableButtons]="applicableButtons" [activityRoleBindings]="activityRoleBindings"
            (closeEvent)="closeForm()" (deleteEvent)="delete()" (printEvent)="print()" (saveEvent)="submit(companyForm.value)"
            (clearEvent)="clearForm()">
        </app-action-panel>
    </form>
</div>