
body {
    margin: 0px;
    padding: 0px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}


// .mat-card-content {
//     padding: 10px;
// }



.example-container{
    top: 5%;
    background-color: #f1f1f1
}

.example-spacer {
    flex: 1 1 auto;
}
.card{
    top:50px;
}

// .mat-card{
//     padding: 0px;
//     margin-bottom: 5%;
//     margin-right: 5%;
//     margin-top: 5%;
//     margin-left: 5%;
// }

// .material-icons{
//     font-size: 15px;
//     height: 20px;
// }

.menu-icon{
    font-size: 24px;
    height: 30px;
    padding-right: 10px;
}

.mat-card-subtitle{
    font-weight: bold;
}


.input-right{
    text-align: right;
}


.color-picker-alternative{
    font-size: 35px;
}

.top-search{
    cursor: pointer;
}

.mat-form-field{
    width:100%;
}


.image-with-button{
    position: relative;
    // width: 50%;
}

.img-container{
    max-width:100%;
    height:auto;
}

.img-container:hover{
    opacity: 0.5;
}
.img-sigcontainer{
    width: 190px;
    height: 40px;
}

.image-with-button secured-image{
    width: 100%;
    height: auto;
}

.image-with-button .img-button{
    position: absolute;
    top: 80%;
    left: 90%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    // background-color: #555;
    // color: white;
    font-size: 36px;
    // padding: 12px 24px;
    border: none;
    cursor: pointer;
    // border-radius: 5px;
    // opacity: 0.25;
    width: 50%;
}


.image-with-button .img-cancel-button{
    position: absolute;
    top: 20%;
    left: 90%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    // background-color: #555;
    // color: white;
    font-size: 36px;
    // padding: 12px 24px;
    border: none;
    cursor: pointer;
    // border-radius: 5px;
    // opacity: 0.25;
    width: 50%;
}

.image-with-button .img-button .material-icons:hover{
    // background-color: black;
    //opacity: 1;
    font-size: 35px;
}

.image-with-button .img-cancel-button .material-icons:hover{
    // background-color: black;
    //opacity: 1;
    font-size: 35px;
}
// .main-hint{
//     margin-top: 20px;
// }

// .sub-hint{
//     font-size: small;
// }


// .mat-icon-button{
//     width: 30% !important;
// }


// .item-header{
//     font-size: 10pt;
//     font-weight: bold;
//     white-space: normal;
//     height:30px;
//     text-align: center;
//     line-height: 15px;
//     color: white;
// }

.item-header{
    font-size: 10pt;
    font-weight: bold;
    white-space: normal;
    height:30px;
    text-align: center;
    line-height: 15px;
    color: white !important;
}

.input-container{
    background-color: white;
    font-size: 10pt;
    width: 100%;
    margin-bottom: -1.35em
}

