<!-- <mat-toolbar color="primary" class="fixed-header-master">

  <div fxLayout="column">
      <div>
          <label class="form-header-lbl">State Master</label>
      </div>
  
      <div>
        <h6 style="font-size: small">this page is used to record Information about state</h6>
      </div>
    </div>

</mat-toolbar> -->
<mat-toolbar color="primary" class="fixed-header-master">
  <app-sub-heading [route]="route"></app-sub-heading>
</mat-toolbar>

<div class="form-top">

</div>
<ngx-alerts></ngx-alerts>
<form *ngIf="stateForm" [formGroup]="stateForm">
  <mat-card class="example-container">
    <mat-card-header class="card-header">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div fxFlex>
          <mat-form-field>
            <mat-placeholder>{{'Type to filter state...'|translate}}</mat-placeholder>
            <input matInput (keyup)='updateFilter($event)'>
          </mat-form-field>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div formArrayName="states">
        <ngx-datatable #myTable class="material expandable" [rows]="stateForm.get('states').value"
          [columnMode]="'force'" [scrollbarH]="true" [headerHeight]="'auto'" [footerHeight]="50" [rowHeight]="'auto'"
          [selected]="selected" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" [displayCheck]="displayCheck"
          (select)='onSelect($event)' [limit]="pageSize">

          <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
            [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
          </ngx-datatable-column>

          <ngx-datatable-column name="id">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>{{'Sl No'|translate}}</strong>
              </span>
            </ng-template>
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
              <strong>{{rowIndex + 1}}</strong>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="name" [flexGrow]="3">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>{{'State'|translate}}</strong>
              </span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <div [formGroupName]="rowIndex">
                <mat-form-field>
                  <input matInput placeholder="{{'State'|translate}}" formControlName="name" (change)="checkDuplicate($event)">
                </mat-form-field>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="stateCode" [flexGrow]="1">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>{{'State Code'|translate}}</strong>
              </span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <div [formGroupName]="rowIndex">
                <mat-form-field>
                  <input matInput placeholder="{{'State Code'|translate}}" formControlName="stateCode" [OnlyNumber]="true">
                </mat-form-field>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="countryId" [flexGrow]="1">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>{{'Country'|translate}}</strong>
              </span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <div [formGroupName]="rowIndex">

                <mat-form-field>
                  <mat-placeholder>{{'Country'|translate}}</mat-placeholder>

                  <mat-select formControlName="countryId">
                    <mat-option>-- None --</mat-option>
                    <mat-option *ngFor="let country of countries" [value]="country.id">
                      {{country.name}}
                    </mat-option>

                  </mat-select>
                </mat-form-field>


              </div>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- <div>You Cannot add or delete or edit data</div> -->
  <app-action-panel *ngIf="activityRoleBindings" [inForm]="stateForm" [applicableButtons]="applicableButtons"
  [activityRoleBindings]="activityRoleBindings" (closeEvent)="closeForm()"
    (clearEvent)="clearForm()">
</app-action-panel>
  <!-- <div class="button-panel" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">

    <div>
      <button mat-raised-button type="button" color="primary" (click)="close()" matTooltip="Close"><i
          class="material-icons">close</i> Close</button>
    </div>
    <div>
      <button mat-raised-button type="button" (click)="addNew()">
        <i class="material-icons">add</i> Add</button>
    </div>
    <div>
      <button mat-raised-button color="warn" type="button" [disabled]="selected.length === 0" (click)="delete()">
        <i class="material-icons">delete_forever</i> Delete</button>
    </div>
    <div>
      <button mat-raised-button color="primary" type="button" [disabled]="!stateForm.valid || !stateForm.touched"
        (click)="onSubmit(stateForm.value)">
        <i class="material-icons" matTooltip="Save">save</i> Save</button>
    </div>
  </div> -->
</form>