<mat-toolbar color="primary" class="fixed-header-master">
    <app-sub-heading [route]="route"></app-sub-heading> 
</mat-toolbar>
<div>
    <ngx-alerts></ngx-alerts>
    <div class="example-loading-shade" *ngIf="spinStart">
        <mat-spinner *ngIf="spinStart"></mat-spinner>
    </div>
    <form [formGroup]="emailForm">
            <mat-card>
                    <mat-toolbar color="primary" class="fixed-header-master">
                    
                            <app-sub-heading  [route]="route"></app-sub-heading>
                            
                            <span class="example-spacer"></span>
                            <div>                              
                                <!-- <i (click)="rightsidenav.toggle()" class="material-icons menu-icon top-search">list</i> -->
                              </div>
                        </mat-toolbar>

                        <mat-card-content>
                                <div fxLayout.lt-md="column" fxLayoutGap="10px">

                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">
                    
                                                    <mat-form-field>
                                                        <input matInput placeholder="{{'Email User Name'|translate}}" formControlName="emailUserName" />
                                                      
                                                    </mat-form-field>
                    
                    
                                                </div>
                                            </div>

                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                    <div fxFlex="50%">
                        
                                                        <mat-form-field>
                                                            <input matInput placeholder="{{'Email Password'|translate}}" formControlName="emailPassword" />
                                                          
                                                        </mat-form-field>
                        
                        
                                                    </div>
                                                </div>

                                    </div>


                                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                    <div fxFlex="50%">
                        
                                                        <mat-form-field>
                                                                <textarea matInput placeholder="{{'Email Subject'|translate}}" formControlName="emailSubject"></textarea>
                                                           
                                                          
                                                        </mat-form-field>
                        
                        
                                                    </div>
                                                </div>

                                                <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                        <div fxFlex="50%">
                            
                                                            <mat-form-field>
                                                                    <textarea matInput placeholder="{{'Email Text'|translate}}" formControlName="emailText"></textarea>
                                                              
                                                            </mat-form-field>
                            
                            
                                                        </div>
                                                    </div>
                             </div>


                             <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                    <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                   
                                                              <mat-checkbox formControlName="emailEnabled" >
                                                                <label>{{'Active'|translate}}</label>
                                                              </mat-checkbox>
                                                            

                                                </div>
                                                </div>
                                </div>

                             
                                


                            </mat-card-content>

                            <div>
                                    <button mat-raised-button color="primary" (click)="onSubmit(emailForm.value)">{{'Save AND CLOSE'|translate}}</button>
                                </div>
                </mat-card>

                
        </form>



</div>