
<div [formGroup]="group">
        <div class="grid-container">
          <div class="grid-cell-header">
              <label>Format 1</label>
          </div>
          <div class="grid-cell-header">
            <label>Format 2</label>
        </div>  
        <div class="grid-cell-header">
          <label>Format 3</label>
      </div>
      <div class="grid-cell-header">
        <label>Format 4</label>
      </div>
      
      </div>
      </div>
      