// table {
//     width: 100%;
//     height: 500pt;
//     margin-bottom: 100pt;
//   }
// .example-container-new {
//   height: 50vh;
//   width: 90vw;
//   overflow: auto;
// }

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  
  .mat-table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      display: table;
      border-collapse: collapse;
      margin: 0px;
  }
  
  .mat-row,
  .mat-header-row {
      display: table-row;
  }
  
  .mat-cell,
  .mat-header-cell {
      word-wrap: initial;
      display: table-cell;
      padding: 0px 5px;
      line-break: unset;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
  }

  tr.mat-footer-row {
    font-weight: bold;
  }
  
  tr.mat-header-row {
    font-weight: bold;
  }

  .mat-table-sticky {
    border-top: 1px solid #e0e0e0;
  }

  .mat-cell {    
    border-right: 1px solid black;
  }

  .mat-header-cell {    
    border-right: 1px solid black;
    text-align: center;
    font-size: 12pt;
    background-color: #e0e0e0;
  }
  .mat-footer-cell {    
    border-right: 1px solid black;
    // text-align: center;
    // font-size: 12pt;
    // background-color: #e0e0e0;
  }

  }

 