<table mat-table 
 [dataSource]="dataSource" class="table-responsive mat-elevation-z8">

  

    <ng-container matColumnDef="invoiceNumber">
      <th mat-header-cell *matHeaderCellDef> Invoice Number </th>
      <td mat-cell *matCellDef="let element"> {{element.invoiceNumber}} </td>
      <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>
  

    <ng-container matColumnDef="invoiceDate">
      <th mat-header-cell *matHeaderCellDef> Invoice Date </th>
      <td mat-cell *matCellDef="let element"> {{element.invoiceDate}} </td>
      <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>
  
    <ng-container matColumnDef="partyName">
        <th mat-header-cell *matHeaderCellDef> Party Name </th>
        <td mat-cell *matCellDef="let element"> {{element.partyName}} </td>
        <td mat-footer-cell *matFooterCellDef> Total </td>
      </ng-container>


    <ng-container matColumnDef="payDetails">
        <th mat-header-cell *matHeaderCellDef> Payment Details </th>
        <td mat-cell *matCellDef="let element"> 
            <ngx-datatable  [rows]="element.payDetails" style="overflow: auto; padding: 0px;">
                <ngx-datatable-column headerClass="inner-header-cell"  prop="slNo" cellClass="inner-cell-ngx">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        SL NO
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column headerClass="inner-header-cell"  prop="payNumber" cellClass="inner-cell-ngx">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        Pay Ref Number
                    </ng-template>
                </ngx-datatable-column>
                
                <ngx-datatable-column headerClass="inner-header-cell" prop="paidDate" cellClass="inner-cell-ngx">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        Paid Date
                    </ng-template>
                </ngx-datatable-column>



                <ngx-datatable-column headerClass="inner-header-cell" prop="status" cellClass="inner-cell-ngx">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        Status
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column headerClass="inner-header-cell" prop="amountPaid" cellClass="inner-cell-ngx inner-cell-ngx-right">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        Amount Paid
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column headerClass="inner-header-cell" prop="balanceAmount" cellClass="inner-cell-ngx inner-cell-ngx-right">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        Balance Amount
                    </ng-template>
                </ngx-datatable-column>

            </ngx-datatable>
          </td>
        <td mat-footer-cell *matFooterCellDef> Total </td>
      </ng-container>
  
      <ng-container matColumnDef="totalAmount">
        <th mat-header-cell *matHeaderCellDef> Total Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.totalAmount}} </td>
        <td mat-footer-cell *matFooterCellDef> Total </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
  </table>

  <div style="height:50pt;">
    <button (click)="saveAsExcel()">Excel</button>
  </div>
