<div fxLayout="column">
  <div fxLayout="row">
     <div>
        <span [translate]="title">
      <label class="form-header-lbl" >{{title|translate}}</label>
    </span>
    </div> 
    <div *ngIf="transactionNumber!= null">
      <label fxShow.lt-md="false">[{{transactionNumber|translate}} - {{statusName|translate}}]</label>
    </div>
  </div>
  <div fxShow.lt-md="false">
    <h6 class="sub-hint" >{{subheading|translate}}</h6>
  </div>

</div>

<!-- <div fxLayout="column">
        <div>
            <label>{{title}}</label>
        </div>

        <div >
            <h6 class="sub-hint">{{subheading}}</h6>
        </div>
    </div> -->