<mat-toolbar color="primary" class="fixed-header">

    <div *ngIf='transactionType'>
        <app-sub-heading [transactionNumber]="prForm?.get('payReferenceNumber').value"
            [statusName]="prForm?.get('statusName').value" [route]="route">
        </app-sub-heading>
    </div>

    <span class="example-spacer">

    </span>
    <div>
        <i class="material-icons  menu-icon top-search" id="help_videos" (click)="helpVideos()"
        matTooltip="{{'Help Videos'|translate}}">help</i>
        </div> 
    <!-- <label class="form-header-lbl">{{transactionType?.name}}</label>
    <span class="example-spacer">
        <div *ngIf="prForm?.get('payReferenceNumber').value!= null">
            <label>[{{prForm?.get('payReferenceNumber').value}} - {{prForm?.get('statusName').value}}]</label>
        </div>
    </span> -->

    <div>
        <i (click)="rightsidenav.toggle()" class="material-icons menu-icon top-search">list</i>
    </div>

    <div *ngIf="prForm && prForm.get('id').value!= null" class="bottom">
    
        <mat-hint *ngIf="showTheCreatedBy" class="mat-hints">{{'Created By:'|translate}} {{prForm?.get('updateBy').value}}/{{prForm?.get('updatedDate').value| date: 'dd/MM/yyyy'}} </mat-hint>
        <mat-hint *ngIf="!showTheCreatedBy" class="mat-hints">{{'LastUpdated By:'|translate}} {{prForm?.get('updateBy').value}}/{{prForm?.get('updatedDate').value| date: 'dd/MM/yyyy'}} </mat-hint>          </div>
</mat-toolbar>
<ngx-alerts></ngx-alerts>

<div class="form-top">
</div>

<mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav position="end" #rightsidenav>
        <div *ngIf='transactionType'>
            <recent-prs (prHeader)="recentPayableAndReceivableGet($event); rightsidenav.toggle()"
                (noDataFound)="whenNoDataFound($event)" [transactionType]="transactionType"
                [recentPrLoadCounter]="recentPrLoadCounter"></recent-prs>
        </div>
    </mat-sidenav>

    <mat-sidenav-content fxFlexFill>

        <div class="example-loading-shade" *ngIf="spinStart">
            <mat-spinner *ngIf="spinStart"></mat-spinner>
        </div>
        <form *ngIf="prForm" [formGroup]="prForm" #formDirective="ngForm">
            <mat-card>
                <!-- <mat-toolbar color="primary">
                    <label class="form-header-lbl">{{transactionType?.name}}</label>
                    <span class="example-spacer"></span>
                    <div>
                        <i (click)="rightsidenav.toggle()" class="material-icons menu-icon top-search">search</i>
                    </div>
                </mat-toolbar> -->
                <mat-card-header>
                    <mat-card-subtitle *ngIf="prForm.get('payReferenceNumber').value!=null">
                        <label>[{{prForm.get('payReferenceNumber').value}} - {{prForm.get('statusName').value}}]</label>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div>
                        <div>                        
                            <mat-radio-group (change)="mainPartyTypeChange()" [(ngModel)]="mainPartyType" [ngModelOptions]="{standalone: true}">
                                <mat-radio-button id="pay_customer" [value]="'customer'">
                                    <label>{{partyPlaceHolder|translate}}</label>
                                </mat-radio-button> &nbsp; &nbsp;
                                <mat-radio-button id="pay_jobworker" [value]="'jobworker'">
                                    <label>{{jwPartyPlaceHolder|translate}}</label>
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <input matInput placeholder="{{'Payment Ref #'|translate}}" id="pay_payReferenceNumber" [readonly]="isAutoNumber"
                                        formControlName="payReferenceNumber"  />
                                </mat-form-field>
                            </div>

                            <div fxFlex="50%">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="prpDatepicker" id="pay_payReferenceDate" [min]="minDate" [max]="maxDate"
                                        readonly placeholder="{{'Date*'|translate}}" formControlName="payReferenceDate">
                                    <mat-datepicker-toggle matSuffix [for]="prpDatepicker"></mat-datepicker-toggle>
                                    <!-- <button mdSuffix [matDatepickerToggle]="prpDatepicker"></button> -->
                                    <mat-datepicker #prpDatepicker></mat-datepicker>
                                    <mat-error *ngIf="prForm.controls.payReferenceDate?.invalid">Please enter Payment
                                        Reference Date</mat-error>

                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">

                                <mat-form-field *ngIf="isPartyChangeable" style="width:80%"
                                    hintLabel="{{'start typing to search for customer...'|translate}}">
                                    <input type="text" matInput formControlName="partyName"
                                        [matAutocomplete]="autoParty" id="pay_partyName">
                                    <mat-placeholder>{{'Party*'|translate}}</mat-placeholder>
                                    <mat-autocomplete #autoParty="matAutocomplete" [displayWith]="displayFnParty">
                                        <mat-option (onSelectionChange)="partyChanged($event,party)"
                                            *ngFor="let party of filteredParties | async" [value]="party" id="pay_party" [matTooltip]="party.partyCode +'-'+party.name + (party.areaName ? '[' +party.areaName + ']' : '')">
                                            {{party.partyCode}}-{{party.name}} {{party.areaName ? '[' +party.areaName + ']' : ''}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="prForm.controls.partyName?.invalid">Please choose Party Name
                                    </mat-error>

                                </mat-form-field>

                                <mat-form-field *ngIf="!isPartyChangeable">
                                    <input matInput [placeholder]="partyPlaceHolder" readonly formControlName="partyName" id="pay_partyName">
                                </mat-form-field>


                            </div>
                            <div fxFlex="50%">
                                <div>
                                    <span>{{'Payment Mode'|translate}}</span>
                                </div>
                                <mat-radio-group (change)="getClearingMethod($event)" [disabled]="prForm.disabled"
                                    formControlName="clearingMode" id="pay_clearingMode">
                                    <mat-radio-button [checked]="prForm.get('clearingMode').value === paymentMethodAuto"
                                        [value]="paymentMethodAuto" id="pay_paymentMethodAuto">
                                        <label>{{'Auto'|translate}}</label>
                                    </mat-radio-button> &nbsp; &nbsp;
                                    <mat-radio-button
                                        [checked]="prForm.get('clearingMode').value === paymentMethodManual"
                                        [value]="paymentMethodManual" id="pay_paymentMethodManual">
                                        <label>{{'Manual'|translate}}</label>
                                    </mat-radio-button>
                                </mat-radio-group>

                            </div>
                        </div>
                    </div>
                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <input matInput placeholder="{{'Payment Amount*'|translate}}" [readonly]="!isClearingModeAuto"
                                        OnlyNumber="true" class="input-num" formControlName="paymentAmount"  id="pay_paymentAmount"
                                        (change)="patchItemPayingAmountMainWrapper(payingAmountChange)" />
                                    <mat-error *ngIf="prForm.controls.paymentAmount?.invalid">Please enter Payment
                                        Amount</mat-error>

                                </mat-form-field>

                            </div>
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <mat-placeholder>
                                       {{'Payment By*'|translate}}
                                    </mat-placeholder>
                                    <mat-select formControlName="paymentMethodId"
                                        (selectionChange)="onPaymentMethodChange()" id="pay_paymentAmount" [disabled]="prForm.disabled">
                                        <mat-option *ngFor="let paymentMethod of paymentMethods"
                                            [value]="paymentMethod.id" id="pay_paymentMethod">
                                            {{paymentMethod.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="prForm.controls.paymentMethodId?.invalid">Please choose Payment
                                        Method </mat-error>

                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field *ngIf="showNonCashType">
                                    <input matInput [matDatepicker]="prDatepicker" readonly [max]="todaysDate"
                                        placeholder="{{'Payment Document Date'|translate}}" id="pay_paymentDocumentDate" formControlName="paymentDocumentDate">
                                    <mat-datepicker-toggle matSuffix [for]="prDatepicker"></mat-datepicker-toggle>
                                    <!-- <button mdSuffix [matDatepickerToggle]="prDatepicker"></button> -->
                                    <mat-datepicker #prDatepicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div fxFlex="50%">
                                <mat-form-field *ngIf="showNonCashType" style="width:100%">
                                    <input matInput placeholder="{{'Bank Name'|translate}}" formControlName="bankName" id="pay_bankName"/>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field *ngIf="showNonCashType">
                                    <input matInput placeholder="{{'Payment Document Number'|translate}}" 
                                        formControlName="paymentDocumentNumber" id="pay_paymentDocumentNumber"/>
                                </mat-form-field>
                            </div>
                            <div fxFlex="50%">
                                <mat-form-field *ngIf="showCardType">
                                    <mat-placeholder>
                                        {{'Card Type'|translate}}
                                    </mat-placeholder>
                                    <mat-select formControlName="cardTypeId" [disableControl]="prForm.disabled" [disabled]="prForm.disabled" id="pay_cardTypeId">
                                        <mat-option *ngFor="let card of cardTypes" [value]="card.id">
                                            {{card.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">

                            <div fxFlex="50%">
                                <div fxLayout="row" fxLayoutAlign="space-between stretch">
                                    <div fxFlex="90">

                                        <mat-form-field *ngIf="creditDebitNotes.length > 0" hintLabel="Please click on next checkbox to apply notes">
                                            <mat-placeholder>{{'Note'|translate}}</mat-placeholder>
                                            <mat-select formControlName="creditDebitId" multiple
                                                [disableControl]="prForm.disabled" id="pay_creditDebitId">
                                                <mat-option *ngFor="let note of creditDebitNotes" [value]="note.id" id="pay_note">
                                                    {{note.invoiceNumber}}(Rs. {{note.grandTotal}})
                                                </mat-option>
                                            </mat-select>
                                            <!-- <button mat-mini-fab color="primary" [disabled]="!prForm.controls.creditDebitNumber.invalid || !prForm.controls.creditDebitNumber.touched"
                                    (click)="onNoteChange()" matTooltip="Apply">
                                        <i class="material-icons">done</i>
                                    </button> -->
                                        </mat-form-field>
                                        <mat-form-field *ngIf="creditDebitNotes.length === 0">
                                            <input matInput placeholder="{{'Note'|translate}}" readonly
                                                formControlName="creditDebitNumber" id="pay_creditDebitNumber">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="10">
                                        <mat-icon matTooltip="Apply Credit/Debit Note"
                                            style="font-size: 35px; cursor: pointer;" color="accent"
                                            *ngIf="!prForm.controls.creditDebitId.invalid && prForm.controls.creditDebitId.touched && !prForm.disabled"
                                            matSuffix (click)="patchItemPayingAmountMain(noteAmountApplied)" id="pay_patchItemPayingAmountMain">
                                            check_circle</mat-icon>
                                    </div>
                                </div>
                            </div>

                            <div fxFlex="50%">
                                <mat-form-field style="width:100%">
                                    <textarea matInput placeholder="{{'Remarks'|translate}}" id="pay_paymentNote" formControlName="paymentNote"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    
            


                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <div class="panel-heading bg-primary">
                        <label><b>{{'Invoice Selection'|translate}}</b></label>
                    </div>

                    <div formArrayName="payableReceivableItems" class="pr-items" style="height: 50vh; position: relative;">
                        <div *ngFor="let item of prForm.get('payableReceivableItems')['controls']; let idx=index" [ngClass.gt-sm]="{'item-sticky-header': idx === 0}">
                            <pay-receive-item [group]="item" [statusName]="prForm.get('statusName').value" [isClearingModeAuto]="isClearingModeAuto" [index]="idx"
                                (deleteIndex)="removePRItem($event)" (changeCounter)="itemChanged($event)">
                            </pay-receive-item>
                        </div>

                    </div>
                    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center end" fxLayoutGap="10px">
                        <div fxFlex="80">
                        </div>
                        <div fxFlex="20">
                            <!-- <mat-form-field>
                                <input matInput placeholder="Total Amount" class="input-num" formControlName="paymentAmount" readonly />
                            </mat-form-field> -->
                            <label><b>{{'Total Amount:'|translate}} </b></label>{{prForm.get('paymentAmount').value}}
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <app-action-panel *ngIf="activityRoleBindings" [inForm]="prForm" [applicableButtons]="applicableButtons"
                [activityRoleBindings]="activityRoleBindings" [primaryKey]="prForm.get('id').value"
                [statusId]="prForm.get('statusId').value" [statusBasedPermission]="statusBasedPermission"
                (editEvent)="edit()" (saveEvent)="save(prForm.value)" (closeEvent)="closeForm()" (deleteEvent)="delete()" (printEvent)="print()"
                (saveAsDraftEvent)="saveAsDraft()" (clearEvent)="clearForm(formDirective)">
            </app-action-panel>
        </form>
    </mat-sidenav-content>
</mat-sidenav-container>