<div>
  <h1 mat-dialog-title>{{'Transaction Information'|translate}}</h1>
  <mat-dialoge-component [formGroup]="autoTransactionPopUpForm">
    <div fxLayout.lt-md="column" fxLayoutGap="10px">

      <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <div fxFlex="50%">
          <mat-form-field>
            <mat-placeholder>{{'Period To create Invoice*'|translate}}</mat-placeholder>
            <mat-select formControlName="periodToCreateTransaction" [disabled]="disables" (selectionChange)="onSelect($event)">
              <mat-option *ngFor="let period of periodToCreateTransactions" [value]="period.id">{{period.name}}</mat-option>
            </mat-select>

          </mat-form-field>
        </div>
      </div>

      <div *ngIf="dateToGenerate" fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <div fxFlex="50%">
          <mat-form-field>
            <mat-placeholder>{{'Date To Generate Invoice'|translate}}</mat-placeholder>
            <mat-select formControlName="daysOfMonth" [disabled]="disables">
              <mat-option *ngFor="let date of dateToGenerateInvoices" [value]="date.id">{{date.id}}</mat-option>
            </mat-select>

          </mat-form-field>
        </div>
      </div>

    </div>


    <div fxLayout.lt-md="column" fxLayoutGap="10px">


      <div *ngIf="weeks" fxFlex="50%">
        <mat-form-field>
          <mat-placeholder>{{'Days Of Weeks'|translate}}</mat-placeholder>
          <mat-select formControlName="daysOfWeek" [disabled]="disables">
            <mat-option *ngFor="let days of daysOfWeeks" [value]="days.id">{{days.name}}</mat-option>
          </mat-select>

        </mat-form-field>
      </div>


      <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <div fxFlex="50%">
          <mat-form-field>
            <input matInput [min]="financialMinDate" [max]="financialMaxDate" [matDatepicker]="autoTransactionDatepicker" readonly placeholder="{{'Date To StartTranaction*' | translate}}"
              formControlName="startDate" [disabled]="disables">
            <mat-datepicker-toggle matSuffix [for]="autoTransactionDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #autoTransactionDatepicker [disabled]="disables"></mat-datepicker>
            <mat-error *ngIf="autoTransactionPopUpForm.controls.startDate?.invalid">Please enter startDate</mat-error>
          </mat-form-field>
        </div>
      </div>

    </div>


    <div fxLayout.lt-md="column" fxLayoutGap="10px">

      <div fxFlex="50%">

        <mat-form-field>
          <input matInput placeholder="{{'Count Of Invoice' | translate}}" formControlName="countOfInvoice">
          <mat-error *ngIf="autoTransactionPopUpForm.controls.countOfInvoice?.invalid">Please enter valid count</mat-error>
        </mat-form-field>
      </div>






    </div>




    <div fxLayout.lt-md="column" fxLayoutGap="50px">
      <!-- <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="50px">
          <div  fxLayoutGap="50px">

     
        
        
        
               
              </div> 
</div> -->
      <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <div fxFlex="50%">

          <mat-checkbox formControlName="email" [disabled]="autoTransactionPopUpForm.disabled">
            <label>{{'Enable Email'|translate}}</label>
          </mat-checkbox>
        </div>
      </div>



    </div>






  </mat-dialoge-component>

  <mat-dialog-actions>
    <button mat-raised-button type="button" (click)="close()" matTooltip="Close">
      <i class="material-icons">close</i> {{'Close'|translate}}</button>
    <button mat-raised-button type="button" (click)="save()" [disabled]="!autoTransactionPopUpForm.valid" matTooltip="Save">
      <i class="material-icons">save</i> {{'Save'|translate}}</button>
    <button mat-raised-button type="button" (click)="stopTransaction()" [disabled]="disableStop" matTooltip="Stop">
      <i class="material-icons">stop</i> {{'Stop'|translate}}</button>
  </mat-dialog-actions>
</div>