<!-- <div [formGroup]="group">
        <div *ngIf="idx === 0" class="grid-container">
            <div class="grid-cell-header">
                <label>UOM</label>
            </div>
            <div class="grid-cell-header">
                    <label>Action</label>
                </div>
        </div>
        <div class="grid-container">
          <div class="grid-cell">
              <input type="text" class="input-sm" formControlName="name">
          </div>
          <div class="grid-cell input-sm">
                <mat-icon class="delete-class" (click)="delete(idx)">delete</mat-icon>
                <mat-icon class="delete-class" (click)="add(idx)">add</mat-icon>
            </div>
        </div>
        </div> -->

        <div [formGroup]="group" class="items" fxLayout="column" fxLayoutAlign="stretch">
            <div *ngIf="idx === 0" fxLayout="row" fxLayoutAlign="stretch" fxLayoutGap="1px" fxHide.lt-md="true">
                <div class="item-header" fxFlex="70" color="primary">
                    <mat-toolbar class="item-header" color="primary">{{'UOM'|translate}}</mat-toolbar>
                </div>
                <div class="item-header" fxFlex="30" color="primary">
                    <mat-toolbar class="item-header" color="primary">{{'Action'|translate}}</mat-toolbar>
                </div>
            </div>
        
            <div fxLayout="row" fxHide.lt-md="true" fxLayoutAlign="space-between center">
                <div fxFlex="70">
                    <mat-form-field class="input-container" appearance="outline">
                        <input matInput class="input-sm " type="text" formControlName="name">
                    </mat-form-field>
                </div>
                <div fxFlex="30">
                    <mat-icon class="delete-class" (click)="delete(idx); $event.stopPropagation()">delete</mat-icon>
                    <mat-icon  *ngIf="(taxMaxIndex - 1) === idx" class="delete-class" (click)="add(idx)">add</mat-icon>
                </div>
            </div>
        
            <div fxLayout="column" fxLayoutGap="2px" fxLayoutAlign="space-evenly stretch" fxShow="false" fxShow.lt-md="true" class="small-item-view">
        
                <div fxLayout="row">
                    <mat-toolbar class="item-header" fxFlex="40" color="primary">UOM</mat-toolbar>
                    <div class="input-container" fxFlex="60">
                        <mat-form-field>
                            <input matInput class="input-sm " type="text" formControlName="name">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row">
                    <mat-toolbar class="item-header" fxFlex="40" color="primary">Action</mat-toolbar>
                    <div fxFlex="60">
                        <mat-icon class="delete-class " (click)="delete(idx); $event.stopPropagation()">delete</mat-icon>
                        <mat-icon class="delete-class"  *ngIf="(taxMaxIndex - 1) === idx" (click)="add(idx)">add</mat-icon>
                    </div>
                </div>
            </div>
        </div>