
<mat-toolbar color="primary" class="fixed-header-master">
    <app-sub-heading [route]="route"></app-sub-heading>
</mat-toolbar>

<ngx-alerts></ngx-alerts>
<div class="example-loading-shade" *ngIf="spinStart">
    <mat-spinner *ngIf="spinStart"></mat-spinner>
</div>
<mat-card>

    <mat-card-content>

        <form [formGroup]="financialForm" (ngSubmit)="onSubmit(financialForm.value)">

            <div fxLayout="column" class="items" fxLayoutGap="2px" fxLayoutAlign="space-evenly stretch">
                <div fxLayout="row" fxHide.lt-md="true" fxLayoutGap="2px" fxLayoutAlign="space-evenly stretch">
                    <div class="item-header" fxFlex="40">
                        <mat-toolbar class="item-header" color="primary">{{'Financial Year Name'|translate}}</mat-toolbar>
                    </div>
                    <div class="item-header" fxFlex="20" color="primary">
                        <mat-toolbar class="item-header" color="primary">{{'Start Date'|translate}}</mat-toolbar>
                    </div>
                    <div class="item-header" fxFlex="20" color="primary">
                        <mat-toolbar class="item-header" color="primary">{{'End Date'|translate}}</mat-toolbar>
                    </div>
                    <div class="item-header" fxFlex="10" color="primary">
                        <mat-toolbar class="item-header" color="primary">{{'Active'|translate}}</mat-toolbar>
                    </div>
                    <div class="item-header" fxFlex="10" color="primary">
                        <mat-toolbar class="item-header" color="primary">{{'Action'|translate}}</mat-toolbar>
                    </div>
                </div>

                <div formArrayName="financialYearList"
                    *ngFor="let financialYear of financialForm.get('financialYearList')['controls']; let i = index;">
                    <div [formGroupName]="i">
                        <div fxLayout="row" fxHide.lt-md="true" fxLayoutGap="2px" fxLayoutAlign="space-evenly stretch">
                            <div fxFlex="40">
                                <mat-form-field class="input-container" appearance="outline">
                                    <input matInput class="input-sm " type="text" color="primary"
                                        formControlName="financialYear">
                                    <mat-error *ngIf="financialForm.controls.financialYear?.invalid">Please enter
                                        Financial Year</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="20">
                                <mat-form-field class="input-container" appearance="outline">
                                    <input matInput [matDatepicker]="picker" color="primary"
                                        (dateChange)="addOneYear($event,i)" readonly formControlName="startDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div fxFlex="20">
                                <mat-form-field class="input-container" appearance="outline">
                                    <!-- <input matInput class="input-sm " type="text" color="primary" formControlName="endDate"> -->
                                    <input matInput [matDatepicker]="picker2" disabled color="primary" readonly
                                        formControlName="endDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div fxFlex="10" class="center">
                                <mat-checkbox formControlName="isActive" color="primary" (change)="checkIsDefault(i)">
                                </mat-checkbox>
                            </div>
                            <div fxFlex="10">
                                <mat-icon class="delete-class" (click)="delete(i);; $event.stopPropagation()">{{'delete'|translate}}
                                </mat-icon>
                                <mat-icon *ngIf="financialForm.get('financialYearList')['controls'].length-1 === i"
                                    class="delete-class" (click)="addBlankFinItem(idx)">{{'add'|translate}}</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>



                <div formArrayName="financialYearList"
                *ngFor="let financialYear of financialForm.get('financialYearList')['controls']; let i = index;">
                <div [formGroupName]="i">
                    <div fxLayout="column" fxLayoutAlign="space-evenly stretch" fxShow="false" fxShow.lt-md="true" class="small-item-view" fxLayoutGap="5px">
                        <div >
                            <mat-toolbar class="item-header" fxFlex="30" color="primary">{{'Financial Year Name'|translate}}
                            </mat-toolbar>
                            <div fxFlex="70" class="input-container">
                                <mat-form-field class="inputfields">
                                    <input matInput class="input-sm " type="text" formControlName="financialYear">
                                </mat-form-field>
                            </div>
                        </div>
                        <div >
                            <mat-toolbar  class="item-header" fxFlex="30" color="primary">{{'Start Date'|translate}}</mat-toolbar>
                            <div class="input-container" fxFlex="70">
                                <mat-form-field class="inputfields">
                                    <input  matInput [matDatepicker]="picker1" readonly formControlName="startDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker (selectedChanged)="addOneYear($event,i)" #picker1>
                                    </mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div >
                            <mat-toolbar class="item-header" fxFlex="30" color="primary">{{'End Date'|translate}}</mat-toolbar>
                            <div class="input-container" fxFlex="70">
                                <mat-form-field class="inputfields">
                                    <input matInput [matDatepicker]="picker2" color="primary" readonly
                                        formControlName="endDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div >
                            <mat-toolbar class="item-header" fxFlex="30" color="primary">{{'Is Active'|translate}}</mat-toolbar>
                            <div class="inputfields" class="input-container" fxFlex="70">
                                <mat-checkbox formControlName="isActive" (change)="checkIsDefault(i)">
                                </mat-checkbox>
                            </div>
                        </div>

                        <div >
                            <mat-toolbar class="item-header" fxFlex="30" color="primary">{{'Action'|translate}}</mat-toolbar>
                            <div fxFlex="70" class="inputfields">
                                <mat-icon class="delete-class " (click)="delete(index)">{{'delete'|translate}}</mat-icon>
                                <mat-icon class="delete-class" (click)="addBlankFinItem()">{{'add'|translate}}</mat-icon>
                            </div>
                        </div>

                        <div class="space">
                        </div>

                    </div>

                </div>
            </div>




            </div>
        </form>

        <app-action-panel *ngIf="activityRoleBindings" 
        [inForm]="financialForm" 
        [applicableButtons]="applicableButtons"
        [activityRoleBindings]="activityRoleBindings" 
        (closeEvent)="closeForm()" 
        (saveEvent)="beforeSubmit(financialForm.value)" >
    </app-action-panel>

    </mat-card-content>

</mat-card>