 <div>
    <h1 mat-dialog-title>{{'Category Information'|translate}}</h1>
 <mat-dialoge-component [formGroup]="categoryPopUpForm"> 
    <div fxLayout.lt-md="column" fxLayoutGap="10px">
    
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            <mat-form-field class="input-container">
              <input matInput placeholder="Category Name*" formControlName="name" />
              <mat-error *ngIf="categoryPopUpForm.controls.name?.invalid">Please enter category</mat-error>
            </mat-form-field>
          </div>
        </div>
    
     
      </div>
  
    </mat-dialoge-component>

    <mat-dialog-actions>
        <button  mat-raised-button type="button" (click)="close()" matTooltip="Close"><i class="material-icons">close</i> {{'Close'|translate}}</button>    
        <button mat-raised-button type="button" (click)="save()" matTooltip="Save" ><i class="material-icons">save</i> {{'Save'|translate}}</button>
      
          </mat-dialog-actions>
</div>
