<!-- <mat-toolbar color="primary" class="fixed-header-master">
  <div fxLayout="column">
    <div>
      <label class="form-header-lbl">Country Master</label>
    </div>

    <div>
      <h6 style="font-size: small" >this page is used to record Information about country</h6>
    </div>
  </div>
</mat-toolbar> -->
<mat-toolbar color="primary" class="fixed-header-master">
<app-sub-heading [route]="route"></app-sub-heading>
</mat-toolbar>


<div class="form-top">

</div>
<ngx-alerts></ngx-alerts>
<form *ngIf="countryForm" [formGroup]="countryForm">



  <mat-card class="example-container">
    <mat-card-header class="card-header">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div fxFlex>
          <mat-form-field>
            <mat-placeholder>{{'Type to filter country...'|translate}}</mat-placeholder>
            <input matInput (keyup)='updateFilter($event)'>
          </mat-form-field>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div formArrayName="countries">
        <ngx-datatable #table class="material" [rows]="countryForm.get('countries').value" [columnMode]="'force'"
          [headerHeight]="'auto'" [scrollbarH]="true" [footerHeight]="50" [rowHeight]="'auto'" [selected]="selected"
          [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" [displayCheck]="displayCheck"
          (select)='onSelect($event)' [limit]="pageSize">
          <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
            [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
          </ngx-datatable-column>

          <ngx-datatable-column name="id">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>{{'Sl No'|translate}}</strong>
              </span>
            </ng-template>
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
              <strong>{{rowIndex + 1}}</strong>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="name">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>{{'Country'|translate}}</strong>
              </span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <div [formGroupName]="rowIndex">
                <mat-form-field>
                  <input matInput placeholder="{{'Country'|translate}}" formControlName="name" (change)="checkDuplicate($event)">
                </mat-form-field>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- <app-action-panel *ngIf="activityRoleBindings" [inForm]="countryForm" [applicableButtons]="applicableButtons"
  [activityRoleBindings]="activityRoleBindings" (closeEvent)="closeForm()" (deleteEvent)="delete()"  (addEvent)="addNew()"
   (saveEvent)="submit(countryForm.value)" (clearEvent)="clearForm()">
</app-action-panel> -->
<div class="button-panel" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
  <div>
    <button mat-raised-button type="button" color="primary" (click)="close()" matTooltip="Close">
      <i class="material-icons">close</i> {{'Close'|translate}}
    </button>
  </div>
  <div>
    <button mat-raised-button type="button" (click)="addNew()" [disabled]="!enableSaveButton">
      <i class="material-icons">add</i> {{'Add'|translate}}</button>
  </div>
  <div>
    <button mat-raised-button color="warn" type="button" (click)="delete()" [disabled]="selected.length === 0">
      <i class="material-icons">delete_forever</i> {{'Delete'|translate}}</button>
  </div>
  <div>
    <button mat-raised-button color="primary" type="button" [disabled]="!countryForm.valid || !countryForm.touched || !enableSaveButton"
      (click)="submit(countryForm.value)">
      <i class="material-icons">save</i>
      {{'Save'|translate}}</button>
  </div>
</div>
  <!-- <div class="button-panel" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div>
      <button mat-raised-button type="button" color="primary" (click)="close()" matTooltip="Close">
        <i class="material-icons">close</i> Close
      </button>
    </div>
    <div>
      <button mat-raised-button type="button" (click)="addNew()">
        <i class="material-icons">add</i> Add</button>
    </div>
    <div>
      <button mat-raised-button color="warn" type="button" (click)="delete()" [disabled]="selected.length === 0">
        <i class="material-icons">delete_forever</i> Delete</button>
    </div>
    <div>
      <button mat-raised-button color="primary" type="button" [disabled]="!countryForm.valid || !countryForm.touched"
        (click)="onSubmit(countryForm.value)">
        <i class="material-icons" matTooltip="Save">save</i> Save</button>
    </div>
  </div> -->
</form>