<mat-dialog-content>

    <mat-card *ngIf="prevReferenceLinks.length > 0">
        <mat-card-header>
            <mat-card-title>Backward References</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="start stretch">


                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around center">
                    <!-- <div fxFlex class="custom-head-class">Type</div>
                <div fxFlex class="custom-head-class">Number</div>
                <div fxFlex class="custom-head-class">Status</div>
                <div fxFlex class="custom-head-class">Open</div> -->

                    <mat-toolbar class="item-header" fxFlex="40">Transaction</mat-toolbar>
                    <mat-toolbar class="item-header" fxFlex="20">Number</mat-toolbar>
                    <mat-toolbar class="item-header" fxFlex="30">Status</mat-toolbar>
                    <mat-toolbar class="item-header" fxFlex="10">Open</mat-toolbar>

                </div>
                <div fxLayout="row" fxLayoutGap="10px" *ngFor="let link of prevReferenceLinks" fxLayoutAlign="space-around center">
                    <div fxFlex="40">{{link.transactionTypeName}}</div>
                    <div fxFlex="20">{{link.transactionNumber}}</div>
                    <div fxFlex="30">{{link.statusName}}</div>
                    <div fxFlex="10">

                        <i color="accent" class="material-icons" style="cursor: pointer" (click)="openTran(link.transactionId, link.transactionTypeName, link.transactionTypeId)">open_in_new</i>

                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="linkReferenceLinks.length > 0">
        <mat-card-header>
            <mat-card-title>Forward References</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="start stretch">
                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around center">
                    <mat-toolbar class="item-header" fxFlex="70">Transaction</mat-toolbar>
                    <mat-toolbar class="item-header" fxFlex="20">Number</mat-toolbar>
                    <mat-toolbar class="item-header" fxFlex="10">Open</mat-toolbar>
                </div>

                <div fxLayout="row" fxLayoutGap="10px" *ngFor="let link of linkReferenceLinks" fxLayoutAlign="space-around center">
                    <div fxFlex="70">{{link.sourceTransactionTypeName}}</div>
                    <div fxFlex="20">{{link.sourceTransactionNumber}}</div>
                    <div fxFlex="10">

                        <i color="accent" class="material-icons" style="cursor: pointer" (click)="openTran(link.sourceTransactionId, link.sourceTransactionTypeName, link.sourceTransactionTypeId)">open_in_new</i>

                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button type="button" (click)="close()" matTooltip="Close">
        <i class="material-icons">close</i> Close</button>
</mat-dialog-actions>