// @import '~@angular/material/theming';

// // mixin name will be used in main style.scss
// @mixin ref-link-component-theme($theme) {
  
//   // retrieve variables from theme 
//   // (all possible variables, use only what you really need)
//   $primary: map-get($theme, primary);
//   $accent: map-get($theme, accent);
  
//     .custom-head-class{
//         background-color: mat-color($accent, default) !important;
//     }
// }

// // .custom-head-class{
// //     background-color: black;//mat-color($accent, default) !important;
// // }

.item-header{
    font-size: 10pt;
    // font-weight: bold;
    padding: 2px;
    white-space: normal;
    height:30px;
    text-align: center;
    line-height: 15px;
}