<mat-toolbar color="primary" class="fixed-header">

    <!-- <label class="form-header-lbl">{{transactionType?.name}}</label> -->
    <div *ngIf='transactionType'>
        <app-sub-heading [route]="route">
        </app-sub-heading>
    </div>

    <span class="example-spacer">
    </span>

    <div *ngIf="enableApproveButton" fxLayoutGap="10px">

      
        <section>
            
            <div class="example-button-row">

                <button mat-raised-button color="accent" (click)="approvePettyCash()" matTooltip="Approve PettyCash" >{{'Approve'|translate}}</button>
            </div>
        </section>




       <!-- <i class="material-icons  menu-icon top-search"  (click)="approvePettyCash()" matTooltip="Approve PettyCash">
          file_copy
     </i>  -->
      </div> 
    
    <div>
        <i (click)="rightsidenav.toggle()" class="material-icons menu-icon top-search">list</i>
    </div>

</mat-toolbar>
<ngx-alerts></ngx-alerts>

<div class="form-top">
</div>
<mat-sidenav-container fxFlexFill class="example-container">
        <mat-sidenav position="end" #rightsidenav>
<div *ngIf="transactionType">
        

        <app-recent-petty-cash (pettyCashHeader)="recentPettyCashGet($event); rightsidenav.toggle()"
        (changeCounter)="itemChanged($event)" [recentPettyCashLoadCounter]="recentPettyCashLoadCounter"
        (noDataFound)="whenNoDataFound($event)" [transactionType]="transactionType"></app-recent-petty-cash>

</div>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
                <div class="example-loading-shade" *ngIf="spinStart">
                        <mat-spinner *ngIf="spinStart"></mat-spinner>
                    </div>

                    <form *ngIf="pettyCashForm" [formGroup]="pettyCashForm" > 
                            <mat-card>
                                    <mat-card-content> 

                                            <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                                    <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                        <div fxFlex="50%">
                                                                <mat-form-field *ngIf="pettyCashForm.get('pettyCashNumber').value || !isAutoNumber">
                                                                        <input matInput placeholder="{{'PettyCash Number'|translate}}" [readonly]="isAutoNumber"
                                                                            formControlName="pettyCashNumber" #pettyCashNumber
                                                                             />
                                                                    </mat-form-field>
                                                                    <mat-form-field *ngIf="!pettyCashForm.get('pettyCashNumber').value && isAutoNumber"
                                                                    hintLabel="May get changed if your coleage saves first">
                                                                    <mat-label>{{transactionType?.name|translate}} {{Number|translate}}</mat-label>
                                                                    <input matInput readonly [value]="tempTransactionNumber"
                                                                        matTooltip="For indication only it may get changed after save">
                                                                </mat-form-field>
                                                            </div>
                                                            <div fxFlex="50%">
                                                                    <mat-form-field>
                                                                        <input matInput [matDatepicker]="PettyCashDatepicker" [min]="minDate" [max]="maxDate"
                                                                         readonly placeholder="{{'PettyCash Date*'|translate}}" formControlName="pettyCashDate">
                                                                        <mat-datepicker-toggle matSuffix [for]="PettyCashDatepicker"></mat-datepicker-toggle>
                                                                        <mat-datepicker #PettyCashDatepicker [disabled]="enableDatePicker" ></mat-datepicker>
                                                                       
                                    
                                                                    </mat-form-field>
                                                                </div> 
                                                              </div>
                                                              <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                                <div fxFlex="50%">
                                                                            <mat-form-field>
                                                                                <input matInput placeholder="{{'Opening Balance'|translate}}" readonly formControlName="totalAmount"/>
                                                                                 <mat-error *ngIf="pettyCashForm.controls.totalAmount?.invalid">Please enter TotalAmount
                                                                                </mat-error>
                                            
                                                                            </mat-form-field>
                                                                        </div>

                                                            </div>
                                                        </div>

                                                        <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                                    <div fxFlex="50%">
                                                                            <mat-form-field>
                                                                                <input matInput placeholder="{{'Comments'|translate}}" formControlName="comments" />
                                                                               
                                            
                                                                            </mat-form-field>
                                                                        </div>
                                                                </div>
                                                                </div>
                                                            

                                    </mat-card-content>
                                    </mat-card>


                                    <mat-card>
                                        <mat-card-content>
                        
                                            <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                                <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                    <div fxLayout="row" fxLayoutGap="10px">
                                                        <mat-form-field style="width: 50%">
                                                            <mat-placeholder>
                                                                {{'Category'|translate}}
                                                            </mat-placeholder>
                                                            <mat-select [(ngModel)]="matCategory" [ngModelOptions]="{standalone: true}"
                                                              >
                                                                <mat-option *ngFor="let category of categorys" [value]="category">
                                                                    {{category.name}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                        
                                                        <mat-form-field style="width: 50%">
                                                            <mat-placeholder>
                                                                {{'Tag'|translate}}
                                                            </mat-placeholder>
                                                            <mat-select [(ngModel)]="matTag" [ngModelOptions]="{standalone: true}"
                                                                >
                                                                <mat-option *ngFor="let tag of tags" [value]="tag">
                                                                    {{tag.name}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>

                                                        <mat-form-field style="width: 50%">
                                                            <mat-placeholder>
                                                                {{'Payment Mode'|translate}}
                                                            </mat-placeholder>
                                                            <mat-select [(ngModel)]="matPayment" [ngModelOptions]="{standalone: true}"
                                                                >
                                                                <mat-option *ngFor="let paymentMethod of paymentMethods" [value]="paymentMethod">
                                                                    {{paymentMethod.name}} 
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                      </div>
                                                         </div>
                                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                            <div fxLayout="row" fxLayoutGap="10px">
                                
                                
                                                                <mat-form-field>
                                                                    <mat-hint>Max {{item_length}} characters</mat-hint>
                                                                    <textarea matInput placeholder="{{'Remarks'|translate}}" #input3 maxlength={{item_length}} [(ngModel)]="remarks"
                                                                        [ngModelOptions]="{standalone: true}"></textarea>
                                                                    
                                                                        <mat-hint align="end">{{input3.value?.length || 0}}/{{item_length}}</mat-hint>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <button  mat-mini-fab color="accent" type="button" 
                                                        [disabled]="pettyCashForm.disabled || (!matCategory || !matPayment || !matTag) || disableAdd"
                                                        (click)="addItem()">
                                                        <i class="material-icons">arrow_downward</i>
                                                    </button> 
                                                  
                                                </div>
                        
                                               
                                              
                                               
                                           









                                           








                                            
                                          <div>
                                                <div fxFlex="15">
                                                  <button type="button" mat-raised-button  color="accent" (click)="addNewCategory()">
                                                     {{'Create category'|translate}}
                                                  </button>

                                                  </div>

                                                  <div >
                                                    <button type="button" mat-raised-button  color="accent" (click)="addNewTag()">
                                                      {{'Create Tag'|translate}}
                                                    </button>
                                                </div>
                                              
                                            </div>
                                             
                                            <div formArrayName="pettyCashItems" class="grn-items">

                                                <div *ngFor="let item of pettyCashForm.get('pettyCashItems')['controls']; let idx=index">
                                                  
                                                    <app-petty-cash-item [group]="item" [index]="idx" (changeCounter)="handleChanges()"  (quantityChange)="quantityChange($event)"
                                                        (deleteIndex)="removePettyCashItem($event)">
                                                    </app-petty-cash-item>
                                                </div>
                                            </div>
                                            
                                            <div fxLayout="row" fxLayout.lt-md="column"  fxLayoutGap="10px">

                                                
                                                    <div fxFlex="30">
                                                            <mat-form-field>
                                                                    <input matInput placeholder="{{'Total Incoming Amount'|translate}}" class="input-right" formControlName="totalIncomingAmount"
                                                                        readonly />
                                                                </mat-form-field>
                                                    </div>
                                                
                                                    <div fxFlex="30">
                                                            <mat-form-field>
                                                                    <input matInput placeholder="{{'Total Outgoing Amount'|translate}}" class="input-right" formControlName="totalOutgoingAmount"
                                                                        readonly />
                                                                </mat-form-field>
                                                    </div>
                                                    <div fxFlex="30">
                                                            <mat-form-field>
                                                                    <input matInput placeholder="{{'Total Amount'|translate}}" class="input-right" formControlName="totalAmount"
                                                                        readonly />
                                                                </mat-form-field>
                                                    </div>
                                                   
                                                </div>
                                        </mat-card-content>
                                    </mat-card>
                                    <mat-card>
                                        <mat-card-content>
                        
                        
                                        </mat-card-content>
                                    </mat-card>
                        
                                    <app-action-panel *ngIf="activityRoleBindings" [inForm]="pettyCashForm"
                                        [applicableButtons]="applicableButtons" [activityRoleBindings]="activityRoleBindings"
                                        [primaryKey]="pettyCashForm.get('id').value" (editEvent)="edit()" (closeEvent)="closeForm()"
                                        (deleteEvent)="delete()" (printEvent)="print()" (clearEvent)="clearForm()" 
                                        (saveEvent)="onSubmit(pettyCashForm.value)">
                                    </app-action-panel>



                    </form>

        </mat-sidenav-content>



</mat-sidenav-container>