<div [formGroup]="group" fxLayout="column"   fxLayoutGap="2px"  fxLayoutAlign="space-evenly stretch">
    <div *ngIf="index === 0" fxLayout="row" fxHide.lt-md="true"  fxLayoutGap="2px"   fxLayoutAlign="space-evenly stretch">
        <div class="item-header" fxFlex="5">
            <mat-toolbar class="item-header" color="primary">#</mat-toolbar>
        </div>
        <div class="item-header" fxFlex="10" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Category'|translate}}</mat-toolbar>
        </div>
        <div class="item-header" fxFlex="10" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Payment Mode'|translate}}</mat-toolbar>
        </div>

        <div class="item-header" fxFlex="10" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Incoming Amount'|translate}}</mat-toolbar>
        </div>
        <div class="item-header" fxFlex="10" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'OutgoingAmount'|translate}}</mat-toolbar>
        </div>
        <div class="item-header" fxFlex="15" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Tags'|translate}}</mat-toolbar>
        </div>

        <div class="item-header" fxFlex="45" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Comments'|translate}}</mat-toolbar>
        </div>

        <div class="item-header" fxFlex="10" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Delete'|translate}}</mat-toolbar>
        </div>

    </div>

    <div fxLayout="row" fxHide.lt-md="true"  fxLayoutGap="2px"  fxLayoutAlign="space-evenly stretch">
        <div fxFlex="5">
            <label class="lbl-class">{{index + 1}}</label>
        </div>
        <div fxFlex="10">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm" type="text" readonly color="primary" formControlName="categoryName">
            </mat-form-field>
        </div>
        <div fxFlex="10">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm " type="text" readonly color="primary" formControlName="paymentMethodName">
            </mat-form-field>
        </div>
        <div  fxFlex="10">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm input-right" type="text" color="primary" OnlyNumber="true" (change)="onQuantityChange()" formControlName="incomingAmount">
            </mat-form-field>
        </div>

        <div  fxFlex="10">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm input-right" type="text" color="primary" OnlyNumber="true" (change)="onQuantityChange()" formControlName="outgoingAmount">
            </mat-form-field>
        </div>

        <div  fxFlex="15">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm input-right"  readonly type="text" color="primary"   formControlName="tagName">
            </mat-form-field>
        </div>

        <div  fxFlex="45">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm input-right" type="text" color="primary" formControlName="remarks">
            </mat-form-field>
        </div>

        <div fxFlex="10">
            <button mat-button>
            <mat-icon  *ngIf="!group.disabled" class="delete-class" (click)="delete(index)">{{'delete'|translate}}</mat-icon>
            </button>
        </div>

    </div>
    <div fxLayout="column"  fxLayoutAlign="space-evenly stretch" fxShow="false" fxShow.lt-md="true" class="small-item-view">
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="30" color="primary">#</mat-toolbar>
            <div fxFlex="70">
                <label class="lbl-class">{{index + 1}}</label>
            </div>
        </div>
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="30" color="primary">{{'Category'|translate}}</mat-toolbar>
            <div class="input-container" fxFlex="70">
                <input class="input-sm " type="text" readonly  formControlName="categoryName" >
            </div>
        </div>
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="30" color="primary">{{'Payment Mode'|translate}}</mat-toolbar>
            <div class="input-container" fxFlex="70">
                <input class="input-sm " type="text" readonly  formControlName="paymentMethodName">
            </div>
        </div>
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="30" color="primary">{{'Incoming Amount'|translate}}</mat-toolbar>
            <div class="input-container" fxFlex="70">
                <input class="input-sm input-right " type="text" OnlyNumber="true" (change)="onQuantityChange()" formControlName="incomingAmount">
            </div>
        </div>

        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="30" color="primary">{{'Outgoing Amount'|translate}}</mat-toolbar>
            <div class="input-container" fxFlex="70">
                <input class="input-sm input-right " type="text" OnlyNumber="true" (change)="onQuantityChange()" formControlName="outgoingAmount">
            </div>
        </div>

        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="30" color="primary">{{'Tag'|translate}}</mat-toolbar>
            <div class="input-container" fxFlex="70">
                <input class="input-sm " readonly type="text" formControlName="tagName">
            </div>
        </div>

        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="30" color="primary">{{'Remarks'|translate}}</mat-toolbar>
            <div class="input-container" fxFlex="70">
                <input class="input-sm " type="text"  formControlName="remarks">
            </div>
        </div>

        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="30" color="primary">{{'Delete'|translate}}</mat-toolbar>
            <div fxFlex="70">
                <mat-icon class="delete-class " (click)="delete(index)">{{'delete'|translate}}</mat-icon>
            </div>
        </div>
    </div>





</div>
