<div class="example-container">
    <mat-toolbar color="primary" class="fixed-header-master">
         <div>
             <app-sub-heading [route]="route_in">
             </app-sub-heading>
         </div>
          
       </mat-toolbar>
       <div style="margin-top: 20pt;">
 
     </div>
 
     <mat-accordion>
         <mat-expansion-panel [expanded]="false">
           <mat-expansion-panel-header>
             <mat-panel-title>
               <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5pt">
                 <div>
                   <mat-icon style="font-size:20pt;">filter_list</mat-icon>
                 </div>
                 <div>
                   <p>{{'Filter'|translate}}</p>
                 </div>
               </div>
             </mat-panel-title>
             <mat-panel-description>
     
             </mat-panel-description>
           </mat-expansion-panel-header>
     
           <div fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center start">
             <form [formGroup]="filterForm" novalidate>
               <div fxLayoutAlign="center center" fxLayoutGap="10px">
                 
                 <mat-form-field>
                   <mat-placeholder>
                       {{'Created By'|translate}}
                   </mat-placeholder>
                   <mat-select formControlName="createdBy">
                       <mat-option *ngFor="let employee of employees" [value]="employee.username">
                           {{employee.name}}
                       </mat-option>
                   </mat-select>
     
               </mat-form-field>
               </div>
               <div fxLayoutAlign="end end" fxLayoutGap="10px">                
                 <button mat-raised-button color="primary" (click)="onSearch()">
                   <i class="material-icons menu-icon top-search" matTooltip="Search">search</i>
                 </button>
                 <button mat-raised-button type="button" (click)="clear()"><i class="material-icons" matTooltip="Clear!">clear_all</i></button>
               </div>
             </form>
           </div>
         </mat-expansion-panel>
       </mat-accordion>
       <div class="example-container-new mat-elevation-z8">

        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'CompanyName'|translate}} </th>
            <td  mat-cell *matCellDef="let element" > {{element.name}}</td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  {{'Address'|translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
  
          <ng-container matColumnDef="gstNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'GstNumber'|translate}} </th>
              <td  mat-cell *matCellDef="let element" >{{element.gstNumber}}</td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
  
           
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  {{'Email'|translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
        
          <ng-container matColumnDef="contactPersonName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'ContactPersonName'|translate}} </th>
              <td   mat-cell *matCellDef="let element" >{{element.contactPersonName}}</td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
  
           
          <ng-container matColumnDef="contactPersonNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  {{'ContactPersonNumber'|translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.contactPersonNumber}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
          
          <ng-container matColumnDef="primaryMobile">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>  {{'PrimaryMobile'|translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.primaryMobile}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
        </table>
    
      </div>
      <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
     
     
    </div>
   <div class="button-panel" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">
     
         <div>
         <button mat-raised-button type="button" (click)="close()" matTooltip="Close"><i class="material-icons">close</i> {{'Close'|translate}}</button>
         </div>
         <div>
         <button mat-raised-button type="button" color="primary" (click)="saveAsExcel()" matTooltip="Save as Excel"><i class="material-icons">import_export</i> {{'Export to Excel'|translate}}</button>
         </div>
 
         <div>
             <button mat-raised-button type="button" color="primary" (click)="saveAsPdf()" matTooltip="Save as Pdf"><i class="material-icons">import_export</i>
               {{'Export to Pdf'|translate}}</button>
           </div>
     
         
     </div>
