.from{
    background-color: rgb(226, 221, 221);
    min-height: 30px;
    border-radius: 10px;
    margin: 10px;
    margin-left:5px;
    padding: 5px;
}

.to{
    background-color: rgb(200, 253, 200);
    min-height: 30px;
    margin-left: 10px;
    border-radius: 10px;
    margin: 10px;
    margin-left: 20px;
    padding: 5px;
}

.chat-container{
    position:fixed;
     bottom:0;
     right:0;
     width: 30%;
     min-height: 60%;
     z-index: 90;
    //  border: 1px solid green;
    //  background-color: white;
    // overflow-y: scroll;
    // border-radius: 25px;
    padding: 10px;
}

.chat-icon-container{
    position:fixed;
     bottom:0;
     right:0;
     z-index: 99;
}