
<div class="chat-icon-container">
  <button mat-fab (click)="toggleOpen()">
    <mat-icon>chat</mat-icon>
  </button>
</div>
<div *ngIf="isOpen" class="chat-container">



<mat-card #scrollMe [scrollTop]="scrollMe.scrollHeight" style="min-height:400px; max-height: 400px; margin-bottom: 0px; overflow-y: scroll">
    <mat-toolbar color="primary" >Suktha Assistant
    
    </mat-toolbar>
    <div style="max-height:100%;">

    
<div *ngFor="let message of messages | async">

  <div  class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
                                    'to':   message.sentBy === 'user' }">
    {{ message.content }}
  </div>

</div>
</div>





</mat-card>

<mat-card style="margin-top: 0px;">
    <div fxLayout="row" fxLayoutAlign="start center">
        <!-- <div fxFlex="10">
            <button mat-mini-fab color="accent" *ngIf="!listening"  
            (click)="startListening()">
            <mat-icon>mic</mat-icon>  
            </button>
          
            <button mat-mini-fab color="accent" *ngIf="listening"  
            (click)="abort()">
            <mat-icon>mic_off</mat-icon>
            </button>
          
          </div> -->
        <div fxFlex="90">
          <mat-form-field style="width:95%" appearance="outline">
            <mat-icon matPrefix *ngIf="!listening" color="accent" style="cursor: pointer;"  (click)="startListening()">mic</mat-icon> 
            <mat-icon matPrefix *ngIf="listening"  color="accent" style="cursor: pointer;" (click)="abort()">mic_off</mat-icon> 
            <input matInput placeholder="Your Message" [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text">
          </mat-form-field>
        </div>
        <div fxFlex="10">
            <button mat-mini-fab color="primary" (click)="sendMessage()">
                <mat-icon>send</mat-icon>
              </button>
        </div>
      </div>
</mat-card>


</div>