<div [formGroup]="group" fxLayout="column"   fxLayoutGap="2px"  fxLayoutAlign="space-evenly stretch">
    <div *ngIf="index === 0" fxLayout="row" fxHide.lt-md="true"  fxLayoutGap="2px"   fxLayoutAlign="space-evenly stretch">
        <div class="item-header" fxFlex="5">
            <mat-toolbar class="item-header" color="primary">#</mat-toolbar>
        </div>
        <div class="item-header" fxFlex="55" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Material'|translate}}</mat-toolbar>
        </div>
        <div class="item-header" fxFlex="10" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'DC Quantity'|translate}}</mat-toolbar>
        </div>
        <div class="item-header" fxFlex="15" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Accepted Quantity*'|translate}}</mat-toolbar>
        </div>
        <div class="item-header" fxFlex="15" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Rejected Quantity*'|translate}}</mat-toolbar>
        </div>
        <!-- <div class="item-header" fxFlex="10" color="primary">
            <mat-toolbar class="item-header" color="primary">Delete</mat-toolbar>
        </div> -->
    </div>

    <div fxLayout="row" fxHide.lt-md="true"  fxLayoutGap="2px"  fxLayoutAlign="space-evenly stretch">
        <div fxFlex="5">
            <!-- <label class="lbl-class">{{index + 1}}</label> -->
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm" type="text" color="primary" readonly formControlName="slNo">
            </mat-form-field>
        </div>
        <div fxFlex="55">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm" type="text" color="primary" formControlName="materialName" id="grnItem_materialName">
            </mat-form-field>
        </div>
        <div fxFlex="10">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm input-right" type="text"    color="primary" readonly formControlName="deliveryChallanQuantity" id="grnItem_deliveryChallanQuantity">
            </mat-form-field>
        </div>
        <div  fxFlex="15">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm input-right" type="text"  [OnlyNumber]="true" color="primary" (keyup)="resetRejectedQuantity()" formControlName="acceptedQuantity" id="grnItem_acceptedQuantity">
            </mat-form-field>
        </div>
        <div fxFlex="15">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm input-right" type="text"    [OnlyNumber]="true" color="primary" readonly formControlName="rejectedQuantity" id="grnItem_rejectedQuantity">
            </mat-form-field>
        </div>
        <!-- <div fxFlex="10">
            <mat-icon  *ngIf="!group.disabled" class="delete-class" (click)="delete(index)">delete</mat-icon>
        </div> -->

    </div>
    <div fxLayout="column"  fxLayoutAlign="space-evenly stretch" fxShow="false" fxShow.lt-md="true" class="small-item-view">
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="30" color="primary">#</mat-toolbar>
            <div fxFlex="70">
                <label class="lbl-class">{{index + 1}}</label>
            </div>
        </div>
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="30" color="primary">{{'Material'|translate}}</mat-toolbar>
            <div class="input-container" fxFlex="70">
                <input class="input-sm " type="text" formControlName="materialName" id="grnItem_materialName">
            </div>
        </div>
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="30" color="primary">{{'DC Quantity'|translate}}</mat-toolbar>
            <div class="input-container" fxFlex="70">
                <input class="input-sm input-right "  type="text" readonly formControlName="deliveryChallanQuantity" id="grnItem_deliveryChallanQuantity">
            </div>
        </div>
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="30" color="primary">{{'Accepted Quantity*'|translate}}</mat-toolbar>
            <div class="input-container" fxFlex="70">
                <input class="input-sm input-right"  [OnlyNumber]="true" type="text" (keyup)="resetRejectedQuantity()" formControlName="acceptedQuantity" id="grnItem_acceptedQuantity">
            </div>
        </div>
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="30" color="primary">{{'Rejected Quantity*'|translate}}</mat-toolbar>
            <div class="input-container" fxFlex="70">
                <input class="input-sm input-right " [OnlyNumber]="true" type="text" readonly formControlName="rejectedQuantity" id="grnItem_rejectedQuantity">
            </div>
        </div>
        <!-- <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="30" color="primary">Delete</mat-toolbar>
            <div fxFlex="70">
                <mat-icon class="delete-class " (click)="delete(index)">delete</mat-icon>
            </div>
        </div> -->
    </div>

</div>