<mat-toolbar color="primary" class="fixed-header">

    
    <div *ngIf='transactionType'>
        <app-sub-heading [transactionNumber] = "grnForm?.get('grnNumber').value"
        [statusName] = "grnForm?.get('statusName').value" [route]="route">
        </app-sub-heading>
    </div>

    <span class="example-spacer">
    </span>

    <div>
        <i class="material-icons  menu-icon top-search" id="help_videos" (click)="helpVideos()"
        matTooltip="{{'Help Videos'|translate}}">help</i>
        </div> 
    <div *ngIf="isCreateEnabled" fxLayout="row" fxLayoutAlign="center center">
        <button  mat-button (click)="createInvoice()" id="grn_createInvoice" >Create Invoice</button>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
        <i *ngIf="grnForm && grnForm.get('id').value!= null" class="material-icons menu-icon top-search" (click)="showReference()">link</i>
        <i (click)="rightsidenav.toggle()" class="material-icons menu-icon top-search">list</i>
    </div>
    <div *ngIf="grnForm && grnForm.get('id').value!= null" class="bottom">
    
        <mat-hint *ngIf="showTheCreatedBy" class="mat-hints">{{'Created By:'|translate}} {{grnForm?.get('updateBy').value}}/{{grnForm?.get('updatedDate').value| date: 'dd/MM/yyyy'}} </mat-hint>
        <mat-hint *ngIf="!showTheCreatedBy" class="mat-hints">{{'LastUpdated By:'|translate}} {{grnForm?.get('updateBy').value}}/{{grnForm?.get('updatedDate').value| date: 'dd/MM/yyyy'}} </mat-hint>
          </div>
</mat-toolbar>

<ngx-alerts></ngx-alerts>

<div class="form-top">
</div>

<mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav position="end" #rightsidenav>
        <div *ngIf="transactionType">
            <recent-grns-table (grnHeader)="recentGrnGet($event); rightsidenav.toggle()" (changeCounter)="itemChanged($event)"
                [recentGrnLoadCounter]="recentGrnLoadCounter" (noDataFound)="whenNoDataFound($event)" [transactionType]="transactionType"></recent-grns-table>
        </div>

    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <div class="example-loading-shade" *ngIf="spinStart">
            <mat-spinner *ngIf="spinStart"></mat-spinner>
        </div>
        <form *ngIf="grnForm" [formGroup]="grnForm">
            <mat-card>
                <!-- <mat-toolbar color="primary">
                    <label class="form-header-lbl">{{transactionType?.name}}</label>
                    <span class="example-spacer"></span>
                    <div>
                        <i (click)="rightsidenav.toggle()" class="material-icons menu-icon top-search">search</i>
                    </div>
                </mat-toolbar> -->
                <mat-card-header>
                    <mat-card-subtitle>
                        <!-- <label>[{{grnForm?.get('grnNumber').value}} - {{grnForm?.get('statusName').value}}]</label> -->
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <!-- <mat-form-field>
                                    <input matInput placeholder="GRN No" [readonly]="isAutoNumber" formControlName="grnNumber" />
                                </mat-form-field> -->

                                <mat-form-field *ngIf="grnForm.get('grnNumber').value || !isAutoNumber">
                                    <mat-label>{{transactionType?.name | translate }} {{'Number*'| translate}} </mat-label>
                                    <input matInput [readonly]="isAutoNumber"  formControlName="grnNumber" id="grn_grnNumber" #grnNumber />
                                    <mat-error *ngIf="!grnNumberVerified">Please enter valid GRN number</mat-error>
                                  </mat-form-field>
                  
                                  <mat-form-field *ngIf="!grnForm.get('grnNumber').value && isAutoNumber" hintLabel="{{'May get changed if your colleague saves first'|translate}}">
                                    <mat-label>{{transactionType?.name | translate }} {{'Number*'| translate}}</mat-label>
                                    <input matInput readonly [value]="tempTransactionNumber" id="grn_tempTransactionNumber"  matTooltip="For indication only it may get changed after save">
                                  </mat-form-field>

                            </div>

                            <div fxFlex="50%">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="GRNDatepicker" id="grn_grnDate" [min]="minDate" [max]="maxDate"
                                        readonly placeholder="{{'GRN Date*' | translate}}" formControlName="grnDate">
                                    <mat-datepicker-toggle matSuffix [for]="GRNDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #GRNDatepicker></mat-datepicker>
                                    <mat-error *ngIf="grnForm.controls.grnDate?.invalid">Please enter Grn Date
                                    </mat-error>

                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <!--  <mat-form-field>
                                   <mat-placeholder>
                                        Supplier*
                                    </mat-placeholder>
                                    <mat-select formControlName="supplierId">
                                        <mat-option *ngFor="let party of parties" [value]="party.id">
                                            {{party.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                                <mat-form-field *ngIf="!isReadonly" style="width:80%" hintLabel="{{'Start typing to search supplier here...'|translate}}">
                                    <input type="text" matInput formControlName="supplierName" [disabled]="grnForm.disabled"
                                        [matAutocomplete]="autoParty" id="grn_supplierName">
                                    <mat-placeholder> {{'Supplier'|translate}}*</mat-placeholder>
                                    <mat-autocomplete #autoParty="matAutocomplete" [displayWith]="displayFnParty">
                                        <mat-option (onSelectionChange)="partyChanged($event,party)" id="grn_partyChanged" *ngFor="let party of filteredParties | async"
                                            [value]="party" [matTooltip]="party.partyCode+'-'+party.name + (party.areaName ? '[' +party.areaName + ']' : '')">
                                            {{party.partyCode}}-{{party.name}} {{party.areaName ? '[' +party.areaName + ']' : ''}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="grnForm.controls.supplierName?.invalid">Please choose Party Name</mat-error>

                                </mat-form-field>
                                <mat-form-field *ngIf="isReadonly" style="width:80%">
                                    <input readonly matInput [placeholder]="partyPlaceHolder" id="grn_supplierName" formControlName="supplierName">
                                  </mat-form-field>
                            </div>
                            <div fxFlex="50%">
                                <mat-form-field *ngIf="deliveryChallans.length !== 0">
                                    <mat-placeholder>{{'DC Number'|translate}}*</mat-placeholder>
                                    <mat-select formControlName="deliveryChallanNumber" id="grn_deliveryChallanNumber" (selectionChange)="onDCChange()"
                                        [disabled]="grnForm.disabled">
                                        <mat-option *ngFor="let dc of deliveryChallans" id="grn_deliveryChallans" [value]="dc.deliveryChallanNumber">
                                            {{dc.deliveryChallanNumber}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="grnForm.controls.deliveryChallanNumber?.invalid">Please select
                                        Delivery Challan Number</mat-error>

                                </mat-form-field>
                                <mat-form-field *ngIf="deliveryChallans.length === 0">
                                    <input readonly matInput placeholder="{{'DC Number'|translate}}*" formControlName="deliveryChallanNumber"
                                        [disabled]="grnForm.disabled" id="grn_deliveryChallanNumber">
                                    <mat-error *ngIf="grnForm.controls.deliveryChallanNumber?.invalid">Please select
                                        Delivery Challan Number</mat-error>

                                </mat-form-field>

                            </div>
                            <!-- <div fxFlex="50%">
                                <mat-form-field *ngIf="deliveryChallans.length !== 0">
                                    <mat-placeholder>
                                        DC Number*
                                    </mat-placeholder>
                                    <mat-select formControlName="deliveryChallanNumber" [disabled]="grnForm.disabled" > 
                                        <mat-option *ngFor="let dc of deliveryChallans" [value]="dc.id">
                                            {{dc.deliveryChallanNumber}}
                                        </mat-option>
                                    </mat-select>
                                  
                                </mat-form-field>
                                <mat-form-field *ngIf="deliveryChallans.length === 0">
                                    <input readonly matInput placeholder="DC Number*"  [disabled]="grnForm.disabled" formControlName="deliveryChallanNumber">
                                  </mat-form-field>
                                 
                            </div> -->
                        </div>
                    </div>

                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <mat-placeholder>
                                        {{'Quality Checked By'|translate}}*
                                    </mat-placeholder>
                                    <mat-select formControlName="qualityCheckedById" id="grn_qualityCheckedById" [disabled]="grnForm.disabled">
                                        <mat-option *ngFor="let qcUser of QualityCheckUsers" id="grn_QualityCheckUsers" [value]="qcUser.id">
                                            {{qcUser.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="grnForm.controls.qualityCheckedById?.invalid">Please select Party
                                        Name</mat-error>

                                </mat-form-field>
                            </div>

                            <div fxFlex="50%">
                                <mat-form-field>
                                    <mat-placeholder>
                                        {{'Stock Checked By' |translate}}*
                                    </mat-placeholder>
                                    <mat-select formControlName="stockCheckedById"  id="grn_stockCheckedById" [disabled]="grnForm.disabled">
                                        <mat-option *ngFor="let scUser of StockCheckUsers" id="grn_StockCheckUsers" [value]="scUser.id">
                                            {{scUser.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="grnForm.controls.stockCheckedById?.invalid">Please select Party
                                        Name</mat-error>

                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field style="width:100%">
                                    <textarea matInput placeholder="{{'T&C'|translate}}" [disabled]="grnForm.disabled" formControlName="termsAndConditionNote" id="grn_termsAndConditionNote"></textarea>
                                </mat-form-field>
                            </div>
                            <!-- <div fxFlex="50%">
                                <mat-form-field>
                                    <mat-placeholder>
                                        Terms and Conditions
                                    </mat-placeholder>
                                    <mat-select formControlName="termsAndConditionId"   [disabled]="grnForm.disabled">
                                            <mat-option *ngFor="let tc of termsAndConditions" [value]="tc.id">
                                        <mat-option *ngFor="let tc of termsAndConditions" [value]="tc.id">
                                            {{tc.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div> -->
                            <div fxFlex="50%">
                                <mat-form-field style="width:100%">
                                    <textarea matInput placeholder="{{'Comments'| translate}}" [disabled]="grnForm.disabled"
                                        formControlName="comments" id="grn_comments"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>


                    

                    <!-- <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                           
                        </div>
                    </div> -->

                </mat-card-content>

            </mat-card>
            <mat-card>
                <mat-card-content>

                    <div formArrayName="grnItems" class="grn-items">

                        <div *ngFor="let item of grnForm.get('grnItems')['controls']; let idx=index">
                            <grn-item [group]="item" [index]="idx" (changeCounter)="itemChanged($event)" id="grn_item" (deleteIndex)="removeGrnItem($event)"></grn-item>
                        </div>
                    </div>


                </mat-card-content>
            </mat-card>

            <app-action-panel *ngIf="activityRoleBindings" [inForm]="grnForm" [applicableButtons]="applicableButtons" [activityRoleBindings]="activityRoleBindings"
            [primaryKey]="grnForm.get('id').value" (saveEvent)="submitWrapper(grnForm.value)"  (editEvent)="edit()" [statusId]="grnForm.get('grnStatusId').value"   [statusBasedPermission]="statusBasedPermission"
            (closeEvent)="closeForm()" (deleteEvent)="delete()" (printEvent)="print()" (clearEvent)="clearForm()">
            </app-action-panel>

        </form>
    </mat-sidenav-content>
</mat-sidenav-container>