<mat-card>
        <!-- <mat-card-header>View Details
        </mat-card-header> -->
        <mat-card-content>
            <div class="recent-header">
                <form [formGroup]="filterForm" novalidate>
                    <mat-form-field>
                        <input matInput placeholder="{{'Filter'|translate}}" formControlName="filterText">
                    </mat-form-field>
                </form>
            </div>
    
            <div class="recent-container mat-elevation-z8">
                <div class="example-loading-shade" *ngIf="isLoadingResults">
                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                </div>
              
                    
                <mat-table #table [dataSource]="dataSource" class="example-table" matSort matSortActive="grnDate" matSortdisableClear
                    matSortDirection="desc">
                   
                   
                    <ng-container matColumnDef="grnNumber">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'GRN No'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.grnNumber}}[{{row.statusName}}]</mat-cell>
                    </ng-container>
    
                    <ng-container matColumnDef="grnDate">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Date'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.grnDate | date: 'dd/MM/yyyy'}}</mat-cell>
                    </ng-container>
    
                    <!-- <ng-container matColumnDef="amount">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.amount}}</mat-cell>
                    </ng-container> -->
    
                    <ng-container matColumnDef="partyName">
                        <mat-header-cell *matHeaderCellDef  mat-sort-header>{{'Party'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.partyCode}}-{{row.supplierName}}</mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row class="tran-item-list" (click)="onRowClick(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
               
                </mat-table>
          
                <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>