<div class="main-container" [class]="themeClass">
<h1 mat-dialog-title>Expense Information</h1>
<mat-dialog-content [formGroup]="expensePopUpForm">

  <div fxLayout.lt-md="column" fxLayoutGap="10px">
    
    <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
      <div fxFlex="50%">
        <mat-form-field class="input-container">
          <input matInput placeholder="Expense Name*" formControlName="name" />
          <mat-error *ngIf="expensePopUpForm.controls.name?.invalid">Please enter Name</mat-error>
        </mat-form-field>
      </div>
    </div>

 
  </div>



</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button type="button" (click)="close()" matTooltip="Close">
    <i class="material-icons">close</i> Close
  </button>
  <button mat-raised-button type="button" (click)="save()" matTooltip="Save" [disabled]="!expensePopUpForm.valid">
    <i class="material-icons">save</i> Save
  </button>

</mat-dialog-actions>
</div>