<!-- 
<div fxLayout="row" fxLayoutAlign="center center" class="login-container">
  <mat-card class="login-card mat-elevation-z10 summary-section" >
      <mat-card-header>
        <mat-card-title style="width:100%">
          <div fxLayout="column" fxLayoutAlign="center center" style="width:100%">
            <div style="width:100%">
                <label>Login</label>
            </div>
              
          </div>
            
        </mat-card-title>
        <mat-card-title *ngIf="isUnauthorized" class="incorrect-login">
          <strong>Incorrect credentials! please try again</strong>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./assets/BOS-Standard-Logo.png" alt="Product Logo">
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-around " >
            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
            <mat-form-field>
              <input matInput placeholder="User Name" required  #username="ngModel"   [(ngModel)]="localUser.username">
              <mat-error *ngIf="username.invalid || username.untouched" class="error">
                  please enter User name
                </mat-error>
            </mat-form-field>
            
          </div>
          <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
            <mat-form-field>
              <input matInput placeholder="Password" required type="password"  #password="ngModel" [type]="hide ? 'password' : 'text'" [(ngModel)]="localUser.password"
                (keyup.enter)="login()">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error *ngIf="password.invalid || password.untouched" class="error">
                  please enter password
                </mat-error>
            </mat-form-field>
          </div>

          <div>
              <button mat-raised-button class="action-button " style="width:100%" (click)="login()"  color="primary">Login</button>            
          </div>

          <div style="margin-top: 10pt;">
            <a [routerLink]="['/app-forget-password']">Forgot Password?</a>
           </div>

        </div>

      </mat-card-content>

    
    </mat-card>
  </div>
   -->

<div class="example-loading-shade" *ngIf="spinStart">
    <mat-spinner *ngIf="spinStart"></mat-spinner>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <!-- <form autocomplete="off"> -->
  <div>
    <mat-card>
      <img class="img" src="./assets/BOS-Standard-Logo.png" alt="Product Logo">

      <mat-card-content>
        <div fxLayout="column"  fxLayoutAlign="center center">
          <!-- <div fxFlexAlign="center">
            <label>Login</label>
          </div> -->
          <label *ngIf="isUnauthorized" class="incorrect-login">
              Incorrect credentials!
          </label>
          <div fxLayout="column" fxLayoutGap="20pt" fxLayoutAlign="center center" class="login-container">

            <div>
              <mat-form-field>
                <input matInput placeholder="Username" required #username="ngModel" [(ngModel)]="localUser.username">
                <mat-error *ngIf="username.invalid || username.untouched" class="error">
                  please enter Username
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="Password" required type="password" #password="ngModel" [type]="hide ? 'password' : 'text'"
                  [(ngModel)]="localUser.password" (keyup.enter)="login()">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                <mat-error *ngIf="password.invalid || password.untouched" class="error">
                  please enter password
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <button mat-raised-button class="action-button " style="width:100%" (click)="login()" color="primary">Login</button>
            </div>
          </div>
          <div fxFlexAlign="end" style="margin-top: 10pt;">
            <a [routerLink]="['/app-forget-password']">Forgot Password?</a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
<!-- </form> -->
</div>