.mat-card-content {
    padding: 10px;
}

.login-container{
    height:200pt;
    // background-color:rgb(49, 102, 182);
    // background-image: image("C:/Users/admin/Desktop/report with data/capture");
}

.login-container > * {
    width: 100%;
}

  
.example-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
  }
  
  .login-card{
    //   background-color: lavender;
  }

  .incorrect-login{
      color: red;
  }
 
  .img {
    width: 100% ;
    max-width: 350px;
    max-height: 450px;
    height: 100% ;
  }