<!-- <mat-card>
    <mat-card-content>
        <div>
            <ngx-charts-pie-grid [view]="view" [scheme]="colorScheme"  [results]="single" (select)="onSelect($event)">
            </ngx-charts-pie-grid>
        </div>
    </mat-card-content>
</mat-card> -->
<mat-card>
    <mat-card-content>
        <mat-tab-group>
                <mat-tab label="Pie Chart">
                        <div>
                            <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme"  [results]="single" [legend]="showLegend" [explodeSlices]="explodeSlices"
                               [labels]="showLabels" [doughnut]="doughnut" [gradient]="gradient" (select)="onSelect($event)">
                            </ngx-charts-pie-chart>
                        </div>
                    </mat-tab>
            <mat-tab label="Bar Chart">
                <div>
                    <!-- <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme"  [results]="sales" [gradient]="gradient" [xAxis]="showXAxis"
                         [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                    </ngx-charts-bar-vertical> -->
                    <ngx-charts-bar-vertical [results]="sales" 
                    [showXAxisLabel]="showXAxisLabel" 
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    >
                    </ngx-charts-bar-vertical> 
                </div>
            </mat-tab>
           
            <mat-tab label="pie grid chart">
                <div>
                    <ngx-charts-pie-grid [view]="view" [scheme]="colorScheme"  [results]="single" (select)="onSelect($event)">
                    </ngx-charts-pie-grid>
                </div>
            </mat-tab>
            <mat-tab label="area-chart">
                <div>
                    <ngx-charts-area-chart [view]="view" [scheme]="colorScheme" [results]="multi" [gradient]="gradient" [animations]="animations"
                        [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [autoScale]="autoScale" (select)="onSelect($event)">
                    </ngx-charts-area-chart>
                </div>
            </mat-tab>
            <mat-tab label="guage-chart">
                <ngx-charts-gauge [view]="view" [scheme]="colorScheme" [results]="data" [animations]="animations" [min]="0" [max]="100" [angleSpan]="240" [startAngle]="-120"
                    [units]="'alerts'" [bigSegments]="10"  [smallSegments]="5" (select)="onSelect($event)">
                </ngx-charts-gauge>
            </mat-tab>
            <mat-tab label="advanced pie chart">
                <ngx-charts-advanced-pie-chart [view]="view" [scheme]="colorScheme" [animations]="animations" [results]="single" [gradient]="gradient" (select)="onSelect($event)">
                </ngx-charts-advanced-pie-chart>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>

<!-- <ngx-charts-chart
[view]="[width, height]"
[showLegend]="legend"
[legendOptions]="legendOptions"
[activeEntries]="activeEntries"
[animations]="animations"
(legendLabelActivate)="onActivate($event)"
(legendLabelDeactivate)="onDeactivate($event)"
(legendLabelClick)="onClick($event)">
<svg:g [attr.transform]="transform" class="bar-chart chart">
  <svg:g ngx-charts-x-axis
    *ngIf="xAxis"
    [xScale]="xScale"
    [dims]="dims"
    [showGridLines]="showGridLines"
    [showLabel]="showXAxisLabel"
    [labelText]="xAxisLabel"
    [tickFormatting]="xAxisTickFormatting"
    [ticks]="xAxisTicks"
    (dimensionsChanged)="updateXAxisHeight($event)">
  </svg:g>
  <svg:g ngx-charts-y-axis
    *ngIf="yAxis"
    [yScale]="yScale"
    [dims]="dims"
    [showLabel]="showYAxisLabel"
    [labelText]="yAxisLabel"
    [tickFormatting]="yAxisTickFormatting"
    [ticks]="yAxisTicks"
    (dimensionsChanged)="updateYAxisWidth($event)">
  </svg:g>
  <svg:g
    *ngFor="let group of results; trackBy:trackBy"
    [@animationState]="'active'"
    [attr.transform]="groupTransform(group)">
    <svg:g ngx-charts-series-horizontal
      type="normalized"
      [xScale]="xScale"
      [yScale]="yScale"
      [activeEntries]="activeEntries"
      [colors]="colors"
      [series]="group.series"
      [dims]="dims"
      [gradient]="gradient"
      [tooltipDisabled]="tooltipDisabled"
      [tooltipTemplate]="tooltipTemplate"
      [seriesName]="group.name"
      [animations]="animations"
      (select)="onClick($event, group)"
      (activate)="onActivate($event, group)"
      (deactivate)="onDeactivate($event, group)"
    />
  </svg:g>
</svg:g>
</ngx-charts-chart> -->