<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1px" fxLayoutAlign="end center" fxLayoutAlign.lt-md="end start" [class]="themeClass">

    <div *ngFor="let menu of levelFilter(menus)" color="primary">
        <menu-item-component [menu]="menu"></menu-item-component>
    </div>


    <div *ngIf="incorrectMenu">
        <button mat-button [matMenuTriggerFor]="More">
   
                <mat-icon fxShow fxHide.lt-md="true">more_vert</mat-icon>
      
                <mat-icon fxHide fxShow.lt-md="true">more_horiz</mat-icon>
    
        </button>
         <mat-menu #More="matMenu">
         <!-- <a [routerLink]="['/report/app-about-company']">
            <button mat-menu-item >
                <mat-icon color="primary">help</mat-icon>About

            </button></a> -->
         <button mat-menu-item (click)="onLogout()">
                <mat-icon color="warn">power_settings_new</mat-icon>
             {{'Logout' | translate}}({{currentUser.name | translate}})
        </button>
         
        </mat-menu>

    </div>


</div>