<div [class]="themeClass">
<button *ngIf="menu.menuLevel === 1" mat-button [matMenuTriggerFor]="subMenu">
     <span *ngIf="menu.name !== 'More'" [translate]="menu.name"></span>
     <mat-icon *ngIf="menu.name === 'More'">settings_application</mat-icon>
</button>
<button *ngIf="menu.menuLevel > 1"  mat-menu-item  [matMenuTriggerFor]="subMenu">
        <span [translate]="menu.name"></span>
</button>    
<mat-menu #subMenu="matMenu">
    <div *ngFor="let activity of menu.activities">
        <menu-item-component *ngIf="activity.subMenu; else regular_menu" color="primary" [menu]="activity.subMenu"></menu-item-component>

        <ng-template #regular_menu>
            <a *ngIf="activity.pageUrl && !activity.urlParams" [routerLink]="['/'+activity.pageUrl]">
                <button   mat-menu-item (click)="onMenuClick(menu.name, activity.name)">
                    <mat-icon *ngIf="activity.imagePath">{{activity.imagePath}}</mat-icon>
                    <span [translate]="activity.name"></span>
                </button>
            </a>
            <a *ngIf="activity.pageUrl && activity.urlParams"  [routerLink]="getUrlLink(activity.pageUrl, activity.urlParams)">
                <button  mat-menu-item (click)="onMenuClick(menu.name, activity.name)"><span [translate]="activity.name"></span></button>
            </a>
            <button *ngIf="activity.name !== 'Logout' && activity.pageUrl === null"  mat-menu-item ><span [translate]="activity.name"></span></button>
            <button *ngIf="activity.name === 'Logout'" mat-menu-item (click)="onLogout()">
                <mat-icon color="warn">power_settings_new</mat-icon>
             {{activity.name | translate}}({{currentUser.name | translate}})
        </button>
        </ng-template>
    </div>
</mat-menu>

</div>