<mat-toolbar color="primary" class="fixed-header">
  <!-- <div class="main-hint">
    <div>
      <label class="form-header-lbl">{{transactionType?.name}}</label>
    </div>
    <h6 class="sub-hint">this page is used to record information about {{transactionType?.name}}</h6>
  </div> -->
  <div *ngIf='transactionType'>
    <app-sub-heading [transactionNumber] = "tranForm?.get('quotationNumber').value"
    [statusName] = "tranForm?.get('statusName').value" [route]="route_qo">
    </app-sub-heading>
  </div>

  <span class="example-spacer">
  </span>
  <div>
    <i class="material-icons  menu-icon top-search" id="help_videos" (click)="helpVideos()"
    matTooltip="{{'Help Videos'|translate}}">help</i>
    </div> 
  <div *ngIf="isCreatePOenabled" fxLayout="row" fxLayoutAlign="center center">
    <button  mat-button (click)="createPurchaseOrder()" id="quotation_createPurchaseOrder" >{{'Create PO'|translate}}</button>
  </div>


  <div fxLayout="row" fxLayoutAlign="center center">
    <i *ngIf="tranForm && tranForm.get('id').value!= null" class="material-icons menu-icon top-search"
      matTooltip="{{'Reference Link'|translate}}" (click)="showReference()">link</i>
    <i (click)="rightsidenav.toggle(); showRecent=true" class="material-icons menu-icon top-search">list</i>
  </div>
  <div *ngIf="tranForm && tranForm.get('id').value!= null" class="bottom">
    
    <mat-hint *ngIf="showTheCreatedBy" class="mat-hints">{{'Created By:'|translate}} {{tranForm?.get('updateBy').value}}/{{tranForm?.get('updatedDate').value| date: 'dd/MM/yyyy'}} </mat-hint>
    <mat-hint *ngIf="!showTheCreatedBy" class="mat-hints">{{'LastUpdated By:'|translate}} {{tranForm?.get('updateBy').value}}/{{tranForm?.get('updatedDate').value| date: 'dd/MM/yyyy'}} </mat-hint>                  
  </div>
</mat-toolbar>
<ngx-alerts></ngx-alerts>
<mat-sidenav-container fxFlexFill class="example-container">
  <mat-sidenav position="end" #rightsidenav>
    <div *ngIf='transactionType && showRecent'>
      <recent-quotation-table (quotationHeader)="recentQuotationGet($event); rightsidenav.toggle()"
        (noDataFound)="whenNoDataFound($event)" [recentQuotationLoadCounter]="recentQuotationLoadCounter"
        [transactionType]="transactionType"></recent-quotation-table>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>

    <div class="example-loading-shade" *ngIf="spinStart">
      <mat-spinner *ngIf="spinStart"></mat-spinner>
    </div>
    <div class="form-top">

    </div>
    <form *ngIf="tranForm" [formGroup]="tranForm"  #formDirective="ngForm">
      <mat-card>
        <!-- <mat-toolbar color="primary">
          <label class="form-header-lbl">{{transactionType?.name}}</label>
          <span class="example-spacer"></span>
          <div>
            <i (click)="rightsidenav.toggle()" class="material-icons menu-icon top-search">search</i>
          </div>
        </mat-toolbar> -->
        <mat-card-header>
          <mat-card-subtitle *ngIf="tranForm.get('quotationNumber').value!=null">
            <label>[{{tranForm.get('quotationNumber').value}} - {{tranForm.get('statusName').value}}]</label>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout.lt-md="column" fxLayoutGap="10px">
            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <div fxFlex="50%">

                <mat-form-field *ngIf="tranForm.get('quotationNumber').value || !isAutoNumber">
                  <mat-label>{{transactionType?.name | translate }} {{'Number*'| translate}}</mat-label>
                  <input matInput formControlName="quotationNumber" id="quotation_quotationNumber" [readonly]="isAutoNumber" 
                  #quotationNumber/>
                </mat-form-field>

                <mat-form-field *ngIf="!tranForm.get('quotationNumber').value && isAutoNumber"
                hintLabel="{{'May get changed if your colleague saves first'|translate}}">
                  <mat-label>{{transactionType?.name | translate }} {{'Number*'| translate}}</mat-label>
                  <input matInput readonly [value]="tempTransactionNumber"  id="quotation_tempTransactionNumber"
                    matTooltip="{{'For indication only it may get changed after save'|translate}}">
                </mat-form-field>

              </div>

              <div fxFlex="50%">
                <mat-form-field>
                  <input matInput [min]="financialMinDate" [max]="financialMaxDate"
                    [matDatepicker]="quotationDatepicker" readonly placeholder="{{'Quotation Date'|translate}}*"
                    formControlName="quotationDate" id="quotation_quotationDate">
                  <mat-datepicker-toggle matSuffix [for]="quotationDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #quotationDatepicker [disabled]="tranForm.disabled"></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <div fxFlex="50%">
                <mat-form-field  *ngIf="isPartyChangeable" style="width:80%" >
                  <mat-hint>{{'start typing to search for'|translate}} {{partyPlaceHolder|translate}}</mat-hint>

                  <input type="text"  matInput formControlName="partyName"
                    [matAutocomplete]="autoParty" id="quotation_partyName">
                    <mat-placeholder>{{partyPlaceHolder|translate}}*</mat-placeholder>
                  <mat-autocomplete #autoParty="matAutocomplete" [displayWith]="displayFnParty">
                    <mat-option (onSelectionChange)="onPartyChange($event,party)"
                      *ngFor="let party of filteredParties | async" [value]="party" id="quotation_onPartyChange" [matTooltip]="party.partyCode+'-'+party.name + (party.areaName ? '[' +party.areaName + ']' : '')">
                     {{party.partyCode}}-{{party.name}} {{party.areaName ? '[' +party.areaName + ']' : ''}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field *ngIf="!isPartyChangeable" style="width:80%">
                  <input readonly matInput  [placeholder]="partyPlaceHolder" [matAutocomplete]="auto" formControlName="partyName" id="po_partyName">
              </mat-form-field>
              </div>
              <div fxFlex="50%">
                <mat-form-field >
                    <input readonly matInput type="text" class="read-only" placeholder="{{taxNumberText|translate}}" formControlName="gstNumber" id="quotation_gstNumber" />
                </mat-form-field>

              </div>
            </div>
          </div>

          <div fxLayout.lt-md="column" fxLayoutGap="10px">
            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <div fxFlex="50%">
                <mat-form-field>
                  <input matInput placeholder="{{'Enquiry Number'|translate}}" formControlName="enquiryNumber" id="quotation_enquiryNumber"/>
                </mat-form-field>
              </div>

              <div fxFlex="50%">
                <mat-form-field>
                  <input matInput [max]="maxDate" [matDatepicker]="enquiryDatepicker" readonly
                    placeholder="{{'Enquiry Date'|translate}}" formControlName="enquiryDate" id="quotation_enquiryDate">
                  <mat-datepicker-toggle matSuffix [for]="enquiryDatepicker"></mat-datepicker-toggle>
                </mat-form-field>
                <mat-datepicker #enquiryDatepicker [disabled]="tranForm.disabled"></mat-datepicker>

              </div>
            </div>

            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <div fxFlex="50%">
              
              </div>
              <div fxFlex="50%">
                <mat-form-field>
                  <input matInput type="text" placeholder="{{'State Name'|translate}}" [disabled]="true" [disabled]="tranForm.disabled" id="quotation_stateName"
                    [value]="selectedParty?.stateName" />
                </mat-form-field>
              </div>
            </div>
          </div>

          <div fxLayout.lt-md="column" fxLayoutGap="10px">
            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">

              <div fxFlex="50%">
                <mat-form-field style="width: 100%">
                  <textarea matInput placeholder="{{'Subject'|translate}}" formControlName="quotationSubject" id="quotation_quotationSubject"></textarea>
                </mat-form-field>
              </div>
              <div fxFlex="50%">
                <mat-form-field style="width: 100%">
                  <textarea matInput placeholder="{{'Kind Attention'|translate}}" formControlName="kindAttention" id="quotation_kindAttention"></textarea>
                </mat-form-field>
              </div>
            </div>


            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <div fxFlex="50%">
                <mat-form-field>
                  <textarea matInput type="text" placeholder="{{'Remarks'|translate}}" formControlName="remarks" id="quotation_remarks"></textarea>
                </mat-form-field>
              </div>
              <div fxFlex="50%">

                <mat-form-field>
                    <textarea readonly matInput type="text" placeholder="{{'Address' | translate}}" formControlName="address" id="quotation_address"></textarea>
                </mat-form-field>

              </div>
            </div>
          </div>

          

          <div fxLayout="row" fxLayoutAlign="end start">
            <div>
                <button type="button" mat-raised-button color="accent" [disabled]="!isPartyChangeable || tranForm.disabled" (click)="addNewParty()"
                matTooltip="{{'Add new'|translate}} {{partyPlaceHolder}}" id="quotation_addNewParty">
                {{'Create New'|translate}} {{partyPlaceHolder| translate}}
              </button>
            </div>
          </div>

        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content>
          <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20pt">
            <div>
              <mat-radio-group [formControl]="supplyTypeControl" [disabled]="tranForm.disabled">
                <mat-radio-button value=1 checked="true" id="quotation_Goods">{{'Goods'|translate}} </mat-radio-button>
                <mat-radio-button value=2 id="quotation_Service">{{'Service'|translate}} </mat-radio-button>
              </mat-radio-group>
            </div>
            <div>
              <mat-checkbox #inclusiveTax [(ngModel)]="isInclusiveTax" id="quotation_isInclusiveTax" [disabled]="inclusiveTaxDisable" (change)="inclusiveTaxChange()"  [ngModelOptions]="{standalone: true}">{{'Inclusive
                Tax'|translate}}</mat-checkbox>
            </div>

          </div>
          <div fxLayout.lt-md="column" fxLayoutGap="10px">
            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <div fxLayout="row" fxLayoutGap="10px">
                <mat-form-field class="example-full-width" hintLabel="{{'Start typing material/service name here...'|translate}}">
                  <input type="text" [disabled]="tranForm.disabled" placeholder="{{'Material'|translate}}*" aria-label="Number" matInput
                    [formControl]="materialControl" [matAutocomplete]="autoMaterial" id="quotation_materialControl">
                  <mat-autocomplete #autoMaterial="matAutocomplete" [displayWith]="displayFnMaterial">
                    <mat-option (onSelectionChange)="onMaterialSelectChange($event, materialOption)"
                      *ngFor="let materialOption of filteredMaterials | async" [value]="materialOption" id="quotation_onMaterialSelectChange" [matTooltip]="materialOption.name + (materialOption.partNumber ? '[' +materialOption.partNumber + ']' : '')">
                      {{ materialOption.name }} {{materialOption.partNumber ? '[' +materialOption.partNumber + ']' : ''}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
               
                <mat-form-field>
                  <input matInput #materialquantity placeholder="{{'Qty'|translate}}*" OnlyNumber="true" [value]="1"
                    [(ngModel)]="materialQuantity" [ngModelOptions]="{standalone: true}" id="quotation_materialQuantity" [disabled]="tranForm.disabled">
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <div fxLayout="row" fxLayoutGap="10px">
                <mat-form-field style="width: 50%">
                  <mat-placeholder>
                    {{'UOM'|translate}}*
                  </mat-placeholder>
                  <mat-select [(ngModel)]="uom" [ngModelOptions]="{standalone: true}" id="quotation_uom" [disabled]="tranForm.disabled">
                    <mat-option *ngFor="let uom of uoms" [value]="uom" id="quotation_uoms">
                      {{uom.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="isItemLevelTax" style="width: 50%">
                  <mat-placeholder>
                      {{'Tax'|translate}}*
                  </mat-placeholder>
                  <mat-select [(ngModel)]="tax" [ngModelOptions]="{standalone: true}"
                    [disabled]="tranForm.disabled || !isItemLevelTax"  id="quotation_tax">
                    <mat-option *ngFor="let tax of taxes" [value]="tax" id="quotation_taxs">
                      {{tax.name}}@{{tax.rate}}%
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <button mat-mini-fab color="accent" type="button" matTooltip="Add"
              [disabled]="!(selectedParty || !isPartyChangeable) || (!tax && isItemLevelTax) || !material || !materialQuantity || tranForm.disabled"
              (click)="addQuotationItem(materialquantity.value)" id="quotation_addQuotationItem" >
              <i class="material-icons">arrow_downward</i>
            </button>
            <!-- <button mat-raised-button type="button" [disabled]="!(selectedParty || !isPartyChangeable)|| !tax ||!material|| !materialQuantity" (click)="addQuotationItem(materialquantity.value)">Add</button> -->
          </div>
          <div fxLayout="row" fxLayoutAlign="start end">
            <div>
                <button type="button" mat-raised-button color="accent" [disabled]="tranForm.disabled"
                (click)="addNewMaterial()" matTooltip="{{'Add new material'|translate}}"  id="quotation_addNewMaterial" >
               {{'Create New Material'|translate}}
              </button>
            </div>
          </div>
          <div formArrayName="quotationItems" class="quotation-items">

            <div *ngFor="let item of tranForm.get('quotationItems')['controls']; let idx=index">
              <transaction-item [group]="item" [index]="idx" [isIgst]="isIgst" [isItemLevelTax]="isItemLevelTax"
                [isItemLevelDiscount]="isItemLevelDiscount" [isInclusiveTax]="isInclusiveTax" [quantityChangeCounter]="quantityChangeCounter"
                (changeCounter)="handleChanges()" (deleteIndex)="removeQuotationItem($event)"
                (quantityChange)="quantityChange($event)">
              </transaction-item>
            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="end" fxLayoutGap="10px">
            <div>
              <!-- <mat-checkbox>Labour Charges Only</mat-checkbox> -->
            </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="{{'Sub Total'|translate}}" class="input-right" formControlName="subTotalAmount" id="quotation_subTotalAmount" readonly />
              </mat-form-field>
            </div>
          </div>

        </mat-card-content>
      </mat-card>



      <mat-card>

        <mat-card-content>
          <div fxLayout.lt-md="column" fxLayoutGap="20%">
            <div fxFlex="70%">
              <label>{{'Payment Details'|translate}}</label>
              <div fxLayout="column">

                <mat-form-field>
                  <mat-hint>{{'Max'|translate}} {{item_length}} {{'characters'|translate}}</mat-hint>
                  <textarea matInput placeholder="{{'Terms And Conditions'|translate}}" #input3 maxlength={{item_length}}
                    formControlName="termsAndConditions" id="quotation_termsAndConditions"></textarea>
                  <mat-hint align="end">{{input3.value?.length || 0}}/{{item_length}}</mat-hint>
                </mat-form-field>
              </div>
            </div>

            <mat-card class="mat-elevation-z10 summary-section">
              <div fxFlex>
                <div fxLayout="column">
                  <!--class="summary-section" -->
                  <mat-form-field *ngIf="!isItemLevelDiscount">
                    <input matInput placeholder="{{'Discount percent'|translate}}" class="input-right summary-field"
                      [readonly]="isItemLevelDiscount" formControlName="discountPercent"
                      (change)="headerDiscountPerChange()">
                    <mat-error *ngIf="tranForm.controls.discountPercent?.invalid">Discount Percent should be less than
                      100%</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="{{'Total Discount'|translate}}" class="input-right summary-field"
                      [readonly]="true" formControlName="totalDiscount"
                      (change)="headerDiscountAmtChange()">
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput placeholder="{{'Total Taxable Amount*'|translate}}" class="input-right summary-field" readonly
                      formControlName="totalTaxableAmount">
                  </mat-form-field>
                  <!-- <mat-error *ngIf="tranForm.controls.totalTaxableAmount?.invalid">Please pay Taxable Amount</mat-error> -->
                  <!-- <mat-form-field>
                          <input matInput placeholder="Grand Total" class="input-right summary-field" value="5000.00">
                        </mat-form-field> -->
                  <div *ngIf="!isIgst && isItemLevelTax">
                    <mat-form-field>
                      <input matInput placeholder="{{'Total SGST Tax'|translate}}" class="input-right summary-field" readonly
                        formControlName="sgstTaxAmount">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="{{'Total CGST Tax'|translate}}" class="input-right summary-field" readonly
                        formControlName="cgstTaxAmount">
                    </mat-form-field>
                  </div>
                  <div *ngIf="isIgst && isItemLevelTax">
                    <mat-form-field>
                      <input matInput placeholder="{{'Total IGST Tax'|translate}}" class="input-right summary-field" readonly formControlName="igstTaxAmount">
                    </mat-form-field>
                  </div>
                  <div *ngIf="!isItemLevelTax">
                    <div *ngIf="selectedParty?.countryId==1">
                    <mat-form-field>
                      <mat-placeholder>
                       {{'Tax'|translate}} 
                      </mat-placeholder>
                      <mat-select [(ngModel)]="headerTax" [ngModelOptions]="{standalone: true}"
                        [disabled]="tranForm.disabled" (selectionChange)="headerTaxChange()" ngRequired="headerTax">
                        <mat-option *ngFor="let tax of taxes" [value]="tax" [disabled]= "isheaderTaxDisable">
                          {{tax.name}}@{{tax.rate}}%
                        </mat-option>
                      </mat-select>
                      <!-- <mat-error *ngIf="!tranForm.headerTax.valid">Please pay Taxable Amount</mat-error>  -->
                    </mat-form-field>
                  </div>
                    <div *ngIf="isIgst">
                      <mat-form-field>
                        <input matInput placeholder="{{'Total IGST Tax'|translate}}" class="input-right summary-field" readonly
                          formControlName="igstTaxAmount">
                      </mat-form-field>
                    </div>
                    <div *ngIf="!isIgst">
                      <mat-form-field>
                        <input matInput placeholder="{{'Total SGST Tax'|translate}}" class="input-right summary-field" readonly
                          formControlName="sgstTaxAmount">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="{{'Total CGST Tax'|translate}}" class="input-right summary-field" readonly
                          formControlName="cgstTaxAmount">
                      </mat-form-field>
                      
                    </div>
                     </div>
                     
                      <mat-form-field *ngIf="selectedParty?.countryId!=1">
                       <input matInput type="text"  placeholder="{{'Currency'| translate}}" 
                         formControlName= "currencyName"   id="quotation_currencyName" readonly/>
                     </mat-form-field>
                   
                
                  <div>
                    <mat-checkbox style="width: 50%" [disabled]="tranForm.disabled || isRoundOffDisabled"
                      [ngModelOptions]="{standalone: true}" [checked]="isRoundOffAmount" (change)="onchangeRoundoff()"
                      [(ngModel)]="isRoundOffAmount">
                      <label>
                       {{'Round Off' | translate}} 
                      </label>
                    </mat-checkbox>
                    <mat-form-field>
                      <input matInput placeholder="{{'Round Off Amount'|translate}}" class="input-right summary-field"
                        formControlName="roundOffAmount" readonly />
                    </mat-form-field>
                  </div>
                  <div>
                    <span></span>
                  </div>
                  <div>
                    <mat-form-field>
                      <input matInput placeholder="{{'Grand Total'|translate}}" class="input-right summary-field" readonly
                       formControlName="grandTotal" (click)="showForm()">
                    </mat-form-field>
                  </div>
                </div>

              </div>
            </mat-card>
          </div>
        </mat-card-content>


      </mat-card>

      <app-action-panel *ngIf="activityRoleBindings" [inForm]="tranForm" [applicableButtons]="applicableButtons"
        [activityRoleBindings]="activityRoleBindings" [primaryKey]="tranForm.get('id').value"
        [statusId]="tranForm.get('statusId').value" [statusBasedPermission]="statusBasedPermission" (editEvent)="edit()"
        (saveEvent)="onSubmit(tranForm.value)"
        (closeEvent)="closeForm()" (cancelEvent)="cancel()" (deleteEvent)="delete(formDirective)" (printEvent)="print()"
        (clearEvent)="clearForm(formDirective)">
      </app-action-panel>
    </form>
  </mat-sidenav-content>
</mat-sidenav-container>