
body {
    margin: 0px;
    padding: 0px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}


.mat-toolbar {
    margin-bottom: 10px;
}

.top-menu{
    position: fixed;
    top:0;
    left: 0;
    z-index: 9;
    //height: 50px;
}

.example-container{
    top: 7%;
    background-color: #f1f1f1;
    padding-top: 50px;
}
.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.main-container{
    height: 100vh;
}


// .material-icons{
//     font-size: 15px;
//     height: 20px;
// }

// .menu-icon{
//     font-size: 24px;
//     height: 30px;
//     padding-right: 10px;
// }

.mat-card-subtitle{
    font-weight: bold;
}

.input-sm{
    width: 100%;
    border-radius: 0px;
    padding: 0px;
    border: 0px;
    color: black;
}

.items-container{
    background-color: lightgrey;
}

label{
    // font-weight: bold;
}

.item-header{
    // font-size: 10;
    height: 100%;
    text-align: center;
}

.input-right{
    text-align: right;
}



.summary-field{
    font-size: 14pt;
    font-weight: bold;
}

.item-header{
    width: 100%;
    height: 100%;
    // background-color: lightgrey;
    text-align: center;
}

.item-header-button{
    min-width: 0px;
    padding: 0px;
    width: 100%;
    cursor: default;
    // line-height: 0px;
    font-weight: 550;
}

.summary-section{
    // border: 1px solid black;
    margin-top:0px;
    padding: 5px;
}

.color-picker-alternative{
    font-size: 35px;
}

.top-search{
    cursor: pointer;
}

.mat-form-field{
    width:100%;
}


.quotation-items{
    overflow-x: scroll;
    background-color: #f1f1f1;
}

.fixed-header {
    //top: 0;
    position: fixed;
    z-index:2;
  
  }

  mat-form-field.mat-form-field-underline {
    display: none !important;
  }
  
//   mat-form-field.mat-form-field.mat-form-field-underline {
//     display: none !important;
//   }

.main-hint{
    margin-top: 20px;
}

.sub-hint{
    font-size: small
}

.bottom { 
    position:absolute;                  
    bottom:0;                          
    right:0;                          
} 

.mat-hints {
    color:  #f1f1f1;
    font-size: 15px;

 }