<div class="example-container">


    <mat-toolbar color="primary" class="fixed-header-master">
      <!-- <div fxLayout="row" fxLayoutAlign="end center" class="title-row">
            <div fxFlex="97">
                <label class="form-header-lbl">Reports > {{userService.currentActivity}}</label>
            </div> -->
  
      <div>
        <app-sub-heading [route]="route_in">
        </app-sub-heading>
      </div>
  
      <!-- <div fxFlex>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="saveAsExcel()">
                    <mat-icon>import_export</mat-icon>
                    <span>Export to Excel</span>
                    </button>
                    <button mat-menu-item (click)="close()">
                    <mat-icon>close</mat-icon>
                    <span>Close</span>
                    </button>
                </mat-menu>
            </div> -->
  
  
      <!-- </div> -->
    </mat-toolbar>
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5pt">
              <div>
                <mat-icon style="font-size:20pt;">filter_list</mat-icon>
              </div>
              <div>
                <p>{{'Filter'|translate}}</p>
              </div>
            </div>
          </mat-panel-title>
          <mat-panel-description>
  
          </mat-panel-description>
        </mat-expansion-panel-header>
  
  
        <div fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center center">
          <form [formGroup]="filterForm" novalidate>
  
            <div fxLayoutAlign="space-around center" fxLayoutAlign.lt-md="space-around stretch" fxLayout="row" fxLayout.lt-md="column"
              fxLayoutGap="10pt">
  
              <mat-form-field>
                <mat-select formControlName="financialYearId">
                  <mat-option>-- None --</mat-option>
                  <mat-option *ngFor="let financialYear of financialYears" [value]="financialYear.id">
                    {{financialYear.financialYear}}
                  </mat-option>
  
                </mat-select>
                <mat-placeholder>{{'Financial Year'|translate}}</mat-placeholder>
              </mat-form-field>
  
              <mat-form-field>
                <input type="text" matInput [formControl]="partyControl" [matAutocomplete]="autoParty">
                <mat-placeholder>{{partyPlaceHolder|translate}}</mat-placeholder>
                <mat-autocomplete #autoParty="matAutocomplete">
                  <mat-option *ngFor="let party of filteredParties | async" [value]="party.name" (onSelectionChange)="partyChange($event,party)">
                    {{party.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
  
              <mat-form-field>
                <input type="text" matInput [formControl]="materialControl" [matAutocomplete]="autoMaterial">
                <mat-placeholder>{{'Material'|translate}}</mat-placeholder>
                <mat-autocomplete #autoMaterial="matAutocomplete">
                  <mat-option *ngFor="let material of filteredMaterials | async" [value]="material.name" (onSelectionChange)="materialChange($event,material)">
                    {{material.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
  
  
              <mat-form-field>
                <input matInput [matDatepicker]="fromatatepicker" placeholder="{{'From date'|translate}}" readonly formControlName="transactionFromDate">
                <mat-datepicker-toggle matSuffix [for]="fromatatepicker"></mat-datepicker-toggle>
                <mat-datepicker #fromatatepicker></mat-datepicker>
              </mat-form-field>
  
              <mat-form-field>
                <input matInput [matDatepicker]="toDatepicker" placeholder="{{'To date'|translate}}" readonly formControlName="transactionToDate">
                <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #toDatepicker></mat-datepicker>
              </mat-form-field>
  
              <mat-form-field>
                <mat-select placeholder="{{'Set page limit'|translate}}" [(value)]="pageSize" (selectionChange)="setPageAfterPageLimit()">
                  <mat-option>-- None --</mat-option>
                  <mat-option *ngFor="let num of pageNumbers" [value]="num">
                    {{num}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
  
            </div>
  
  
  
            <div fxLayoutAlign="end end" fxLayoutGap="10px">
              <div>
                <p *ngIf="!isItemLevelTax">*Discount/Tax/Grand Total are not applicable for header level tax setting</p>
              </div>
              <button mat-raised-button color="primary" (click)="onSearch()">
                <i class="material-icons menu-icon top-search" matTooltip="Search">search</i>
              </button>
              <button mat-raised-button type="button" (click)="clear()">
                <i class="material-icons" matTooltip="Clear!">clear_all</i>
              </button>
            </div>
          </form>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
   
  <div class="example-container-new mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="purchaseOrderNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'PO Number'|translate}} </th>
        <td style="cursor: pointer;" mat-cell *matCellDef="let element" (click)="showReference(element.purchaseOrderNumber)"> {{element.purchaseOrderNumber}}</td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>


      <ng-container matColumnDef="purchaseOrderDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'PO Date'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.purchaseOrderDate | date: 'dd/MM/yyyy'}}
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <ng-container matColumnDef="statusName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'Status'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <!-- <p [ngClass]=" element.statusName === 'Cancelled' ? 'cancel-class' : null">{{element.statusName}}</p> -->
          <p [ngClass]=" {'cancel-class' : element.statusName === 'Cancelled', null : element.statusName !== 'Cancelled' }">{{element.statusName}}</p>
          <!-- {{element.statusName}} -->
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <ng-container matColumnDef="partyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'Party Name'|translate}}
        </th>
        <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
     
      <ng-container matColumnDef="material">
        <th mat-header-cell *matHeaderCellDef>
          {{'Material'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">{{element.materialName}}</td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>

      <ng-container matColumnDef="internalReferenceNumber">
        <th mat-header-cell *matHeaderCellDef>
          {{'InternalRefNum'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">{{element.InternalRefNum}}</td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>
          {{'Quantity'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;"> {{element.quantity | number : '.2'}}</p>
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>

      <ng-container matColumnDef="uom">
        <th mat-header-cell *matHeaderCellDef>
          {{'UOM'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p > {{element.unitOfMeasurementName}}</p>
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>
          {{'Price'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;"> {{element.price | number : '.2'}} </p>
        </td>
        <td mat-footer-cell *matFooterCellDef>
            <p style="text-align: right;">{{getTotalPrice() | number: '.2'}} </p>
          </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>{{'Amount'|translate}}</th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;">{{element.amount | number : '.2'}}</p>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <p style="text-align: right;">{{getTotalAmount() | number: '.2'}} </p>
        </td>
      </ng-container>
      <ng-containner matColumnDef="discountAmount">
        <th mat-header-cell *matHeaderCellDef>
          {{'Discount Amount'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;">{{element.discountAmount | number: '.2'}}</p>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <p style="text-align: right;">{{getTotalDiscountAmount() | number: '.2'}} </p>
        </td>
      </ng-containner>

      
 
      <ng-container matColumnDef="cgstTaxPercentage">
        <th mat-header-cell *matHeaderCellDef>
          {{'Cgst Tax Rate'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;"> {{element.cgstTaxPercentage| number : '.2'}} </p>
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>

      <ng-container matColumnDef="cgstTaxAmount">
        <th mat-header-cell *matHeaderCellDef>
          {{'CGST Tax Amount'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;">{{element.cgstTaxAmount | number: '.2'}}</p>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <p style="text-align: right;">{{getTotalCgstTaxAmount() | number: '.2'}} </p>
        </td>
      </ng-container>

      <ng-container matColumnDef="sgstTaxPercentage">
        <th mat-header-cell *matHeaderCellDef>
          {{'Sgst Tax Rate'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;"> {{element.sgstTaxPercentage| number : '.2'}} </p>
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>


      <ng-container matColumnDef="sgstTaxAmount">
        <th mat-header-cell *matHeaderCellDef>
          {{'SGST Tax Amount'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;">{{element.sgstTaxAmount | number: '.2'}}</p>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <p style="text-align: right;">{{getTotalSgstTaxAmount() | number: '.2'}} </p>
        </td>
      </ng-container>

      <ng-container matColumnDef="igstTaxPercentage">
        <th mat-header-cell *matHeaderCellDef>
          {{'Igst Tax Rate'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;">{{element.igstTaxPercentage| number : '.2'}} </p>
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>

      <ng-container matColumnDef="igstTaxAmount">
        <th mat-header-cell *matHeaderCellDef>
          {{'IGST Tax Amount'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;">{{element.igstTaxAmount | number: '.2'}}</p>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <p style="text-align: right;">{{getTotalIgstTaxAmount() | number: '.2'}} </p>
        </td>
      </ng-container>


      <ngContainer matColumnDef="grandTotal">
        <th mat-header-cell *matHeaderCellDef>
          {{'Grand Total'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;">{{element.totalAmount | number: '.2'}}</p>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <p style="text-align: right;">{{getTotalGrandTotal() | number: '.2'}} </p>
        </td>
      </ngContainer>
      <ng-container matColumnDef="remarks">
        <th mat-header-cell *matHeaderCellDef>
          {{'Remarks'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p > {{element.remarks}}</p>
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>

  </div>
  <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  
  <div class="button-panel" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  
    <div>
      <button mat-raised-button type="button" (click)="close()" matTooltip="Close">
        <i class="material-icons">close</i>
        {{'Close'|translate}}</button>
    </div>
    <!-- <div>
      <button mat-raised-button type="button" color="primary" (click)="saveAsExcel()" matTooltip="Save as Excel">
        <i class="material-icons">import_export</i> {{'Export to Excel'|translate}}</button>
    </div>
   -->
  
  
    <!-- <div>
      <button mat-raised-button type="button" color="primary" (click)="saveAsPdf()" matTooltip="Save as Pdf">
        <i class="material-icons">import_export</i> {{'Export to Pdf'|translate}}</button>
    </div> -->
  
  </div>