<div class="example-container">
  
  
    <mat-toolbar color="primary" class="fixed-header-master">
        <app-sub-heading [route]="route_in">
          </app-sub-heading>
      <!-- <div fxLayout="row" fxLayoutAlign="end center" class="title-row">
          <div fxFlex="97">
              <label class="form-header-lbl">Voucher</label>
          </div>
          <div fxFlex>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="saveAsExcel()">
                  <mat-icon>import_export</mat-icon>
                  <span>Export to Excel</span>
                  </button>
                  <button mat-menu-item (click)="close()">
                  <mat-icon>close</mat-icon>
                  <span>Close</span>
                  </button>
              </mat-menu>
          </div>
      </div> -->
    </mat-toolbar>
    <mat-accordion>
      <mat-expansion-panel  [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5pt">
              <div><mat-icon style="font-size:20pt;">filter_list</mat-icon></div>
              <div><p>{{'Filter'|translate}}</p></div>
            </div>
          </mat-panel-title>
          <mat-panel-description>
    
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <div fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center center" fxLayoutAlign.lt-md="space-around stretch">
          <form [formGroup]="filterForm" novalidate>

            <div fxLayoutAlign="space-around center" fxLayoutAlign.lt-md="space-around stretch" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10pt">
              <mat-form-field class="form-box">
                <mat-select class="input-container" formControlName="financialYearId">
                  <mat-option>-- None --</mat-option>
                  <mat-option *ngFor="let financialYear of financialYears" [value]="financialYear.id">
                    {{financialYear.financialYear}}
                  </mat-option>
    
                </mat-select>
                <mat-placeholder>{{'Financial Year'|translate}}</mat-placeholder>
              </mat-form-field>
       
              <!-- <mat-form-field >
                  <input type="text" matInput [formControl]="partyControl" [matAutocomplete]="autoParty">
                  <mat-placeholder>{{partyPlaceHolder}}</mat-placeholder>
                  <mat-autocomplete #autoParty="matAutocomplete">
                    <mat-option *ngFor="let party of filteredParties | async" [value]="party.name" (onSelectionChange)="partyChange($event,party)">
                      {{party.name}}
                    </mat-option>
                  </mat-autocomplete>              
              </mat-form-field> -->
    
         
              <!-- <mat-form-field >
                  <input type="text" matInput [formControl]="materialControl" [matAutocomplete]="autoMaterial">
                  <mat-placeholder>Material</mat-placeholder>
                  <mat-autocomplete #autoMaterial="matAutocomplete">
                    <mat-option *ngFor="let material of filteredMaterials | async" [value]="material.name" (onSelectionChange)="materialChange($event,material)">
                      {{material.name}}
                    </mat-option>
                  </mat-autocomplete>              
              </mat-form-field> -->
    
              <mat-form-field>
                <input matInput [matDatepicker]="fromatatepicker" readonly placeholder="{{'From date'|translate}}" formControlName="transactionFromDate">
                <mat-datepicker-toggle matSuffix [for]="fromatatepicker"></mat-datepicker-toggle>
                <mat-datepicker #fromatatepicker></mat-datepicker>
              </mat-form-field>
    
              <mat-form-field>
                <input matInput [matDatepicker]="toDatepicker" readonly placeholder="{{'To date'|translate}}" formControlName="transactionToDate">
                <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #toDatepicker></mat-datepicker>
              </mat-form-field>

              <mat-form-field>
                <mat-select formControlName="materialId">
                  <mat-option>-- None --</mat-option>
                  <mat-option *ngFor="let expense of expenses" [value]="expense.id">
                    {{expense.name}}
                  </mat-option>
        
                </mat-select>
                <mat-placeholder>{{'Expense'|translate}}</mat-placeholder>
              </mat-form-field>
              <!-- <mat-form-field style="align-content: left;">
                <mat-select placeholder="Set page limit" [(value)]="pageSize" (selectionChange)="setPageAfterPageLimit()">
                  <mat-option>-- None --</mat-option>
                  <mat-option *ngFor="let num of pageNumbers" [value]="num">
                        {{num}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field style="align-content: left;">
              <mat-select placeholder="Set page limit" [(value)]="pageSize" (selectionChange)="setPageAfterPageLimit()">
                <mat-option>-- None --</mat-option>
                <mat-option *ngFor="let num of pageNumbers" [value]="num">
                      {{num}}
                  </mat-option>
              </mat-select>
          </mat-form-field> -->
              <!-- <mat-form-field style="align-content: left;">
                <mat-placeholder> Set page limit </mat-placeholder>
                <mat-select [(value)]="pageSize" (selectionChange)="setPageAfterPageLimit()">
                  <mat-option>-- None --</mat-option>
                  <mat-option *ngFor="let page of pageNumbers" [value]="page.id">
                    {{page.id}} 
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
              <!-- <p>You selected: {{pageSize}} </p> -->
            </div>
            <div fxLayoutAlign="end end" fxLayoutGap="10px">
              <button mat-raised-button color="primary" (click)="onSearch()">
                <i class="material-icons menu-icon top-search" matTooltip="Search">search</i>
              </button>
              <button mat-raised-button type="button" (click)="clear()"><i class="material-icons" matTooltip="Clear!">clear_all</i></button>
    </div>
          </form>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="example-container-new mat-elevation-z8">
  
      <table mat-table [dataSource]="dataSource" matSort>
    
        <ng-container matColumnDef="voucherNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Voucher No.'|translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.voucherNumber}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
    
    
        <ng-container matColumnDef="voucherDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{'Voucher Date'|translate}}
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.voucherDate | date: 'dd/MM/yyyy'}}
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
  
        <ng-container matColumnDef="expenseName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Expense'|translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.expenseName}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
  
        <ng-container matColumnDef="paidTo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{'Paid To'|translate}}
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.paidTo}}
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
    
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{'Description'|translate}}
          </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
  
        <ng-containner matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>
            {{'Amount'|translate}}
          </th>
          <td mat-cell *matCellDef="let element"><p style="text-align: right;">{{element.amount | number : '.2'}}</p></td>
          <td mat-footer-cell *matFooterCellDef><p style="text-align: right;">{{getTotalAmount()  | number: '.2'}} </p></td>
        </ng-containner>
  
        <ng-container matColumnDef="chequeNumber">
          <th mat-header-cell *matHeaderCellDef >
            {{'Cheque Number'|translate}}
          </th>
          <td mat-cell *matCellDef="let element"> {{element.chequeNumber}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
  
        <ng-container matColumnDef="chequeDate">
          <th mat-header-cell *matHeaderCellDef>{{'Cheque Date'|translate}}</th>
          <td mat-cell *matCellDef="let element">{{element.chequeDate | date: 'dd/MM/yyyy' }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
  
        <ng-containner matColumnDef="bankName">
          <th mat-header-cell *matHeaderCellDef>
            {{'Bank Name'|translate}}
          </th>
          <td mat-cell *matCellDef="let element">{{element.bankName}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-containner>
  
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
      </table>
    
    </div>
    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  
  <div class="button-panel" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      
          <div>
          <button mat-raised-button type="button" (click)="close()" matTooltip="Close"><i class="material-icons">close</i> {{'Close'|translate}}</button>
          </div>
          <div>
          <button mat-raised-button type="button" color="primary" (click)="saveAsExcel()" matTooltip="Save as Excel"><i class="material-icons">import_export</i> {{'Export to Excel'|translate}}</button>
          </div>

          <div>
            <button mat-raised-button type="button" color="primary" (click)="saveAsPdf()" matTooltip="Save as Pdf"><i class="material-icons">import_export</i>
              {{'Export to Pdf'|translate}}</button>
          </div>
        
      
      </div>