<div class="example-container">


    <mat-toolbar color="primary" class="fixed-header-master">
        <div>
            <app-sub-heading [route]="route_in">
            </app-sub-heading>
        </div>
       
    </mat-toolbar>
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5pt">
              <div>
                <mat-icon style="font-size:20pt;">filter_list</mat-icon>
              </div>
              <div>
                <p>{{'Filter'|translate}}</p>
              </div>
            </div>
          </mat-panel-title>
          <mat-panel-description>
  
          </mat-panel-description>
        </mat-expansion-panel-header>
  
        <div fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center center" fxLayoutAlign.lt-md="space-around stretch">
          <form [formGroup]="filterForm" novalidate>
            <mat-radio-group (change)="mainPartyTypeChange()" [(ngModel)]="mainPartyType" [ngModelOptions]="{standalone: true}">
              <mat-radio-button [value]="'customer'">
                  <label>{{'Customer/Supplier'|translate}}</label>
              </mat-radio-button> &nbsp; &nbsp;
              <mat-radio-button [value]="'jobworker'">
                  <label>{{'Jobworker/Vendor'|translate}}</label>
              </mat-radio-button>
          </mat-radio-group>
            <div fxLayoutAlign="space-around center" fxLayoutAlign.lt-md="space-around stretch" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10pt">
              <mat-form-field class="form-box">
                <mat-select class="input-container" formControlName="financialYearId">
                  <mat-option>-- None --</mat-option>
                  <mat-option *ngFor="let financialYear of financialYears" [value]="financialYear.id">
                    {{financialYear.financialYear}}
                  </mat-option>
  
                </mat-select>
                <mat-placeholder>{{'Financial Year'|translate}}</mat-placeholder>
              </mat-form-field>
  
              <mat-form-field>
                <input type="text" matInput [formControl]="partyControl" [matAutocomplete]="autoParty">
                <mat-placeholder>{{partyPlaceHolder}}</mat-placeholder>
                <mat-autocomplete #autoParty="matAutocomplete">
                  <mat-option *ngFor="let party of filteredParties | async" [value]="party.name" (onSelectionChange)="partyChange($event,party)">
                    {{party.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
  
  
              <mat-form-field>
                <input matInput [matDatepicker]="fromatatepicker" placeholder="{{'From date'|translate}}" readonly formControlName="transactionFromDate">
                <mat-datepicker-toggle matSuffix [for]="fromatatepicker"></mat-datepicker-toggle>
                <mat-datepicker #fromatatepicker></mat-datepicker>
              </mat-form-field>
  
              <mat-form-field>
                <input matInput [matDatepicker]="toDatepicker" placeholder="{{'To date'|translate}}" readonly formControlName="transactionToDate">
                <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #toDatepicker></mat-datepicker>
              </mat-form-field>
              
              
            </div>
            <div fxLayoutAlign="end end" fxLayoutGap="10px">
              <button mat-raised-button color="primary" (click)="onSearch()">
                <i class="material-icons menu-icon top-search" matTooltip="Search">search</i>
              </button>
              <button mat-raised-button type="button" (click)="clear()">
                <i class="material-icons" matTooltip="Clear!">clear_all</i>
              </button>
            </div>
  
          </form>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="example-container-new mat-elevation-z8">

      <table mat-table [dataSource]="dataSource" matSort>
  
       

        <ng-container matColumnDef="payReferenceDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{'Paid Date'|translate}}
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.payReferenceDate | date: 'dd/MM/yyyy'}}
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="payReferenceNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Payment Number'|translate}} </th>
          <td  mat-cell *matCellDef="let element" > {{element.payReferenceNumber}}</td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="statusName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{'Status'|translate}}
          </th>
          <td mat-cell *matCellDef="let element">
            <!-- <p [ngClass]=" element.statusName === 'Cancelled' ? 'cancel-class' : null">{{element.statusName}}</p> -->
            <p [ngClass]=" {'cancel-class' : element.statusName === 'Cancelled', null : element.statusName !== 'Cancelled' }">{{element.statusName}}</p>
            <!-- {{element.statusName}} -->
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="invoiceNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Invoice Number'|translate}} </th>
          <td  mat-cell *matCellDef="let element" > {{element.invoiceNumber}}</td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
       
        
        <ng-container matColumnDef="invoiceDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{'Invoice Date'|translate}}
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.invoiceDate | date: 'dd/MM/yyyy'}}
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

      <ng-container matColumnDef="partyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'Party Name'|translate}}
        </th>
        <td mat-cell *matCellDef="let element"> {{element.partyName}} </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>

      <ngContainer matColumnDef="invoiceAmount">
        <th mat-header-cell *matHeaderCellDef>
          {{'Total Amount'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;">{{element.invoiceAmount | number: '.2'}}</p>
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ngContainer>

      <ngContainer matColumnDef="dueAmount">
        <th mat-header-cell *matHeaderCellDef>
          {{'Balance Amount'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;">{{element.dueAmount | number: '.2'}}</p>
        </td>
         <td mat-footer-cell *matFooterCellDef> </td>
      </ngContainer>

      <ngContainer matColumnDef="tdsPercentage">
        <th mat-header-cell *matHeaderCellDef>
          {{'TDS percentage'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;">{{element.tdsPercentage | number: '.2'}}</p>
        </td>
         <td mat-footer-cell *matFooterCellDef> </td>
      </ngContainer>

      <ngContainer matColumnDef="tdsAmount">
        <th mat-header-cell *matHeaderCellDef>
          {{'TDS amount'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;">{{element.tdsAmount | number: '.2'}}</p>
        </td>
         <td mat-footer-cell *matFooterCellDef> </td>
      </ngContainer>

      <ngContainer matColumnDef="amountAfterTds">
        <th mat-header-cell *matHeaderCellDef>
          {{'Amount after TDS'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;">{{element.amountAfterTds | number: '.2'}}</p>
        </td>
         <td mat-footer-cell *matFooterCellDef> </td>
      </ngContainer>

      <ngContainer matColumnDef="paidAmount">
        <th mat-header-cell *matHeaderCellDef>
          {{'Amount Paid'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;">{{element.paidAmount | number: '.2'}}</p>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <p style="text-align: right;">{{getTotalPaidAmount() | number: '.2'}} </p>
        </td>
      </ngContainer>
     
      <ng-container matColumnDef="paymentMethodName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'Payment Mode'|translate}}
        </th>
        <td mat-cell *matCellDef="let element"> {{element.paymentMethodName}} </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>

      <ng-container matColumnDef="cheque">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'Cheque No/Bank Name'|translate}}
        </th>
        <td mat-cell *matCellDef="let element"> {{element.paymentDocumentNumber}}  {{element.bankName}} </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
      </table>
  
    </div>
    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  
  </div>
  
  <div class="button-panel" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  
    <div>
      <button mat-raised-button type="button" (click)="close()" matTooltip="Close">
        <i class="material-icons">close</i> {{'Close'|translate}}</button>
    </div>
    <div>
      <!-- <button mat-raised-button type="button" color="primary" (click)="saveAsExcel()" matTooltip="Save as Excel">
        <i class="material-icons">import_export</i> Export to Excel</button> -->
  
        <button mat-raised-button type="button" color="primary" (click)="saveAsExcel()" matTooltip="Save as Excel">
          <i class="material-icons">import_export</i> {{'Export to Excel'|translate}}</button>
    </div>
  
  
    <div>
      <button mat-raised-button type="button" color="primary" (click)="saveAsPdf()" matTooltip="Save as Pdf"><i class="material-icons">import_export</i>
        {{'Export to Pdf'|translate}}</button>
    </div>
  
  
  </div>
