
<!-- <div *ngIf="!isDC && isItemLevelTax" [formGroup]="group">
    <div *ngIf="index === 0" fxHide.lt-md="true" fxLayout="row" fxLayoutGap="1px">

        <div fxFlex class="item-header">
            <mat-toolbar color="accent">SL NO</mat-toolbar>
        </div>
        <div fxFlex class="item-header">

            <button mat-raised-button color="accent" class="item-header-button">Material</button>
        </div>
        <div fxFlex class="item-header">

            <button mat-raised-button color="accent" class="item-header-button">Part Number</button>
        </div>
        <div fxFlex class="item-header">

            <button mat-raised-button color="accent" class="item-header-button">HSN/ SAC</button>
        </div>
        <div fxFlex class="item-header">

            <button mat-raised-button color="accent" class="item-header-button">UOM</button>

        </div>
        <div fxFlex class="item-header">

            <button mat-raised-button color="accent" class="item-header-button">Quantity</button>
        </div>
        <div fxFlex class="item-header">

            <button mat-raised-button color="accent" class="item-header-button">Price</button>
        </div>
        <div fxFlex class="item-header">

            <button mat-raised-button color="accent" class="item-header-button">Amt</button>
        </div>
        <div fxFlex class="item-header">

            <button mat-raised-button color="accent" class="item-header-button">Disc%</button>
        </div>
        <div fxFlex class="item-header">

            <button mat-raised-button color="accent" class="item-header-button">Disc Amt</button>
        </div>
        <div fxFlex class="item-header">

            <button mat-raised-button color="accent" class="item-header-button">Amt After Disc</button>
        </div>
        <div *ngIf="!isIgst" fxFlex class="item-header">

            <button mat-raised-button color="accent" class="item-header-button">SGST %</button>
        </div>
        <div *ngIf="!isIgst" fxFlex class="item-header">

            <button mat-raised-button color="accent" class="item-header-button">SGST Amt</button>
        </div>
        <div *ngIf="!isIgst" fxFlex class="item-header">

            <button mat-raised-button color="accent" class="item-header-button">CGST %</button>
        </div>
        <div *ngIf="!isIgst" fxFlex class="item-header">

            <button mat-raised-button color="accent" class="item-header-button">CGST Amt</button>
        </div>
        <div *ngIf="isIgst" fxFlex class="item-header">

            <button mat-raised-button color="accent" class="item-header-button">IGST %</button>
        </div>
        <div *ngIf="isIgst" fxFlex class="item-header">

            <button mat-raised-button color="accent" class="item-header-button">IGST Amt</button>
        </div>
        <div fxFlex class="item-header">

            <button mat-raised-button color="accent" class="item-header-button">Amt After Tax</button>
        </div>
        <div fxFlex class="item-header">

            <button mat-raised-button color="accent" class="item-header-button">Remarks</button>
        </div>
        <div fxFlex class="item-header">

            <button mat-raised-button color="accent" class="item-header-button">Del</button>
        </div>

    </div>

    <div fxLayout.lt-md="column" fxLayoutGap="1px" class="items-container">

        <div fxFlex>
            <div class="input-sm"><label class="lbl-class">{{index + 1}}</label></div>
        </div>
        <div fxFlex>
            <input type="text" class="input-sm" formControlName="partName" readonly>
        </div>
        <div fxFlex>
            <input type="text" class="input-sm" formControlName="partNumber" readonly>
        </div>
        <div fxFlex>
            <input type="text" class="input-sm" formControlName="hsnOrSac" readonly>
        </div>
        <div fxFlex>
            <input type="text" class="input-sm" formControlName="uom" readonly>
        </div>
        <div fxFlex>
            <input type="number" class="input-sm input-right" formControlName="quantity" (keyup)="onQuantityChange()">
        </div>
        <div fxFlex>
            <input type="number" class="input-sm input-right" formControlName="price" (keyup)="onPriceChange()">
        </div>
        <div fxFlex>
            <input type="number" class="input-sm input-right" formControlName="amount" readonly>
        </div>
        <div fxFlex>
            <input type="number" class="input-sm input-right" formControlName="discountPercentage" (keyup)="onDiscountPercentageChange()">
        </div>
        <div fxFlex>
            <input type="number" class="input-sm input-right" formControlName="discountAmount" (keyup)="onDiscountAmountChange()">
        </div>
        <div fxFlex>
            <input type="number" class="input-sm input-right" formControlName="amountAfterDiscount" readonly>
        </div>
        <div *ngIf="!isIgst" fxFlex>
            <input type="number" class="input-sm input-right" formControlName="sgstTaxPercentage" readonly>
        </div>


        <div *ngIf="!isIgst" fxFlex>
            <input type="number" class="input-sm input-right" formControlName="sgstTaxPercentage" readonly>
        </div>
        <div *ngIf="!isIgst" fxFlex>
            <input type="number" class="input-sm input-right" formControlName="sgstTaxAmount" readonly>
        </div>


        <div *ngIf="!isIgst" fxFlex>
            <input type="number" class="input-sm input-right" formControlName="cgstTaxPercentage" readonly>
        </div>
        <div *ngIf="!isIgst" fxFlex>
            <input type="number" class="input-sm input-right" formControlName="cgstTaxAmount" readonly>
        </div>


        <div *ngIf="isIgst" fxFlex>
            <input type="number" class="input-sm input-right" formControlName="igstTaxPercentage" readonly>
        </div>
        <div *ngIf="isIgst" fxFlex>
            <input type="number" class="input-sm input-right" formControlName="igstTaxAmount" readonly>
        </div>
        <div fxFlex>
            <input type="number" class="input-sm input-right" formControlName="amountAfterTax" readonly>
        </div>
        <div fxFlex>
            <input type="text" class="input-sm" formControlName="remarks">
        </div>
        <div fxFlex>
            <mat-icon *ngIf="!group.disabled" class="delete-class" (click)="delete(index)">delete</mat-icon>
        </div>
    </div>
</div> -->

<div [formGroup]="group" fxLayout="column" fxLayoutAlign="space-evenly stretch" >
    <div *ngIf="index === 0" fxLayout="row" fxLayoutAlign="space-evenly stretch" fxLayoutGap="2px" [class]="getRowClass()" fxHide.lt-md="true">
        <div *ngFor="let config of filteredItems()" 
        [fxFlex]="config.fxFlex"
        >
            <mat-toolbar class="item-header"  [color]="config.color">{{config.text | translate}}</mat-toolbar>            
            <!-- <button mat-raised-button class="item-header"  [color]="config.color">{{config.text}}</button> -->
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly stretch" fxLayoutGap="2px" fxHide.lt-md="true" [class]="getRowClass()" >
        <div *ngFor="let config of filteredItems(); let idx=index" 
        [fxFlex]="config.fxFlex"
        >
            <label *ngIf="!config.formControlName && config.text === 'SL'" [class]="config.itemClass">{{index + 1}}</label>
            <mat-form-field *ngIf="config.formControlName && !config.isTextArea"  class="input-container" appearance="outline">
                <input matInput [type]="config.inputType"
                [ngClass]="{'input-sm' : getFieldValid(config.formControlName), 'input-sm-invalid': !getFieldValid(config.formControlName) }"
                [class]="config.itemClass"
                [formControlName]="config.formControlName"
                [readonly]="config.readonly"
                [OnlyNumber]="config.OnlyNumber"
                (change)="genericKeyUp(idx, config.formControlName)"
                [matTooltip]="getToolTip(config.formControlName)"
                [maxLength]="config.maxLength ? config.maxLength : 1000">
            </mat-form-field>
            <mat-form-field *ngIf="config.formControlName && config.isTextArea"  class="input-container" appearance="outline">
                <textarea matInput [type]="config.inputType"
                [ngClass]="{'input-sm' : getFieldValid(config.formControlName), 'input-sm-invalid': !getFieldValid(config.formControlName) }"
                [class]="config.itemClass"
                [formControlName]="config.formControlName"
                [readonly]="config.readonly"
                [OnlyNumber]="config.OnlyNumber"
                (change)="genericKeyUp(idx, config.formControlName)"
                [matTooltip]="getToolTip(config.formControlName)"
                [maxLength]="config.maxLength ? config.maxLength : 1000">
                </textarea>
            </mat-form-field>    
            <i *ngIf="!group.disabled && config.text === 'Del'" (click)="delete(index)" class="material-icons delete-class">delete</i>
        </div>
        
    </div>    
    <!-- <div fxLayout="column" fxShow="false" fxShow.lt-md="true" class="small-item-view">
            <div *ngFor="let config of filteredItems()" fxLayout="row">
                    <mat-toolbar *ngIf="config.formControlName" class="item-header" [color]="config.color">{{config.text}}</mat-toolbar>
                    <input *ngIf="config.formControlName" [type]="config.inputType"
                    [class]="config.itemClass"
                    [ngClass]="config.valiateClass"
                    [formControlName]="config.formControlName"
                    [readonly]="config.readonly"
                    [OnlyNumber]="config.OnlyNumber"
                    (change)="genericKeyUp(config.formControlName)">            
            </div>
    </div> -->
    <div fxLayout="column" fxShow="false" fxShow.lt-md="true">
        <div>
        <mat-accordion>
        <mat-expansion-panel style="margin: 0px !important;">
            <mat-expansion-panel-header>
              <!-- <mat-panel-title>
                {{group.get('partName').value}}
              </mat-panel-title>
              <mat-panel-description>
                {{group.get('amount').value}}
              </mat-panel-description> -->
              <div fxLayout="row" fxLayoutAlign="space-between stretch" style="width: 100%">
                <div fxFlex="70">
                        {{group.get('partName').value}}
                </div>
                <div fxFlex="20" fxFlexAlign="end" style="text-align: right">
                        {{group.get('amount').value}}
                </div>
                <div fxFlex="10">

                </div>
              </div>

             
            </mat-expansion-panel-header>
            <div fxLayout="column" class="small-item-view">
                <!-- <mat-form-field *ngIf="config.formControlName">
                    <input matInput formControlName="quantity" placeholder="Quantity">
                </mat-form-field> -->
                <!-- <input matInput formControlName="price" placeholder="Price">
                <input matInput formControlName="discountPercentage" placeholder="Discount Percentage">
                <input matInput formControlName="amountAfterDiscount" placeholder="Amount After Discount"> -->
                <!-- <i *ngIf="!group.disabled && config.text === 'Del'" (click)="delete(index)" class="material-icons delete-class">delete</i> -->
                <div *ngFor="let config of filteredItems()" fxLayout="row">
                        <mat-toolbar *ngIf="config.formControlName" class="item-header" [color]="config.color">{{config.text}}</mat-toolbar>
                        <input *ngIf="config.formControlName" [type]="config.inputType"
                        [class]="config.itemClass"
                        [ngClass]="config.valiateClass"
                        [formControlName]="config.formControlName"
                        [readonly]="config.readonly"
                        [OnlyNumber]="config.OnlyNumber"
                        (change)="genericKeyUp(idx, config.formControlName)">            
                </div>
            </div>

          </mat-expansion-panel>
          </mat-accordion>
          </div>
          <div>
          <mat-divider></mat-divider>
          </div>
    </div>
</div>

