
// body {
//     margin: 0px;
//     padding: 0px;
// }

// .example-header-image {
//     background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//     background-size: cover;
// }


// .mat-card-content {
//     padding: 10px;
// }



// .example-container{
//     top: 5%;
//     background-color: #f1f1f1
// }

// .example-spacer {
//     flex: 1 1 auto;
// }


// .mat-card{
//     padding: 0px;
//     margin-bottom: 5%;
//     margin-right: 5%;
//     margin-top: 5%;
//     margin-left: 5%;
// }

// .material-icons{
//     font-size: 15px;
//     height: 20px;
// }

// .menu-icon{
//     font-size: 24px;
//     height: 30px;
//     padding-right: 10px;
// }

// .mat-card-subtitle{
//     font-weight: bold;
// }


// .input-right{
//     text-align: right;
// }


// .color-picker-alternative{
//     font-size: 35px;
// }

// .top-search{
//     cursor: pointer;
// }

// .mat-form-field{
//     width:100%;
// }


.top-container{
    padding: 0px;
    align-items: center;
}

.top-container > * {
    width: 100%;
}

.mat-form-field{
    width: 100%;
}

.mat-raised-button{
    width: 100%;
}