<ngx-alerts>
</ngx-alerts>
<div class="example-loading-shade" *ngIf="spinStart">
    <mat-spinner *ngIf="spinStart"></mat-spinner>
</div>
<form [formGroup]="registrationForm" (ngSubmit)="submit(registrationForm.value)">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center stretch" fxFlex.lt-md="100" fxFlex="40" fxFlexAlign="center">
            <div formGroupName="companyDTO">
                <mat-card *ngIf="showFirst">
                    <img mat-card-image src="./assets/BOS-Standard-Logo.png" alt="Product Logo">
                    <div fxLayout="column" fxLayoutAlign="center center" class="top-container" fxLayoutGap="10">
                        <div>
                            <mat-form-field>
                                <input matInput placeholder="Company name*" formControlName="name" />
                                <mat-error *ngIf="registrationForm.get('companyDTO')['controls'].name?.invalid">please
                                    enter
                                    Company name</mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-placeholder>State*</mat-placeholder>
                                <mat-select formControlName="stateId">
                                    <!-- <mat-option value=1>Karnataka</mat-option> -->
                                    <mat-option *ngFor="let state of states" [value]="state.id">
                                        {{state.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="registrationForm.get('companyDTO')['controls'].stateId?.invalid">
                                    Please
                                    select
                                    State</mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <textarea matInput placeholder="Address*" formControlName="address"></textarea>
                                <mat-error *ngIf="registrationForm.get('companyDTO')['controls'].address?.invalid">
                                    Please
                                    enter
                                    Address</mat-error>
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-accordion>
                                <mat-expansion-panel style="margin: 0px !important; margin-bottom: 10pt !important;">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>GST Details</mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <mat-form-field>
                                        <mat-placeholder>GST Registration Type</mat-placeholder>
                                        <mat-select formControlName="gstRegistrationTypeId"
                                            (selectionChange)="validateGSTType()">

                                            <mat-option *ngFor="let regType of gstRegistrationTypes"
                                                [value]="regType.id">
                                                {{regType.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error
                                            *ngIf="registrationForm.get('companyDTO')['controls'].gstRegistrationTypeId?.invalid">
                                            Please
                                            select Reg type</mat-error>
                                    </mat-form-field>
                                    <mat-form-field>

                                        <span matTooltip="Only 15 Character">
                                            <input matInput placeholder="GST Number" formControlName="gstNumber" />
                                        </span>
                                        <mat-error
                                            *ngIf="registrationForm.get('companyDTO')['controls'].gstNumber?.invalid">
                                            please
                                            enter
                                            valid GST Number</mat-error>
                                    </mat-form-field>
                                </mat-expansion-panel>
                            </mat-accordion>

                        </div>


                        <div fxFlexAlign="center">
                            <!-- [disabled]="registrationForm.get('companyDTO')['controls'].name?.touched && registrationForm.get('companyDTO')['controls'].name?.valid && registrationForm.get('companyDTO.stateId').touched && registrationForm.get('companyDTO.stateId').valid && registrationForm.get('companyDTO.address').touched && registrationForm.get('companyDTO.address').valid" -->
                            <button mat-raised-button type="button" [disabled]="getIsFirstDisabled()" color="primary"
                                (click)="firstSection()">NEXT</button>
                        </div>
                    </div>

                </mat-card>
            </div>
            <mat-card *ngIf="showSecond">
                <div formGroupName="userDTO">

                    <img mat-card-image src="./assets/BOS-Standard-Logo.png" alt="Product Logo">
                    <div fxLayout="column" fxLayoutAlign="center center" class="top-container" fxLayoutGap="10">
                        <div>
                            <mat-form-field>
                                <input matInput placeholder="Name*" formControlName="name" />
                                <mat-error *ngIf="registrationForm.get('userDTO')['controls'].name?.invalid">Please
                                    enter
                                    Name</mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <input #email matInput placeholder="E-Mail*" formControlName="email"
                                    (change)="validateEmail()" />
                                <mat-error *ngIf="registrationForm.get('userDTO')['controls'].email?.invalid">Please
                                    enter
                                    Valid E-mail</mat-error>
                                <!-- <mat-error *ngIf="registrationForm.get('email').hasError('validateEqual')">{{getErrorMessage()}}</mat-error> -->
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-form-field>
                                <input #username matInput maxlength=50 autocomplete="off" placeholder="Username*"
                                    formControlName="username" (change)="checkUsernameAvailability()" />
                                <mat-error *ngIf="registrationForm.get('userDTO.username').hasError('whitespace')">
                                    Username should not have space</mat-error>
                                <mat-error *ngIf="registrationForm.get('userDTO.username').hasError('minlength')">
                                    Username should be minimum 5 characters</mat-error>
                                <mat-hint align="end">{{registrationForm.get('userDTO.username').value?.length || 0}}/50
                                </mat-hint>
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-form-field>
                                <mat-hint>min characters 5 and Max characters 12</mat-hint>
                                <input matInput type="password" minlength="5" maxlength=12 placeholder="Password*"
                                    [type]="hide ? 'password' : 'text'" formControlName="password"
                                    (change)="validatePassword()">
                                <mat-error *ngIf="registrationForm.get('userDTO.password').hasError('whitespace')">
                                    Password should not have space</mat-error>
                                <mat-error *ngIf="registrationForm.get('userDTO.password').hasError('minlength')">
                                    Password should be minimum 5 characters</mat-error>
                                <mat-error *ngIf="registrationForm.get('userDTO.password').hasError('validateEqual')">
                                    Password not matching with confirm passowrd</mat-error>
                                <mat-error *ngIf="registrationForm.get('userDTO.password').hasError('sameAsUsername')">
                                    Password should not be same as username</mat-error>

                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}
                                </mat-icon>
                                <mat-hint align="end">{{registrationForm.get('userDTO.password').value?.length || 0}}/12
                                </mat-hint>
                            </mat-form-field>


                        </div>

                        <div>
                            <mat-form-field>
                                <mat-hint>min characters 5 and Max characters 12</mat-hint>
                                <input matInput type="password" minlength="5" maxlength=12
                                    placeholder="Confirm Password" [formControl]="confirmPassword"
                                    [type]="hide ? 'password' : 'text'" (change)="validatePassword()" />
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}
                                </mat-icon>
                                <mat-error *ngIf="confirmPassword.hasError('incorrect')">Password not matching with
                                    confirm passowrd</mat-error>
                                <mat-hint align="end">{{confirmPassword.value?.length || 0}}/12</mat-hint>
                            </mat-form-field>

                        </div>

                    </div>


                </div>
                <div>
                    <div>
                        <mat-checkbox formControlName="enableJobwork" labelPosition="after">
                            Do you need Jobwork related modules?
                        </mat-checkbox>
                    </div>
                    <div fxLayout="row" fxLayoutGap="10">
                        <div fxFlex="50">
                            <button style="width:100%" mat-raised-button type="button" (click)="goBack()">BACK</button>
                        </div>
                        <div fxFlex="50">
                            <button style="width:100%" mat-raised-button type="submit" color="primary"
                                [disabled]="!registrationForm.valid || !confirmPassword.valid"
                                color="primary">REGISTER</button>
                        </div>
                    </div>

                </div>
            </mat-card>
        </div>
    </div>
</form>