<div class="example-container">
    <mat-toolbar color="primary" class="fixed-header-master">

        <div>
            <app-sub-heading [route]="route_in">
            </app-sub-heading>
        </div>

    </mat-toolbar>
    <mat-accordion>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5pt">
                        <div>
                            <mat-icon style="font-size:20pt;">filter_list</mat-icon>
                        </div>
                        <div>
                            <p>Filter</p>
                        </div>
                    </div>
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>

            <div fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center center"
                fxLayoutAlign.lt-md="space-around stretch">
                <form [formGroup]="filterForm" novalidate>

                    <div fxLayoutAlign="space-around center" fxLayoutAlign.lt-md="space-around stretch" fxLayout="row"
                        fxLayout.lt-md="column" fxLayoutGap="10pt">
                        <mat-form-field class="form-box">
                            <mat-select class="input-container" formControlName="financialYearId">
                                <mat-option>-- None --</mat-option>
                                <mat-option *ngFor="let financialYear of financialYears" [value]="financialYear.id">
                                    {{financialYear.financialYear}}
                                </mat-option>

                            </mat-select>
                            <mat-placeholder>Financial Year</mat-placeholder>
                        </mat-form-field>

                        <mat-form-field>
                            <input type="text" matInput [formControl]="partyControl" [matAutocomplete]="autoParty">
                            <mat-placeholder>{{partyPlaceHolder|translate}}</mat-placeholder>
                            <mat-autocomplete #autoParty="matAutocomplete">
                                <mat-option *ngFor="let party of filteredParties | async" [value]="party.name"
                                    (onSelectionChange)="partyChange($event,party)">
                                    {{party.name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput [matDatepicker]="fromatatepicker" placeholder="From date" readonly
                                formControlName="transactionFromDate">
                            <mat-datepicker-toggle matSuffix [for]="fromatatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #fromatatepicker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput [matDatepicker]="toDatepicker" placeholder="To date" readonly
                                formControlName="transactionToDate">
                            <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #toDatepicker></mat-datepicker>
                        </mat-form-field>

                        <!-- <mat-form-field style="align-content: left;">
                            <mat-select placeholder="Set page limit" [(value)]="pageSize"
                                (selectionChange)="setPageAfterPageLimit()">
                                <mat-option>-- None --</mat-option>
                                <mat-option *ngFor="let num of pageNumbers" [value]="num">
                                    {{num}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->
                    </div>
                    <div fxLayoutAlign="end end" fxLayoutGap="10px">
                        <button mat-raised-button color="primary" (click)="onSearch()">
                            <i class="material-icons menu-icon top-search" matTooltip="Search">search</i>
                        </button>
                        <button mat-raised-button type="button" (click)="clear()"><i class="material-icons"
                                matTooltip="Clear!">clear_all</i></button>
                    </div>
                </form>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <!-- *ngIf="!isLoadingResults" -->
    <!-- <div>  -->
            <div class="example-container-new mat-elevation-z8" >

                    <table mat-table [dataSource]="pivotDArray" matSort>
                
                        <ng-container matColumnDef="invoiceNumber">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                              Invoice Number
                            </th>
                            <td mat-cell  style="cursor: pointer;" *matCellDef="let element" (click)="showReference(element.id)">
                              {{element.invoiceNumber}}
                            </td>
                            <td mat-footer-cell *matFooterCellDef> </td>
                          </ng-container>
                         
                
                      <ng-container matColumnDef="invoiceDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                          Invoice Date
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{element.invoiceDate | date: 'dd/MM/yyyy'}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                      </ng-container>
                      

                      <ng-container matColumnDef="partyName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                          Party
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{element.partyName}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                      </ng-container>

                      <ng-container matColumnDef="gstNumber">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                          GSTN
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{element.gstNumber}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                      </ng-container>

                      <ng-container matColumnDef="statusName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                          Status
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{element.statusName}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                      </ng-container>

                      <ng-container matColumnDef="netAmount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                          Net Amount
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <p style="text-align: right;">{{element.netAmount | number: '.2'}}</p>
                        </td>
                        <td mat-footer-cell *matFooterCellDef>{{getTotalNetAmount() | number: '.2'}}  </td>
                      </ng-container>
                      <!-- <ngContainer [matColumnDef]="col" *ngFor="let col of displayedColumns">
                        <th mat-header-cell *matHeaderCellDef>
                          {{col}}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <p style="text-align: right;">{{element[col]}}</p>
                        </td>
                      </ngContainer> -->
                
                      <ngContainer *ngFor="let disCol of taxColumns; let colIndex = index" matColumnDef="{{disCol}}">
                        <th mat-header-cell *matHeaderCellDef>{{disCol}}</th>
                        <td mat-cell *matCellDef="let element "> 
                            <p style="text-align: right;">{{element[disCol] | number: '.2'}}</p>
                        </td>
                        <td mat-footer-cell *matFooterCellDef>
                            <p style="text-align: right;">{{getTotalTaxCol(disCol) | number: '.2'}} </p>
                        </td>
                    </ngContainer>

                                          
                
                    <ngContainer matColumnDef="grandTotal">
                        <th mat-header-cell *matHeaderCellDef>
                          Grand Total
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <p style="text-align: right;">{{element.grandTotal | number: '.2'}}</p>
                        </td>
                        <td mat-footer-cell *matFooterCellDef>
                          <p style="text-align: right;">{{getTotalGrandTotal() | number: '.2'}} </p>
                        </td>
                      </ngContainer>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                    </table>
                
                  </div>
                  <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    <!-- </div> -->
</div>


<div class="button-panel" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">

    <div>
        <button mat-raised-button type="button" (click)="close()" matTooltip="Close"><i class="material-icons">close</i>
            Close</button>
    </div>
    <div>
        <button mat-raised-button type="button" color="primary" (click)="saveAsExcel()" matTooltip="Save as Excel"><i
                class="material-icons">import_export</i> Export to Excel</button>
    </div>

</div>