<div class="example-container">

    <mat-toolbar color="primary" class="fixed-header-master">
            <div>
                <app-sub-heading [route]="route">
                </app-sub-heading>
            </div>
       
    </mat-toolbar>
    <div style="margin-top: 20pt;">

    </div>
    <div class="example-container-new mat-elevation-z8">

        <table mat-table [dataSource]="dataSource" matSort>
    
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Material'|translate}} </th>
            <td mat-cell *matCellDef="let element" > {{element.name}}</td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
  
          <ng-container matColumnDef="partNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'PartNumber'|translate}} </th>
            <td mat-cell *matCellDef="let element" > {{element.partNumber}}</td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="hsnCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'HsnCode'|translate}} </th>
            <td mat-cell *matCellDef="let element" > {{element.hsnCode}}</td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

        <ng-container matColumnDef="mrp">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{'MRP'|translate}}
          </th>
          <td mat-cell *matCellDef="let element"> {{element.mrp}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
        <ngContainer matColumnDef="buyingPrice">
          <th mat-header-cell *matHeaderCellDef>
            {{'BuyingPrice'|translate}}
          </th>
          <td mat-cell *matCellDef="let element">
            <p style="text-align: right;">{{element.buyingPrice}}</p>
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ngContainer>
        <ngContainer matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>
              {{'SellingPrice'|translate}}
            </th>
            <td mat-cell *matCellDef="let element">
              <p style="text-align: right;">{{element.price}}</p>
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ngContainer>

         <ngContainer matColumnDef="stock">
          <th mat-header-cell *matHeaderCellDef>
            {{'CurrentStock'|translate}}
          </th>
          <td mat-cell *matCellDef="let element">
            <p style="text-align: right;">{{element.stock}}</p>
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ngContainer>

        <ngContainer matColumnDef="unitOfMeasurementName">
            <th mat-header-cell *matHeaderCellDef>
              {{'UOM'|translate}}
            </th>
            <td mat-cell *matCellDef="let element">
              <p style="text-align: right;">{{element.unitOfMeasurementName}}</p>
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ngContainer>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
        </table>
    
      </div>
      <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    

    </div>
 


<div class="button-panel" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">

    <div>
        <button mat-raised-button type="button" (click)="close()" matTooltip="Close">
            <i class="material-icons">close</i> {{'Close'|translate}}</button>
    </div>
    <div>
        <button mat-raised-button type="button" color="primary" (click)="saveAsExcel()" matTooltip="Save as Excel">
            <i class="material-icons">import_export</i> {{'Export to Excel'|translate}}</button>
    </div>

    <div>
        <button mat-raised-button type="button" color="primary" (click)="saveAsPdf()" matTooltip="Save as Pdf"><i class="material-icons">import_export</i>
          {{'Export to Pdf'|translate}}</button>
      </div>

</div>

<!-- <nested-table></nested-table> -->