
body {
    margin: 0px;
    padding: 0px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}


.example-container{
    top: 5%;
    background-color: #f1f1f1
}

.example-spacer {
    flex: 1 1 auto;
}


.material-icons{
    font-size: 15px;
    height: 20px;
}

.menu-icon{
    font-size: 24px;
    height: 30px;
    padding-right: 10px;
}

.mat-card-subtitle{
    font-weight: bold;
}


.input-right{
    text-align: right;
}


.color-picker-alternative{
    font-size: 35px;
}

.top-search{
    cursor: pointer;
}

.mat-form-field{
    width:100%;
}




.item-header{
    font-size: 10pt;
    font-weight: bold;
    white-space: normal;
    height:30px;
    text-align: center;
    line-height: 15px;
    color: white;
}
.input-container{
    background-color: white;
    font-size: 10pt;
    width: 100%;
    margin-bottom: -1.35em
}

.heading-container{
    margin-right: 1px;
    padding: 0px;
    border-radius: 0px;
    border-right: 1px;
    /* border-right-color: white; */
    /* background-color: #337ab7; */
    /* color: white; */
    background-color: #d9edf7;
    border-right-color: black;
    color: black;
    font-size: 90%;
    font-weight: bold;
}
/* .input-container:nth-child(odd){
    background:yellow;
}

.input-container:nth-child(even){
    background:green;
} */

.input-sm{
    width: 100%;
    border-radius: 0px;
    padding: 0px;
    border: 0px;
    color: black;
}

.input-right{
    text-align: right;
}

.small-item-view{
    padding:5%;
    margin-bottom: 2%;
    // background-color: rgba(116, 93, 93, 0.767);
}

.lbl-class{
    background-color: white;
    border-top: 1px;
    width:100%;
    height: 100%;
    color: black;
    text-align: center;
}

.delete-class{
    // background-color: white;
    width:100%;
    height: 100%;
    // fill:black;
    // color:black;
    cursor: pointer;
}

.mat-raised-button{
    padding:0px;
}

.center{
    width:100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    margin-top: 15px;
    // background-color: white;
}

.large-row{
    width:1800px;
}

.delete-class{
    // background-color: white;
    width:100%;
    height: 100%;
    // fill:black;
    // color:black;
    cursor: pointer;
}




.items{
    // overflow-x:scroll;
    width:1500px;
    background-color: #f1f1f1;
    width: 100%;
}
.sub-hint{
    font-size: small
}
