<mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav position="end" #rightsidenav>
        <recent-parties-table (Party)="recentPartiesGet($event); rightsidenav.toggle()" [recentPartiesLoadCounter]="recentPartiesLoadCounter"
            (noDataFound)="whenNoDataFound($event)">
        </recent-parties-table>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <ngx-alerts></ngx-alerts>
        <div class="example-loading-shade" *ngIf="spinStart">
            <mat-spinner *ngIf="spinStart"></mat-spinner>
        </div>
        <form [formGroup]="partyForm" autocomplete="on" #formDirective="ngForm">

            <mat-card>
                <mat-toolbar color="primary" class="fixed-header-master">

                    <app-sub-heading [route]="route"></app-sub-heading>

                    <!-- <div fxLayout="column">
                        <div>
                            <label class="form-header-lbl" > Party Profile</label>
                        </div>

                        <div>
                            <h6 class="sub-hint">this page is used to record Information about party</h6>
                        </div>
                    </div> -->
                    <span class="example-spacer"></span>
                    <div>
                        <i class="material-icons  menu-icon top-search" id="help_videos" (click)="helpVideos()"
                        matTooltip="{{'Help Videos'|translate}}">help</i>
                        </div> 
                    <div>
                        <i (click)="rightsidenav.toggle()" class="material-icons menu-icon top-search">list</i>
                    </div>
                </mat-toolbar>
                <mat-card-content>
                    <mat-tab-group>
                        <mat-tab label="{{'Basic Information'| translate}}">
                            <div formGroupName="partyDTO">
                                <mat-card>
                                    <!-- <mat-toolbar color="primary">
                                        <label class="form-header-lbl">Basic Information</label>
                                    </mat-toolbar> -->
                                    <mat-card-content>
                                        <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">
                                                    <mat-form-field>
                                                        <mat-placeholder>{{'Party Type' | translate}}*</mat-placeholder>
                                                        <mat-select formControlName="partyTypeId" [disabled]="partyForm.disabled" id="party_partyTypeId" (selectionChange)="onSelect($event)">
                                                            <mat-option [disabled]="partyUsedInTransactons" id="party_partyTypeId" *ngFor="let partyType of partyTypes" [value]="partyType.id">
                                                                {{partyType.name}}
                                                            </mat-option>
                                                        </mat-select>
                                                        <mat-error *ngIf="partyForm.get('partyDTO')['controls'].partyTypeId?.invalid">
                                                            Please select Party Type</mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>


                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="60%">

                                                    <mat-form-field *ngIf="partyForm.get('partyDTO')['controls'].partyCode.value || !isAutoNumber" hintLabel="{{'Only 10 Character'|translate}}">
                                                        <mat-label>{{'Party Code*'| translate}} </mat-label>
                                                        <input matInput [readonly]="isAutoNumber" maxlength="10" formControlName="partyCode" id="party_code" #partyCode />
                                                        <!-- <mat-error *ngIf="tranForm.controls.invoiceNumber?.invalid">Please enter Invoice Number</mat-error> -->
                                                        <mat-hint align="end">
                                                            {{partyForm.get('partyDTO.partyCode').value?.length || 0}}/10
                                                        </mat-hint>
                                                        <mat-error *ngIf="partyForm.get('partyDTO.partyCode').invalid">
                                                            please enter valid Party Code</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field *ngIf="!partyForm.get('partyDTO')['controls'].partyCode.value && isAutoNumber">
                                                        <mat-label>{{'Party Code*'| translate}}</mat-label>
                                                        <input matInput readonly [value]="tempTransactionNumber" id="party_tempNumber" matTooltip="For indication only it may get changed after save">
                                                    </mat-form-field>
                                                </div>
                                            </div>


                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">
                                                    <mat-form-field>
                                                        <input matInput placeholder="{{'Party Name' | translate}}*" formControlName="name" id="party_name" />
                                                        <mat-error *ngIf="partyForm.get('partyDTO')['controls'].name?.invalid">
                                                            Please enter Name</mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>





                                        </div>
                                        <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                            <div fxFlex="40%" fxLayout.lt-sm="column" fxLayoutGap="9px">
                                                <div fxFlex="40%">
                                                    <mat-form-field>
                                                        <input matInput placeholder="{{'Contact Number' | translate}}" formControlName="contactPersonNumber" id="party_contactPersonNumber"
                                                        />
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>


                                        <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">
                                                    <mat-form-field>
                                                        <input matInput placeholder="{{'Pincode'|translate}}" OnlyNumber="true" formControlName="pinCode" id="party_pinCode" />
                                                    </mat-form-field>

                                                </div>
                                            </div>
                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">
                                                    <mat-form-field>
                                                        <mat-placeholder>{{'Area'|translate}}</mat-placeholder>
                                                        <mat-select formControlName="areaId" [disabled]="partyForm.disabled" (selectionChange)="getCities()" id="party_areaId">
                                                            <!-- <mat-option value=1>BSK 3rd Stage</mat-option> -->
                                                            <mat-option *ngFor="let area of areas" [value]="area.id">
                                                                {{area.name}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>

                                                </div>
                                            </div>



                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">
                                                    <mat-form-field>
                                                        <mat-placeholder>{{'City'|translate}}</mat-placeholder>
                                                        <mat-select [disabled]="partyForm.disabled" formControlName="cityId" (selectionChange)="getStates()" id="party_cityId">
                                                            <!-- <mat-option value=1>Karnataka</mat-option> -->
                                                            <mat-error *ngIf="partyForm.get('partyDTO')['controls'].cityId?.invalid">
                                                                Please select City</mat-error>
                                                            <mat-option *ngFor="let city of cities" [value]="city.id">
                                                                {{city.name}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">
                                                    <mat-form-field>
                                                        <mat-placeholder>{{'State *'|translate}}</mat-placeholder>
                                                        <mat-select formControlName="stateId" [disabled]="partyForm.disabled" (selectionChange)="getCountries()" id="party_stateId">
                                                            <!-- <mat-option value=1>Karnataka</mat-option> -->
                                                            <mat-option *ngFor="let state of states" [value]="state.id">
                                                                {{state.name}}
                                                            </mat-option>
                                                            <!-- <button mat-raised-button type="button" (click)="openDialog()">ADD Material</button> -->
                                                        </mat-select>

                                                        <mat-error *ngIf="partyForm.get('partyDTO')['controls'].stateId?.invalid">
                                                            Please select State</mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            
                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">
                                                    <mat-form-field>
                                                        <mat-placeholder>{{'Country*'|translate}}</mat-placeholder>
                                                        <mat-select formControlName="countryId" [disabled]="partyForm.disabled" (selectionChange)="checkOrVerifyCurrency()" id="party_countryId">
                                                            <mat-option *ngFor="let country of countries" [value]="country.id">
                                                                {{country.name}}
                                                            </mat-option>
                                                        </mat-select>
                                                        <mat-error *ngIf="partyForm.get('partyDTO')['controls'].countryId?.invalid">
                                                            Please select country</mat-error>
                                                          
                                                    </mat-form-field>
                                                </div>
                                            </div>


                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">
                                                    <mat-form-field>
                                                        <input matInput type="text" placeholder="{{'Primary Telephone'|translate}}" formControlName="primaryTelephone" id="party_primaryTelephone"
                                                        />
                                                    </mat-form-field>

                                                </div>
                                            </div>
                                        </div>

                                        <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">
                                                    <mat-form-field>
                                                        <input matInput placeholder="{{'Secondary Telephone'|translate}}" formControlName="secondaryTelephone" id="party_secondaryTelephone"
                                                        />
                                                    </mat-form-field>

                                                </div>
                                            </div>
                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">
                                                    <mat-form-field>
                                                        <input matInput placeholder="{{'Primary Mobile'|translate}}" #phone formControlName="primaryMobile" (change)="checkNumberAvailability()"
                                                            id="party_primaryMobile" />
                                                        <mat-error *ngIf="partyForm.get('partyDTO')['controls'].primaryMobile?.invalid">
                                                            Please enter valid Primary Mobile Number</mat-error>
                                                    </mat-form-field>

                                                </div>
                                            </div>


                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">

                                                    <mat-form-field>
                                                        <input matInput placeholder="{{'Secondary Mobile'|translate}}" formControlName="secondaryMobile" id="party_secondaryMobile"
                                                        />
                                                        <mat-error *ngIf="partyForm.get('partyDTO')['controls'].secondaryMobile?.invalid">
                                                            Please enter valid Secondary Mobile Number</mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>

                                        <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">

                                                    <mat-form-field>
                                                        <input matInput placeholder="{{'E-Mail'|translate}}" #email formControlName="email" (change)="checkEmailAvailability()" autocomplete="off"
                                                            id="party_email" />
                                                        <mat-error *ngIf="partyForm.get('partyDTO')['controls'].email?.invalid">
                                                            Please enter Valid E-mail</mat-error>
                                                        <!-- <mat-error *ngIf="partyForm.get('email').hasError('validateEqual')">{{getErrorMessage()}}</mat-error> -->
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">
                                                    <mat-form-field>
                                                        <input matInput placeholder="{{'Website'|translate}}" formControlName="webSite" id="party_webSite" />
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">

                                                    <mat-form-field>
                                                        <input matInput placeholder="{{'Contact Person Name'|translate}}" formControlName="contactPersonName" id="party_contactPersonName"
                                                        />
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>


                                        <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">
                                                    <mat-form-field>
                                                        <textarea matInput placeholder="{{'Address/ Bill Address*'|translate}}" formControlName="address" id="party_address"></textarea>
                                                        <mat-error *ngIf="partyForm.get('partyDTO')['controls'].address?.invalid">
                                                            Please enter Address</mat-error>
                                                    </mat-form-field>
                                                    <!-- <button mat-mini-fab color="primary" [disabled]="partyForm.disabled"
                                                        type="button" matTooltip="Add more Addresses"
                                                        (click)="addAddress()">
                                                        <i class="material-icons">add</i>
                                                    </button> -->
                                                </div>
                                            </div>
                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">
                                                    <mat-form-field>
                                                        <textarea matInput placeholder="{{'Ship Address'|translate}}" formControlName="billAddress" id="party_billAddress"></textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">
                                                    <mat-form-field>
                                                        <mat-placeholder>{{'Payment Due Days Limit'|translate}}</mat-placeholder>
                                                        <input matInput formControlName="dueDaysLimit" maxlength="3" OnlyNumber="true" id="party_dueDaysLimit" />
                                                    </mat-form-field>

                                                </div>
                                            </div>
                                        </div>
                                        <div fxLayout.lt-md="column" fxLayoutGap="10px"> 
                                        <div *ngIf= "isImportExport" fxLayout.lt-md="column" fxLayoutGap="10px">
                                       
                                            <div fxFlex="33%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">
                                                    <mat-form-field>
                                                        <mat-placeholder>{{'Currency*'|translate}}</mat-placeholder>
                                                        <mat-select formControlName="partyCurrencyId" [disabled]="partyForm.disabled" id="party_currencyId">
                                                            <mat-option *ngFor="let currency of currencys" [value]="currency.id">
                                                                {{currency.currencyName}} ( {{currency.shortName }} )
                                                            </mat-option>
                                                        </mat-select>
                                                        
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                       
                                     
                                          
                                        </div>
                                    </div>
                                 <div *ngIf="hideIgst" >
                                       
                                    <mat-checkbox formControlName="isIgst" labelPosition="after" [disabled]="partyForm.disabled" id="party_isIgst">
                                        {{'Is IGST'|translate}} ({{'Special Economic Zone'|translate}})
                                    </mat-checkbox>
                                 
                                </div>
                                

                                        <div formArrayName="addressesListDTO">
                                            <!-- <div *ngFor="let address of partyForm.get('partyDTO.addressesListDTO').['controls']; let idx=index"> -->
                                            <div *ngFor="let address of partyForm['controls'].partyDTO['controls'].addressesListDTO['controls']; let idx=index">
                                                <mat-card>
                                                    <div [formGroup]="address">
                                                        <mat-card-content>
                                                            <div fxLayout="row" fxLayoutGap="10px">

                                                                <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                                    <!-- <div fxFlex="50%">  -->
                                                                    <mat-form-field>
                                                                        <textarea matInput placeholder="{{'Address*'|translate}}" formControlName="address" id="party_address"></textarea>
                                                                    </mat-form-field>
                                                                    <!-- </div> -->
                                                                </div>
                                                                <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                                    <!-- <div fxFlex="50%">  -->
                                                                    <mat-form-field>
                                                                        <input matInput placeholder="Contact Person Name" formControlName="contactPersonName" id="party_contactPersonName" />
                                                                    </mat-form-field>
                                                                    <!-- </div> -->
                                                                </div>

                                                                <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                                    <!-- <div fxFlex="50%">  -->
                                                                    <mat-form-field>
                                                                        <input matInput placeholder="Contact Person number" formControlName="contactPersonNumber" id="party_contactPersonNumber"
                                                                        />
                                                                    </mat-form-field>
                                                                    <!-- </div> -->
                                                                </div>
                                                                <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                                    <!-- <div fxFlex="50%">  -->
                                                                    <mat-form-field>
                                                                        <input matInput placeholder="Contact Person designation" formControlName="contactPersonDesignation" id="party_contactPersonDesignation"
                                                                        />
                                                                    </mat-form-field>
                                                                    <!-- </div> -->
                                                                </div>
                                                                <button *ngIf="!partyForm.disabled" mat-mini-fab color="primary" type="button" matTooltip="Delete Address" (click)="deleteAddress(idx)"
                                                                    id="pary_delete">
                                                                    <!-- <mat-icon class="delete-class" (click)="delete(idx)">delete</mat-icon> -->
                                                                    <i class="material-icons">delete</i>
                                                                    <!-- <mat-icon class="delete-class" color="primary" (click)="deleteAddress(index)">delete</mat-icon> -->
                                                                </button>
                                                                <button *ngIf="!partyForm.disabled" mat-mini-fab color="primary" type="button" matTooltip="Add Address" (click)="addAddress()"
                                                                    id="party_add">
                                                                    <i class="material-icons">add</i>
                                                                </button>
                                                            </div>
                                                        </mat-card-content>
                                                    </div>
                                                </mat-card>
                                            </div>
                                        </div>

                                    </mat-card-content>
                                </mat-card>

                                <mat-card>
                                    <mat-toolbar color="primary">
                                        <label class="form-header-lbl">{{'Legal Information'|translate}}</label>
                                    </mat-toolbar>
                                    <mat-card-content>
                                        <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">
                                                    <mat-form-field>
                                                        <mat-placeholder>{{'GST-Registerd-type*'|translate}}</mat-placeholder>
                                                        <mat-select formControlName="gstRegistrationTypeId" [disabled]="partyForm.disabled" (selectionChange)="getRegstrationType()"
                                                            id="party_gstRegistrationTypeId">
                                                            <mat-option *ngFor="let regType of gstRegistrationTypes" [value]="regType.id">{{regType.name}}</mat-option>
                                                        </mat-select>
                                                        <mat-error *ngIf="partyForm.get('partyDTO')['controls'].gstRegistrationTypeId?.invalid">
                                                            Please select gstRegistrationType</mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div fxFlex="50%" fxLayout.lt-md="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">
                                                    <mat-form-field *ngIf="isImportExport ||isGstRegistered">
                                                        <span matTooltip="Enter {{taxNumberText}}">
                                                            <input matInput placeholder="{{taxNumberText|translate}}" #gstNumber formControlName="gstNumber" id="party_gstNumber" />
                                                        </span>
                                                        <mat-error *ngIf="partyForm.get('partyDTO')['controls'].gstNumber?.invalid">
                                                            please enter valid GST Number</mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div fxFlex="50%" fxLayout.lt-md="column" fxLayoutGap="10px">
                                                <div fxFlex="50%">
                                                    <mat-form-field>
                                                        <input matInput placeholder="{{'PAN Number'|translate}}" formControlName="panNumber" id="party_panNumber" />
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </mat-tab>
                        <mat-tab *ngIf="isSpecialPriceApplicable" label="{{'Price List'|translate}}">
                            <mat-card>
                                <!-- <mat-toolbar color="primary">
                                    <label class="form-header-lbl">Item Details</label>
                                    !partyForm.get('partyDTO')['controls'].partyTypeId
                                </mat-toolbar> -->
                                <mat-card-content>
                                    <!-- <fieldset [disabled]="true">  -->
                                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <mat-form-field>
                                                <mat-placeholder>{{'Material-Type*'|translate}}</mat-placeholder>
                                                <mat-select [(ngModel)]="materialType" [disabled]="partyForm.disabled" (selectionChange)="getMaterialsByMaterialTypeId()"
                                                    [ngModelOptions]="{standalone: true}" id="party_materialType">
                                                    <mat-option *ngFor="let materialType of materialTypes" [value]="materialType">
                                                        {{materialType.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <mat-form-field>
                                                <mat-placeholder>{{'Material-Name*'|translate}}</mat-placeholder>
                                                <!-- <mat-select [(ngModel)]="materialNameLocal" [disabled]="partyForm.disabled" (selectionChange)="getMaterialPartNumber()" [ngModelOptions]="{standalone: true}">
                                                    <mat-option *ngFor="let material of uniqueMaterialNames" [value]="material">
                                                        {{material}}
                                                    </mat-option>
                                                </mat-select> -->

                                                <mat-select [(ngModel)]="materialLocal" [disabled]="partyForm.disabled" [ngModelOptions]="{standalone: true}" id="party_materialLocal">
                                                    <mat-option *ngFor="let material of filteredMaterials" [value]="material">
                                                        {{material.name}}-{{material.partNumber}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <!-- <mat-form-field>
                                                <mat-placeholder>Material-Number*</mat-placeholder>
                                                <mat-select [(ngModel)]="materialPartNumber" [disabled]="partyForm.disabled" [ngModelOptions]="{standalone: true}">
                                                    <mat-option *ngFor="let materialPartNumber of materialPartNumbers" [value]="materialPartNumber">
                                                        {{materialPartNumber.partNumber}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field> -->

                                        </div>

                                        <button mat-mini-fab color="primary" [disabled]="!materialLocal || !partyForm.get('partyDTO')['controls'].partyTypeId" matTooltip="Add"
                                            (click)="addMaterial()" id="party_addMaterial">
                                            <i class="material-icons">add</i>
                                        </button>
                                        <!-- <button mat-raised-button type="button" [disabled]="!(selectedParty || !isPartyChangeable)|| !tax ||!material|| !materialQuantity" (click)="addInvoiceItem(materialquantity.value)">Add</button> -->
                                    </div>
                                    <!-- </fieldset> -->

                                    <div formArrayName="materialPriceListDTOList">
                                        <div *ngFor="let item of partyForm.get('materialPriceListDTOList')['controls']; let idx=index">
                                            <div [formGroup]="item">
                                                <div *ngIf="idx === 0" class="items" fxLayout="row" fxHide.lt-md="true" fxLayoutGap="2px" fxLayoutAlign="space-evenly stretch">
                                                    <div class="item-header" fxFlex="5">
                                                        <mat-toolbar class="item-header" color="primary">#</mat-toolbar>
                                                    </div>
                                                    <div class="item-header" fxFlex="15" color="primary">
                                                        <mat-toolbar class="item-header" color="primary">Material Type
                                                        </mat-toolbar>
                                                    </div>
                                                    <div class="item-header" fxFlex="30" color="primary">
                                                        <mat-toolbar class="item-header" color="primary">Material Name
                                                        </mat-toolbar>
                                                    </div>
                                                    <div class="item-header" fxFlex="10" color="primary">
                                                        <mat-toolbar class="item-header" color="primary">Material Number
                                                        </mat-toolbar>
                                                    </div>
                                                    <div class="item-header" fxFlex="10" color="primary">
                                                        <mat-toolbar *ngIf="!isCust" class="item-header" color="primary">Current Buying Price
                                                        </mat-toolbar>
                                                        <mat-toolbar *ngIf="isCust" class="item-header" color="primary">Current Selling Price
                                                        </mat-toolbar>
                                                    </div>
                                                    <div class="item-header" fxFlex="10" color="primary">
                                                        <mat-toolbar *ngIf="!isCust" class="item-header" color="primary">Buying Price</mat-toolbar>
                                                        <mat-toolbar *ngIf="isCust" class="item-header" color="primary">
                                                            Selling Price</mat-toolbar>
                                                    </div>
                                                    <div class="item-header" fxFlex="10" color="primary">
                                                            <mat-toolbar class="item-header" color="primary">Comments
                                                            </mat-toolbar>
                                                        </div>
                                                    <!-- <div class="item-header" fxFlex="10" color="primary">
                                                        <mat-toolbar class="item-header" color="primary">Special
                                                            Discount(%)</mat-toolbar>
                                                    </div> -->

                                                    <!-- <div class="item-header" fxFlex="10" color="primary">
                                                        <mat-toolbar class="item-header" color="primary">Comments
                                                        </mat-toolbar>
                                                    </div> -->
                                                    <div class="item-header" fxFlex="10" color="primary">
                                                        <mat-toolbar class="item-header" color="primary">Delete
                                                        </mat-toolbar>
                                                    </div>
                                                </div>
                                                <div fxLayout="row" fxHide.lt-md="true" fxLayoutGap="2px" fxLayoutAlign="space-evenly stretch">
                                                    <div class="input-container center" fxFlex="5">
                                                        <label class="lbl-class ">{{idx+1}}</label>
                                                    </div>
                                                    <div fxFlex="15">
                                                        <mat-form-field class="input-container" appearance="outline">
                                                            <input matInput type="text" readonly class="input-sm" formControlName="materialTypeName" id="party_materialTypeName">
                                                        </mat-form-field>
                                                    </div>
                                                    <div fxFlex="30">
                                                        <mat-form-field class="input-container" appearance="outline">
                                                            <input matInput type="text" readonly class="input-sm" formControlName="materialName" id="party_materialName">
                                                        </mat-form-field>
                                                    </div>
                                                    <div fxFlex="10">
                                                        <mat-form-field class="input-container" appearance="outline">
                                                            <input matInput type="text" readonly class="input-sm" formControlName="partNumber" id="party_partNumber">
                                                        </mat-form-field>
                                                    </div>
                                                    <div fxFlex="10">
                                                        <mat-form-field *ngIf="!isCust" class="input-container" appearance="outline">
                                                            <input matInput type="text" readonly class="input-sm" formControlName="currentBuyingPrice" id="party_currentBuyingPrice">
                                                        </mat-form-field>
                                                        <mat-form-field *ngIf="isCust" class="input-container" appearance="outline">
                                                            <input matInput type="text" readonly class="input-sm" formControlName="currentSellingPrice" id="party_currentSellingPrice">
                                                        </mat-form-field>
                                                    </div>
                                                    <div fxFlex="10">
                                                        <mat-form-field class="input-container" appearance="outline">
                                                            <input matInput type="text" class="input-sm" formControlName="sellingPrice" id="party_sellingPrice">
                                                        </mat-form-field>
                                                    </div>
                                                    <div fxFlex="10">
                                                            <mat-form-field class="input-container" appearance="outline">
                                                                <input matInput type="text"  class="input-sm" formControlName="comment" id="party_comment">
                                                            </mat-form-field>
                                                        </div>

                                                    <!-- <div fxFlex="10">
                                                        <mat-form-field class="input-container" appearance="outline">
                                                            <input matInput type="text" class="input-sm"
                                                                formControlName="discountPercentage">
                                                        </mat-form-field>
                                                    </div> -->
                                                    <!-- <div fxFlex="10">
                                                        <mat-form-field class="input-container" appearance="outline">
                                                            <input matInput type="text" class="input-sm" formControName="comments" id="party_comments">
                                                        </mat-form-field>
                                                    </div> -->
                                                    <div fxFlex="10">
                                                        <mat-icon *ngIf="!partyForm.disabled" class="delete-class center" id="party_delete" (click)="delete(idx)">delete
                                                        </mat-icon>
                                                    </div>
                                                </div>
                                                <div fxLayout="column" fxLayoutGap="2px" fxLayoutAlign="space-evenly stretch" fxShow="false" fxShow.lt-md="true" class="small-item-view">
                                                    <div fxLayout="row">
                                                        <mat-toolbar class="item-header" fxFlex="30" color="primary">#
                                                        </mat-toolbar>
                                                        <div fxFlex="70">
                                                            <label class="lbl-class">{{index + 1}}</label>
                                                        </div>
                                                    </div>
                                                    <div fxLayout="row">
                                                        <mat-toolbar class="item-header" fxFlex="30" color="primary">
                                                            Material Type</mat-toolbar>
                                                        <div class="input-container" fxFlex="70">
                                                            <mat-form-field>
                                                                <input matInput class="input-sm " readonly type="text" formControlName="materialTypeName" id="party_materialTypeName">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div fxLayout="row">
                                                        <mat-toolbar class="item-header" fxFlex="30" color="primary">
                                                            Material Name</mat-toolbar>
                                                        <div class="input-container" fxFlex="70">
                                                            <mat-form-field>
                                                                <input matInput class="input-sm " readonly type="text" formControlName="materialName" id="party_materialName">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div fxLayout="row">
                                                        <mat-toolbar class="item-header" fxFlex="30" color="primary">
                                                            Material Number</mat-toolbar>
                                                        <div class="input-container" fxFlex="70">
                                                            <mat-form-field>
                                                                <input matInput class="input-sm " readonly type="text" formControlName="partNumber" id="party_partNumber">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div fxLayout="row">
                                                        <mat-toolbar *ngIf="!isCust" class="item-header" fxFlex="30" color="primary">
                                                            Current Buying Price</mat-toolbar>
                                                        <mat-toolbar *ngIf="isCust" class="item-header" fxFlex="30" color="primary">
                                                            Current Selling Price</mat-toolbar>
                                                        <div *ngIf="!isCust" class="input-container" fxFlex="70">
                                                            <mat-form-field>
                                                                <input matInput class="input-sm " readonly type="text" formControlName="currentBuyingPrice" id="party_currentBuyingPrice">
                                                            </mat-form-field>
                                                        </div>
                                                        <div *ngIf="isCust" class="input-container" fxFlex="70">
                                                            <mat-form-field>
                                                                <input matInput class="input-sm " readonly type="text" formControlName="currentSellingPrice" id="party_currentSellingPrice">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div fxLayout="row">
                                                        <mat-toolbar class="item-header" *ngIf="!isCust" fxFlex="30" color="primary">Buying Price</mat-toolbar>
                                                        <mat-toolbar class="item-header" *ngIf="isCust" fxFlex="30" color="primary">Selling Price</mat-toolbar>
                                                        <div class="input-container" fxFlex="70">
                                                            <mat-form-field>
                                                                <input matInput class="input-sm " type="text" formControlName="sellingPrice" id="party_sellingPrice">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>

                                                    <div fxLayout="row">
                                                            <mat-toolbar class="item-header" fxFlex="30" color="primary">
                                                                Comments</mat-toolbar>
                                                            <div class="input-container" fxFlex="70">
                                                                <mat-form-field>
                                                                    <input matInput class="input-sm "  type="text" formControlName="comment" id="party_comment">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>


                                                    <!-- <div fxLayout="row">
                                                        <mat-toolbar class="item-header" fxFlex="30" color="primary">
                                                            Special Discount(%)</mat-toolbar>
                                                        <div class="input-container" fxFlex="70">
                                                            <mat-form-field>
                                                                <input matInput class="input-sm " type="text"
                                                                    formControlName="discountPercentage">
                                                            </mat-form-field>
                                                        </div>
                                                    </div> -->
                                                    <!-- <div fxLayout="row">
                                                        <mat-toolbar class="item-header" fxFlex="30" color="primary">
                                                            Comments</mat-toolbar>
                                                        <div class="input-container" fxFlex="70">
                                                            <mat-form-field>
                                                                <input matInput class="input-sm " type="text" formControlName="comments" id="party_comments">
                                                            </mat-form-field>
                                                        </div>
                                                    </div> -->
                                                    <div fxLayout="row">
                                                        <mat-toolbar class="item-header" fxFlex="30" color="primary">
                                                            Delete</mat-toolbar>
                                                        <div fxFlex="70">
                                                            <mat-icon *ngIf="!partyForm.disabled" class="delete-class " (click)="delete(index)" id="party_delete">delete</mat-icon>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </mat-card-content>
                            </mat-card>

                        </mat-tab>



                        <mat-tab label="{{'Banks List'|translate}}">
                            <mat-card>
                                <mat-card-content>
                                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                        <div fxLayout="row" fxLayoutGap="10px">
                                            <div fxFlex="40" fxFlex.lt-md="100">
                                                <mat-form-field>
                                                    <mat-placeholder>{{'Bank'|translate}}</mat-placeholder>
                                                    <mat-select [(ngModel)]="bankLocal" [disabled]="partyForm.disabled" (selectionChange)="addBankMap()" [ngModelOptions]="{standalone: true}"
                                                        id="party_bankLocal">
                                                        <mat-option *ngFor="let bank of banks" [value]="bank">
                                                            {{bank.bankname}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div fxFlex="60">

                                            </div>
                                        </div>


                                        <!-- 
                                        <button type="button" mat-mini-fab color="primary" [disabled]="!bankLocal" matTooltip="Add" (click)="addBankMap()">
                                            <i class="material-icons">add</i>
                                        </button> -->
                                        <!-- <button mat-raised-button type="button" [disabled]="!(selectedParty || !isPartyChangeable)|| !tax ||!material|| !materialQuantity" (click)="addInvoiceItem(materialquantity.value)">Add</button> -->
                                    </div>
                                    <!-- </fieldset> -->

                                    <div formArrayName="partyBankMapDTOList">
                                        <div *ngFor="let item of partyForm.get('partyBankMapDTOList')['controls']; let idx=index">
                                            <div [formGroup]="item">
                                                <div *ngIf="idx === 0" class="items" fxLayout="row" fxHide.lt-md="true" fxLayoutGap="2px" fxLayoutAlign="space-evenly stretch">
                                                    <div class="item-header" fxFlex="5">
                                                        <mat-toolbar class="item-header" color="primary">#</mat-toolbar>
                                                    </div>
                                                    <div class="item-header" fxFlex="25" color="primary">
                                                        <mat-toolbar class="item-header" color="primary">Bank
                                                        </mat-toolbar>
                                                    </div>
                                                    <div class="item-header" fxFlex="40" color="primary">
                                                        <mat-toolbar class="item-header" color="primary">Branch
                                                        </mat-toolbar>
                                                    </div>
                                                    <div class="item-header" fxFlex="10" color="primary">
                                                        <mat-toolbar class="item-header" color="primary">IFSC code
                                                        </mat-toolbar>
                                                    </div>
                                                    <div class="item-header" fxFlex="10" color="primary">
                                                        <mat-toolbar class="item-header" color="primary">A/C number
                                                        </mat-toolbar>
                                                    </div>
                                                    <div class="item-header" fxFlex="10" color="primary">
                                                        <mat-toolbar class="item-header" color="primary">Opening Balance
                                                        </mat-toolbar>
                                                    </div>
                                                    <div class="item-header" fxFlex="10" color="primary">
                                                        <mat-toolbar class="item-header" color="primary">Delete
                                                        </mat-toolbar>
                                                    </div>
                                                </div>
                                                <div fxLayout="row" fxHide.lt-md="true" fxLayoutGap="2px" fxLayoutAlign="space-evenly stretch">
                                                    <div class="input-container center" fxFlex="5">
                                                        <label class="lbl-class ">{{idx+1}}</label>
                                                    </div>
                                                    <div fxFlex="25">
                                                        <mat-form-field class="input-container" appearance="outline">
                                                            <input matInput type="text" class="input-sm" formControlName="bankname" id="party_bankname">
                                                        </mat-form-field>
                                                    </div>
                                                    <div fxFlex="40">
                                                        <mat-form-field class="input-container" appearance="outline">
                                                            <input matInput type="text" class="input-sm" formControlName="branch" id="party_branch">
                                                        </mat-form-field>
                                                    </div>
                                                    <div fxFlex="10">
                                                        <mat-form-field class="input-container" appearance="outline">
                                                            <input matInput type="text" class="input-sm" formControlName="ifsc" id="party_ifsc">
                                                        </mat-form-field>
                                                    </div>
                                                    <div fxFlex="10">
                                                        <mat-form-field class="input-container" appearance="outline">
                                                            <input matInput type="text" class="input-sm" formControlName="accountNumber" id="party_accountNumber">
                                                        </mat-form-field>
                                                    </div>
                                                    <div fxFlex="10">
                                                        <mat-form-field class="input-container" appearance="outline">
                                                            <input matInput type="text" class="input-sm" formControlName="openingBalance" id="party_openingBalance">
                                                        </mat-form-field>
                                                    </div>
                                                    <div fxFlex="10">
                                                        <mat-icon *ngIf="!partyForm.disabled" class="delete-class center" (click)="deleteBankMap(idx)" id="party_delete">
                                                            delete</mat-icon>
                                                    </div>
                                                </div>
                                                <div fxLayout="column" fxLayoutGap="2px" fxLayoutAlign="space-evenly stretch" fxShow="false" fxShow.lt-md="true" class="small-item-view">
                                                    <div fxLayout="row">
                                                        <mat-toolbar class="item-header" fxFlex="30" color="primary">#
                                                        </mat-toolbar>
                                                        <div fxFlex="70">
                                                            <label class="lbl-class">{{index + 1}}</label>
                                                        </div>
                                                    </div>
                                                    <div fxLayout="row">
                                                        <mat-toolbar class="item-header" fxFlex="30" color="primary">
                                                            Bank</mat-toolbar>
                                                        <div class="input-container" fxFlex="70">
                                                            <mat-form-field>
                                                                <input matInput class="input-sm " type="text" formControlName="bankname" id="party_bankname">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div fxLayout="row">
                                                        <mat-toolbar class="item-header" fxFlex="30" color="primary">
                                                            Branch</mat-toolbar>
                                                        <div class="input-container" fxFlex="70">
                                                            <mat-form-field>
                                                                <input matInput class="input-sm " type="text" formControlName="branch" id="party_branch">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div fxLayout="row">
                                                        <mat-toolbar class="item-header" fxFlex="30" color="primary">
                                                            IFSC</mat-toolbar>
                                                        <div class="input-container" fxFlex="70">
                                                            <mat-form-field>
                                                                <input matInput class="input-sm " type="text" formControlName="ifsc" id="party_ifsc">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div fxLayout="row">
                                                        <mat-toolbar class="item-header" fxFlex="30" color="primary">A/C Number
                                                        </mat-toolbar>
                                                        <div class="input-container" fxFlex="70">
                                                            <mat-form-field>
                                                                <input matInput class="input-sm " type="text" formControlName="accountNumber" id="party_accountNumber">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div fxLayout="row">
                                                        <mat-toolbar class="item-header" fxFlex="30" color="primary">
                                                            Opening Balance</mat-toolbar>
                                                        <div class="input-container" fxFlex="70">
                                                            <mat-form-field>
                                                                <input matInput class="input-sm " type="text" formControlName="openingBalance" id="party_openingBalance">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div fxLayout="row">
                                                        <mat-toolbar class="item-header" fxFlex="30" color="primary">
                                                            Delete</mat-toolbar>
                                                        <div fxFlex="70">
                                                            <mat-icon *ngIf="!partyForm.disabled" class="delete-class " (click)="deleteBankMap(index)" id="party_delete">delete</mat-icon>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </mat-card-content>
                            </mat-card>

                        </mat-tab>







                    </mat-tab-group>
                </mat-card-content>
            </mat-card>
            <app-action-panel *ngIf="activityRoleBindings" [inForm]="partyForm" [applicableButtons]="applicableButtons" [activityRoleBindings]="activityRoleBindings"
                (closeEvent)="closeForm()" (deleteEvent)="deleteParty(partyForm.value, formDirective)" (printEvent)="print()"
                [primaryKey]="partyForm.get('partyDTO')['controls'].id.value" (editEvent)="edit()" (clearEvent)="clearForm(formDirective)"
                (saveEvent)="validateAndSubmit(partyForm.value)">
            </app-action-panel>
        </form>
    </mat-sidenav-content>
</mat-sidenav-container>