
<mat-card>
        <!-- <mat-card-header>View Details
        </mat-card-header> -->
        <mat-card-content>
            <div class="example-header">
                <form [formGroup]="filterForm" novalidate>
                    <mat-form-field>
                        <input matInput placeholder="{{'Filter'|translate}}" formControlName="filterText">
                    </mat-form-field>
                </form>
            </div>
    
            <div class="example-container mat-elevation-z8">
                <div class="example-loading-shade" *ngIf="isLoadingResults">
                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                </div>
              
                    
                <mat-table #table [dataSource]="dataSource" class="example-table" matSort matSortActive="name" matSortdisableClear
                    matSortDirection="desc">
                   
                   
                    <ng-container matColumnDef="partyTypeName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Party type'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.partyDTO.partyTypeName}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="partyCode">
                        <mat-header-cell *matHeaderCellDef  mat-sort-header>{{'Party Code'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.partyDTO.partyCode}}</mat-cell>
                    </ng-container>
                  
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef  mat-sort-header>{{'Party Name'|translate}}</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.partyDTO.name}}</mat-cell>
                    </ng-container>

                    

                    <ng-container matColumnDef="primaryMobile">
                            <mat-header-cell *matHeaderCellDef  mat-sort-header>{{'Contact Number'|translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{row.partyDTO.primaryMobile}}</mat-cell>
                        </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row class="tran-item-list" (click)="onRowClick(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
               
                </mat-table>
          
                <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>