<div class="example-container">
  <mat-toolbar color="primary" class="fixed-header-master">
    <div fxLayout="row" fxLayoutAlign="end center" class="title-row">
      <div fxFlex="97">
        <label class="form-header-lbl">{{transactionType?.name}}</label>
      </div>
      <div fxFlex>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="saveAsExcel()">
            <mat-icon>import_export</mat-icon>
            <span>Export to Excel</span>
          </button>
          <button mat-menu-item (click)="close()">
            <mat-icon>close</mat-icon>
            <span>Close</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar>
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5pt">
            <div>
              <mat-icon style="font-size:20pt;">filter_list</mat-icon>
            </div>
            <div>
              <p>Filter</p>
            </div>
          </div>
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>

      <div fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center center">
        <form [formGroup]="filterForm" novalidate>
          <div fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-form-field class="form-box">
              <mat-select class="input-container" formControlName="financialYearId">
                <mat-option>-- None --</mat-option>
                <mat-option *ngFor="let financialYear of financialYears" [value]="financialYear.id">
                  {{financialYear.financialYear}}
                </mat-option>

              </mat-select>
              <mat-placeholder>Financial Year</mat-placeholder>
            </mat-form-field>
            <!-- 
            <mat-form-field>
              <input type="text" matInput [formControl]="partyControl" [matAutocomplete]="autoParty">
              <mat-placeholder>{{partyPlaceHolder}}</mat-placeholder>
              <mat-autocomplete #autoParty="matAutocomplete">
                <mat-option *ngFor="let party of filteredParties | async" [value]="party.name" (onSelectionChange)="partyChange($event,party)">
                  {{party.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>


            <mat-form-field>
              <input type="text" matInput [formControl]="materialControl" [matAutocomplete]="autoMaterial">
              <mat-placeholder>Material</mat-placeholder>
              <mat-autocomplete #autoMaterial="matAutocomplete">
                <mat-option *ngFor="let material of filteredMaterials | async" [value]="material.name" (onSelectionChange)="materialChange($event,material)">
                  {{material.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field> -->

            <mat-form-field>
              <input matInput [matDatepicker]="fromatatepicker" placeholder="From date" readonly formControlName="transactionFromDate">
              <mat-datepicker-toggle matSuffix [for]="fromatatepicker"></mat-datepicker-toggle>
              <mat-datepicker #fromatatepicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <input matInput [matDatepicker]="toDatepicker" placeholder="To date" readonly formControlName="transactionToDate">
              <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #toDatepicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field style="align-content: left;">
              <mat-select placeholder="Set page limit" [(value)]="pageSize" (selectionChange)="setPageAfterPageLimit()">
                <mat-option>-- None --</mat-option>
                <mat-option *ngFor="let num of pageNumbers" [value]="num">
                  {{num}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayoutAlign="end end" fxLayoutGap="10px">
            <button mat-raised-button color="primary" (click)="onSearch()">
              <i class="material-icons menu-icon top-search" matTooltip="Search">search</i>
            </button>
            <button mat-raised-button type="button" (click)="clear()">
              <i class="material-icons" matTooltip="Clear!">clear_all</i>
            </button>
          </div>
        </form>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div *ngIf="rows">

    <form *ngIf="gstForm" [formGroup]="gstForm">
      <div formArrayName="b2bGSTReports">
        <ngx-datatable #myTable class="material expandable" [rows]="gstForm.get('b2bGSTReports').value" [columnMode]="'force'"
          [scrollbarH]="true" [headerHeight]="'auto'" [footerHeight]="50" [rowHeight]="'auto'"
          [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"  [externalSorting]="true"  [limit]="page.size" (page)='setPage($event)'>
          <ngx-datatable-column name="gstin" [flexGrow]="3">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>GSTIN</strong>
              </span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <div [formGroupName]="rowIndex">                
                  <input formControlName="gstin">                
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="invoiceNumber" [flexGrow]="3">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>Invoice Number</strong>
              </span>
            </ng-template>
            <!-- <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <div [formGroupName]="rowIndex">
                
                  <input formControlName="invoiceNumber">
                
              </div>
            </ng-template> -->
            <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <span style="cursor: pointer;" (click)="showReference(rowIndex.id)">{{value}}</span>
          </ng-template>
            
          </ngx-datatable-column>
          <ngx-datatable-column name="invoiceDate" [flexGrow]="3">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>Invoice Date</strong>
              </span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <!-- <div [formGroupName]="rowIndex">
                
                  <input formControlName="invoiceDate">
                
              </div> -->
              {{ value | date: 'dd/MM/yyyy'}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="invoiceValue" [flexGrow]="3" cellClass="report-right-align">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>Invoice Value</strong>
              </span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <!-- <div [formGroupName]="rowIndex">
                
                  <input formControlName="invoiceValue">
                
              </div> -->
              {{value | number : '.2'}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="stateCode" [flexGrow]="3">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>State Code</strong>
              </span>
            </ng-template>
            <!-- <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <div [formGroupName]="rowIndex">
                
                  <input formControlName="stateCode">
                
              </div>
            </ng-template> -->
          </ngx-datatable-column>
          <ngx-datatable-column name="reverseCharge" [flexGrow]="3">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>Reverse Charge</strong>
              </span>
            </ng-template>
            <!-- <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <div [formGroupName]="rowIndex">
                
                  <input formControlName="reverseCharge">
                
              </div>
            </ng-template> -->
          </ngx-datatable-column>

          <ngx-datatable-column name="applicablePercentOfTaxRate" [flexGrow]="3">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>Applicable Percent Of Tax Rate</strong>
              </span>
            </ng-template>
            <!-- <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <div [formGroupName]="rowIndex">
                
                  <input formControlName="applicablePercentOfTaxRate">
                
              </div>
            </ng-template> -->
          </ngx-datatable-column>

          <ngx-datatable-column name="invoiceType" [flexGrow]="3">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>Invoice Type</strong>
              </span>
            </ng-template>
            <!-- <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <div [formGroupName]="rowIndex">
                
                  <input formControlName="invoiceType">
                
              </div>
            </ng-template> -->
          </ngx-datatable-column>
          <ngx-datatable-column name="eCommerceGstn" [flexGrow]="3">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>eCommerce GSTN</strong>
              </span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <div [formGroupName]="rowIndex">
                
                  <input formControlName="eCommerceGstn">
                
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="serialNumber" [flexGrow]="3">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>Serial Number</strong>
              </span>
            </ng-template>
            <!-- <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <div [formGroupName]="rowIndex">
                
                  <input formControlName="serialNumber">
                
              </div>
            </ng-template> -->
          </ngx-datatable-column>
          <ngx-datatable-column name="rate" [flexGrow]="3">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>Rate</strong>
              </span>
            </ng-template>
            <!-- <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <div [formGroupName]="rowIndex">
                
                  <input formControlName="rate">
                
              </div>
            </ng-template> -->
          </ngx-datatable-column>
          <ngx-datatable-column name="taxableValue" [flexGrow]="3">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>Taxable Value</strong>
              </span>
            </ng-template>
            <!-- <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <div [formGroupName]="rowIndex">
                
                  <input formControlName="taxableValue">
                
              </div>
            </ng-template> -->
          </ngx-datatable-column>
          <ngx-datatable-column name="integratedTax" [flexGrow]="3">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>Integrated Tax</strong>
              </span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <!-- <div [formGroupName]="rowIndex">
                
                  <input formControlName="integratedTax">
                
              </div> -->
              {{ value | number : '.2'}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="centralTax" [flexGrow]="3">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>Central Tax</strong>
              </span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <!-- <div [formGroupName]="rowIndex">
                
                  <input formControlName="centralTax">
                
              </div> -->
              {{value | number : '.2'}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="stateTax" [flexGrow]="3">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>State Tax</strong>
              </span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <!-- <div [formGroupName]="rowIndex">
                
                  <input formControlName="stateTax">
                
              </div> -->
              {{value | number : '.2'}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="cess" [flexGrow]="3">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>Cess</strong>
              </span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <div [formGroupName]="rowIndex">
                
                  <input formControlName="cess">
                
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </form>
  </div>
</div>

<div class="button-panel" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">

  <div>
    <button mat-raised-button type="button" (click)="close()" matTooltip="Close"><i class="material-icons">close</i>
      Close</button>
  </div>
  <div>
    <button mat-raised-button type="button" color="primary" (click)="saveAsExcel()" matTooltip="Save as Excel"><i class="material-icons">import_export</i>
      Export to Excel</button>
  </div>

  <div>
      <a title="Download JSON" [href]="downloadJsonHref" download="download.json">
      <button mat-raised-button type="button"  (click)="saveAsJSON()" matTooltip="Save as Excel"><i class="material-icons">cloud_download</i>
        Download JSON</button>
      </a>
    </div>
  

</div>