<div class="example-container">
  <mat-toolbar color="primary" class="fixed-header-master">
      <div>
          <app-sub-heading [route]="route_in">
          </app-sub-heading>
      </div>
    <!-- <div fxLayout="row" fxLayoutAlign="end center" class="title-row">
      <div fxFlex="97">
        <label class="form-header-lbl">Reports > {{userService.currentActivity}}</label>
      </div>
      <div fxFlex>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="saveAsExcel()">
            <mat-icon>import_export</mat-icon>
            <span>Export to Excel</span>
          </button>
          <button mat-menu-item (click)="close()">
            <mat-icon>close</mat-icon>
            <span>Close</span>
          </button>
        </mat-menu>
      </div>
    </div> -->
  </mat-toolbar>
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5pt">
            <div>
              <mat-icon style="font-size:20pt;">filter_list</mat-icon>
            </div>
            <div>
              <p>{{'Filter'|translate}}</p>
            </div>
          </div>
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>

      <div fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center center">
        <form [formGroup]="filterForm" novalidate>

          <div fxLayoutAlign="space-around center" fxLayoutAlign.lt-md="space-around stretch" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10pt">
           
            <mat-form-field class="form-box">
              <mat-select class="input-container" formControlName="financialYearId">
                <mat-option>-- None --</mat-option>
                <mat-option *ngFor="let financialYear of financialYears" [value]="financialYear.id">
                  {{financialYear.financialYear}}
                </mat-option>

              </mat-select>
              <mat-placeholder>{{'Financial Year'|translate}}</mat-placeholder>
            </mat-form-field>


            <mat-form-field>
              <input type="text" matInput [formControl]="partyControl" [matAutocomplete]="autoParty">
              <mat-placeholder>{{partyPlaceHolder|translate}}</mat-placeholder>
              <mat-autocomplete #autoParty="matAutocomplete"  [displayWith]="displayFnParty">
                <mat-option *ngFor="let party of filteredParties | async" [value]="party" (onSelectionChange)="partyChange($event,party)">
                 {{party.partyCode}}-{{party.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field>
              <input type="text" matInput [formControl]="materialControl" [matAutocomplete]="autoMaterial">
              <mat-placeholder>{{'Material'|translate}}</mat-placeholder>
              <mat-autocomplete #autoMaterial="matAutocomplete" [displayWith]="displayFnMaterial">
                <mat-option *ngFor="let material of filteredMaterials | async" [value]="material"
                  (onSelectionChange)="materialChange($event,material)" [matTooltip]="material.name + (material.partNumber ? '-' +material.partNumber:'')">
                  {{material.name}} {{material.partNumber ? '-' +material.partNumber: ''}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field>
              <input matInput [matDatepicker]="fromatatepicker" placeholder="{{'From Date'|translate}}" readonly formControlName="transactionFromDate">
              <mat-datepicker-toggle matSuffix [for]="fromatatepicker"></mat-datepicker-toggle>
              <mat-datepicker #fromatatepicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <input matInput [matDatepicker]="toDatepicker" placeholder="{{'To Date'|translate}}" readonly formControlName="transactionToDate">
              <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #toDatepicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <mat-placeholder>
                  {{'Created By'|translate}}
              </mat-placeholder>
              <mat-select formControlName="createdBy">
                  <mat-option *ngFor="let employee of employees" [value]="employee.username">
                      {{employee.name}}
                  </mat-option>
              </mat-select>

          </mat-form-field>
          </div>
          <div fxLayoutAlign="end end" fxLayoutGap="10px">
            <div>
              <p *ngIf="!isItemLevelTax">{{'*Discount/Tax/Grand Total are not applicable for header level tax setting'|translate}}</p>
            </div>
            <button mat-raised-button color="primary" (click)="onSearch()">
              <i class="material-icons menu-icon top-search" matTooltip="Search">search</i>
            </button>
            <button mat-raised-button type="button" (click)="clear()"><i class="material-icons" matTooltip="Clear!">clear_all</i></button>
          </div>
        </form>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="example-container-new mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="invoiceNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Invoice No.'|translate}} </th>
        <td style="cursor: pointer;" mat-cell *matCellDef="let element" (click)="showReference(element.invoiceHeaderId)"> {{element.invoiceNumber}}</td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>


      <ng-container matColumnDef="invoiceDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'Invoice Date'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.invoiceDate | date: 'dd/MM/yyyy'}}
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <ng-container matColumnDef="statusName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'Status'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <!-- <p [ngClass]=" element.statusName === 'Cancelled' ? 'cancel-class' : null">{{element.statusName}}</p> -->
          <p [ngClass]=" {'cancel-class' : element.statusName === 'Cancelled', null : element.statusName !== 'Cancelled' }">{{element.statusName}}</p>
          <!-- {{element.statusName}} -->
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <ng-container matColumnDef="partyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'Party Name'|translate}}
        </th>
        <td mat-cell *matCellDef="let element"> {{element.partyName}} </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <ng-container matColumnDef="gstNumber">
        <th mat-header-cell *matHeaderCellDef>
          {{'GST NUMBER'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">{{element.gstNumber}}</td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>


      <ng-containner matColumnDef="inclusiveTax">
        <th mat-header-cell *matHeaderCellDef>
          {{'Incl. Tax'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">{{element.inclusiveTax ? 'Yes' : 'No' }}</td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-containner>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>
          {{'Material'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">{{element.description}}{{element.partNumber? '/'+element.partNumber:''}}</td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <ng-container matColumnDef="hsnCode">
        <th mat-header-cell *matHeaderCellDef>
          {{'HSN CODE'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">{{element.hsnCode}}</td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <ng-container matColumnDef="internalReferenceNumber">
        <th mat-header-cell *matHeaderCellDef>
          {{'DocumentRef Number'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">{{element.internalReferenceNumber}}</td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>
          {{'Qty/Units'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;"> {{element.quantity | number : '.2'}} /{{element.uom}} </p>
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>
          {{'Price'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;"> {{element.price | number : '.2'}} </p>
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <ng-container matColumnDef="totalTaxableAmount">
        <th mat-header-cell *matHeaderCellDef>{{'Amount'|translate}}</th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;">{{element.totalTaxableAmount | number : '.2'}}</p>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <p style="text-align: right;">{{getTotalTaxableAmount() | number: '.2'}} </p>
        </td>
      </ng-container>
      <ng-containner matColumnDef="discountAmount">
        <th mat-header-cell *matHeaderCellDef>
          {{'Discount'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;">{{element.discountAmount | number: '.2'}}</p>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <p style="text-align: right;">{{getTotalDiscountAmount() | number: '.2'}} </p>
        </td>
      </ng-containner>

      <ng-containner matColumnDef="amountAfterDiscount">
        <th mat-header-cell *matHeaderCellDef>
          {{'Amt Aft Disc'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;">{{element.amountAfterDiscount | number: '.2'}}</p>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <p style="text-align: right;">{{getTotalAmountAfterDiscount() | number: '.2'}} </p>
        </td>
      </ng-containner>

      <ng-containner matColumnDef="taxableAmount">
        <th mat-header-cell *matHeaderCellDef>
          {{'Taxable Amt'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;">{{element.taxableAmount | number: '.2'}}</p>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <p style="text-align: right;">{{getSumTaxableAmount() | number: '.2'}} </p>
        </td>
      </ng-containner>

      <ng-container matColumnDef="cgstTaxRate">
        <th mat-header-cell *matHeaderCellDef>
          {{'Cgst Rate'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;"> {{element.cgstTaxRate| number : '.2'}} </p>
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>

      <ng-container matColumnDef="cgstTaxAmount">
        <th mat-header-cell *matHeaderCellDef>
          {{'CGST'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;">{{element.cgstTaxAmount | number: '.2'}}</p>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <p style="text-align: right;">{{getTotalCgstTaxAmount() | number: '.2'}} </p>
        </td>
      </ng-container>

      <ng-container matColumnDef="sgstTaxRate">
        <th mat-header-cell *matHeaderCellDef>
          {{'Sgst Rate'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;"> {{element.sgstTaxRate| number : '.2'}} </p>
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>

      <ng-container matColumnDef="sgstTaxAmount">
        <th mat-header-cell *matHeaderCellDef>
          {{'SGST'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;">{{element.sgstTaxAmount | number: '.2'}}</p>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <p style="text-align: right;">{{getTotalSgstTaxAmount() | number: '.2'}} </p>
        </td>
      </ng-container>

      <ng-container matColumnDef="igstTaxRate">
        <th mat-header-cell *matHeaderCellDef>
          {{'Igst Rate'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;">{{element.igstTaxRate| number : '.2'}} </p>
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>

      <ng-container matColumnDef="igstTaxAmount">
        <th mat-header-cell *matHeaderCellDef>
          {{'IGST'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;">{{element.igstTaxAmount | number: '.2'}}</p>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <p style="text-align: right;">{{getTotalIgstTaxAmount() | number: '.2'}} </p>
        </td>
      </ng-container>


      <ngContainer matColumnDef="grandTotal">
        <th mat-header-cell *matHeaderCellDef>
          {{'Grand Total (Excludes TCS)'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <p style="text-align: right;">{{element.grandTotal | number: '.2'}}</p>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <p style="text-align: right;">{{getTotalGrandTotal() | number: '.2'}} </p>
        </td>
      </ngContainer>



      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>

  </div>
  <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<div class="button-panel" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">

  <div>
    <button mat-raised-button type="button" (click)="close()" matTooltip="Close"><i class="material-icons">close</i>
     {{'Close'|translate}}</button>
  </div>
  <div>
    <button mat-raised-button type="button" color="primary" (click)="saveAsExcel()" matTooltip="Save as Excel"><i class="material-icons">import_export</i>
      {{'Export to Excel'|translate}}</button>
  </div>

  <div>
    <button mat-raised-button type="button" color="primary" (click)="saveAsPdf()" matTooltip="Save as Pdf"><i class="material-icons">import_export</i>
      {{'Export to Pdf'|translate}}</button>
  </div>


  <div *ngIf="enableTallyButton">
    <button mat-raised-button type="button" color="primary" (click)="exportToTally()" matTooltip="Export to Tally XML"><i class="material-icons">import_export</i>
      {{'Tally XML'|translate}}</button>
  </div>
  <div *ngIf="enableTallyButton">
    <button mat-raised-button type="button" color="primary" (click)="openLog()" matTooltip="Export to Tally XML"><i class="material-icons">list_alt</i>
      {{'Open Log'|translate}}</button>
  </div>
  
</div>