<div class="example-container">
    <mat-toolbar color="primary">
      <div fxLayout="row" style="width:100%" fxLayoutAlign="space-between end">

        <div>
            List of past Tally exports
        </div>
        <div>
          <button mat-button (click)="onCloseClick()">
              <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar>
<div class="example-container-new mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="fromDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>From Date </th>
        <td mat-cell *matCellDef="let element"> {{element.fromDate | date: 'dd/MM/yyyy'}} </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>


      <ng-container matColumnDef="toDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          To Date
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.toDate | date: 'dd/MM/yyyy'}}
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      
      <ng-container matColumnDef="voucherCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Voucher Count
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.voucherCount }}
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>

      <ng-container matColumnDef="dateAndTime">
        <th mat-header-cell *matHeaderCellDef>
          Date and Time
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.dateAndTime | date: 'dd/MM/yyyy h:mm:ss a'}} 
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
  <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>