.example-container-new {
    height: 50vh;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }

  tr.mat-footer-row {
    font-weight: bold;
  }
  
  tr.mat-header-row {
    font-weight: bold;
  }

  .mat-table-sticky {
    border-top: 1px solid #e0e0e0;
    
  }

  .mat-cell {    
    border-right: 1px solid black;
    text-align: center;
}

.mat-header-cell {    
  border-right: 1px solid black;
  text-align: center;
  font-size: 12pt;
  background-color: #e0e0e0;
}
.mat-footer-cell {    
  border-right: 1px solid black;
  // text-align: center;
  // font-size: 12pt;
  // background-color: #e0e0e0;
}

.cancel-class{
  color:red;
}