// .example-container {
//     display: flex;
//     flex-direction: column;
//     max-height: 500px;
//     min-width: 300px;
//     position: relative;
//   }
  
//   .example-header {
//     min-height: 64px;
//     display: flex;
//     align-items: center;
//     padding-left: 24px;
//     font-size: 20px;
//   }
  
//   .example-table {
//     overflow: auto;
//     min-height: 300px;
//   }
  
//   .example-loading-shade {
//     position: absolute;
//     top: 0;
//     left: 0;
//     bottom: 56px;
//     right: 0;
//     background: rgba(0, 0, 0, 0.15);
//     z-index: 1;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
  
//   .example-rate-limit-reached {
//     color: #980000;
//     max-width: 360px;
//     text-align: center;
//   }
  
//   /* Column Widths */
//   .mat-column-number,
//   .mat-column-state {
//     max-width: 64px;
//   }
  
//   .mat-column-created {
//     max-width: 124px;
//   }

//   .inv-list:hover {    
//     background-color: #337ab7;
//     cursor: pointer;
//     color:white;
// }

