<mat-toolbar color="primary" class="fixed-header">

    <!-- <label class="form-header-lbl">{{transactionType?.name}}</label> -->
    <div *ngIf='transactionType'>
        <app-sub-heading [route]="route">
        </app-sub-heading>
    </div>

    <span class="example-spacer">
    </span>
    <div>
        <i class="material-icons  menu-icon top-search" id="help_videos" (click)="helpVideos()"
        matTooltip="Help Videos">help</i>
        </div> 
    <div>
        <i (click)="rightsidenav.toggle()" class="material-icons menu-icon top-search">list</i>
    </div>
    <div *ngIf="voucherForm && voucherForm.get('id').value!= null" class="bottom">
        <mat-hint *ngIf="showTheCreatedBy" class="mat-hints">{{'Created By:'|translate}} {{voucherForm?.get('updateBy').value}}/{{voucherForm?.get('updatedDate').value| date: 'dd/MM/yyyy'}} </mat-hint>
        <mat-hint *ngIf="!showTheCreatedBy" class="mat-hints">{{'LastUpdated By:'|translate}} {{voucherForm?.get('updateBy').value}}/{{voucherForm?.get('updatedDate').value| date: 'dd/MM/yyyy'}} </mat-hint>
          </div>
</mat-toolbar>
<ngx-alerts></ngx-alerts>

<div class="form-top">
</div>

<mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav position="end" #rightsidenav>
        <div *ngIf="transactionType">
            <recent-voucher-table (voucherHeader)="recentVoucherGet($event); rightsidenav.toggle()"
                (changeCounter)="itemChanged($event)" [recentVoucherLoadCounter]="recentVoucherLoadCounter"
                (noDataFound)="whenNoDataFound($event)" [transactionType]="transactionType"></recent-voucher-table>
        </div>

    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <div class="example-loading-shade" *ngIf="spinStart">
            <mat-spinner *ngIf="spinStart"></mat-spinner>
        </div>
        <form *ngIf="voucherForm" [formGroup]="voucherForm" >
            <mat-card>
                <mat-card-content>
                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field *ngIf="voucherForm.get('voucherNumber').value || !isAutoNumber">
                                    <input matInput placeholder="{{'Voucher Number'|translate}}" [readonly]="isAutoNumber"
                                        formControlName="voucherNumber" #voucherNumber
                                         />
                                </mat-form-field>

                                <mat-form-field *ngIf="!voucherForm.get('voucherNumber').value && isAutoNumber"
                                    hintLabel="May get changed if your coleage saves first">
                                    <mat-label>{{transactionType?.name | translate}} {{'Number'|translate}}</mat-label>
                                    <input matInput readonly [value]="tempTransactionNumber"
                                        matTooltip="For indication only it may get changed after save">
                                </mat-form-field>
                            </div>
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="VocuherDatepicker" [min]="minDate" [max]="maxDate"
                                        readonly placeholder="{{'Voucher Date*'|translate}}" formControlName="voucherDate">
                                    <mat-datepicker-toggle matSuffix [for]="VocuherDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #VocuherDatepicker></mat-datepicker>
                                    <mat-error *ngIf="voucherForm.controls.voucherDate?.invalid">Please enter Voucher
                                        Date </mat-error>

                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <input matInput placeholder="{{'Paid To*'|translate}}" formControlName="paidTo" />
                                    <mat-error *ngIf="voucherForm.controls.paidTo?.invalid">Please enter Paid To
                                    </mat-error>

                                </mat-form-field>
                            </div>
                            <div *ngIf="isChequeVoucher" fxFlex="50%">
                                <mat-form-field>
                                    <input matInput placeholder="{{'Bank Name'|translate}}" formControlName="bankName" />
                                    <mat-error *ngIf="voucherForm.controls.bankName?.invalid">Please enter Bank Name
                                    </mat-error>

                                </mat-form-field>

                            </div>

                        </div>

                    </div>

                    

                    <div *ngIf="isChequeVoucher" fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">

                                <mat-form-field>
                                    <input matInput [matDatepicker]="ChequeDatepicker" [min]="minDate" [max]="maxDate"
                                        readonly placeholder="{{'Cheque Date*'|translate}}" formControlName="chequeDate">
                                    <mat-datepicker-toggle matSuffix [for]="ChequeDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #ChequeDatepicker></mat-datepicker>
                                    <mat-error *ngIf="voucherForm.controls.chequeDate?.invalid">Please enter Cheque Date
                                    </mat-error>

                                </mat-form-field>
                            </div>
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <input matInput placeholder="{{'Cheque Number*'|translate}}" formControlName="chequeNumber" />
                                    <mat-error *ngIf="voucherForm.controls.chequeNumber?.invalid">Please enter Cheque
                                        Number </mat-error>

                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                   

                </mat-card-content>

            </mat-card>


            <mat-card>
                <mat-card-content>

                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxLayout="row" fxLayoutGap="10px">
                                <mat-form-field style="width: 50%">
                                    <mat-placeholder>
                                        {{'Expense Head'|translate}}
                                    </mat-placeholder>
                                    <mat-select [(ngModel)]="matExpenseHead" [ngModelOptions]="{standalone: true}"
                                        [disabled]="voucherForm.disabled">
                                        <mat-option *ngFor="let expense of expenses" [value]="expense">
                                            {{expense.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field>
                                    <input matInput placeholder="{{'Amount'|translate}}" OnlyNumber="true" [(ngModel)]="amount"
                                        [ngModelOptions]="{standalone: true}" [disabled]="voucherForm.disabled">
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxLayout="row" fxLayoutGap="10px">

                                <mat-form-field>
                                    <mat-hint>Max {{item_length}} characters</mat-hint>
                                    <textarea matInput placeholder="{{'Description'|translate}}" #input3 maxlength={{item_length}} [(ngModel)]="description"
                                        [ngModelOptions]="{standalone: true}"
                                        [disabled]="voucherForm.disabled"></textarea>
                                        <mat-hint align="end">{{input3.value?.length || 0}}/{{item_length}}</mat-hint>
                                </mat-form-field>

                            </div>

                        </div>
                        <button mat-mini-fab color="accent" type="button" matTooltip="You can Add only one item"
                            [disabled]="voucherForm.disabled || (!matExpenseHead || !amount) || this.disableAddButton"
                            (click)="addItem()">
                            <i class="material-icons">arrow_downward</i>
                        </button>
                        <!-- <button mat-raised-button type="button" [disabled]="!(selectedParty || !isPartyChangeable)|| !tax ||!material|| !materialQuantity" (click)="addQuotationItem(materialquantity.value)">Add</button> -->
                    </div>
                    <div>
                        <button type="button" mat-raised-button color="accent" [disabled]="voucherForm.disabled || !enableSaveButton"
                        (click)="addNewExpense()" matTooltip="Add new Expense">
                        {{'Create New Expense Head'|translate}} 
                    </button>
                    </div>
                    <div formArrayName="voucherItems" class="grn-items">

                        <div *ngFor="let item of voucherForm.get('voucherItems')['controls']; let idx=index">
                            <voucher-item [group]="item" [index]="idx" (changeCounter)="handleChanges()"  (quantityChange)="quantityChange($event)"
                                (deleteIndex)="removeVoucherItem($event)">
                            </voucher-item>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center end" fxLayoutGap="10px">
                        <div fxFlex="70">
                            <!-- <mat-checkbox>Labour Charges Only</mat-checkbox> -->
                        </div>
                        <div fxFlex="30">
                            <mat-form-field>
                                <input matInput placeholder="{{'Total Amount'|translate}}" class="input-right" formControlName="amount"
                                    readonly />
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-content>


                </mat-card-content>
            </mat-card>

            <app-action-panel *ngIf="activityRoleBindings" [inForm]="voucherForm"
                [applicableButtons]="applicableButtons" [activityRoleBindings]="activityRoleBindings"
                [primaryKey]="voucherForm.get('id').value" (editEvent)="edit()" (closeEvent)="closeForm()"
                (deleteEvent)="delete()" (printEvent)="print()" (clearEvent)="clearForm()"
                (saveEvent)="onSubmit(voucherForm.value)">
            </app-action-panel>

        </form>
    </mat-sidenav-content>
</mat-sidenav-container>