<div [formGroup]="group" fxLayout="column"   fxLayoutGap="2px"  fxLayoutAlign="space-evenly stretch">
    <div *ngIf="index === 0" fxLayout="row" fxHide.lt-md="true"  fxLayoutGap="2px"   fxLayoutAlign="space-evenly stretch">
        <div class="item-header" fxFlex="5">
            <mat-toolbar class="item-header" color="primary">#</mat-toolbar>
        </div>
        <div class="item-header" fxFlex="35" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Expense Head'|translate}}</mat-toolbar>
        </div>
        <div class="item-header" fxFlex="45" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Description'|translate}}</mat-toolbar>
        </div>
        <div class="item-header" fxFlex="10" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Amount'|translate}}</mat-toolbar>
        </div>
        <div class="item-header" fxFlex="10" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Delete'|translate}}</mat-toolbar>
        </div>
    </div>

    <div fxLayout="row" fxHide.lt-md="true"  fxLayoutGap="2px"  fxLayoutAlign="space-evenly stretch">
        <div fxFlex="5">
            <label class="lbl-class">{{index + 1}}</label>
        </div>
        <div fxFlex="35">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm" type="text" color="primary" readonly formControlName="expenseName">
            </mat-form-field>
        </div>
        <div fxFlex="45">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm " type="text" color="primary" formControlName="description">
            </mat-form-field>
        </div>
        <div  fxFlex="10">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm input-right" type="text" color="primary" OnlyNumber="true" (change)="onQuantityChange()" formControlName="amount">
            </mat-form-field>
        </div>
 
        <div fxFlex="10">
            <button mat-button>
            <mat-icon  *ngIf="!group.disabled" class="delete-class" (click)="delete(index)">{{'delete'|translate}}</mat-icon>
            </button>
        </div>

    </div>
    <div fxLayout="column"  fxLayoutAlign="space-evenly stretch" fxShow="false" fxShow.lt-md="true" class="small-item-view">
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="30" color="primary">#</mat-toolbar>
            <div fxFlex="70">
                <label class="lbl-class">{{index + 1}}</label>
            </div>
        </div>
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="30" color="primary">{{'Expense head'|translate}}</mat-toolbar>
            <div class="input-container" fxFlex="70">
                <input class="input-sm " type="text" readonly formControlName="expenseName">
            </div>
        </div>
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="30" color="primary">{{'Description'|translate}}</mat-toolbar>
            <div class="input-container" fxFlex="70">
                <input class="input-sm " type="text" readonly formControlName="description">
            </div>
        </div>
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="30" color="primary">{{'Amount'|translate}}</mat-toolbar>
            <div class="input-container" fxFlex="70">
                <input class="input-sm input-right " type="text" OnlyNumber="true" (change)="onQuantityChange()" formControlName="amount">
            </div>
        </div>
       
        <div fxLayout="row">
            <mat-toolbar class="item-header" fxFlex="30" color="primary">{{'Delete'|translate}}</mat-toolbar>
            <div fxFlex="70">
                <mat-icon class="delete-class " (click)="delete(index)">{{'delete'|translate}}</mat-icon>
            </div>
        </div>
    </div>

</div>