
body {
    margin: 0px;
    padding: 0px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}




.example-container{
    top: 5%;
    background-color: #f1f1f1
}

.example-spacer {
    flex: 1 1 auto;
}


.material-icons{
    font-size: 15px;
    height: 20px;
}

.menu-icon{
    font-size: 24px;
    height: 30px;
    padding-right: 10px;
}

.mat-card-subtitle{
    font-weight: bold;
}


.input-right{
    text-align: right;
}


.color-picker-alternative{
    font-size: 35px;
}

.top-search{
    cursor: pointer;
}

.mat-form-field{
    width:100%;
}

