<mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav position="end" #rightsidenav>
        <recent-employ-table (noDataFound)="whenNoDataFound($event)" (UserModel)="recentEmployeesGet($event); rightsidenav.toggle()"
            [recentEmployeesLoadCounter]="recentEmployeesLoadCounter"></recent-employ-table>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <ngx-alerts></ngx-alerts>
        <div class="example-loading-shade" *ngIf="spinStart">
            <mat-spinner *ngIf="spinStart"></mat-spinner>
        </div>
        <form [formGroup]="employeeManagementForm">
            <mat-card>
                <mat-toolbar color="primary" class="fixed-header-master">
                    
                    <app-sub-heading  [route]="route"></app-sub-heading>
                    
                    <span class="example-spacer"></span>
                    <div>                              
                        <i (click)="rightsidenav.toggle()" class="material-icons menu-icon top-search">list</i>
                      </div>
                </mat-toolbar>
                <mat-card-content>
                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <mat-placeholder>{{'Name Prefix*'|translate}}</mat-placeholder>
                                    <mat-select formControlName="prefixId" [disabled]="employeeManagementForm.disabled">
                                        
                                        <mat-option *ngFor="let prefix of namePrefixes" [value]="prefix.id">
                                            {{prefix.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="employeeManagementForm.controls.prefixId?.invalid">Please select Name Prefix</mat-error>

                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">

                                <mat-form-field>
                                    <input matInput placeholder="{{'Name*'|translate}}" formControlName="name" />
                                    <mat-error *ngIf="employeeManagementForm.controls.name?.invalid">Please enter Name</mat-error>
                                </mat-form-field>


                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="DOBDatepicker"   [max]="maxDate" readonly placeholder="{{'Date of Birth'|translate}}" formControlName="dateOfBirth">
                                    <mat-datepicker-toggle matSuffix [for]="DOBDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker [disabled]="employeeManagementForm.disabled" #DOBDatepicker></mat-datepicker>
                                </mat-form-field>


                            </div>
                        </div>
                    </div>

                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <mat-placeholder>{{'Role*'|translate}}</mat-placeholder>
                                    <mat-select multiple formControlName="roleIds" [disabled]="employeeManagementForm.disabled" multiple>
                                        <mat-option *ngFor="let role of roles" [value]="role.id">
                                            {{role.role}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="employeeManagementForm.controls.roleIds?.invalid">Please select Role-type</mat-error>

                                </mat-form-field>

                            </div>
                        </div>

                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <mat-placeholder>{{'Employee-type*'|translate}}</mat-placeholder>
                                    <mat-select formControlName="employeeTypeId" [disabled]="employeeManagementForm.disabled">
                                        <!-- <mat-option value=1>Permanent</mat-option>
                                        <mat-option value=2>Temporary</mat-option>
                                        <mat-option value=3>Part Time</mat-option> -->
                                        <mat-option *ngFor="let eType of eTypes" [value]="eType.id">
                                            {{eType.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="employeeManagementForm.controls.employeeTypeId?.invalid">Please select Employee Type</mat-error>

                                </mat-form-field>

                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <input matInput placeholder="{{'Employee Code*'|translate}}" formControlName="employeeNumber" />
                                </mat-form-field>


                            </div>
                        </div>
                    </div>

                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <mat-placeholder>{{'Gender*'|translate}}</mat-placeholder>
                                    <mat-select formControlName="genderId" [disabled]="employeeManagementForm.disabled">
                                        
                                        <mat-option *ngFor="let gender of genders" [value]="gender.id">
                                            {{gender.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="employeeManagementForm.controls.genderId?.invalid">Please select Gender Type</mat-error>

                                </mat-form-field>

                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <textarea matInput placeholder="{{'Current Address'|translate}}" formControlName="currentAddress"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <textarea matInput placeholder="{{'Permanent Address*'|translate}}" formControlName="permanentAddress"></textarea>
                                    <mat-error *ngIf="employeeManagementForm.controls.permanentAddress?.invalid">Please select Permanent Address</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <input matInput placeholder="{{'Pincode'|translate}}" OnlyNumber="true" formControlName="pinCode" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <mat-placeholder>{{'Area'|translate}}</mat-placeholder>
                                    <mat-select formControlName="areaId" [disabled]="employeeManagementForm.disabled" (selectionChange)="getCities()">
                                        
                                        <mat-option *ngFor="let area of areas" [value]="area.id" >
                                            {{area.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <mat-placeholder>{{'City'|translate}}</mat-placeholder>
                                    <mat-select formControlName="cityId" [disabled]="employeeManagementForm.disabled"  (selectionChange)="getStates()">
                                        
                                        <mat-option *ngFor="let city of cities" [value]="city.id">
                                            {{city.name}}
                                        </mat-option>
                                    </mat-select>

                                    <mat-error *ngIf="employeeManagementForm.controls.cityId?.invalid">Please select City</mat-error>

                                </mat-form-field>


                            </div>
                        </div>
                    </div>


                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <mat-placeholder>{{'State'|translate}}</mat-placeholder>
                                    <mat-select formControlName="stateId" [disabled]="employeeManagementForm.disabled" >
                                        
                                        <mat-error *ngIf="employeeManagementForm.controls.stateId?.invalid">Please select State</mat-error>
                                        <mat-option *ngFor="let state of states" [value]="state.id">
                                            {{state.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <!-- <mat-form-field>
                                    <input matInput placeholder="E-Mail*" #email formControlName="email" (change)=checkEmailAvailability() />
                                    <mat-error *ngIf="employeeManagementForm.controls.email?.invalid">Please enter Valid E-mail</mat-error>
                                </mat-form-field> -->

                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <input matInput placeholder="{{'Comments'|translate}}" formControlName="comments" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <input matInput placeholder="{{'Mobile Number'|translate}}" formControlName="mobileNumber" />
                                    <mat-error *ngIf="employeeManagementForm.controls.mobileNumber?.invalid">Please enter valid Mobile Number</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <input matInput placeholder="{{'Telephone Number'|translate}}" formControlName="telephoneNumber" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="DOJDatepicker" [max]="maxDate" readonly placeholder="{{'Date of Join'|translate}}" formControlName="dateOfJoin">
                                    <mat-datepicker-toggle matSuffix [for]="DOJDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #DOJDatepicker [disabled]="employeeManagementForm.disabled"></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="DOLDatepicker" readonly  [max]="maxDate" placeholder="{{'Date of Leaving'|translate}}" formControlName="dateOfLeaving">
                                    <mat-datepicker-toggle matSuffix [for]="DOLDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #DOLDatepicker [disabled]="employeeManagementForm.disabled"></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            
                            <div fxLayout="row" fxLayoutGap="5pt">
                                <div *ngIf="showLoginCredential">
                                    <button mat-raised-button type="button" [disabled]="employeeManagementForm.disabled"  matTooltip="View/Edit Username and Password"  (click)="changePassword()"> Login Details</button>
                                </div>
                                <div *ngIf="showDisableLogin">
                                    <button mat-raised-button type="button" color="warn" [disabled]="employeeManagementForm.disabled"  matTooltip="Disable this employee's login"  (click)="disableLogin()"> Disable Login</button>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                           
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            
            <div style="margin-bottom: 5vh; height: 5vh;"></div>
            <app-action-panel *ngIf="activityRoleBindings" [inForm]="employeeManagementForm" [applicableButtons]="applicableButtons"
                [activityRoleBindings]="activityRoleBindings" [primaryKey]="employeeManagementForm.get('id').value" (editEvent)="edit()"
                (closeEvent)="closeForm()" (deleteEvent)="delete()" (printEvent)="print()" (clearEvent)="clearForm()" (saveEvent)="submit(employeeManagementForm.value)">
            </app-action-panel>
        </form>
    </mat-sidenav-content>
</mat-sidenav-container>