 

th, td {
    overflow: hidden;
    width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4px;    
   }
  
  td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 3px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
 }

