<div class="example-container">

    <mat-toolbar color="primary" class="fixed-header-master">
            <div>
                <app-sub-heading [route]="route_in">
                </app-sub-heading>
            </div>
       
    </mat-toolbar>
    <div style="margin-top: 20pt;">

    </div>
    <mat-accordion>
      <mat-expansion-panel  [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5pt">
              <div><mat-icon style="font-size:20pt;">filter_list</mat-icon></div>
              <div><p>{{'Filter'|translate}}</p></div>
            </div>
          </mat-panel-title>
          <mat-panel-description>
    
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <div fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center center" fxLayoutAlign.lt-md="space-around stretch" >
          <form [formGroup]="filterForm" novalidate>
            
            <div fxLayoutAlign="space-around center" fxLayoutAlign.lt-md="space-around stretch" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10pt">
             
       
              <mat-form-field >
                  <input type="text" matInput [formControl]="partyControl" [matAutocomplete]="autoParty">
                  <mat-placeholder>{{'Customer'|translate}}</mat-placeholder>
                  <mat-autocomplete #autoParty="matAutocomplete">
                    <mat-option *ngFor="let party of filteredParties | async" [value]="party.name" (onSelectionChange)="partyChange($event,party)">
                      {{party.name}}
                    </mat-option>
                  </mat-autocomplete>              
              </mat-form-field>
    
    
              <mat-form-field>
                <input matInput [matDatepicker]="fromatatepicker" placeholder="{{'From date'|translate}}" readonly formControlName="transactionFromDate">
                <mat-datepicker-toggle matSuffix [for]="fromatatepicker"></mat-datepicker-toggle>
                <mat-datepicker #fromatatepicker></mat-datepicker>
              </mat-form-field>
    
              <mat-form-field>
                <input matInput [matDatepicker]="toDatepicker" placeholder="{{'To date'|translate}}" readonly formControlName="transactionToDate">
                <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #toDatepicker></mat-datepicker>
              </mat-form-field>
    
             
            </div>
            <div fxLayoutAlign="end end" fxLayoutGap="10px">
              <button mat-raised-button color="primary" (click)="onSearch()">
                <i class="material-icons menu-icon top-search" matTooltip="Search">search</i>
              </button>
              <button mat-raised-button type="button" (click)="clear()"><i class="material-icons" matTooltip="Clear!">clear_all</i></button>
    </div>
          </form>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="example-container-new mat-elevation-z8">

        <table mat-table [dataSource]="dataSource" matSort>
    
          <ng-container matColumnDef="eWayBillNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'E-Way Bill Number'|translate}} </th>
             <td  mat-cell *matCellDef="let element" > {{element.eWayBillNo}}</td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
  
          <ng-container matColumnDef="eWayBillDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'E-Way Bill Date'|translate}} </th>
            <td mat-cell *matCellDef="let element" > {{element.eWayBillDate  | date: 'dd/MM/yyyy'}}</td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="supplyType">
            <th mat-header-cell *matHeaderCellDef >{{'Supply Type'|translate}} </th>
            <td mat-cell *matCellDef="let element" > {{element.supplyType}}</td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

        <ng-container matColumnDef="invoiceNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{'Invoice Number'|translate}}
          </th>
          <td mat-cell *matCellDef="let element"> {{element.invoiceNumber}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="invoiceDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{'Invoice Date'|translate}}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.invoiceDate  | date: 'dd/MM/yyyy'}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="partyName">
            <th mat-header-cell *matHeaderCellDef >
              {{'Party Name'|translate}}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.partyName}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="partyGstNum">
            <th mat-header-cell *matHeaderCellDef  >
              {{'Party Gst Number'|translate}}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.partyGstNum}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="transportedGstNum">
            <th mat-header-cell *matHeaderCellDef  >
              {{'Transported Gst Number'|translate}}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.transportedGstNum}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="fromAddress">
            <th mat-header-cell *matHeaderCellDef  >
              {{'From Address'|translate}}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.fromAddress}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="toAddress">
            <th mat-header-cell *matHeaderCellDef >
              {{'To Address'|translate}}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.toAddress}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{'Status'|translate}}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="noOfItems">
            <th mat-header-cell *matHeaderCellDef >
              {{'No Of Items'|translate}}
            </th>
             <td mat-cell *matCellDef="let element">
              <p style="text-align: right;">{{element.noOfItems}}</p>
          </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="hsnCode">

            <th mat-header-cell *matHeaderCellDef >
              {{'HSN Code'|translate}}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.hsnCode}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="hsnDescription">
            <th mat-header-cell *matHeaderCellDef >
              {{'Hsn Description'|translate}}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.hsnDescription}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="assesableValue">
            <th mat-header-cell *matHeaderCellDef  >
              {{'Assesable Value'|translate}}
            </th>
            <td mat-cell *matCellDef="let element">
                <p style="text-align: right;">{{element.assesableValue}}</p>
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="sgst">
            <th mat-header-cell *matHeaderCellDef  >
              {{'Sgst'|translate}}
            </th>
            <td mat-cell *matCellDef="let element">
                <p style="text-align: right;">{{element.sgst}}</p>
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

        <ngContainer matColumnDef="cgst">
          <th mat-header-cell *matHeaderCellDef>
            {{'Cgst'|translate}}
          </th>
          <td mat-cell *matCellDef="let element">
            <p style="text-align: right;">{{element.cgst}}</p>
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ngContainer>

        <ngContainer matColumnDef="igst">
            <th mat-header-cell *matHeaderCellDef>
              {{'Igst'|translate}}
            </th>
            <td mat-cell *matCellDef="let element">
              <p style="text-align: right;">{{element.igst}}</p>
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ngContainer>

         <ngContainer matColumnDef="cess">
          <th mat-header-cell *matHeaderCellDef>
            {{'Cess'|translate}}
          </th>
          <td mat-cell *matCellDef="let element">
            <p style="text-align: right;">{{element.cess}}</p>
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ngContainer>

        <ngContainer matColumnDef="noncess">
            <th mat-header-cell *matHeaderCellDef>
              {{'Non Cess'|translate}}
            </th>
            <td mat-cell *matCellDef="let element">
              <p style="text-align: right;">{{element.noncess}}</p>
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ngContainer>

          <ngContainer matColumnDef="otherValue">
            <th mat-header-cell *matHeaderCellDef>
              {{'Other Value'|translate}}
            </th>
            <td mat-cell *matCellDef="let element">
              <p style="text-align: right;">{{element.otherValue}}</p>
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ngContainer>

          <ngContainer matColumnDef="invoiceValue">
            <th mat-header-cell *matHeaderCellDef>
              {{'Invoice Value'|translate}}
            </th>
            <td mat-cell *matCellDef="let element">
              <p style="text-align: right;">{{element.invoiceValue}}</p>
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ngContainer>

          <ngContainer matColumnDef="eWayBillValidity">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header>
              {{'E-Way Bill Validity'|translate}}
            </th>
            <td mat-cell *matCellDef="let element">
              <p style="text-align: right;">{{element.eWayBillValidity  | date: 'dd/MM/yyyy hh:mm:ss'}}</p>
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ngContainer>

          <ng-container matColumnDef="detailedpdfUrl">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{'PDF'|translate}}
            </th>
            <td mat-cell *matCellDef="let element" > <span class="material-icons menu-icon top-search" (click)="goToLink(element.detailedpdfUrl)"
              matTooltip="Get Print">
              print
          </span> </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
        </table>
    
      </div>
      <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    

    </div>
 


<div class="button-panel" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">

    <div>
        <button mat-raised-button type="button" (click)="close()" matTooltip="Close">
            <i class="material-icons">close</i> {{'Close'|translate}}</button>
    </div>
    <div>
        <button mat-raised-button type="button" color="primary" (click)="saveAsExcel()" matTooltip="Save as Excel">
            <i class="material-icons">import_export</i> {{'Export to Excel'|translate}}</button>
    </div>

    <div>
        <button mat-raised-button type="button" color="primary" (click)="saveAsPdf()" matTooltip="Save as Pdf"><i class="material-icons">import_export</i>
          {{'Export to Pdf'|translate}}</button>
      </div>

</div>

<!-- <nested-table></nested-table> -->
