<div class="example-container">


  <mat-toolbar color="primary" class="fixed-header-master">
      <div>
          <app-sub-heading [route]="route_in">
          </app-sub-heading>
      </div>
    <!-- <div fxLayout="row" fxLayoutAlign="end center" class="title-row">
      <div fxFlex="97">
        <label class="form-header-lbl">{{transactionType?.name}}</label>
      </div>
      <div fxFlex>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="saveAsExcel()">
            <mat-icon>import_export</mat-icon>
            <span>Export to Excel</span>
          </button>
          <button mat-menu-item (click)="close()">
            <mat-icon>close</mat-icon>
            <span>Close</span>
          </button>
        </mat-menu>
      </div>
    </div> -->
  </mat-toolbar>
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5pt">
            <div>
              <mat-icon style="font-size:20pt;">filter_list</mat-icon>
            </div>
            <div>
              <p>{{'Filter'|translate}}</p>
            </div>
          </div>
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>

      <div fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center center" fxLayoutAlign.lt-md="space-around stretch">
        <form [formGroup]="filterForm" novalidate>
          <mat-radio-group (change)="mainPartyTypeChange()" [(ngModel)]="mainPartyType" [ngModelOptions]="{standalone: true}">
            <mat-radio-button [value]="'customer'">
                <label>{{'Customer/Supplier'|translate}}</label>
            </mat-radio-button> &nbsp; &nbsp;
            <mat-radio-button [value]="'jobworker'">
                <label>{{'Jobworker/Vendor'|translate}}</label>
            </mat-radio-button>
        </mat-radio-group>
          <div fxLayoutAlign="space-around center" fxLayoutAlign.lt-md="space-around stretch" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10pt">
            <mat-form-field class="form-box">
              <mat-select class="input-container" formControlName="financialYearId">
                <mat-option>-- None --</mat-option>
                <mat-option *ngFor="let financialYear of financialYears" [value]="financialYear.id">
                  {{financialYear.financialYear}}
                </mat-option>

              </mat-select>
              <mat-placeholder>{{'Financial Year'|translate}}</mat-placeholder>
            </mat-form-field>

            <mat-form-field>
              <input type="text" matInput [formControl]="partyControl" [matAutocomplete]="autoParty">
              <mat-placeholder>{{partyPlaceHolder}}</mat-placeholder>
              <mat-autocomplete #autoParty="matAutocomplete" [displayWith]="displayFnParty">
                <mat-option *ngFor="let party of filteredParties | async" [value]="party" (onSelectionChange)="partyChange($event,party)">
                  {{party.partyCode}}-{{party.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>


            <mat-form-field>
              <input type="text" matInput [formControl]="invoiceControl" [matAutocomplete]="autoInvoice">
              <mat-placeholder>{{"invoiceNumber"}}</mat-placeholder>
              <mat-autocomplete #autoInvoice="matAutocomplete" [displayWith]="displayFnInvoice">
                <mat-option *ngFor="let invoice of filteredInvoices | async" [value]="invoice" (onSelectionChange)="invoiceChange($event,invoice)">
                  {{invoice.invoiceNumber}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>



            <mat-form-field>
              <input matInput [matDatepicker]="fromatatepicker" placeholder="{{'From date'|translate}}" readonly formControlName="transactionFromDate">
              <mat-datepicker-toggle matSuffix [for]="fromatatepicker"></mat-datepicker-toggle>
              <mat-datepicker #fromatatepicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <input matInput [matDatepicker]="toDatepicker" placeholder="{{'To date'|translate}}" readonly formControlName="transactionToDate">
              <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #toDatepicker></mat-datepicker>
            </mat-form-field>
            
            <mat-form-field style="align-content: left;">
              <mat-select placeholder="{{'Set page limit'|translate}}" [(value)]="pageSize" (selectionChange)="setPageAfterPageLimit()">
                <mat-option>-- None --</mat-option>
                <mat-option *ngFor="let num of pageNumbers" [value]="num">
                      {{num}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
          </div>
          <div fxLayoutAlign="end end" fxLayoutGap="10px">
            <button mat-raised-button color="primary" (click)="onSearch()">
              <i class="material-icons menu-icon top-search" matTooltip="Search">search</i>
            </button>
            <button mat-raised-button type="button" (click)="clear()">
              <i class="material-icons" matTooltip="Clear!">clear_all</i>
            </button>
          </div>

        </form>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
    <ngx-datatable class="material" (sort)="onSort($event)" [rows]="rows" [sorts]="[{prop:'invoiceNumber', dir: 'asc'}, {prop:'partyName', dir: 'asc'} , {prop:'totalTaxableAmount', dir: 'asc'},{prop:'invoiceDate', dir: 'asc'},{prop:'payReferenceDate', dir: 'asc'},{prop:'payReferenceNumber', dir: 'asc'}]"
      [columnMode]="'force'" [headerHeight]="'auto'" [scrollbarH]="true" [footerHeight]="50" [rowHeight]="'auto'"  [externalSorting]="true" [externalPaging]="true"
      [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [scrollbarH]="true"
      [summaryRow]="true" [summaryPosition]="'bottom'" [summaryHeight]="'auto'">
      <ngx-datatable-column headerClass="report-header" name="{{'SlNo'|translate}}" [maxWidth]="80">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <strong>{{(page.pageNumber * page.size) + rowIndex + 1}}</strong>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column headerClass="report-header"  prop="payReferenceDate">
          <ng-template let-column="column" let-sort="sortFn"  ngx-datatable-header-template>
            <span (click)="sort()" class="sort-btn sort-desc undefined">{{'Paid Date'|translate}}</span>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value | date: 'dd/MM/yyyy'}}
          </ng-template>
        </ngx-datatable-column>
     
        <ngx-datatable-column headerClass="report-header"  prop="payReferenceNumber">
            <ng-template let-column="column" let-sort="sortFn"  ngx-datatable-header-template>
                <span (click)="sort()" class="sort-btn sort-desc undefined">{{'Payment Number'|translate}}</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span style="cursor: pointer;" >{{row.payReferenceNumber }}</span>
          </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column headerClass="report-header"  name="statusName" >
            <ng-template let-column="column"  ngx-datatable-header-template>
              <span (click)="sort()" class="sort-btn sort-desc undefined">{{'Status'|translate}}</span>        
            </ng-template>     
            <ng-template let-value="value" ngx-datatable-cell-template>              
              <div [ngClass]=" {'cancel-class' : value === 'Draft', null : value !== 'Draft' }">{{value}}</div>
            </ng-template>
            
          </ngx-datatable-column>
          
      <ngx-datatable-column headerClass="report-header"  name="invoiceNumber">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()" class="sort-btn sort-desc undefined">{{'Invoice Number'|translate}}</span>
        </ng-template>
        
      </ngx-datatable-column>
      <ngx-datatable-column headerClass="report-header"  prop="invoiceDate">
        <ng-template let-column="column" let-sort="sortFn"  ngx-datatable-header-template>
          <span (click)="sort()" class="sort-btn sort-desc undefined">{{'Invoice Date'|translate}}</span>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value | date: 'dd/MM/yyyy'}}
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column headerClass="report-header"  name="partyName">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()" class="sort-btn sort-desc undefined">{{'Party Name'|translate}}</span>
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column headerClass="report-header"  prop="invoiceAmount" cellClass="report-right-align" [summaryFunc]="null">
        <ng-template let-column="column"  ngx-datatable-header-template>
          <span (click)="sort()" class="sort-btn sort-desc undefined"> {{'Total Amount'|translate}}</span>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value | number : '.2'}}
        </ng-template>

      </ngx-datatable-column>

      <ngx-datatable-column headerClass="report-header"  prop="dueAmount" cellClass="report-right-align" [summaryFunc]="null" >
        <ng-template let-column="column"  ngx-datatable-header-template>
          <span (click)="sort()" class="sort-btn sort-desc undefined"> {{'Balance Amount'|translate}}</span>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value | number : '.2'}}
        </ng-template>

      </ngx-datatable-column>

      <ngx-datatable-column headerClass="report-header"  name="tdsPercentage" cellClass="report-right-align" [summaryFunc]="null">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{'TDS Percentage'|translate}}
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value | number : '.2'}}
        </ng-template>

      </ngx-datatable-column>

      <ngx-datatable-column headerClass="report-header"  prop="tdsAmount" cellClass="report-right-align" [summaryFunc]="null">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{'TDS Amount'|translate}}
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value | number : '.2'}}
        </ng-template>

      </ngx-datatable-column>


      <ngx-datatable-column headerClass="report-header"  prop="amountAfterTds" cellClass="report-right-align" [summaryFunc]="null">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{'Amount After TDS'|translate}}
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value | number : '.2'}}
        </ng-template>

      </ngx-datatable-column>

      <ngx-datatable-column headerClass="report-header"  prop="payingAmount" cellClass="report-right-align" [summaryTemplate]="templateForAmount">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span (click)="sort()" class="sort-btn sort-desc undefined"> {{'Amount Paid'|translate}}</span>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value | number : '.2'}}
        </ng-template>

      </ngx-datatable-column>
      <!-- <ngx-datatable-column prop="payingAmount">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()" class="sort-btn sort-desc undefined"> Paying Amount</span>
        </ng-template>
      </ngx-datatable-column> -->






      <ngx-datatable-column headerClass="report-header"  prop="paymentMethodName">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{'Payment Mode'|translate}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column headerClass="report-header"  prop="paymentDocumentNumber">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{'Cheque No/Bank Name'|translate}}
        </ng-template>
      </ngx-datatable-column>
     

    </ngx-datatable>
    <ng-template #templateForAmount>
      <div>
        {{ summaryTotal() | number : '.2' }}
      </div>
    </ng-template>
</div>

<div class="button-panel" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">

  <div>
    <button mat-raised-button type="button" (click)="close()" matTooltip="Close">
      <i class="material-icons">close</i> {{'Close'|translate}}</button>
  </div>
  <div>
    <!-- <button mat-raised-button type="button" color="primary" (click)="saveAsExcel()" matTooltip="Save as Excel">
      <i class="material-icons">import_export</i> Export to Excel</button> -->

      <button mat-raised-button type="button" color="primary" (click)="saveAsExcel()" matTooltip="Save as Excel">
        <i class="material-icons">import_export</i> {{'Export to Excel'|translate}}</button>
  </div>


  <div>
    <button mat-raised-button type="button" color="primary" (click)="saveAsPdf()" matTooltip="Save as Pdf"><i class="material-icons">import_export</i>
      {{'Export to Pdf'|translate}}</button>
  </div>


</div>