<!-- <div class="main-container" [class]="themeClass"> -->

  <!-- <mat-toolbar color="primary" class="top-menu">
    <div fxShow="true" >
      
      <i (click)="sidenav.toggle()" class="material-icons menu-icon left-menu-button">menu</i>
    </div>
    
    <div class="menu-item">
      <img src="./assets/BOS-Standard-Logo.png">
    </div>

    <div>
      <button mat-icon-button [matMenuTriggerFor]="themeMenu">
              <mat-icon>format_color_fill</mat-icon>
              
            </button>
      <mat-menu #themeMenu="matMenu">
        <button mat-menu-item>
                <mat-icon  (click)="themeClass='alternative'" class="color-picker-alternative">check_circle</mat-icon>              
                <mat-icon (click)="themeClass='default-theme'" class="color-picker-alternative">check_circle</mat-icon>
                <mat-icon (click)="themeClass='indigo-theme'" class="color-picker-alternative">check_circle</mat-icon>
              </button>
        <button mat-menu-item>
                <mat-icon (click)="themeClass='deep-orange-theme'" class="color-picker-alternative">check_circle</mat-icon>
                <mat-icon (click)="themeClass='grey-theme'" class="color-picker-alternative">check_circle</mat-icon>
                <mat-icon (click)="themeClass='green-theme'" class="color-picker-alternative">check_circle</mat-icon>
              </button>
      </mat-menu>
    </div>

    <span class="example-spacer"></span>

    <div fxShow="true" fxHide.lt-md="true">

      

      <a href="#" mat-button>Settings</a>

      <a href="#" mat-button routerLink="/invoice">Sales</a>

      <a href="#" mat-button>Purchase</a>

      <a href="#" mat-button>Dashboard</a>

      <a href="#" mat-button>Reports</a>


    </div>

  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    
    <mat-sidenav #sidenav fxLayout="column">
      
      <div fxLayout="column">
        <mat-nav-list>
          <a mat-list-item href="#" color="accent"><button mat-mini-fab color="accent"><i class="material-icons">account_balance</i></button> Menu Item 11 </a>
          <a mat-list-item href="#" color="accent"><button mat-mini-fab color="accent"><i class="material-icons">assessment</i></button> Menu Item 12 </a>
          <a mat-list-item href="#" color="accent"><button mat-mini-fab color="accent"><i class="material-icons">assignment_return</i></button> Menu Item 13 </a>
          <a mat-list-item href="#" color="accent"><button mat-mini-fab color="accent"><i class="material-icons">credit_card</i></button> Menu Item 14 </a>
        </mat-nav-list>

      </div>

    </mat-sidenav>
  
  <router-outlet></router-outlet>
</mat-sidenav-container> -->
<!-- <p>app header below</p>
<app-header></app-header> -->
<div style="min-height: 100vh; min-width: 100vw; background: rgba(0, 0, 0, 0.15); z-index: 1;" *ngIf="spinStart" fxLayout="row" fxLayoutAlign="center center">
  <div>
    <mat-spinner *ngIf="spinStart"></mat-spinner>
  </div>
</div>
<router-outlet></router-outlet>
 <!-- <app-chat-dialog></app-chat-dialog>  -->
<!-- </div> -->