<mat-toolbar color="primary" class="fixed-header-master">
  <div fxLayout="column">
    <div>
      <label class="form-header-lbl">{{'Bank Master'|translate}}</label>
    </div>

    <!-- <div>
      <h6 class="sub-hint">this page is used to record Information about bank</h6>
    </div> -->
  </div>
</mat-toolbar>
<!-- <mat-toolbar color="primary" class="fixed-header-master">
    <app-sub-heading [route]="route"></app-sub-heading>
</mat-toolbar> -->
<div class="form-top">

</div>
<ngx-alerts></ngx-alerts>
<form *ngIf="bankForm" [formGroup]="bankForm">



  <mat-card class="example-container">
    <mat-card-header class="card-header">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div fxFlex>
          <mat-form-field>
            <mat-placeholder>{{'Type to filter the Bank...'|translate}}</mat-placeholder>
            <input matInput (keyup)='updateFilter($event)'>
          </mat-form-field>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div formArrayName="banks">
        <ngx-datatable #table class="material" [rows]="bankForm.get('banks').value" [columnMode]="'force'"
          [headerHeight]="'auto'" [footerHeight]="50" [rowHeight]="'auto'" [selected]="selected"
          [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" [displayCheck]="displayCheck"
          (select)='onSelect($event)' [limit]="pageSize">
          <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
            [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
          </ngx-datatable-column>

          <ngx-datatable-column name="id">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>{{'Sl No'|translate}}</strong>
              </span>
            </ng-template>
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
              <strong>{{rowIndex + 1}}</strong>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="bankname">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>{{'Bank'|translate}}</strong>
              </span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <div [formGroupName]="rowIndex">
                <mat-form-field>
                  <input matInput placeholder="{{'Bank'|translate}}" formControlName="bankname">
                  <div class="blankspace">
                  </div>
                </mat-form-field>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="bankAddress">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>
                <strong>{{'Address'|translate}}</strong>
              </span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <div [formGroupName]="rowIndex">
                <mat-form-field>
                  <!-- <input matInput placeholder="Address" formControlName="bankAddress"> -->
                  <textarea matInput placeholder="{{'Address*'|translate}}" formControlName="bankAddress"></textarea>
                </mat-form-field>
              </div>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="button-panel" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div>
      <button mat-raised-button type="button" color="primary" (click)="close()" matTooltip="Close">
        <i class="material-icons">close</i> {{'Close'|translate}}
      </button>
    </div>
    <div>
      <button mat-raised-button type="button" (click)="addNew()" [disabled]="!enableSaveButton">
        <i class="material-icons">add</i> {{'Add'|translate}}</button>
    </div>
    <div>
      <button mat-raised-button color="warn" type="button" (click)="delete()" [disabled]="selected.length === 0">
        <i class="material-icons">delete_forever</i>  {{'Delete'|translate}}</button>
    </div>
    <div>
      <button mat-raised-button color="primary" type="button" [disabled]="!bankForm.valid || !bankForm.touched || !enableSaveButton"
        (click)="onSubmit(bankForm.value)">
        <i class="material-icons">save</i>
        {{'Save'|translate}}</button>
    </div>
  </div>
</form>