.button-panel{
    position: fixed;
    bottom: -4px;
    //right: 10px;
    // left: 50%;
    margin-top:20px;
    background-color: #f1f1f1;
    align-content: center;
    text-align: center;
    width: 100%;
    z-index: 9;
    font-size: 34px;
}

#button{
    border-style: none;
    width: 90%;
    height: 30px;
    padding: 5px;
    background-color:  lightgray;
    color: hsl(0, 1%, 31%);
}
.actionbutton{
    background-color: #536dfe;
    border-style: none;
    color: white
}

.btn-mobile{
    min-width:100pt;
}

.material-icons{
  font-size: 15px;
//   height: 20px;
}