

<div class="button-panel" fxLayout="row" fxLayoutGap="10%">

    <div class="deleteAndEdit" fxFlex="20%" fxLayoutAlign="start" fxLayoutGap="1%">


        <!-- ......................button list..................................... -->

        <div fxHide fxShow.lt-md="true">
            <button mat-button type="button" [matMenuTriggerFor]="menu">
            <mat-icon style="font-size: 20pt;">more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">



                <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10pt">
                    

                    <div>
                        <button *ngIf="applicableButtons?.isClearButton" class="btn-mobile"
                            mat-raised-button type="button" (click)="clear()"><i class="material-icons" matTooltip="Clear!">clear_all</i>{{'Clear'
                            | translate }} </button>
                    </div>

                    <div>
                        <button *ngIf="applicableButtons?.isPrintButton" class="btn-mobile"
                            mat-raised-button type="button" (click)="print()" [disabled]="!(enablePrintButton && primaryKey)"><i
                                class="material-icons" matTooltip="Print">print</i>
                            {{'Print' | translate }} </button>
                    </div>

                    <div *ngIf="applicableButtons?.isDraftButton">
                        <button *ngIf="applicableButtons?.isDraftButton" class="btn-mobile"
                            mat-raised-button type="button" (click)="saveAsDraft()" [disabled]=" !enableSaveButton || inForm.disabled"
                            color="primary" prevent-double-submit><i class="material-icons" matTooltip="Save As Draft">move_to_inbox</i>{{'Save
                            As Draft' | translate }}
                        </button>
                    </div>

                    <div *ngIf="applicableButtons?.isApproveButton">
                        <button *ngIf="applicableButtons?.isApproveButton" class="btn-mobile"
                            mat-raised-button type="button" (click)="addNew()" [disabled]="!enableApproveButton"><i
                                class="material-icons" matTooltip="Add">assignment_turned_in</i>
                            {{'Add' | translate }} </button>
                    </div>

                    <div>
                        <div fxLayout="row" fxLayoutGap="10pt" fxLayoutAlign="space-between center">
                            <div fxFlex>
                                <button *ngIf="applicableButtons?.isDeleteButton" mat-raised-button type="button" class="btn-mobile"
                                    holdable (holdTime)="delete($event)" color="warn" [disabled]="!(enableDeleteButton && primaryKey) " (contextmenu)="onRightClick($event)"
                                    matTooltip="Press and hold to delete!"><i class="material-icons">delete_forever</i>
                                    {{'Delete' | translate }}!
                                </button>
                            </div>
                            <div fxFlex="30">
                                <mat-progress-spinner [diameter]="40" mode="determinate" color="warn" [value]="progress">
                                </mat-progress-spinner>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div fxLayout="row" fxLayoutGap="10pt" fxLayoutAlign="space-between center">
                            <div fxFlex>
                                <button *ngIf="applicableButtons?.isCancelButton" mat-raised-button type="button" class="btn-mobile"
                                    holdable (holdTime)="cancel($event)" color="warn" [disabled]="!(enableCancelButton && primaryKey) || inForm.disabled"
                                    matTooltip="Press and hold to cancel!"><i class="material-icons">cancel</i>
                                    {{'Cancel' | translate }} !
                                </button>
                            </div>
                            <div fxFlex="30">
                                <mat-progress-spinner [diameter]="40" mode="determinate" color="warn" [value]="cancelProgress">
                                </mat-progress-spinner>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-menu>
        </div>

        <!-- ......................button list end ..................................... -->

        <div fxShow.lt-md="false">
            <div fxLayout="row">
                <div>
                    <button *ngIf="applicableButtons?.isDeleteButton" mat-raised-button type="button" holdable
                        (holdTime)="delete($event)" color="warn" [disabled]="!(enableDeleteButton && primaryKey) "
                        matTooltip="Press and hold to delete!"><i class="material-icons">delete_forever</i>
                        {{'Delete' | translate }}!
                    </button>
                </div>
                <div>
                    <mat-progress-spinner [diameter]="30" mode="determinate" color="warn" [value]="progress">
                    </mat-progress-spinner>
                </div>
            </div>


        </div>

        <div fxShow.lt-md="false">
            <div fxLayout="row">
                <div>
                    <button *ngIf="applicableButtons?.isCancelButton" mat-raised-button type="button" holdable
                        (holdTime)="cancel($event)" color="warn" [disabled]="!(enableCancelButton && primaryKey) || inForm.disabled"
                        matTooltip="Press and hold to cancel!"><i class="material-icons">cancel</i> {{'Cancel' |
                        translate }} !
                    </button>
                </div>
                <div>
                    <mat-progress-spinner [diameter]="30" mode="determinate" color="warn" [value]="cancelProgress">
                    </mat-progress-spinner>
                </div>
            </div>
        </div>
    </div>

    <div class="others" fxFlex="60%" fxLayoutAlign="start">

        <div>
            <button *ngIf="applicableButtons?.isCloseButton" mat-raised-button type="button" (click)="close()"
                [disabled]="!enableCloseButton" text="Close" matTooltip="Close">
                <i class="material-icons">close</i> {{'Close' | translate }} </button>
        </div>

        <div fxShow.lt-md="false">
            <button *ngIf="applicableButtons?.isClearButton" mat-raised-button type="button" (click)="clear()"><i class="material-icons"
                    matTooltip="Clear!">clear_all</i>{{'Clear' | translate }} </button>
        </div>

        <div>
            <button *ngIf="applicableButtons?.isEditButton" mat-raised-button type="button" (click)="edit()" [disabled]="!enableEditButton"><i
                    class="material-icons" matTooltip="Edit">mode_edit</i>{{'Edit' | translate }} </button>
        </div>

        <div fxShow.lt-md="false">
            <button *ngIf="applicableButtons?.isPrintButton" mat-raised-button type="button" (click)="print()"
                [disabled]="!(enablePrintButton && primaryKey)"><i class="material-icons" matTooltip="Print">print</i>
                {{'Print' | translate }} </button>
        </div>

        <div fxShow.lt-md="false">
            <button *ngIf="applicableButtons?.isDraftButton" mat-raised-button type="button" (click)="saveAsDraft()"
                [disabled]=" !enableSaveButton || inForm.disabled" color="primary" prevent-double-submit><i class="material-icons"
                    matTooltip="Save As Draft">move_to_inbox</i>{{'Save As Draft' | translate }}
            </button>
        </div>

        <div>
            <button *ngIf="applicableButtons?.isSaveButton" mat-raised-button type="button" (click)="save()" [disabled]=" !enableSaveButton || inForm.disabled"
                color="accent" prevent-double-submit><i class="material-icons" matTooltip="Save">save</i> {{'Save' |
                translate }} </button>
        </div>

        <div fxShow.lt-md="false">
            <button *ngIf="applicableButtons?.isApproveButton" mat-raised-button type="button" (click)="addNew()"
                [disabled]="!enableApproveButton"><i class="material-icons" matTooltip="Add">assignment_turned_in</i>
                {{'Add' | translate }} </button>
        </div>
    </div>
   <!--  <div fxLayoutAlign="start">
        <div>
            <button (click)="openDisclaimer()" mat-button>
                <mat-icon color="warn" style="font-size: 20pt;">info</mat-icon>
            </button>
        </div>
    </div> -->

</div>