<mat-toolbar color="primary" class="fixed-header">

  <div *ngIf='transactionType'>
    <app-sub-heading [transactionNumber]="tranForm?.get('invoiceNumber').value"
      [statusName]="tranForm?.get('statusName').value" [route]="route_in">
    </app-sub-heading>
  </div>


  <span class="example-spacer">

  </span>

  

  <div *ngIf="isCreateEnabled" fxLayout="row" fxLayoutAlign="center center">

    <button mat-button (click)="createProformaInvoice()"
      id="invoice_createProformaInvoice">{{'Create Invoice'|translate}}</button>
  </div>
  
 
  

  <!-- <div *ngIf="allowAutoTransaction">
    <span class="material-icons menu-icon top-search" (click)="autoTransactionGeneration()"
      matTooltip="{{'Recuring Invoice'|translate}}">
      autorenew
    </span>

  </div>  -->


  <div *ngIf="isCloneEnabled">
    <i class="material-icons  menu-icon top-search" id="invoice_replicateInvoice" (click)="replicateInvoice()"
      matTooltip="{{'Clone Invoice'|translate}}">
      file_copy
    </i>
  </div>

  <div *ngIf="allowReuse">
    <i class="material-icons  menu-icon top-search" id="invoice_reuse" (click)="reuseInvoice()"
      matTooltip="{{'Reuse Invoice'|translate}}">
      restore_from_trash
    </i>
  </div>
  <div>
  <i class="material-icons  menu-icon top-search" id="help_videos" (click)="helpVideos()"
  matTooltip="{{'Help Videos'|translate}}">help</i>
  </div> 
  <i *ngIf="tranForm && tranForm.get('id').value!= null" class="material-icons menu-icon top-search"
    (click)="showReference()">link</i>
  <i (click)="rightsidenav.toggle(); showRecent=true" class="material-icons menu-icon top-search">list</i>

  
  
      <div *ngIf="tranForm && tranForm.get('id').value!= null" class="bottom" >
    
        <mat-hint *ngIf="showTheCreatedBy" class="mat-hints">{{'Created By:'|translate}} {{tranForm?.get('updateBy').value}}/{{tranForm?.get('updatedDate').value| date: 'dd/MM/yyyy'}} </mat-hint>
        <mat-hint *ngIf="!showTheCreatedBy" class="mat-hints">{{'LastUpdated By:'|translate}} {{tranForm?.get('updateBy').value}}/{{tranForm?.get('updatedDate').value| date: 'dd/MM/yyyy'}} </mat-hint>        
      </div>
  
 
</mat-toolbar>



      
   

<ngx-alerts></ngx-alerts>
<mat-sidenav-container fxFlexFill class="example-container">
  <mat-sidenav position="end" #rightsidenav>
    <div *ngIf="transactionType && showRecent">
      <recent-invoice-table (invoiceHeader)="recentInvoiceGet($event); rightsidenav.toggle()"
        [recentInvoiceLoadCounter]="recentInvoiceLoadCounter" (noDataFound)="whenNoDataFound($event)"
        [transactionType]="transactionType"></recent-invoice-table>
    </div>

  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <div class="example-loading-shade" *ngIf="spinStart">
      <mat-spinner *ngIf="spinStart"></mat-spinner>
    </div>

    <div class="form-top">

    </div>
    <form *ngIf="tranForm" [formGroup]="tranForm" #formDirective="ngForm">

      <mat-card>

        <mat-card-header>
          <mat-card-subtitle *ngIf="tranForm.get('invoiceNumber').value!= null">
            <label>[{{tranForm.get('invoiceNumber').value}} - {{tranForm.get('statusName').value}}]</label>
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
      
          <div fxLayout.lt-md="column" fxLayoutGap="10px">
            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <div fxFlex="50%">
                <mat-form-field *ngIf="tranForm.get('invoiceNumber').value || !isAutoNumber">
                  <mat-label>{{transactionType?.name | translate }} {{'Number*'| translate}} </mat-label>
                  <input matInput [readonly]="isAutoNumber" [readonly]="isCustomerInvoice"
                    formControlName="invoiceNumber" id="invoice_invoiceNumber" #invoiceNumber />

                </mat-form-field>

                <mat-form-field *ngIf="!tranForm.get('invoiceNumber').value && isAutoNumber"
                  hintLabel="{{'May get changed if your colleague saves first'|translate}}">
                  <mat-label>{{transactionType?.name | translate }} {{'Number'| translate}}</mat-label>
                  <input matInput readonly [value]="tempTransactionNumber" id="invoice_tempTransactionNumber"
                    matTooltip="For indication only it may get changed after save">
                </mat-form-field>
              </div>



              <div fxFlex="50%">
                <mat-form-field>
                  <input matInput [min]="financialMinDate" [max]="financialMaxDate" [matDatepicker]="invoiceDatepicker"
                    readonly placeholder="{{transactionType?.name | translate }} {{'Date*' | translate}}"
                    formControlName="invoiceDate" id="invoice_invoiceDate">
                  <mat-datepicker-toggle matSuffix [for]="invoiceDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #invoiceDatepicker [disabled]="tranForm.disabled"></mat-datepicker>
                  <mat-error *ngIf="tranForm.controls.invoiceDate?.invalid">Please enter Invoice Date </mat-error>

                </mat-form-field>
              </div>
            </div>
            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <div fxFlex="50%">

                <mat-form-field *ngIf="isPartyChangeable" style="width:80%"
                  hintLabel="{{'Start typing to search for customer'|translate}}">
                  <input type="text" matInput formControlName="partyName" [matAutocomplete]="autoParty"
                    id="invoice_partyName">
                  <mat-placeholder>{{partyPlaceHolder | translate}}*</mat-placeholder>
                  <mat-autocomplete #autoParty="matAutocomplete" [displayWith]="displayFnParty">
                     <mat-option (onSelectionChange)="onPartyChange($event,party)" id="invoice_onPartyChange" *ngFor="let party of filteredParties | async"
                      [value]="party" [matTooltip]="party.partyCode +'-'+party.name + (party.areaName ? '[' +party.areaName + ']' : '')">
                      {{party.partyCode}}-{{party.name}} {{party.areaName ? '[' +party.areaName + ']' : ''}}
                      </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="tranForm.controls.partyName?.invalid">Please select Party Name </mat-error>

                </mat-form-field>
                <mat-form-field *ngIf="!isPartyChangeable" style="width:80%">
                  <input readonly matInput [placeholder]="partyPlaceHolder" id="invoice_partyName"
                    formControlName="partyName">
                </mat-form-field>

              </div>
              <div fxFlex="50%">

                <mat-form-field>
                  <input matInput type="text" readonly placeholder="{{taxNumberText | translate}}" formControlName="gstNumber"
                    id="invoice_gstNumber" />
                </mat-form-field>

              </div>
            </div>
          </div>

          <div fxLayout.lt-md="column" fxLayoutGap="10px">
            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <div fxFlex="50%">

                <mat-form-field *ngIf="!isNote" hintLabel="{{'Start typing to search for po'|translate}}">
                  <input type="text" matInput formControlName="purchaseOrderNumber" [matAutocomplete]="autoPo"
                    id="invoice_purchaseOrderNumber">
                  <mat-placeholder>{{'Purchase Order No' | translate}}</mat-placeholder>
                  <mat-autocomplete #autoPo="matAutocomplete">
                    <mat-option (onSelectionChange)="onPurchaseOrderNumberChange($event, po, false)"
                      id="invoice_purchaseOrders" *ngFor="let po of filteredPO | async"
                      [value]="po.purchaseOrderNumber">
                      {{po.purchaseOrderNumber}}
                    </mat-option>
                  </mat-autocomplete>

                </mat-form-field>
                <mat-form-field *ngIf="isNote">
                  <input readonly matInput placeholder="{{'Purchase Order No' | translate}}"
                    formControlName="purchaseOrderNumber" id="invoice_purchaseOrderNumber">
                </mat-form-field>


              </div>

              <div fxFlex="50%">
                <mat-form-field >
                  <input matInput [matDatepicker]="poDatepicker" readonly placeholder="{{'PO Date' | translate}}"
                    formControlName="purchaseOrderDate" id="invoice_purchaseOrderDate">
                  <mat-datepicker-toggle matSuffix [for]="poDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #poDatepicker></mat-datepicker>

                </mat-form-field>
              </div>
            </div>
            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <div fxFlex="50%">

                <mat-form-field>
                  <input matInput placeholder="{{'Document Ref Num' | translate}}"
                    formControlName="internalReferenceNumber" id="invoice_internalReferenceNumber">
                </mat-form-field>
              </div>
              <div fxFlex="50%">
                <mat-form-field>
                  <input matInput type="text" placeholder="{{'State Name' | translate}}" [disabled]="true"
                    formControlName="stateName" [value]="selectedParty?.stateName" id="invoice_stateName" />
                </mat-form-field>
                
              </div>

            </div>
          </div>

          <div fxLayout.lt-md="column" fxLayoutGap="10px">
            <div *ngIf="!isNote" fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <div fxFlex="50%">
                <mat-form-field *ngIf="deliveryChallans.length !== 0 ">
                  <mat-placeholder>{{'DC' | translate}}</mat-placeholder>
                  <input type="text" matInput [matAutocomplete]="dcAuto" formControlName="deliveryChallanNumber"
                    [disabled]="tranForm.disabled" id="invoice_deliveryChallanNumber">
                  <mat-autocomplete #dcAuto="matAutocomplete">
                    <mat-option [value]="dc.deliveryChallanNumber" *ngFor="let dc of filteredDC | async">
                      <div (click)="dcOptionClicked($event, dc)">
                        <mat-checkbox [checked]="dc.selected" (change)="toggleDcSelection(dc)"
                          (click)="$event.stopPropagation()">
                          {{ dc.deliveryChallanNumber }}
                        </mat-checkbox>
                      </div>

                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field *ngIf="deliveryChallans.length === 0">
                  <input matInput placeholder="{{'DC'| translate}}" formControlName="deliveryChallanNumber"
                    id="invoice_deliveryChallanNumber">
                </mat-form-field>

              </div>
              <div fxFlex="50%">
                <mat-form-field>
                  <input matInput placeholder="{{'DC Date' | translate}}" formControlName="deliveryChallanDateString"
                    id="invoice_deliveryChallanDateString">


                </mat-form-field>

              </div>
            </div>
            <div *ngIf="isNote" fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <div fxFlex="50%">

                <mat-form-field *ngIf="sourceInvoices.length !== 0">
                  <mat-placeholder>{{'Invoice' | translate}} </mat-placeholder>
                  <mat-select formControlName="sourceInvoiceNumber" (selectionChange)="onSourceInvoiceNumberChange()"
                    [disableControl]="tranForm.disabled" id="invoice_sourceInvoiceNumber">
                    <mat-option *ngFor="let sinv of sourceInvoices" [value]="sinv.invoiceNumber"
                      id="invoice_sourceInvoices" 
                      >
                      {{sinv.invoiceNumber}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="sourceInvoices.length === 0">
                  <input readonly matInput placeholder="{{'Invoice' | translate}}" formControlName="sourceInvoiceNumber"
                    id="invoice_sourceInvoiceNumber">
                </mat-form-field>
              </div>

              <div *ngIf="isNote" fxFlex="50%">
                <mat-form-field>
                  <input matInput [matDatepicker]="siDatepicker" readonly placeholder="{{'Invoice Date' | translate}}"
                    formControlName="sourceInvoiceDate" id="invoice_sourceInvoiceDate">
                  <mat-datepicker-toggle matSuffix [for]="siDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #siDatepicker disabled="true"></mat-datepicker>

                </mat-form-field>
              </div>
            </div>


            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <div fxFlex="50%">
                <mat-form-field>
                  <input matInput [matDatepicker]="RefDatepicker" readonly placeholder="{{'Ref Date' | translate}}"
                    formControlName="internalReferenceDate" id="invoice_internalReferenceDate">
                  <mat-datepicker-toggle matSuffix [for]="RefDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #RefDatepicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div fxFlex="50%">

                <mat-form-field>
                  <textarea readonly matInput type="text" placeholder="{{'Address' | translate}}"
                    formControlName="billToAddress" id="invoice_billToAddress"></textarea>
                </mat-form-field>

              </div>
            </div>
          </div>



          <div fxLayout.lt-md="column" fxLayoutGap="10px" *ngIf="!isProformaInvoice && !isNote && !isPurchaseInvoice">
            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <div fxFlex="50%">

                <mat-form-field *ngIf="proformaInvoices.length !== 0">
                  <mat-placeholder>{{'Proforma Invoice' | translate}} </mat-placeholder>
                  <mat-select formControlName="proformaInvoiceNumber"
                    (selectionChange)="onProformaInvoiceNumberChange()" [disabled]="tranForm.disabled"
                    id="invoice_proformaInvoiceNumber">
                    <mat-option *ngFor="let pro of proformaInvoices" [value]="pro.invoiceNumber"
                      id="invoice_proformaInvoices">
                      {{pro.invoiceNumber}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="proformaInvoices.length === 0">
                  <input readonly matInput placeholder="{{'Proforma Invoice' | translate}}"
                    formControlName="proformaInvoiceNumber" id="invoice_proformaInvoiceNumber">
                </mat-form-field>
              </div>

              <div fxFlex="50%">
                <mat-form-field>
                  <input matInput [matDatepicker]="piDatepicker" readonly
                    placeholder="{{'Proforma Invoice Date' | translate}}" formControlName="proformaInvoiceDate"
                    id="invoice_proformaInvoiceDate">
                  <mat-datepicker-toggle matSuffix [for]="piDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #piDatepicker disabled="true"></mat-datepicker>

                </mat-form-field>
              </div>
            </div>

          </div>

          <div fxLayout.lt-sm="column" fxLayoutGap="10px">

            <div *ngIf="isPurchaseInvoice" fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <div fxFlex="50%">
                <mat-form-field *ngIf="grns.length !== 0 && !isNote">
                  <mat-placeholder>{{'GRN'| translate}}</mat-placeholder>
                  <mat-select formControlName="grnNumber" (selectionChange)="onGrnChange($event)" id="invoice_grnNumber"
                    [disabled]="tranForm.disabled">
                    <mat-option *ngFor="let grn of grns" [value]="grn.grnNumber">
                      {{grn.grnNumber}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="grns.length === 0 || isNote">
                  <input readonly matInput placeholder="{{'GRN' | translate}}" formControlName="grnNumber"
                    id="invoice_grnNumber">
                </mat-form-field>

              </div>
              <div fxFlex="50%">
                <mat-form-field>
                  <input matInput [matDatepicker]="grnDatepicker" readonly placeholder="{{'GRN Date' | translate}}"
                    formControlName="grnDate" id="invoice_grnDate">
                  <mat-datepicker-toggle matSuffix [for]="grnDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #grnDatepicker disabled="true"></mat-datepicker>
                </mat-form-field>

              </div>

            </div>

            <div *ngIf="isJobWorkNote" fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">

              <div fxFlex="50%">
  
                
                  <mat-form-field>
                  <mat-placeholder>{{'Material Type'|translate}}</mat-placeholder>
                  <mat-select formControlName="materialNoteType" id="material_type" 
                  [disabled]="tranForm.disabled" [ngModelOptions]="{standalone: true}" >
               
                  <mat-option *ngFor="let materialType of materialTypes" id="material_type" [disabled]="disableSelect"  [value]="materialType.id">
                    {{materialType.name }}
                  </mat-option>

                </mat-select>
                </mat-form-field>
  
  
  
  
               
              </div>
             
              <div fxFlex="50%">
                <mat-form-field>
                  <textarea matInput type="text" placeholder="{{'Remarks' |translate}} " formControlName="remarks"
                    id="invoice_remarks"></textarea>
                </mat-form-field>
              </div>
              
  
            </div>
          
          </div>
         




          <div fxLayout="row" fxLayoutAlign="end start">
            <div>
              <button type="button" mat-raised-button
                [disabled]="!isPartyChangeable || tranForm.disabled || !enableSaveButton" color="accent"
                id="invoice_CreateNew" (click)="addNewParty()"
                matTooltip="No need to go to 'Party Master' create new {{partyPlaceHolder}} by clicking here">
                {{'Create New'|translate}} {{partyPlaceHolder|translate}}
              </button>
            </div>
          </div>




        </mat-card-content>

      </mat-card>

      <mat-card>
        <mat-card-content>

          <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20pt">
            <div fxFlex>
              <mat-radio-group *ngIf="!isJW" [formControl]="supplyTypeControl" [disabled]="tranForm.disabled">
                <mat-radio-button value=1 checked="true" id="invoice_Goods">{{'Goods'|translate}} </mat-radio-button>
                &nbsp; &nbsp;
                <mat-radio-button value=2 id="invoice_Service">{{'Service'|translate}} </mat-radio-button>
              </mat-radio-group>
              <mat-checkbox style="margin-left: 20pt;" #inclusiveTax [(ngModel)]="isInclusiveTax"
                [disabled]="inclusiveTaxDisable" (change)="inclusiveTaxChange()" [ngModelOptions]="{standalone: true}"
                id="invoice_inclusiveTax">{{'Inclusive Tax'|translate}}</mat-checkbox>

            </div>
          </div>
          <div fxLayout.lt-md="column" fxLayoutGap="10px">
            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">

              <div fxLayout="row" fxLayoutGap="10px">
                <mat-form-field hintLabel="{{'Start typing material/service name here...'|translate}}">
                  <input type="text" placeholder="{{'Material' | translate}}*" aria-label="Number" matInput
                    [formControl]="materialControl" [matAutocomplete]="autoMaterial"
                    [disableControl]="tranForm.disabled" id="invoice_Material">
                  <mat-autocomplete #autoMaterial="matAutocomplete" [displayWith]="displayFnMaterial">
                    <mat-option (onSelectionChange)="onMaterialSelectChange($event, materialOption)"
                      id="invoice_materialOption" *ngFor="let materialOption of filteredMaterials | async"
                      [value]="materialOption"
                      [matTooltip]="materialOption.name + (materialOption.partNumber ? '[' +materialOption.partNumber + ']' : '')">
                      {{ materialOption.name }}
                      {{materialOption.partNumber ? '[' +materialOption.partNumber + ']' : ''}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <mat-form-field>
                  <input matInput #materialquantity placeholder="{{'Qty' | translate}}*" [value]="1" OnlyNumber="true"
                    [(ngModel)]="materialQuantity" [ngModelOptions]="{standalone: true}" [disabled]="tranForm.disabled"
                    id="invoice_materialQuantity">
                </mat-form-field>
              </div>

            </div>
            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
              <div fxLayout="row" fxLayoutGap="10px">
                <mat-form-field style="width: 50%">
                  <mat-placeholder>
                    {{'UOM' | translate}}*
                  </mat-placeholder>
                  <mat-select [(ngModel)]="uom" [ngModelOptions]="{standalone: true}" [disabled]="tranForm.disabled"
                    id="invoice_uom">
                    <mat-option *ngFor="let uom of uoms" id="invoice_uoms" [value]="uom">
                      {{uom.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
             <!-- hide the tax section -->
                <mat-form-field *ngIf="isItemLevelTax && selectedParty?.countryId==1" style="width: 50%">
                  <mat-placeholder>
                    {{'Tax' | translate}}*
                  </mat-placeholder>
                  <mat-select [(ngModel)]="tax" id="invoice_tax" [ngModelOptions]="{standalone: true}"
                    [disabled]="tranForm.disabled || !isItemLevelTax || this.isContainer">
                    <mat-option *ngFor="let tax of taxes" id="invoice_taxes" [value]="tax">
                      {{tax.name}}@{{tax.rate}}%
                    </mat-option>
                  </mat-select>
                </mat-form-field>
               

              </div>
            </div>
    
            <button mat-mini-fab color="accent"
              [disabled]="!(selectedParty || !isPartyChangeable) || (!tax && isItemLevelTax && this.selectedParty==null) || !material || !materialQuantity || tranForm.disabled"
              (click)="addInvoiceItem(materialquantity.value)" matTooltip="Add" id="invoice_Add">
              <i class="material-icons">
                arrow_downward
              </i>
            </button>

          </div>
          <div fxLayout="row" fxLayoutAlign="start start">
            <div>
              <button type="button" mat-raised-button color="accent" id="invoice_addNewMaterial"
                (click)="addNewMaterial()" [disabled]="tranForm.disabled || !enableSaveButton">
                {{'Create New Material'|translate}}
              </button>
            </div>
          </div>
          <div formArrayName="invoiceItems" class="invoice-item">

            <div *ngFor="let item of tranForm.get('invoiceItems')['controls']; let idx=index">
              <transaction-item [group]="item" [index]="idx" [isInclusiveTax]="isInclusiveTax"
                [isItemLevelTax]="isItemLevelTax" [isItemLevelDiscount]="isItemLevelDiscount" [isIgst]="isIgst"
                [quantityChangeCounter]="quantityChangeCounter" (changeCounter)="handleChanges()"
                (quantityChange)="quantityChange($event)" (deleteIndex)="removeInvoiceItem($event)">
              </transaction-item>
            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center end" fxLayoutGap="10px">
            <div fxFlex="30">

            </div>
            <div fxFlex="40">
              <span>{{itemDisableMessage}}</span>
            </div>
            <div fxFlex="30">
              <mat-form-field>
                <input matInput placeholder="{{'Sub Total' | translate}}" class="input-right"
                  formControlName="subTotalAmount" id="invoice_subTotalAmount" readonly />
              </mat-form-field>
            </div>
          </div>

        </mat-card-content>
      </mat-card>

      <mat-card>

        <mat-card-content>
          <div fxLayout.lt-md="column" fxLayoutGap="10px">
            <div fxFlex="70%">
              <mat-tab-group>
                <mat-tab label="{{'Terms And Conditions' | translate}}">
                  <div fxLayout="column">

                    <mat-form-field *ngIf="termsAndConditionObjects.length > 0">
                      <mat-placeholder>
                        {{'Choose Terms & Conditions' | translate}}*
                      </mat-placeholder>
                      <mat-select [(ngModel)]="tnc" [ngModelOptions]="{standalone: true}" [disabled]="tranForm.disabled"
                        (selectionChange)="onTncChange()" id="invoice_onTncChange">
                        <mat-option *ngFor="let tnc of termsAndConditionObjects" [value]="tnc" id="invoice_tnc">
                          {{tnc.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                      <input matInput [matDatepicker]="PaymentDueDatepicker" readonly
                        placeholder="{{'Payment Due Date'| translate}}" formControlName="paymentDueDate"
                        id="invoice_paymentDueDate">
                      <mat-datepicker-toggle matSuffix [for]="PaymentDueDatepicker"></mat-datepicker-toggle>
                      <mat-datepicker #PaymentDueDatepicker></mat-datepicker>
                    </mat-form-field>
                    

                    <mat-form-field>
                      <mat-hint>{{'Max'|translate}} {{item_length}} {{'characters'|translate}}</mat-hint>
                      <textarea matInput placeholder="{{'Terms And Conditions' | translate}}" #input3
                        maxlength={{item_length}} formControlName="termsAndConditions"
                        id="invoice_termsAndConditions"> </textarea>
                      <mat-hint align="end">{{input3.value?.length || 0}}/{{item_length}}</mat-hint>
                    </mat-form-field>

                  </div>
                </mat-tab>


                <mat-tab label="{{'Transportation Details' | translate}}">
                  <div fxLayout="column">
                    <mat-form-field>
                      <input matInput placeholder="{{'E-Way Bill' | translate}}" formControlName="eWayBillNumber"
                        id="invoice_eWayBillNumber">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="{{'Mode Of Dispatch' | translate}}" formControlName="modeOfDispatch"
                        id="invoice_modeOfDispatch">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="{{'Vehicle Number' | translate}}" formControlName="vehicleNumber"
                        id="invoice_vehicleNumber">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="{{'Num of Packages' | translate}}" formControlName="numOfPackages"
                        id="invoice_numOfPackages">
                    </mat-form-field>
                    <mat-form-field>
                      <textarea matInput placeholder="{{'Document Through' | translate}}"
                        formControlName="documentThrough" id="invoice_documentThrough"></textarea>
                    </mat-form-field>
                  </div>
                </mat-tab>


                <mat-tab label="{{'Address'| translate}}">
                  <div fxLayout="column">

                    <mat-form-field>
                      <textarea matInput placeholder="{{'Bill To Address' | translate}}" formControlName="billToAddress"
                        id="invoice_billToAddress"></textarea>
                    </mat-form-field>

                    <mat-form-field>
                      <textarea matInput placeholder="{{'Ship To Address' | translate}}" formControlName="shipToAddress"
                        id="invoice_shipToAddress"></textarea>
                    </mat-form-field>

                  </div>
                </mat-tab>

              

      
                  <mat-tab *ngIf="tranForm.get('id').value && tranForm.get('invoiceTypeId').value==1||tranForm.get('id').value && tranForm.get('invoiceTypeId').value==15 && isEwayBillEnabled" label="{{'E-Way Bill Details'|translate}}">

                  <app-eway-bill  [id]="tranForm.get('id')" [isInvoiceTab]="true"  
                    [isDisabledButtons]="tranForm.disabled"></app-eway-bill>

                </mat-tab>  
                <mat-tab *ngIf="this.transactionType.id==19 && selectedParty?.countryId!=1 ||this.transactionType.id==1 && selectedParty?.countryId!=1" label="{{'Export Details'| translate}}">
                  
                  <div fxLayout.lt-sm="row" fxLayoutGap="10px">
                    <div  fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">


                    
                    <mat-form-field>
                      <input matInput placeholder="{{'Final Destination' | translate}}" formControlName="finalDestination"
                        id="invoice_finalDestination">
                    </mat-form-field>

</div>
                    <div  fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">

                    
                    <mat-form-field>
                      <input matInput placeholder="{{'Vessel/Flight No.' | translate}}" formControlName="vesselNumber"
                        id="invoice_flightNo">
                    </mat-form-field>
                    
                    </div>
                  </div>


                  <div fxLayout.lt-sm="row" fxLayoutGap="10px">
                    <div  fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                    <mat-form-field>
                      <input matInput placeholder="{{'Place of receipt by shipper/Pre-carrier' | translate}}" formControlName="shipper"
                        id="invoice_preCarrier">
                    </mat-form-field>
                    </div>
                    <div  fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                    <mat-form-field>
                      <input matInput placeholder="{{'City/Port of loading' | translate}}" formControlName="cityOfLoading"
                        id="invoice_loading">
                    </mat-form-field>
                  </div>
                  </div>

                   <div fxLayout.lt-sm="row" fxLayoutGap="10px">
                    <div  fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                    <mat-form-field>
                      <input matInput placeholder="{{'City/Port of Discharge' | translate}}" formControlName="cityOfDischarge"
                        id="invoice_discharge">
                    </mat-form-field>
                    </div>
                    <div  fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">

                    <mat-form-field>
                      <input matInput placeholder="{{'Country of origin of goods' | translate}}" formControlName="countryOfOriginOfGoods"
                        id="invoice_country_origin">
                    </mat-form-field>
                    </div>
                    </div>
                    <div fxLayout.lt-sm="row" fxLayoutGap="10px">
                      <div  fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                    <mat-form-field>
                      <input matInput placeholder="{{'Country of final destination' | translate}}" formControlName="countryOfDestination"
                        id="invoice_country_destination">
                    </mat-form-field>
                  </div>
                  </div>
                
              
                </mat-tab>



              </mat-tab-group>
            </div>

            <mat-card class="mat-elevation-z10 summary-section">
              <div fxFlex>
                <div fxLayout="column">
                  
                 

                  <div>


                  <mat-form-field *ngIf="!isItemLevelDiscount">
                    <input matInput placeholder="{{'Discount Percent'|translate}}" OnlyNumber="true"
                      class="input-right summary-field" [readonly]="isItemLevelDiscount"
                      formControlName="discountPercent" (change)="headerDiscountPerChange()"
                      id="invoice_discountPercent">
                    <mat-error *ngIf="tranForm.controls.discountPercent?.invalid">Discount Percent should be less than
                      100%</mat-error>

                  </mat-form-field>


                
                  <mat-form-field>
                    <input matInput placeholder="{{'Total Discount'| translate}}" class="input-right summary-field"
                      [readonly]="true" formControlName="totalDiscount" (change)="headerDiscountAmtChange()"
                      id="invoice_totalDiscount">
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput placeholder="{{'Total Taxable Amount*'| translate}}"
                      class="input-right summary-field" readonly formControlName="totalTaxableAmount"
                      id="invoice_totalTaxableAmount">
                  </mat-form-field>

                  <div *ngIf="!isIgst && isItemLevelTax">
                    <mat-form-field>
                      <input matInput placeholder="{{'Total SGST Tax'| translate}}" class="input-right summary-field"
                        readonly formControlName="sgstTaxAmount" id="invoice_sgstTaxAmount">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="{{'Total CGST Tax'| translate}}" class="input-right summary-field"
                        readonly formControlName="cgstTaxAmount" id="invoice_cgstTaxAmount">
                    </mat-form-field>
                  </div>
                  <div *ngIf="isIgst && isItemLevelTax">
                    <mat-form-field>
                      <input matInput placeholder="{{'Total IGST Tax'| translate}}" class="input-right summary-field"
                        readonly formControlName="igstTaxAmount" id="invoice_igstTaxAmount">
                    </mat-form-field>
                  </div>
                  <div *ngIf="!isItemLevelTax && selectedParty?.countryId==1">
                    <mat-form-field>
                      <mat-placeholder>
                        {{'Tax' | translate}}
                      </mat-placeholder>
                      <mat-select [(ngModel)]="headerTax" [ngModelOptions]="{standalone: true}"
                        [disabled]="tranForm.disabled" (selectionChange)="headerTaxChange()" id="invoice_headerTax">
                        <mat-option *ngFor="let tax of taxes" id="invoice_taxes" [value]="tax" [disabled]= "isheaderTaxDisable">
                          {{tax.name}}@{{tax.rate}}%
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div *ngIf="isIgst">
                      <mat-form-field>
                        <input matInput placeholder="{{'Total IGST Tax'| translate}}" class="input-right summary-field"
                          readonly formControlName="igstTaxAmount" id="invoice_igstTaxAmount">
                      </mat-form-field>
                    </div>
                    <div *ngIf="!isIgst">
                      <mat-form-field>
                        <input matInput placeholder="{{'Total SGST Tax'| translate}}" class="input-right summary-field"
                          readonly formControlName="sgstTaxAmount" id="invoice_sgstTaxAmount">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="{{'Total CGST Tax' | translate}}" class="input-right summary-field"
                          readonly formControlName="cgstTaxAmount" id="invoice_cgstTaxAmount">
                      </mat-form-field>
                    </div>
                  </div>
                  <div>
                    <div *ngIf="selectedParty?.countryId==1"> 
                    <mat-form-field>
                      <input matInput placeholder="{{'TCS Percentage'| translate}}" class="input-right summary-field"
                         formControlName="tcsPercentage" id="tcs_percentage" (change)="onTcsAmountChage()">
                    </mat-form-field>
                    </div>
                  </div>
                  <div *ngIf="selectedParty?.countryId==1">
                  <div>
                    <mat-form-field>
                      <input matInput placeholder="{{'TCS Amount'| translate}}" class="input-right summary-field"
                         formControlName="tcsAmount" id="tcs_amount" (change)="onTcsAmountChage()">
                    </mat-form-field>
                  </div>
                  </div>
                 

                    <div *ngIf="selectedParty?.countryId!=1">
                      <mat-form-field>
                       <input matInput type="text" placeholder="{{'Currency'| translate}}" 
                         formControlName="currencyName" id="invoice_currency" readonly/>
                     </mat-form-field>
                   </div>
                   
                   

                   <div *ngIf="selectedParty?.countryId!=1">
                    <mat-form-field>
                      <input matInput placeholder="{{'Total Amount'| translate}}" class="input-right summary-field"
                        formControlName="totalAmountCurrency" id="currency_amount">
                    </mat-form-field>
                  </div>
                    
                  <div *ngIf="selectedParty?.countryId!=1">
                    <mat-form-field>
                      <input matInput placeholder="{{'Exchange Rate'| translate}}" class="input-right summary-field" [(ngModel)]="currencyRate"
                         formControlName="currencyRate" id="currency_rate" (change)="onCurrencyRateChange()">
                    </mat-form-field>
                  </div>


                 
                 

                  
  


                    <mat-checkbox style="width: 50%" [ngModelOptions]="{standalone: true}"
                      [disabled]="isRoundOffDisabled || tranForm.disabled" [checked]="isRoundOffAmount"
                      (change)="calculateGrandtotal()" [(ngModel)]="isRoundOffAmount" id="invoice_isRoundOffAmount">
                      <label>
                        {{'Round Off' | translate}}
                      </label>
                    </mat-checkbox>
                    <mat-form-field>
                      <input matInput placeholder="{{'Round Off Amount'| translate}} " class="input-right summary-field"
                        formControlName="roundOffAmount" id="invoice_roundOffAmount" readonly />
                    </mat-form-field>
                  </div>
                  <div *ngIf="!isCust">
                    <mat-checkbox [disabled]="tranForm.disabled" style="width: 50%" formControlName="isReverseCharge"
                      (change)="calculateGrandtotal()" id="invoice_isReverseCharge">
                      <label>
                        {{'Reverse Charge' | translate}}
                      </label>
                    </mat-checkbox>
                  </div>
                  <div>
                    <span></span>
                  </div>
                  <div>
                    <mat-form-field>
                      <input matInput placeholder="{{'Grand Total'| translate}}" class="input-right summary-field"
                        readonly formControlName="grandTotal" id="invoice_grandTotal"(click)="showForm()">
                      
                    </mat-form-field>


                  </div>
                </div>

              </div>
            </mat-card>
          </div>

        </mat-card-content>


      </mat-card>



      <app-action-panel *ngIf="activityRoleBindings" [inForm]="tranForm" [applicableButtons]="applicableButtons"
        [activityRoleBindings]="activityRoleBindings" [primaryKey]="tranForm.get('id').value"
        [statusId]="tranForm.get('statusId').value" [statusBasedPermission]="statusBasedPermission" (editEvent)="edit()"
        (saveEvent)="validateAndSubmit(tranForm.getRawValue())" (closeEvent)="closeForm()"
        (deleteEvent)="delete(formDirective)" (cancelEvent)="cancel()" (printEvent)="print()"
        (clearEvent)="clearForm(formDirective)">
      </app-action-panel>

    </form>

  </mat-sidenav-content>

</mat-sidenav-container>                                                                                                                                                                                                                                    