<mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav position="end" #rightsidenav>
        <recent-material-table (material)="recentMaterialGet($event); rightsidenav.toggle()" [recentMaterialLoadCounter]="recentMaterialLoadCounter"  [supplyType]="supplyType"
            (noDataFound)="whenNoDataFound($event); rightsidenav.toggle()"></recent-material-table>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <ngx-alerts></ngx-alerts>
        <div class="example-loading-shade" *ngIf="spinStart">
            <mat-spinner *ngIf="spinStart"></mat-spinner>
        </div>
        <form [formGroup]="materialForm"  #formDirective="ngForm">
            <mat-card>
                <mat-toolbar color="primary" class="fixed-header-master">
                    
                    <app-sub-heading [route]="route"></app-sub-heading>
                    <!-- <div fxLayout="column">
                        <div>
                            <label class="form-header-lbl">{{formHeader}}</label>
                        </div>

                        <div>
                            <h6 class="sub-hint">this page is used to record Information about {{formHeader}}</h6>
                        </div>
                    </div> -->
                    
                    <span class="example-spacer"></span>
                    <div>
                        <i class="material-icons  menu-icon top-search" id="help_videos" (click)="helpVideos()"
                        matTooltip="{{'Help Videos'|translate}}">help</i>
                        </div> 

                    <div>      
                        <i (click)="rightsidenav.toggle()" class="material-icons menu-icon top-search">list</i>
                      </div>
                </mat-toolbar>
                <mat-card-header>
                    <mat-card-subtitle>
                        <!-- <label>[{{materialForm.get('invoiceNumber').value}} - {{materialForm.get('statusName').value}}]</label> -->
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>

                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field class="input-container">
                                <mat-hint>{{'Max'|translate}} {{item_length}} {{'characters'|translate}}</mat-hint> 
                                    <input matInput placeholder="{{'Name*'|translate}}" formControlName="name" #input1 maxlength={{item_length}} id="material_name" />
                                    <mat-hint align="end">{{input1.value?.length || 0}}/{{item_length}}</mat-hint>
                                    <mat-error *ngIf="materialForm.controls.name?.invalid">Please enter Name</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field class="input-container" *ngIf="isMaterial">
                                    <mat-select class="input-container" (selectionChange)="onSelect($event)" [disabled]="materialForm.disabled" formControlName="materialTypeId" id="material_materialTypeId">
                                        <mat-option *ngFor="let materialType of materialTypes" [value]="materialType.id">
                                            {{materialType.name}}
                                        </mat-option>
                                    </mat-select>

                                    <mat-placeholder>{{'Material Type*'|translate}}</mat-placeholder>
                                    <mat-error *ngIf="materialForm.controls.materialTypeId?.invalid">Please select Material Type</mat-error>

                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="materialForm.controls.materialTypeId?.value === 4" fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field class="input-container">
                                    <input matInput placeholder="{{'Outgoing Name*'|translate}}" formControlName="outName"  id="material_outName"/>
                                    <mat-error *ngIf="materialForm.controls.outName?.invalid">Please enter outgoing name</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field class="input-container" *ngIf="isMaterial">
                                    <input matInput placeholder="{{'Outgoing Part Number'|translate}}" #partNumber formControlName="outPartNumber" id="material_outPartNumber"
                                    />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                    <mat-form-field class="input-container" >
                                            <input matInput placeholder="{{'HSN/SAC'|translate}}" OnlyNumber="true"  formControlName="hsnCode" id="material_hsnCode"/>
                                        </mat-form-field>
                            </div>
                        </div>

                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field class="input-container" *ngIf="isMaterial && !isJobwork">
                                    <input matInput placeholder="{{'Current Stock'|translate}}"  OnlyNumber="true" [readonly]="true" formControlName="stock" id="material_stock" />
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                    <mat-form-field class="input-container" *ngIf="isMaterial">
                                            <input matInput placeholder="Part Number" #partNumber formControlName="partNumber" (change)="checkPartNumberAvailability()"
                                            />
                                        </mat-form-field>
                            
                            </div>
                        </div> -->
                    </div>
                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field class="input-container" *ngIf="isMaterial">
                                    <mat-select class="input-container" [disabled]="materialForm.disabled" formControlName="unitOfMeasurementId" id="material_unitOfMeasurementId">
                                        <mat-option *ngFor="let uom of uoms" [value]="uom.id">
                                            {{uom.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-placeholder>{{'UOM*'|translate}}</mat-placeholder>
                                    <mat-error *ngIf="materialForm.controls.unitOfMeasurementId?.invalid">Please select Unit Of Measurement</mat-error>

                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <div fxLayout="row" fxLayoutGap="5pt">
                                    

                                    <mat-form-field class="input-container" *ngIf="isMaterial && !isJobwork">
                                        <input matInput placeholder="{{'Opening Stock'|translate}}" OnlyNumber="true" [readonly]="(isMaterial && materialForm.controls.id.value) || this.isJobwork" formControlName="openingStock" (change)="updateStock()" id="material_openingStock" />
                                    </mat-form-field>

                                    <!-- <mat-form-field class="input-container" *ngIf="isMaterial">
                                            <input matInput placeholder="Current Stock" OnlyNumber="true" [readonly]="true" formControlName="stock" />
                                        </mat-form-field> -->

                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- ............................................. -->
                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                            <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                    <div fxFlex="50%">
                                            <mat-form-field class="input-container" *ngIf="isMaterial">
                                                    <mat-hint>{{'Max'|translate}} {{item_length}} {{'characters'|translate}}</mat-hint> 
                                                    <input matInput placeholder="{{'Part Number'|translate}}"   #partNumber maxlength={{item_length}} formControlName="partNumber" (change)="checkPartNumberAvailability()"
                                                    id="material_partNumber" />
                                                    <mat-hint align="end">{{partNumber.value?.length || 0}}/{{item_length}}</mat-hint>
                                                </mat-form-field>
                                    
                                    </div>
                                </div>

                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field class="input-container" *ngIf="isMaterial && !isJobwork">
                                    <input matInput placeholder="{{'Minimum stock'|translate}}" [readonly]="this.isJobwork" OnlyNumber="true"  formControlName="minimumStock" id="material_minimumStock">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <!-- ............................................. -->
                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field class="input-container">
                                    <mat-select class="input-container" [disabled]="materialForm.disabled" formControlName="taxId" id="material_taxId">
                                        <mat-option *ngFor="let tax of taxes" [value]="tax.id">
                                            {{tax.name}}@{{tax.rate}}%
                                        </mat-option>
                                    </mat-select>
                                    <mat-placeholder>{{'Tax'|translate}}</mat-placeholder>
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field class="input-container" *ngIf="isMaterial">
                                    <input matInput [readonly]="this.isJobwork" placeholder="{{'MRP'|translate}}" OnlyNumber="true" formControlName="mrp" id="material_mrp"/>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div fxLayout.lt-md="column" fxLayoutGap="10px">

                        <!-- <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field class="input-container">
                                    <input matInput placeholder="{{'Cess %'|translate}}" OnlyNumber="true" formControlName="cessPercentage" id="material_cessPercentage"/>
                                </mat-form-field>
                            </div>
                        </div> -->

                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field class="input-container" *ngIf="isMaterial">
                                    <input matInput  [placeholder]="(isJobwork ? 'Subcontract price' : 'Buying Price')|translate" [readonly]="materialForm.controls.isContainer.value > 0"  OnlyNumber="true" formControlName="buyingPrice" id="material_buyingPrice" />
                                </mat-form-field>

                            </div>
                        </div>

                    </div>
                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field class="input-container">
                                    <mat-hint>{{'Max'|translate}} {{desc_length}} {{'characters'|translate}}</mat-hint>
                                    <textarea matInput placeholder="{{'Specification/Description'|translate}}" #input3 maxlength={{desc_length}} formControlName="specification" id="material_specification"></textarea>
                                <mat-hint align="end">{{input3.value?.length || 0}}/{{desc_length}}</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>


                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div *ngIf="isMaterial" fxFlex="50%">
                                <mat-form-field class="input-container">
                                    <input matInput [placeholder]=this.priceName  [readonly]="materialForm.controls.isContainer.value > 0" OnlyNumber="true" formControlName="price"
                                     id="material_price"/>
                                </mat-form-field>
                            </div>
                        </div>

                    </div>

                    <div >
                        <div fxLayout.lt-md="column" fxLayoutGap="10px">

                            <div  *ngIf="isCustomerBinded && isMaterial" fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                <div fxFlex="50%">
                                    <mat-form-field>
                                        <mat-placeholder>{{'Party'|translate}}</mat-placeholder>
                                        <mat-select [disabled]="materialForm.disabled" formControlName="partyId" id="material_partyId">
                                            <!-- <mat-option>{{selectedParty?.name}}</mat-option> -->
                                            <mat-option>-- None --</mat-option>
                                            <mat-option *ngFor="let party of parties" [value]="party.id">
                                                {{party.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div *ngIf="!isMaterial" fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                    <div fxFlex="50%">
                                        <mat-form-field class="input-container">
                                            <input matInput [placeholder]="(isMaterial ? 'Selling Price' : 'Service Charge')|translate" OnlyNumber="true"  formControlName="price"
                                            id="material_price" />
                                        </mat-form-field>
                                    </div>
                                </div>
                        </div>
                        <div *ngIf="materialForm.controls.materialTypeId?.value === 4" fxLayout.lt-md="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <div fxFlex="50%">
                                    <mat-checkbox [disabled]="materialForm.disabled" (change)="OnChange($event)" formControlName="isContainer" id="material_isContainer">
                                        <label>{{'Is Container/Box/Tray?'|translate}}</label>

                                    </mat-checkbox>
                                </div>
                            </div>
                            <div fxFlex="50%">
                                
                            </div>
                        </div>
                    </div>

                </mat-card-content>

            </mat-card>            
            <app-action-panel *ngIf="activityRoleBindings" [inForm]="materialForm" [applicableButtons]="applicableButtons" [activityRoleBindings]="activityRoleBindings"
                (editEvent)="edit()" (closeEvent)="closeForm()" (deleteEvent)="delete(materialForm.value, formDirective)" (printEvent)="print()"
                [primaryKey]="materialForm.get('id').value" (clearEvent)="clearForm(formDirective)" (saveEvent)="validateAndSubmit(materialForm.value)">
            </app-action-panel>
        </form>
    </mat-sidenav-content>
</mat-sidenav-container>