<mat-toolbar *ngIf="subHeadingAllow" color="primary" class="fixed-header-master">
  <app-sub-heading [route]="route"></app-sub-heading>
</mat-toolbar>

<div *ngIf="subHeadingAllow" class="form-top">

</div>




<mat-card  class="example-container">
  <mat-card-header class="card-header">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div fxFlex>
          <form [formGroup]="filterForm" novalidate>
        <mat-form-field>
          <mat-placeholder>{{'Type  header to Filter Video...'|translate}}</mat-placeholder>
          <input matInput formControlName="videoHeader" (keyup)='updateFilter($event)'>
        </mat-form-field>
        </form>
      </div>

      <div  fxLayoutAlign="end end" fxLayoutGap="10px">

        <button mat-raised-button type="button" (click)="clear()">
          <i class="material-icons" matTooltip="Clear!">clear_all</i>
        </button>
      </div>

      <div *ngIf="cancelButton">
        <button mat-raised-button type="button" (click)="closePopUp()" matTooltip="Close">
          <i class="material-icons">close</i>
          {{'Close'|translate}}</button>
      </div>
      <div *ngIf="!cancelButton">
        <button mat-raised-button type="button" (click)="close()" matTooltip="Close">
          <i class="material-icons">close</i>
          {{'Close'|translate}}</button>
      </div>
    </div>
  </mat-card-header>
</mat-card>

<div  fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="5pt">
  <div  fxFlex="100"  *ngFor="let helpvideo of helpVideos">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{helpvideo.header}}</mat-card-title>
      </mat-card-header>

      <div>
        <iframe width="100%" height="350pt" allowfullscreen [src]="helpvideo.safeUrl" frameborder="0">
        </iframe>
      </div>
      <mat-card-content>
        {{helpvideo.description}}
      </mat-card-content>
    </mat-card>
   
  </div>
  <div *ngIf="noDataCondition" fxFlex="90%">
    
  {{"No Help Videos Available"}}
  
  </div>
  
</div>

<div class="button-panel" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">

  <div *ngIf="cancelButton">
    <button mat-raised-button type="button" (click)="closePopUp()" matTooltip="Close">
      <i class="material-icons">close</i>
      {{'Close'|translate}}</button>
  </div>
  <div *ngIf="!cancelButton">
    <button mat-raised-button type="button" (click)="close()" matTooltip="Close">
      <i class="material-icons">close</i>
      {{'Close'|translate}}</button>
  </div>
</div>