

// //   .example-container{
// //     margin-top: 5%;
// //     background-color: #f1f1f1
// // }

// // .mat-card{
// //   padding: 0px;
// //   margin-bottom: 5%;
// //   margin-right: 5%;
// //   margin-top: 5%;
// //   margin-left: 5%;
// // }

// // .mat-toolbar {
// //   margin-bottom: 10px;
// // }

// // .top-search{
// //   cursor: pointer;
// // }

// .title-row{
//   width: 100%;
// }


// .button-panel{
//   position: fixed;
//   bottom: -4px;
//   //right: 10px;
//   // left: 50%;
//   margin-top:20px;
//   background-color: #f1f1f1;
//   align-content: center;
//   text-align: center;
//   width: 100%;
//   z-index: 9;
//   font-size: 34px;
// }