<div class="main-container" [class]="themeClass">
<h1 mat-dialog-title>Update Login details for {{data.name}}</h1>
<mat-dialog-content [formGroup]="passwordPopUpForm" >

  <div fxLayout="column" fxLayoutGap="10pt" style="width:50vw; height:50vh;">
    <div>
      <mat-form-field style="width:90%">
          <mat-hint>Enter valid email for password recovery purpose</mat-hint>
            <input matInput type="text" autocomplete="off" placeholder="Email*" [readonly]="isEmailReadOnly" formControlName="email"  (change)="checkEmailAvailability()"/>
            <mat-error *ngIf="passwordPopUpForm.get('email').hasError('whitespace')">Email should not have space</mat-error>          
            <mat-error *ngIf="passwordPopUpForm.get('email').hasError('emailTaken')">Email is already taken. Please enter different one</mat-error>          
            <mat-hint align="end">{{passwordPopUpForm.get('email').value?.length || 0}}</mat-hint>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field style="width:90%">
            <mat-hint>min characters 5 and Max characters 50</mat-hint>
              <input matInput type="text" maxlength=50 autocomplete="off" [readonly]="isUsernameReadOnly" placeholder="Username*" formControlName="username" minlength="5" (change)="checkUsernameAvailability()" (keyup)="validatePassword()"/>
              <mat-error *ngIf="passwordPopUpForm.get('username').hasError('whitespace')">Username should not have space</mat-error>
              <mat-error *ngIf="passwordPopUpForm.get('username').hasError('taken')">Username already used. please enter different one</mat-error>
              <mat-error *ngIf="passwordPopUpForm.get('username').hasError('minlength')">Username should be minimum 5 characters</mat-error>
              <mat-hint align="end">{{passwordPopUpForm.get('username').value?.length || 0}}/50</mat-hint>
             </mat-form-field>
    </div>
    <div>
        <mat-form-field style="width:90%">
            <mat-hint>min characters 5 and Max characters 12</mat-hint>
              <input matInput   maxlength=12 placeholder="New password*" formControlName="password" minlength="5"  [type]="hide ? 'password' : 'text'" (keyup)="validatePassword()"/>
              <mat-error *ngIf="passwordPopUpForm.get('password').hasError('whitespace')">Password should not have space</mat-error>
              <mat-error *ngIf="passwordPopUpForm.get('password').hasError('minlength')">Password should be minimum 5 characters</mat-error>
              <mat-error *ngIf="passwordPopUpForm.get('password').hasError('validateEqual')">Password not matching with confirm password</mat-error>
              <mat-error *ngIf="passwordPopUpForm.get('password').hasError('sameAsUsername')">Password should not be same as username</mat-error>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-hint align="end">{{passwordPopUpForm.get('password').value?.length || 0}}/12</mat-hint>
             </mat-form-field>
    </div>
    <div>
        <mat-form-field style="width:90%">
            <mat-hint>min characters 5 and Max characters 12</mat-hint>
            <input matInput  maxlength=12 placeholder="Confirm password*" [formControl]="confirmPassword" minlength="5" [type]="hide ? 'password': 'text' " (keyup)="validatePassword()"/>
            <mat-error *ngIf="confirmPassword.hasError('incorrect')">Password not matching with confirm password</mat-error>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-hint align="end">{{confirmPassword.value?.length || 0}}/12</mat-hint>
          </mat-form-field>
    </div>
  </div>
  

</mat-dialog-content>
<mat-dialog-actions>  
  <button mat-raised-button type="button" [disabled]="!confirmPassword.valid || !emailVerified || !usernameVerified"  matTooltip="Save"  (click)="save()"><i class="material-icons">save</i> Save</button>
</mat-dialog-actions>
</div>