<div class="main-container" [class]="themeClass">
    <h1 mat-dialog-title>{{'Extend Validity '|translate}}</h1>
    <mat-dialog-content [formGroup]="extendValidityPopUpForm" >
      <ngx-alerts></ngx-alerts>


      <div fxLayout.lt-md="column" fxLayoutGap="10px">
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            <mat-form-field class="input-container"  >
              <mat-select class="input-container" formControlName="transactionMode">
                <mat-option *ngFor="let transactionMode of transactionModes" [value]="transactionMode.id">
                  {{transactionMode.name}}
                </mat-option>
              </mat-select>
              <mat-placeholder>{{'Transaction Mode*'|translate}}</mat-placeholder>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            <mat-form-field>
              <input matInput placeholder="{{'Vehicle Number'|translate}}" formControlName="vehicleNo" />
            
                 <mat-error *ngIf="extendValidityPopUpForm.controls.vehicleNo?.invalid">Vehicle Number must be 7-15 characters</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            <mat-form-field class="input-container" >
              <mat-select class="input-container" formControlName="vehicleType" >
                <mat-option   *ngFor="let vehicleType of vehicleTypes" [value]="vehicleType.code">
                  {{vehicleType.name}}
                </mat-option>
              </mat-select>
              <mat-placeholder>{{'Vehicle Type*'|translate}}</mat-placeholder>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            <mat-form-field class="input-container"  >
              <mat-select class="input-container" formControlName="fromPlace">
                <mat-option *ngFor="let city of cities" [value]="city.id">
                  {{city.name}}
                </mat-option>
              </mat-select>
              <mat-placeholder>{{'From Place*'|translate}}</mat-placeholder>
            </mat-form-field>
          </div>
        </div>
       
      </div>
      <div fxLayout.lt-md="column" fxLayoutGap="10px">
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            <mat-form-field class="input-container"  >
              <mat-select class="input-container" formControlName="fromState">
                <mat-option *ngFor="let state of states" [value]="state.id">
                  {{state.name}}
                </mat-option>
              </mat-select>
              <mat-placeholder>{{'From State*'|translate}}</mat-placeholder>
            </mat-form-field>
          </div>
        </div>

        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            <mat-form-field class="input-container" >
              <input matInput placeholder="{{'Remaining Distance*'|translate}}" formControlName="remainingDistance"  OnlyNumber="true" />
              <mat-error *ngIf="extendValidityPopUpForm.controls.remainingDistance?.invalid">{{'Please enter Remaining Distance'|translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
       
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            <mat-form-field>
              <input matInput placeholder="{{'Transporter Doc No' | translate}}"
                  formControlName="transDocNo" id="transDocNo">
                  <mat-error *ngIf="extendValidityPopUpForm.controls.transDocNo?.invalid">
                    Transport Doc. No. must be less than 16 characters </mat-error>
           </mat-form-field>
          </div>
        </div>

        <div fxFlex="50%">
          <mat-form-field>
            <input matInput [max]="maxDate" [matDatepicker]="transDocDatepicker"
              placeholder="{{'Transporter Doc Date' | translate}}"
              formControlName="transDocDate" id="transDocDate" readonly>
            <mat-datepicker-toggle matSuffix [for]="transDocDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #transDocDatepicker ></mat-datepicker>
            <mat-error *ngIf="extendValidityPopUpForm.controls.transDocDate?.invalid"> 
                The Document Date should be less than or equal to current date</mat-error>

          </mat-form-field>
        </div>

      </div>
    
      <div fxLayout.lt-md="column" fxLayoutGap="10px">
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            <mat-form-field class="input-container" >
              <input matInput placeholder="{{'From Pincode*'|translate}}" OnlyNumber="true" formControlName="fromPincode"  />
              <mat-error *ngIf="extendValidityPopUpForm.controls.fromPincode?.invalid">{{'Please enter valid 6 digit From Pincode'|translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>

        
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            <mat-form-field class="input-container"  >
              <mat-select class="input-container" formControlName="extensionReasonCode">
                <mat-option *ngFor="let reasonCode of reasonCodes" [value]="reasonCode.id">
                  {{reasonCode.name}}
                </mat-option>
              </mat-select>
              <mat-placeholder>{{'Reason Code*'|translate}}</mat-placeholder>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            <mat-form-field>
              <textarea matInput placeholder="{{'Reason Remarks*'|translate}}" formControlName="extensionReasonRemarks"></textarea>
              <mat-error *ngIf="extendValidityPopUpForm.controls.extensionReasonRemarks?.invalid">Please enter Remarks</mat-error>
            </mat-form-field>
          </div>
        </div>
    
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            <mat-form-field class="input-container">
              <input matInput placeholder="{{'Address Line1'|translate}}"    formControlName="addressLine1" />
              <mat-error *ngIf="extendValidityPopUpForm.controls.addressLine1?.invalid">Address Line1 must be 0-100 characters</mat-error>
            </mat-form-field>
          </div>
        </div>
        
      </div>
      <div fxLayout.lt-md="column" fxLayoutGap="10px">
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            <mat-form-field class="input-container">
              <input matInput placeholder="{{'Address Line2'|translate}}"     formControlName="addressLine2" />
              <mat-error *ngIf="extendValidityPopUpForm.controls.addressLine1?.invalid">Address Line2 must be 0-100 characters</mat-error>

            </mat-form-field>
          </div>
        </div>
    
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            <mat-form-field class="input-container">
              <input matInput placeholder="{{'Address Line3'|translate}}"    formControlName="addressLine3" />
              <mat-error *ngIf="extendValidityPopUpForm.controls.addressLine1?.invalid">Address Line3 must be 0-100 characters</mat-error>

            </mat-form-field>
          </div>
        </div>
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            
          </div>
        </div>
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <div fxFlex="50%">
            
          </div>
        </div>
      </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button  mat-raised-button type="button" (click)="close()" matTooltip="Close"><i class="material-icons">close</i> {{'Close'|translate}}</button>    
  <button mat-raised-button type="button" (click)="save(extendValidityPopUpForm.getRawValue())" matTooltip="Save" [disabled]="!extendValidityPopUpForm.valid"><i class="material-icons">save</i> {{'Update'|translate}}</button>

    </mat-dialog-actions>
    </div>
