
<div class="example-container">
    <mat-toolbar color="primary" class="fixed-header-master">
            <div>
                <app-sub-heading [route]="route_in">
                </app-sub-heading>
            </div>
          
        </mat-toolbar>

        <mat-accordion>
                <mat-expansion-panel  [expanded]="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5pt">
                        <div><mat-icon style="font-size:20pt;">filter_list</mat-icon></div>
                        <div><p>{{'Filter'|translate}}</p></div>
                      </div>
                    </mat-panel-title>
                    <mat-panel-description>
              
                    </mat-panel-description>
                  </mat-expansion-panel-header>
              
                  <div fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center center" fxLayoutAlign.lt-md="space-around stretch" >
                    <form [formGroup]="filterForm" novalidate>
                    
                      <div fxLayoutAlign="space-around center" fxLayoutAlign.lt-md="space-around stretch" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10pt">
                        <mat-form-field class="form-box">
                          <mat-select class="input-container" formControlName="financialYearId">
                            <mat-option>-- None --</mat-option>
                            <mat-option *ngFor="let financialYear of financialYears" [value]="financialYear.id">
                              {{financialYear.financialYear}}
                            </mat-option>
              
                          </mat-select>
                          <mat-placeholder>{{'Financial Year'|translate}}</mat-placeholder>
                        </mat-form-field>
                 
                        <mat-form-field >
                            <input type="text" matInput [formControl]="partyControl" [matAutocomplete]="autoParty">
                            <mat-placeholder>{{partyPlaceHolder|translate}}</mat-placeholder>
                            <mat-autocomplete #autoParty="matAutocomplete" [displayWith]="displayFnParty">
                              <mat-option *ngFor="let party of filteredParties | async" [value]="party" (onSelectionChange)="partyChange($event,party)">
                                {{party.partyCode}}-{{party.name}}
                              </mat-option>
                            </mat-autocomplete>              
                        </mat-form-field>
              
              
                        <mat-form-field>
                          <input matInput [matDatepicker]="fromatatepicker" placeholder="{{'From date'|translate}}" readonly formControlName="transactionFromDate">
                          <mat-datepicker-toggle matSuffix [for]="fromatatepicker"></mat-datepicker-toggle>
                          <mat-datepicker #fromatatepicker></mat-datepicker>
                        </mat-form-field>
              
                        <mat-form-field>
                          <input matInput [matDatepicker]="toDatepicker" placeholder="{{'To date'|translate}}" readonly formControlName="transactionToDate">
                          <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
                          <mat-datepicker #toDatepicker></mat-datepicker>
                        </mat-form-field>
              
        
                        <!-- <mat-form-field class="form-box">
                          <mat-select class="input-container" formControlName="statusName">
                            <mat-option>-- None --</mat-option>
                            <mat-option *ngFor="let status of statuss" [value]="status.name">
                              {{status.name}}
                            </mat-option>
              
                          </mat-select>
                          <mat-placeholder>{{'Status'|translate}}</mat-placeholder>
                        </mat-form-field> -->
        
        
        
        
        
                        <!-- <mat-form-field style="align-content: left;">
                          <mat-select placeholder="{{'Set page limit'|translate}}" [(value)]="pageSize" (selectionChange)="setPageAfterPageLimit()">
                            <mat-option>-- None --</mat-option>
                            <mat-option *ngFor="let num of pageNumbers" [value]="num">
                                  {{num}}
                              </mat-option>
                          </mat-select>
                      </mat-form-field> -->
                      </div>
                      <div fxLayoutAlign="end end" fxLayoutGap="10px">
                        <button mat-raised-button color="primary" (click)="onSearch()">
                          <i class="material-icons menu-icon top-search" matTooltip="Search">search</i>
                        </button>
                        <button mat-raised-button type="button" (click)="clear()"><i class="material-icons" matTooltip="Clear!">clear_all</i></button>
              </div>
                    </form>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>


              <ngx-datatable class="material" [rows]="rows" (sort)="onSort($event)" [sorts]="[{prop:'poNumber', dir: 'asc'}, {prop:'partyName', dir: 'asc'} , {prop:'materialName', dir: 'asc'},{prop:'purchaseOrderDate', dir: 'asc'}]"
              [columnMode]="'force'" [headerHeight]="'auto'" [footerHeight]="50" [rowHeight]="'auto'"  [count]="page.totalElements"   [scrollbarH]="true"
              [offset]="page.pageNumber"  [externalSorting]="true"  [limit]="page.size" (page)='setPage($event)'
              [summaryRow]="true"     
                    [summaryPosition]="'bottom'"
                    [summaryHeight]="'auto'">
              <ngx-datatable-column headerClass="report-header"  [maxWidth]="80"  name="{{'SlNo'|translate}}" sticky>
                <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                  <strong>{{(page.pageNumber * page.size) + rowIndex + 1}}</strong>
                </ng-template>
              </ngx-datatable-column>
          
          
          
              <ngx-datatable-column headerClass="report-header"   name="poNumber" sticky>
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sort()" class="sort-btn sort-desc undefined" sticky>{{'PO Number'|translate}}</span>        
                </ng-template> 
                
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span style="cursor: pointer;" (click)="showReference(row.id)">{{row.poNumber }}</span>
              </ng-template>
              </ngx-datatable-column>
          
              <ngx-datatable-column headerClass="report-header"  prop="purchaseOrderDate">
                <ng-template let-column="column" let-sort="sortFn"  ngx-datatable-header-template>
                  <span (click)="sort()" class="sort-btn sort-desc undefined">{{'PO Date'|translate}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value | date: 'dd/MM/yyyy'}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column headerClass="report-header"  name="partyName">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sort()" class="sort-btn sort-desc undefined">{{'Party Name'|translate}}</span>
                </ng-template>    
              </ngx-datatable-column>

              <ngx-datatable-column headerClass="report-header"  name="internelRefNumber">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span  class="sort-btn sort-desc undefined">{{'Internel Ref Number'|translate}}</span>
                </ng-template>    
              </ngx-datatable-column>
          
              <!-- <ngx-datatable-column headerClass="report-header"  name="statusName" >
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sort()" class="sort-btn sort-desc undefined">{{'Status'|translate}}</span>        
                </ng-template>     
              </ngx-datatable-column> -->
              
              <ngx-datatable-column headerClass="report-header"  name="materialName">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span  class="sort-btn sort-desc undefined">{{'Material Name'|translate}}</span>
                </ng-template>    
              </ngx-datatable-column>
          
          
              <!-- <ngx-datatable-column prop="gstNumber">
                <ng-template let-column="column" ngx-datatable-header-template>
              GSTIN
                </ng-template>
              </ngx-datatable-column> -->
          
              <ngx-datatable-column headerClass="report-header"  cellClass="report-right-align" name="poQuantity" [summaryFunc]="priceSummary">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span  class="sort-btn sort-desc undefined"> {{'PO Quantity'|translate}}</span> 
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value  | number:'.2'}}
                </ng-template>
              </ngx-datatable-column>
          
          
              <ngx-datatable-column  headerClass="report-header"  cellClass="report-right-align" prop="price" [summaryFunc]="priceSummary">
                <ng-template let-column="column" let-sort="sortFn"  ngx-datatable-header-template>
                  <span    class="sort-btn sort-desc undefined" >{{'Price'|translate}}</span> 
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value  | number:'.2'}}
                </ng-template>
              </ngx-datatable-column>
          
          
              <ngx-datatable-column headerClass="report-header"  cellClass="report-right-align" prop="dcPendingQuantity" [summaryFunc]="priceSummary">
                <ng-template  let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span  class="sort-btn sort-desc undefined"> {{'Dc Balance Quantity'|translate}}</span> 
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value  | number:'.2'}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column headerClass="report-header"  cellClass="report-right-align" prop="invoicePendingQuantity" [summaryFunc]="priceSummary">
                <ng-template  let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span  class="sort-btn sort-desc undefined"> {{'Invoice Balance Quantity'|translate}}</span> 
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value  | number:'.2'}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column headerClass="report-header"  cellClass="report-right-align" prop="dcBalanceAmount" [summaryFunc]="priceSummary">
                <ng-template  let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span  class="sort-btn sort-desc undefined"> {{'Dc Balance Amount'|translate}}</span> 
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value  | number:'.2'}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column headerClass="report-header"  cellClass="report-right-align" prop="invoiceBalanceAmount" [summaryFunc]="priceSummary">
                <ng-template  let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span  class="sort-btn sort-desc undefined"> {{'Invoice Balance Amount'|translate}}</span> 
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value  | number:'.2'}}
                </ng-template>
              </ngx-datatable-column>
          
          
            </ngx-datatable>


</div>
<div class="button-panel" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">

        <div>
        <button mat-raised-button type="button" (click)="close()" matTooltip="Close"><i class="material-icons">close</i> {{'Close'|translate}}</button>
        </div>
        <div>
        <button mat-raised-button type="button" color="primary" (click)="saveAsExcel()" matTooltip="Save as Excel"><i class="material-icons">import_export</i> {{'Export to Excel'|translate}}</button>
        </div>
        <div>
          <button mat-raised-button type="button" color="primary" (click)="saveAsPdf()" matTooltip="Save as Pdf"><i class="material-icons">import_export</i>
            {{'Export to Pdf'|translate}}</button>
        </div>
    </div>