
<mat-toolbar color="primary" class="fixed-header-master">
  <app-sub-heading [route]="route"></app-sub-heading>

  <span class="example-spacer"></span>
                    <div>
                        <i class="material-icons  menu-icon top-search" id="help_videos" (click)="helpVideos()"
                        matTooltip="Help Videos">help</i>
                        </div> 
</mat-toolbar>

<ngx-alerts></ngx-alerts>
<div class="example-loading-shade" *ngIf="spinStart">
  <mat-spinner *ngIf="spinStart"></mat-spinner>
</div>
<mat-card>

  <mat-card-content>

      <form [formGroup]="processForm" (ngSubmit)="onSubmit(processForm.value)">

          <div fxLayout="column" class="items" fxLayoutAlign="stretch" fxLayoutGap="1px">
              <div fxLayout="row" fxHide.lt-md="true" fxLayoutAlign="stretch" fxLayoutGap="1px">
                  <div class="item-header" fxFlex="80">
                      <mat-toolbar class="item-header" color="primary">{{'Name'|translate}}</mat-toolbar>
                  </div>
                  <!-- <div class="item-header" fxFlex="50" color="primary">
                      <mat-toolbar class="item-header" color="primary">Description</mat-toolbar>
                  </div> -->
                  <div class="item-header" fxFlex="20" color="primary">
                      <mat-toolbar class="item-header" color="primary">{{'Action'|translate}}</mat-toolbar>
                  </div>

              </div>

              <div formArrayName="processList"
                  *ngFor="let processes of processForm.get('processList')['controls']; let i = index;">
                  <div [formGroupName]="i">
                      <div fxLayout="row" fxHide.lt-md="true" fxLayoutAlign="stretch" fxLayoutGap="1px">
                          <div fxFlex="80">
                              <mat-form-field class="input-container" appearance="outline">
                                  <input matInput class="input-sm " type="text" formControlName="name">
                              </mat-form-field>
                          </div>
                          <!-- <div fxFlex="50">
                              <mat-form-field class="input-container" appearance="outline">
                                  <input matInput class="input-sm " type="text" formControlName="description">
                              </mat-form-field>
                          </div> -->

                          <div fxFlex="20" class="action"> 
                              <mat-icon class="delete-class" (click)="delete(i); $event.stopPropagation()">delete
                              </mat-icon>
                              <mat-icon *ngIf="processForm.get('processList')['controls'].length-1 === i"
                                  class="delete-class" (click)="add()">add</mat-icon>
                          </div>
                      </div>
                  </div>
              </div>



              <div formArrayName="processList"
              *ngFor="let processes of processForm.get('processList')['controls']; let i = index;">
              <div [formGroupName]="i">
                  <div fxLayout="column" fxLayoutAlign="space-evenly stretch" fxShow="false" fxShow.lt-md="true" class="small-item-view" fxLayoutGap="5px">
                      <div >
                          <mat-toolbar class="item-header" fxFlex="30" color="primary">Name
                          </mat-toolbar>
                          <div fxFlex="70" class="input-container">
                              <mat-form-field class="inputfields">
                                  <input matInput class="input-sm " type="text" formControlName="name">
                              </mat-form-field>
                          </div>
                      </div>
                      <!-- <div >
                          <mat-toolbar  class="item-header" fxFlex="30" color="primary">Description</mat-toolbar>
                          <div class="input-container" fxFlex="70">
                              <mat-form-field class="inputfields">
                                  <input matInput class="input-sm " type="text" formControlName="description">
                              </mat-form-field>
                          </div>
                      </div> -->


                      <div >
                          <mat-toolbar class="item-header" fxFlex="30" color="primary">Action</mat-toolbar>
                          <div fxFlex="70" class="inputfields">
                              <mat-icon class="delete-class " (click)="delete(i)">delete</mat-icon>
                              <mat-icon class="delete-class" (click)="add()">add</mat-icon>
                          </div>
                      </div>

                      <div class="space">
                      </div>

                  </div>

              </div>
          </div>




          </div>
      </form>

      <app-action-panel *ngIf="activityRoleBindings" 
      [inForm]="processForm" 
      [applicableButtons]="applicableButtons"
      [activityRoleBindings]="activityRoleBindings" 
      (closeEvent)="closeForm()" 
      (saveEvent)="onSubmit(processForm.value)" >
  </app-action-panel>

  </mat-card-content>

</mat-card>

