
// // .item-header{
// //     font-size: 10pt;
// //     font-weight: bold;
// //     padding: 2px;
// //     height:50px;
// //     white-space: normal;
// //     text-align: center;
// //     line-height: 15px;
// // }
// // .input-container{
// //     margin: 0px;
// //     padding: 0px;
// //     text-align: center;
// //     border-radius: 0px;

// // }

// // .heading-container{
// //     margin-right: 1px;
// //     padding: 0px;
// //     border-radius: 0px;
// //     border-right: 1px;
// //     /* border-right-color: white; */
// //     /* background-color: #337ab7; */
// //     /* color: white; */
// //     background-color: #d9edf7;
// //     border-right-color: black;
// //     color: black;
// //     font-size: 90%;
// //     font-weight: bold;
// // }
// // /* .input-container:nth-child(odd){
// //     background:yellow;
// // }

// // .input-container:nth-child(even){
// //     background:green;
// // } */

// // .input-sm{
// //     width: 100%;
// //     border-radius: 0px;
// //     padding: 0px;
// //     border: 0px;
// //     color: black;
// // }

// // .input-right{
// //     text-align: right;
// // }

// // .small-item-view{
// //     padding:5%;
// //     margin-bottom: 2%;
// //     // background-color: rgba(116, 93, 93, 0.767);
// // }

// // .lbl-class{
// //     background-color: white;
// //     border-top: 1px;
// //     width:100%;
// //     height: 100%;
// //     color: black;
// //     text-align: center;
// // }

// // .delete-class{
// //     // background-color: white;
// //     // width:100%;
// //     // height: 100%;
// //     // fill:black;
// //     // color:black;
// //     cursor: pointer;
// // }

// // .mat-raised-button{
// //     padding:0px;
// // }



// // .large-row{
// //     width:1800px;
// // }




// .item-header{
//     font-size: 10pt;
//     font-weight: bold;
//     // padding: 2px;
//     white-space: normal;
//     height:30px;
//     text-align: center;
//     line-height: 15px;
// }
// .input-container{
//     // margin: 0px;
//     // padding: 2px;
//     // height:30px;
//     // border-radius: 0px;
//     background-color: white;
//     font-size: 10pt;
//     // font-weight: bold;
//     padding: 5px;
//     white-space: normal;
//     // height:30px;
//    // text-align: center;
//     // line-height: 15px;
//     // background-color: white;
// }

// .heading-container{
//     margin-right: 1px;
//     padding: 0px;
//     border-radius: 0px;
//     border-right: 1px;
//     /* border-right-color: white; */
//     /* background-color: #337ab7; */
//     /* color: white; */
//     background-color: #d9edf7;
//     border-right-color: black;
//     color: black;
//     font-size: 90%;
//     font-weight: bold;
// }
// /* .input-container:nth-child(odd){
//     background:yellow;
// }

// .input-container:nth-child(even){
//     background:green;
// } */

// .input-sm{
//     width: 100%;
//     border-radius: 0px;
//     padding: 0px;
//     border: 0px;
//     color: black;
// }

// .input-right{
//     text-align: center;
//     padding-top: 15px;
// }

// .small-item-view{
//     margin-bottom: 2%;
// }

// .lbl-class{
//     background-color: white;
//     border-top: 1px;
//     width:100%;
//     height: 100%;
//     color: black;
//     text-align: center;
// }

// .delete-class{
//     // background-color: white;
//     width:100%;
//     height: 100%;
//     // fill:black;
//     color:black;
//     cursor: pointer;
// }

// .mat-raised-button{
//     padding:0px;
// }


// .large-row{
//     width:1500px;
// }

// // .read-only{
// // background-color: rgb(221, 216, 216);
// // }
// .button-row{
//     position: fixed;
//     bottom: -4px;
//     //right: 10px;
//     // left: 50%;
//     margin-top:20px;
//     background-color: #f1f1f1;
//     align-content: center;
//     text-align: center;
//     width: 100%;
//     z-index: 9;
//     font-size: 34px;
// }

// .quotation-items{
//     overflow-x: scroll;
//     background-color: #f1f1f1;
// }


.item-header{
    font-size: 10pt;
    font-weight: bold;
    white-space: normal;
    height:53px;
    text-align: center;
    line-height: 15px;
    color: white;
}
.input-container{
    background-color: white;
    font-size: 10pt;
    width: 100%;
    margin-bottom: -1.35em
}
.delete-class{
    text-align: center;
    height: 100%;
    color:black;
    cursor: pointer;
    font-size: 24px;
}
.space{
    margin-top: 40px
}
.inputfields{
    // background-color: rgb(241, 248, 248);
    background-color:white
}

.items{
    // overflow-x:scroll;
    width:1500px;
    background-color: #f1f1f1;
    width: 100%;
}

.mat-form-field{
    width:100%;
}

.center{
    width:100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    // background-color: white;
}

.button-row{
    position: fixed;
    bottom: -4px;
    //right: 10px;
    // left: 50%;
    background-color: #f1f1f1;
    align-content: center;
    text-align: center;
    width: 100%;
    z-index: 9;
    font-size: 34px;
}

  .mat-card{
top:50px;
  }
  
  .sub-hint{
    font-size: small
}
