<!-- <div class="example-container">
    <mat-toolbar color="primary" class="fixed-header-master">
        <app-sub-heading [route]="route_in">
          </app-sub-heading>
   
    </mat-toolbar>



    <mat-accordion>
            <mat-expansion-panel  [expanded]="true">
                    <mat-expansion-panel-header>
                            <mat-panel-title>

                                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5pt">
                                            <div><mat-icon style="font-size:20pt;">filter_list</mat-icon></div>
                                            <div><p>{{'Filter'|translate}}</p></div>
                                          </div>
                                </mat-panel-title>

                                <mat-panel-description>
    
                                    </mat-panel-description>
                                    </mat-expansion-panel-header>



                                    <div fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center center" fxLayoutAlign.lt-md="space-around stretch">
                                            <form [formGroup]="filterForm" novalidate>
                                  
                                              <div fxLayoutAlign="space-around center" fxLayoutAlign.lt-md="space-around stretch" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10pt">
                                                <mat-form-field class="form-box">
                                                  <mat-select class="input-container" formControlName="financialYearId">
                                                    <mat-option>-- None --</mat-option>
                                                    <mat-option *ngFor="let financialYear of financialYears" [value]="financialYear.id">
                                                      {{financialYear.financialYear}}
                                                    </mat-option>
                                      
                                                  </mat-select>
                                                  <mat-placeholder>{{'Financial Year'|translate}}</mat-placeholder>
                                                </mat-form-field>
                                         
                                              
                                      
                                           
                                               
                                      
                                                <mat-form-field>
                                                  <input matInput [matDatepicker]="fromatatepicker" readonly placeholder="{{'From date'|translate}}" formControlName="transactionFromDate">
                                                  <mat-datepicker-toggle matSuffix [for]="fromatatepicker"></mat-datepicker-toggle>
                                                  <mat-datepicker #fromatatepicker></mat-datepicker>
                                                </mat-form-field>
                                      
                                                <mat-form-field>
                                                  <input matInput [matDatepicker]="toDatepicker" readonly placeholder="{{'To date'|translate}}" formControlName="transactionToDate">
                                                  <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
                                                  <mat-datepicker #toDatepicker></mat-datepicker>
                                                </mat-form-field>
                                  
                                                <mat-form-field>
                                                  <mat-select formControlName="materialId">
                                                    <mat-option>-- None --</mat-option>
                                                    <mat-option *ngFor="let expense of expenses" [value]="expense.id">
                                                      {{expense.name}}
                                                    </mat-option>
                                          
                                                  </mat-select>
                                                  <mat-placeholder>{{'Expense'|translate}}</mat-placeholder>
                                                </mat-form-field>
                                               
                                              </div>
                                              <div fxLayoutAlign="end end" fxLayoutGap="10px">
                                                <button mat-raised-button color="primary" (click)="onSearch()">
                                                  <i class="material-icons menu-icon top-search" matTooltip="Search">search</i>
                                                </button>
                                                <button mat-raised-button type="button" (click)="clear()"><i class="material-icons" matTooltip="Clear!">clear_all</i></button>
                                      </div>
                                            </form>
                                          </div>
                </mat-expansion-panel>


    </mat-accordion> -->
