<mat-toolbar color="primary" class="fixed-header">
    <!-- <div class="main-hint">
        <div>
            <label class="form-header-lbl">{{transactionType?.name}}</label>
        </div>
        <h6 class="sub-hint">this page is used to record information about {{transactionType?.name}}</h6>
    </div> -->

    <div *ngIf='transactionType'>
        <app-sub-heading [transactionNumber]="dcForm?.get('deliveryChallanNumber').value"
            [statusName]="dcForm?.get('statusName').value" [route]="route">
        </app-sub-heading>
    </div>

    <span class="example-spacer">
    </span>
    <div>
        <i class="material-icons  menu-icon top-search" id="help_videos" (click)="helpVideos()"
        matTooltip="{{'Help Videos'|translate}}">help</i>
        </div> 
    <div *ngIf="isCreateEnabled && !this.isCust" fxLayout="row" fxLayoutAlign="center center" >
        <button  id="dc_createGRN" mat-button (click)="createGRN()">{{'Create GRN'|translate}}</button>
    </div>

    <div *ngIf="isCreateEnabled && this.isCust "  fxLayout="row" fxLayoutAlign="center center" >
        <button  id="dc_createInvoice" mat-button (click)="createGRN()">{{'Create Invoice'|translate}}</button>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
        <i *ngIf="dcForm && dcForm.get('id').value!= null" class="material-icons menu-icon top-search"
            matTooltip="{{'Refernce Link'|translate}}" (click)="showReference()">link</i>
        <i (click)="rightsidenav.toggle(); showRecent=true" class="material-icons menu-icon top-search">list</i>
    </div>
    <div *ngIf="dcForm && dcForm.get('id').value!= null" class="bottom">
    
            <mat-hint *ngIf="showTheCreatedBy" class="mat-hints">{{'Created By:'|translate}} {{dcForm?.get('updateBy').value}}/{{dcForm?.get('updatedDate').value| date: 'dd/MM/yyyy'}} </mat-hint>
            <mat-hint *ngIf="!showTheCreatedBy" class="mat-hints">{{'LastUpdated By:'|translate}} {{dcForm?.get('updateBy').value}}/{{dcForm?.get('updatedDate').value| date: 'dd/MM/yyyy'}} </mat-hint>

        </div>
</mat-toolbar>

<ngx-alerts></ngx-alerts>
<mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav position="end" #rightsidenav>
        <div *ngIf="transactionType && showRecent">
            <recent-dc-table (dcHeader)="recentDeliveryChallanGet($event); rightsidenav.toggle()"
                (noDataFound)="whenNoDataFound($event)" [recentDcLoadCounter]="recentDcLoadCounter"
                [transactionType]="transactionType"></recent-dc-table>
        </div>

    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <ngx-alerts></ngx-alerts>
        <div class="example-loading-shade" *ngIf="spinStart">
            <mat-spinner *ngIf="spinStart"></mat-spinner>
        </div>
        <div class="form-top">

        </div>
        <form *ngIf="dcForm" [formGroup]="dcForm"  #formDirective="ngForm">
            <mat-card>
                <!-- <mat-toolbar color="primary">
                    <label class="form-header-lbl">{{transactionType?.name}}</label>
                    <span class="example-spacer"></span>
                    <div>
                        <i (click)="rightsidenav.toggle()" class="material-icons menu-icon top-search">search</i>
                    </div>
                </mat-toolbar> -->


                <mat-card-header>
                    <mat-card-subtitle *ngIf=" dcForm.get('deliveryChallanNumber').value!= null">
                        <label>[{{dcForm.get('deliveryChallanNumber').value}} -
                            {{dcForm.get('statusName').value}}]</label>
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>

                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field *ngIf="dcForm.get('deliveryChallanNumber').value || !isAutoNumber">
                                    <input matInput placeholder="{{'DC Number'|translate}}" [readonly]="isAutoNumber"
                                        formControlName="deliveryChallanNumber" #deliveryChallanNumber id="dc_deliveryChallanNumber"
                                        />
                                </mat-form-field>

                                <mat-form-field *ngIf="!dcForm.get('deliveryChallanNumber').value && isAutoNumber"
                                    hintLabel="{{'May get changed if your coleage saves first'|translate}}">
                                    <mat-label>{{transactionType?.name | translate }} {{'Number'| translate}}</mat-label>
                                    <input matInput readonly [value]="tempTransactionNumber"
                                        matTooltip="{{'For indication only it may get changed after save'|translate}}" id="dc_tempTransactionNumber">
                                </mat-form-field>
                            </div>

                            <div fxFlex="50%">
                                <mat-form-field>
                                    <input matInput [min]="financialMinDate" [max]="financialMaxDate"
                                        [matDatepicker]="dcDatepicker" readonly placeholder="{{'DC Date'|translate}}*"
                                        formControlName="deliveryChallanDate" id="dc_deliveryChallanDate">
                                    <mat-datepicker-toggle matSuffix [for]="dcDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #dcDatepicker [disabled]="dcForm.disabled"></mat-datepicker>
                                    <mat-error *ngIf="dcForm.controls.deliveryChallanDate?.invalid">Please choose
                                        Delivery Challan Date</mat-error>

                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <!-- <mat-form-field *ngIf="isPartyChangeable" style="width:80%">
                                    <mat-placeholder>{{partyPlaceHolder}}*</mat-placeholder>
                                    <mat-select formControlName="partyId" (change)="onPartyChange()">
                                        <mat-option>{{selectedParty?.name}}</mat-option>
                                        <mat-option *ngFor="let party of parties" [value]="party.id">
                                            {{party.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                                <mat-form-field *ngIf="isPartyChangeable" style="width:80%"
                                    hintLabel="{{'Start typing to search customer here...'|translate}}">
                                    <input type="text" matInput formControlName="partyName"
                                        [matAutocomplete]="autoParty" id="dc_partyName">
                                    <mat-placeholder>{{partyPlaceHolder| translate}}*</mat-placeholder>
                                    <mat-autocomplete #autoParty="matAutocomplete" [displayWith]="displayFnParty">
                                        <mat-option (onSelectionChange)="onPartyChange($event,party)"
                                            *ngFor="let party of filteredParties | async" [value]="party" id="dc_partyNames" [matTooltip]="party.partyCode + party.name + (party.areaName ? '[' +party.areaName + ']' : '')">
                                            {{party.partyCode}}-{{party.name}} {{party.areaName ? '[' +party.areaName + ']' : ''}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="dcForm.controls.partyName?.invalid">Please choose Party Name
                                    </mat-error>

                                </mat-form-field>
                                <mat-form-field *ngIf="!isPartyChangeable" style="width:80%">
                                    <input readonly matInput [placeholder]="partyPlaceHolder"
                                        formControlName="partyName" >
                                </mat-form-field>
                                
                            </div>
                            <div fxFlex="50%">
                
                                <mat-form-field>
                                    <input readonly matInput type="text" placeholder="{{'GSTN' | translate}}" formControlName="gstNumber" id="dc_gstNumber" />
                                </mat-form-field>

                            </div>
                        </div>
                    </div>

                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                    <mat-form-field  hintLabel="{{'Start typing to search for po'|translate}}">
                                            <input type="text" matInput formControlName="purchaseOrderNumber" [matAutocomplete]="autoPo"
                                              id="dc_purchaseOrderNumber">
                                            <mat-placeholder>{{'Purchase Order No' | translate}}</mat-placeholder>
                                            <mat-autocomplete #autoPo="matAutocomplete">
                                              <mat-option (onSelectionChange)="onPurchaseOrderNumberChange($event, po, false)"
                                                id="dc_purchaseOrders" *ngFor="let po of filteredPO | async"
                                                [value]="po.purchaseOrderNumber">
                                                {{po.purchaseOrderNumber}}
                                              </mat-option>
                                            </mat-autocomplete>
                          
                                          </mat-form-field>

                                
                            </div>

                            <div fxFlex="50%">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="poDatepicker" readonly placeholder="{{'PO Date'|translate}}"
                                        formControlName="purchaseOrderDate" id="dc_purchaseOrderDate">
                                    <mat-datepicker-toggle matSuffix [for]="poDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #poDatepicker ></mat-datepicker>

                                </mat-form-field>

                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                
                            </div>
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="{{'State Name' | translate}}" [disabled]="true"
                                        [disabled]="dcForm.disabled" id="dc_State" [value]="selectedParty?.stateName" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">

                                <mat-form-field *ngIf="purchaseOrders.length === 1 ">
                                    <div *ngFor="let po of purchaseOrders" >
                                    <input matInput placeholder="{{'Internal Ref Num' | translate}}" 
                                    [readonly]="allowInternalRefNo"   formControlName="internalReferenceNumber" id="dc_internalReferenceNumber">
                                    </div>
                                </mat-form-field>

                                <mat-form-field *ngIf="purchaseOrders.length === 0">
                                        <input [readonly]="allowInternalRefNo" matInput placeholder="{{'Internal Ref Num' | translate}}"
                                            formControlName="internalReferenceNumber" id="dc_internalReferenceNumber">
                                </mat-form-field>

                                <mat-form-field *ngIf="purchaseOrders.length > 1">
                                        <input [readonly]="allowInternalRefNo" matInput placeholder="{{'Internal Ref Num' | translate}}"
                                            formControlName="internalReferenceNumber" id="dc_internalReferenceNumber">
                                </mat-form-field>

                                <!-- </div> -->

                            </div>
                            <div fxFlex="50%">

                                <mat-form-field>
                                    <input matInput [matDatepicker]="RefDatepicker" [max]="maxDate" readonly
                                        placeholder="{{'Reference Date'| translate}}" formControlName="internalReferenceDate" id="dc_internalReferenceDate">
                                    <mat-datepicker-toggle matSuffix [for]="RefDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #RefDatepicker [disabled]="allowInternalRefNo"></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="50%">
                                <mat-form-field>
                                    <mat-hint>{{'Max'|translate}} 300 {{'characters'|translate}}</mat-hint>
                                    <textarea matInput placeholder="{{'Remarks' | translate}}" #input1 maxlength=300  formControlName="remarks" id="dc_remarks"> </textarea>
                                    <mat-hint align="end">{{input1.value?.length || 0}}/300</mat-hint> 
                                  </mat-form-field>
              
                                <!-- <mat-form-field>
                                    <textarea matInput type="text" placeholder="Remarks"
                                        formControlName="remarks"></textarea>
                                </mat-form-field> -->

                            </div>
                            <div fxFlex="50%">

                                <mat-form-field>
                                    <textarea readonly matInput type="text" placeholder="{{'Address' | translate}}" formControlName="billToAddress" id="dc_billToAddress"></textarea>
                                </mat-form-field>

                            </div>
                        </div>
                    </div>

                  

                    <div fxLayout="row" fxLayoutAlign="end start">
                            <div>
                              <button type="button" mat-raised-button [disabled]="!isPartyChangeable || dcForm.disabled" color="accent" id="dc_addNewParty" (click)="addNewParty()" matTooltip="No need to go to 'Party Master' create new {{partyPlaceHolder}} by clicking here">
                                  {{'Create New'|translate}} {{partyPlaceHolder|translate}}
                              </button>
                          </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-content>
                    <!-- <div fxLayout="row" fxLayoutAlign="space-between center">
                               
                                  <mat-radio-group [formControl]="supplyTypeControl"  [disabled]="dcForm.disabled" >
                                    <mat-radio-button value="1" checked="true">Goods </mat-radio-button>
                                    <mat-radio-button value="2">Service </mat-radio-button>
                                  </mat-radio-group>
                              
                              </div> -->
                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <!-- <mat-form-field>
                                <mat-placeholder>Material*</mat-placeholder>
                                <mat-select [(ngModel)]="material" (selectionChange)="onMaterialSelect()" [ngModelOptions]="{standalone: true}" [disabled]="dcForm.disabled">
                                    <mat-option *ngFor="let material of materials" [value]="material">
                                        {{material.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field> -->
                            <div fxLayout="row" fxLayoutGap="10px">
                                <mat-form-field class="example-full-width"
                                    hintLabel="{{'Start typing material name here...'|translate}}">
                                    <input type="text" placeholder="{{'Material' | translate}}*" aria-label="Number" matInput
                                        [formControl]="materialControl" [matAutocomplete]="autoMaterial" id="dc_Material">
                                    <mat-autocomplete #autoMaterial="matAutocomplete" [displayWith]="displayFnMaterial">
                                        <mat-option (onSelectionChange)="onMaterialSelectChange($event, materialOption)"
                                            *ngFor="let materialOption of filteredMaterials | async"
                                            [value]="materialOption" id="dc_materialOption" [matTooltip]="materialOption.name + (materialOption.partNumber ? '[' +materialOption.partNumber + ']' : '')">
                                            {{ materialOption.name }} {{materialOption.partNumber ? '[' +materialOption.partNumber + ']' : ''}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <!-- <button type="button" mat-mini-fab color="accent" (click)="addNewMaterial()"
                                    [disabled]="dcForm.disabled" matTooltip="Add new material">
                                    <i class="material-icons">add</i>
                                </button> -->
                                <mat-form-field>
                                    <input matInput #materialquantity placeholder="{{'Qty' | translate}}*" [value]="1"
                                        [(ngModel)]="materialQuantity" [ngModelOptions]="{standalone: true}"
                                        [disabled]="dcForm.disabled" id="dc_materialQuantity">
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px" style="width:50%">
                            <div fxLayout="row" fxLayoutGap="10px">
                                <mat-form-field style="width: 50%">
                                    <mat-placeholder>
                                            {{'UOM' | translate}}*
                                    </mat-placeholder>
                                    <mat-select [(ngModel)]="uom" [ngModelOptions]="{standalone: true}"
                                        [disabled]="dcForm.disabled" id="dc_uom">
                                        <mat-option *ngFor="let uom of uoms" [value]="uom" id="dc_uoms">
                                            {{uom.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field *ngIf="isItemLevelTax" style="width: 50%">
                                    <mat-placeholder>
                                            {{'Tax' | translate}}*
                                    </mat-placeholder>
                                    <mat-select [(ngModel)]="tax" [ngModelOptions]="{standalone: true}"
                                        [disabled]="dcForm.disabled" id="dc_tax">
                                        <mat-option *ngFor="let tax of taxes" [value]="tax" id="dc_taxs" [disabled]= "isheaderTaxDisable">
                                            {{tax.name}}@{{tax.rate}}%
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <button mat-mini-fab color="accent"
                            [disabled]="!(selectedParty || !isPartyChangeable) || (!tax && isItemLevelTax) || !material || !materialQuantity || dcForm.disabled"
                            matTooltip="Add" (click)="addDcItem(materialquantity.value)" id="dc_addDcItem">
                            <!-- <i class="material-icons">add</i> -->
                            <i class="material-icons">
                                    arrow_downward
                                    </i>
                        </button>
                        <!-- <button mat-raised-button type="button" [disabled]="!(selectedParty || !isPartyChangeable)|| !tax ||!material|| !materialQuantity" (click)="addDcItem(materialquantity.value)">Add</button> -->
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <div>
                            <button type="button" mat-raised-button color="accent" id="dc_addNewMaterial" (click)="addNewMaterial()" [disabled]="dcForm.disabled">
                            {{'Create New Material'|translate}}                
                            </button>
                        </div>
                    </div>
                    <div formArrayName="deliveryChallanItems" class="dc-items">

                        <div *ngFor="let item of dcForm.get('deliveryChallanItems')['controls']; let idx=index">
                            <transaction-item [group]="item" (deleteIndex)="removeDcItem($event)" [index]="idx"
                                [isIgst]="isIgst" [isInclusiveTax]="isInclusiveTax" [isItemLevelTax]="isItemLevelTax"
                                [isItemLevelDiscount]="isItemLevelDiscount" [isDC]="isDC"
                                (quantityChange)="quantityChange($event)" (changeCounter)="itemChanged($event)">
                            </transaction-item>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center end" fxLayoutGap="10px">
                        <div fxFlex="70">
                            <!-- <mat-checkbox>Labour Charges Only</mat-checkbox> -->
                        </div>
                        <div fxFlex="30">
                            <mat-form-field>
                                <input matInput placeholder="{{'Total Quantity' | translate}}" id="dc_totalQuantity" formControlName="totalQuantity" readonly />
                            </mat-form-field>
                        </div>
                    </div>

                </mat-card-content>
            </mat-card>

            <mat-card>

                <mat-card-content>
                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="100%">
                            <mat-tab-group>
                                <mat-tab label="{{'Transportation Details' | translate}}">

                                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{'E-Way Bill' | translate}}"
                                                        formControlName="eWayBill" id="dc_eWayBill" />
                                                </mat-form-field>
                                            </div>
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{'Person Name' | translate}}"
                                                        formControlName="personName" id="dc_personName"/>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{'Inspected By'|translate}}"
                                                        formControlName="inspectedBy" id="dc_inspectedBy" />
                                                </mat-form-field>
                                            </div>
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{'Mode Of Dispatch' | translate}}"
                                                        formControlName="modeOfDispatch" id="dc_modeOfDispatch" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>

                                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{'Vehicle Number' | translate}}"
                                                        formControlName="vehicleNumber" id="dc_vehicleNumber" />
                                                </mat-form-field>
                                            </div>
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <input matInput [matDatepicker]="dispatchDatepicker" readonly
                                                        placeholder="{{'Dispatch Date'| translate}}" formControlName="dispatchDate" id="dc_dispatchDate">
                                                    <mat-datepicker-toggle matSuffix [for]="dispatchDatepicker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #dispatchDatepicker></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{'Total Packages' | translate}}"
                                                        formControlName="numberOfPackages" id="dc_numberOfPackages"/>
                                                </mat-form-field>
                                            </div>

                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <input matInput placeholder="{{'Dispatch Time'| translate }}"
                                                        formControlName="dispatchTime" id="dc_dispatchTime"/>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                                        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
                                            <div fxFlex="50%">
                                                <mat-form-field>
                                                    <textarea matInput placeholder="{{'Delivery Note'|translate}}"
                                                        formControlName="deliveryNote" id="dc_deliveryNote"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- </div> -->
                                    <!-- </div> -->
                                </mat-tab>
                                <mat-tab label="{{'Terms And Conditions'|translate}}">
                                    <div fxLayout="column">
                                        <!-- <mat-form-field>
                                            <input matInput [matDatepicker]="PaymentDueDatepicker" readonly>
                                        </mat-form-field>
                                        <mat-datepicker #PaymentDueDatepicker></mat-datepicker> -->
                                        <!-- <mat-form-field>
                                            <textarea matInput placeholder="Payment Terms"
                                                formControlName="paymentTerms"></textarea>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <textarea matInput placeholder="Delivery Terms"
                                                formControlName="deliveryTerms"></textarea>
                                        </mat-form-field> -->
                                        <mat-form-field>
                                            <mat-hint>Max {{item_length}} characters</mat-hint>
                                            <textarea matInput placeholder="{{'Terms And Conditions' | translate}}" #input3 maxlength={{item_length}}  formControlName="termsAndConditions" id="dc_termsAndConditions"> </textarea>
                                            <mat-hint align="end">{{input3.value?.length || 0}}/{{item_length}}</mat-hint> 
                                          </mat-form-field>
                      
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                    <!-- <button type="button" value="sub" (click)="findInvalidControls()" >{{dcForm.invalid}}</button> -->
                    <!-- <button (click)="jasperPrint()">Jasper Print</button>
                    <button (click)="subreport()">Sub Report</button> -->
                </mat-card-content>
            </mat-card>

            <app-action-panel *ngIf="activityRoleBindings" [inForm]="dcForm" [applicableButtons]="applicableButtons"
                [activityRoleBindings]="activityRoleBindings" [primaryKey]="dcForm.get('id').value"
                [statusId]="dcForm.get('statusId').value" [statusBasedPermission]="statusBasedPermission"
                (editEvent)="edit()" (saveEvent)="onSubmit(dcForm.getRawValue())" (cancelEvent)="cancel()" (closeEvent)="closeForm()" (deleteEvent)="delete()"
                (printEvent)="print()" (clearEvent)="clearForm(formDirective)">
            </app-action-panel>


        </form>
    </mat-sidenav-content>
</mat-sidenav-container>