<div fxLayout="column" fxLayoutGap="10pt">

  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10pt">

    <div fxFlexAlign="stretch">
      <p class="card-head" >{{dashboardTransactionSummary?.transactionName|translate}}</p>
    </div>
    <div fxFlexAlign="end">
      <div fxLayout="column" fxLayoutAlign="center end">
        <div>
            <p class="dashboard-card-amount" matTooltip="Figures of past three months">₹{{dashboardTransactionSummary?.transactionAmount.toLocaleString('en-IN')}}/{{dashboardTransactionSummary?.transactionCount}}</p>
        </div>
        <div>
          <p class="amount-desc" >{{'Value/Count'|translate}}</p>
        </div>
        
      </div>
      
    </div>
  </div>
  <div *ngIf="secondSection" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10pt">
    <div fxLayout="column" fxFlex="50" fxLayoutAlign="center end">
      
    </div>
    <div fxLayout="column" fxFlex="50" fxLayoutAlign="center end">
      <!-- <div [matTooltip]="amountDifferenceMessage">
        Due Payment
      </div>
      <div>
          ₹{{dashboardTransactionSummary?.dueAmount.toLocaleString('en-IN')}}
      </div> -->
      <div>
       {{paymentType|translate}}
      </div>
      <div>
          ₹{{recievedOrPayedAmount.toLocaleString('en-IN')}}
      </div>
    </div>
  </div>
</div>