// .grid-container {
  
// }

// .dashboard-card {
//   position: absolute;
//   top: 15px;
//   left: 15px;
//   right: 15px;
//   bottom: 15px;
// }

// .more-button {
//   position: absolute;
//   top: 5px;
//   right: 10px;
// }

// .dashboard-card-content {
//   text-align: center;
// }

// .fixed-header {
//   position: fixed;
//   z-index:2;
// }

.card-head{
  font-size: 16pt; 
  margin:0px;
}

// .card-amount{
  
//   // color: #3f51b5;
// }

.amount-desc{
  font-size: 8pt; 
  margin:0px; 
  color:lightslategray
}