 
.item-header{
    font-size: 10pt;
    // font-weight: bold;
    padding: 2px;
    white-space: normal;
    height:40px;
    text-align: center;
    line-height: 20px;
    
}


.items{
    font-size: 10pt;
    padding: 2px;
    white-space: normal;
    height:40px;
    line-height: 20px;
    background-color: #f1f1f1;
}

.item-list{
    width: 140%;
     
 }
.btn-mobile{
    width:100pt;
    text-align: center;
    font-size: 10pt;
    padding-left: 10px;
}

 
.div-container{
     overflow-x: scroll;
  // background-color: #f1f1f1;
}

