<mat-card>
    <!-- <mat-card-header>View Details
    </mat-card-header> -->
    <mat-card-content>
        <div class="example-header">
            <form [formGroup]="filterForm" novalidate>
                <mat-form-field>
                    <input matInput placeholder="{{'Filter'|translate}}" formControlName="filterText">
                </mat-form-field>
            </form>
        </div>

        <div class="example-container mat-elevation-z8">
            <div class="example-loading-shade" *ngIf="isLoadingResults">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            </div>
          
                
            <mat-table #table [dataSource]="dataSource" class="example-table" matSort matSortActive="name" matSortdisableClear
                matSortDirection="desc">
               
               
                <ng-container matColumnDef="partyName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Name'|translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.partyName}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="invoiceNumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Invoice Number'|translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.invoiceNumber}}</mat-cell>
                </ng-container>
       
                <ng-container matColumnDef="eWayBillNo">
                    <mat-header-cell *matHeaderCellDef  mat-sort-header>{{'E-WayBillNo'|translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.eWayBillNo}}</mat-cell>
                </ng-container>
 

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row class="tran-item-list" (click)="onRowClick(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
           
            </mat-table>
      
            <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>