<mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav position="end" #rightsidenav>
        <app-eway-bill-list (eWayBillReport)="recentEWayBillGet($event); rightsidenav.toggle()"
            [recentEWayBillLoadCounter]="recentEWayBillLoadCounter"
            (noDataFound)="whenNoDataFound($event); rightsidenav.toggle()"></app-eway-bill-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <ngx-alerts></ngx-alerts>
        <div class="example-loading-shade" *ngIf="spinStart">
            <mat-spinner *ngIf="spinStart"></mat-spinner>
        </div>
        <form [formGroup]="eWayBillForm">
            <mat-card *ngIf="isInvoiceTab">

                <mat-card-content>

                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%">
                            <mat-form-field>
                                <mat-select class="input-container" formControlName="transactionMode">
                                    <mat-option *ngFor="let transactionMode of transactionMode"
                                        [value]="transactionMode.id">
                                        {{transactionMode.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-placeholder>{{'Transportation Mode'|translate}}</mat-placeholder>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50%">
                            <mat-form-field hintLabel="Format:MH16BL1234">
                                <input matInput placeholder="{{'Vehicle No.' | translate}}" formControlName="vehicleNo"
                                    id="vehicleNo">
                                <mat-error *ngIf="eWayBillForm.controls.vehicleNo?.invalid">
                                    please enter valid Vehicle Number</mat-error>
                            </mat-form-field>

                        </div>
                        <div fxFlex="50%">
                            <mat-form-field >
                                <mat-select class="input-container" formControlName="vehicleType">
                                    <mat-option *ngFor="let vehicleType of vehicleType" [value]="vehicleType.code">
                                        {{vehicleType.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-placeholder>{{'Vehicle Type'|translate}}</mat-placeholder>
                            </mat-form-field>
                        </div>

                    </div>
                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%">
                            <mat-form-field>
                                <input matInput placeholder="{{'Transporter Name' | translate}}"
                                    formControlName="transporterName" id="transporterName">
                                    <mat-error *ngIf="eWayBillForm.controls.transporterName?.invalid">
                                        Transporter Name must be less than or equal to 100 characters </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50%">
                            <mat-form-field hintLabel="Format:29AAAAA0000A1Z5">
                                <input matInput placeholder="{{'Transporter ID(GSTIN)' | translate}}"
                                    formControlName="transporterId" id="transporterId">
                                <mat-error *ngIf="eWayBillForm.controls.transporterId?.invalid">
                                    please enter valid Transporter ID</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50%">
                            <mat-form-field>
                                <input matInput placeholder="{{'Transport Doc. No.' | translate}}"
                                    formControlName="transDocNo" id="transDocNo">
                                    <mat-error *ngIf="eWayBillForm.controls.transDocNo?.invalid">
                                        Transport Doc. No. must be less than 16 characters </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%">
                            <mat-form-field>
                                <input matInput [max]="maxDate" [matDatepicker]="transDocDatepicker"
                                    placeholder="{{'Transport Doc. Date' | translate}}" formControlName="transDocDate"
                                    id="transDocDate" readonly>
                                <mat-datepicker-toggle matSuffix [for]="transDocDatepicker"></mat-datepicker-toggle>
                                <mat-datepicker #transDocDatepicker></mat-datepicker>
                                <mat-error *ngIf="eWayBillForm.controls.transDocDate?.invalid">
                                    The Document Date should be less than or equal to current date</mat-error>

                            </mat-form-field>
                        </div>

                        <div fxFlex="50%">
                            <mat-form-field>
                                <input matInput placeholder="{{'Port Name / Code' | translate}}" formControlName="portName"
                                    id="portName">
                                    <mat-error *ngIf="eWayBillForm.controls.portName?.invalid">
                                        Port Name must be less than or equal to 100 characters </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50%">
                            <mat-form-field hintLabel="Only 6 Number">
                                <input matInput placeholder="{{'Port pin' | translate}}" formControlName="portPin"  OnlyNumber="true"
                                    id="portPin">
                                <mat-error *ngIf="eWayBillForm.controls.portNo?.invalid">
                                    Please enter valid 6 digit Port PinCode</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                        <div fxFlex="50%">
                            <mat-form-field>
                                <mat-select class="input-container" formControlName="portStateId">
                                    <mat-option *ngFor="let state of states"
                                        [value]="state.id">
                                        {{state.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-placeholder>{{'Port State'|translate}}</mat-placeholder>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50%">
                            <mat-form-field hintLabel="Enter the distance in km" >
                                <input matInput placeholder="{{'Distance of transportation *' | translate}}"  OnlyNumber="true" formControlName="transDistance"
                                    id="transDistance" (change)="checkHsn()">
                                <mat-error *ngIf="eWayBillForm.controls.transDistance?.invalid">
                                    Please enter the distance</mat-error>
                            </mat-form-field>
                        </div>

                        <div fxFlex="50%">
                            <button type="button" mat-raised-button color="accent"
                                [disabled]="disableGenerateButton || !this.eWayBillForm.valid"
                                (click)="eWayBillGeneration(eWayBillForm.getRawValue())">
                                Generate E-Way Bill
                            </button>
                        </div>
                      
                    </div>

                    <div fxLayout.lt-md="column" fxLayoutGap="10px">
                    </div>
           
                </mat-card-content>
            </mat-card>
            
        </form>

        <mat-card>
            <mat-toolbar color="primary" class="fixed-header-master">

                <app-sub-heading [route]="route"></app-sub-heading>


                <span class="example-spacer"></span>
                <div>
                    <i (click)="rightsidenav.toggle()" class="material-icons menu-icon top-search">list</i>
                </div>
            </mat-toolbar>
            <mat-card-content>

                <div  class="div-container" fxLayout="column wrap" fxLayout.xs="row" fxLayout.sm="row" fxLayout.md="row" fxLayoutGap="2px">
                    <div  class="item-list" fxLayout="row " fxLayout.xs="column" fxLayout.sm="column"  fxLayout.md="column" fxLayoutGap="1px"  >
                        
                        <div   fxFlex="5%" color="primary">
                            <mat-toolbar class="item-header" color="primary">{{'Action'|translate}}
                            </mat-toolbar>
                        </div>
                        <div  fxFlex="5%" color="primary">
                            <mat-toolbar class="item-header" color="primary">{{'Print'|translate}}
                            </mat-toolbar>
                        </div>
                        <div  fxFlex="5%" color="primary">
                            <mat-toolbar class="item-header" color="primary">{{'Detail Print'|translate}}
                            </mat-toolbar>
                        </div>                      
                        <div  fxFlex="40%">
                            <mat-toolbar class="item-header" color="primary">{{'E-Way Bill Number'|translate}}
                            </mat-toolbar>
                        </div>
                        <div  fxFlex="15%" color="primary">
                            <mat-toolbar class="item-header" color="primary">{{'E-Way Bill Date'|translate}}
                            </mat-toolbar>
                        </div>
                        <div   fxFlex="50%" color="primary">
                            <mat-toolbar class="item-header" color="primary">{{'Valid Upto'|translate}}
                            </mat-toolbar>
                        </div>
                        <div   fxFlex="50%" color="primary">
                            <mat-toolbar class="item-header" color="primary">{{'Vehicle No.'|translate}}
                            </mat-toolbar>
                        </div>
                        <div   fxFlex="10%" color="primary">
                            <mat-toolbar class="item-header" color="primary">{{'Distance'|translate}}
                            </mat-toolbar>
                        </div>
                        <div   fxFlex="50%" color="primary">
                            <mat-toolbar class="item-header" color="primary">{{'Transporter ID'|translate}}
                            </mat-toolbar>
                        </div>
                        <div   fxFlex="50%" color="primary">
                            <mat-toolbar class="item-header" color="primary">{{'Cancelled Date'|translate}}
                            </mat-toolbar>
                        </div>
                                             
                    </div>
                    <div  *ngFor="let item of ewayBills" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"
                        fxLayout.md="column" fxLayoutGap="1px" >
                        <div  class="items" fxFlex="5%">
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item [disabled]="item.status==3 || isDisabledButtons || isValidDateExpired"
                                (click)="eWayBillCancellation(item)">
                                    <mat-icon>cancel</mat-icon>
                                    <span>Cancel E-Way Bill</span>
                                </button>
                                <button mat-menu-item  [disabled]="item.status==3 || isDisabledButtons || isValidDateExpired"
                                (click)="updateVehicleInfo(item,1)">
                                    <mat-icon>local_shipping</mat-icon>
                                    <span>Update Vehicle Num</span>
                                </button>
                                <button mat-menu-item  [disabled]="item.status==3 || isDisabledButtons || isValidDateExpired"
                                (click)="updateVehicleInfo(item,2)">
                                    <mat-icon>update</mat-icon>
                                    <span>Update TransporterID</span>
                                </button>
                                <button mat-menu-item [disabled]="item.status==3 || isDisabledButtons || isValidDateExpired"
                                (click)="extendValidityEWayBill(item)">
                                    <mat-icon>schedule</mat-icon>
                                    <span>Extend Validity</span>
                                </button>

                                <!-- <button mat-menu-item  [disabled]="item.status==3 || isDisabledButtons"
                                (click)="getEWayBillByNumber(item.eWayBillNo)">
                                    <mat-icon>get_app</mat-icon>
                                    <span>Get E-way Bill Details</span>
                                </button> -->
                            </mat-menu>
                        </div>
                        <div  class="items" fxFlex="5%">
                            <!-- <a (click)="goToLink(item.pdfUrl)" mat-menu-item>get pdf</a> -->
                            <span class="material-icons menu-icon top-search" (click)="goToLink(item.pdfUrl)"
                                matTooltip="Get Print">
                                print
                            </span>
                        </div>
                        <div  class="items" fxFlex="5%">
                            <!-- <a (click)="goToLink(item.pdfUrl)" mat-menu-item>get pdf</a>  -->
                            <span class="material-icons menu-icon top-search" (click)="goToLink(item.detailedpdfUrl)"
                                matTooltip="Get Print">
                                print
                            </span>
                        </div>
                        <div class="items" fxFlex="40%"  >
                            <p >{{item.eWayBillNo }}</p>
                        </div>
                        <div class="items" fxFlex="15%">
                            <p>{{item.eWayBillDate  |  date:"dd/MM/yyyy"}}</p>
                        </div>
                        <div  class="items" fxFlex="50%">
                            <p> {{item.validUpto  |  date:"dd/MM/yyyy hh:mm:ss"}}</p>
                        </div>
                        <div class="items"  fxFlex="50%">
                            <p> {{item.vehicleNo }}</p>
                        </div>
                        <div class="items"  fxFlex="10%">
                            <p> {{item.transDistance }} km</p>
                        </div>
                        <div class="items"  fxFlex="50%">
                            <p> {{item.transporterId }}</p>
                        </div>
                        <div class="items" fxFlex="15%">
                            <p>{{item.cancelledDate  |  date:"dd/MM/yyyy"}}</p>
                        </div>
                                               
                    </div>
                </div>
                

                <div *ngIf="!isInvoiceTab" style="height: 500px;">

                </div>

            </mat-card-content>

        </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>