<!-- <mat-card class="example-container">


  <mat-toolbar color="primary" class="fixed-header-master">
    <div fxLayout="row" fxLayoutAlign="end center" class="title-row">
      <div fxFlex="97">
        <label class="form-header-lbl">{{transactionType?.name}}</label>
      </div>
      <div fxFlex>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="saveAsExcel()">
            <mat-icon>import_export</mat-icon>
            <span>Export to Excel</span>
          </button>
          <button mat-menu-item (click)="close()">
            <mat-icon>close</mat-icon>
            <span>Close</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar>
  <mat-accordion>
    <mat-expansion-panel  [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5pt">
            <div><mat-icon style="font-size:20pt;">filter_list</mat-icon></div>
            <div><p>Filter</p></div>
          </div>
        </mat-panel-title>
        <mat-panel-description>
  
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <div fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center center">
        <form [formGroup]="filterForm" novalidate>
          <div fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-form-field class="form-box">
              <mat-select class="input-container" formControlName="financialYearId">
                <mat-option>-- None --</mat-option>
                <mat-option *ngFor="let financialYear of financialYears" [value]="financialYear.id">
                  {{financialYear.financialYear}}
                </mat-option>
  
              </mat-select>
              <mat-placeholder>Financial Year</mat-placeholder>
            </mat-form-field>
           
            
            <mat-form-field >
                <input type="text" matInput [formControl]="partyControl" [matAutocomplete]="autoParty">
                <mat-placeholder>{{partyPlaceHolder}}</mat-placeholder>
                <mat-autocomplete #autoParty="matAutocomplete">
                  <mat-option *ngFor="let party of filteredParties | async" [value]="party.name" (onSelectionChange)="partyChange($event,party)">
                    {{party.name}}
                  </mat-option>
                </mat-autocomplete>              
            </mat-form-field>
  
            
            <mat-form-field >
                <input type="text" matInput [formControl]="materialControl" [matAutocomplete]="autoMaterial">
                <mat-placeholder>Material</mat-placeholder>
                <mat-autocomplete #autoMaterial="matAutocomplete">
                  <mat-option *ngFor="let material of filteredMaterials | async" [value]="material.name" (onSelectionChange)="materialChange($event,material)">
                    {{material.name}}
                  </mat-option>
                </mat-autocomplete>              
            </mat-form-field>
  
            <mat-form-field>
              <input matInput [matDatepicker]="fromatatepicker" placeholder="From date" formControlName="transactionFromDate">
              <mat-datepicker-toggle matSuffix [for]="fromatatepicker"></mat-datepicker-toggle>
              <mat-datepicker #fromatatepicker></mat-datepicker>
            </mat-form-field>
  
            <mat-form-field>
              <input matInput [matDatepicker]="toDatepicker" placeholder="To date" formControlName="transactionToDate">
              <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #toDatepicker></mat-datepicker>
            </mat-form-field>
  
            <mat-form-field style="align-content: left;">
              <mat-placeholder> Set page limit </mat-placeholder>
                  <mat-select [(ngModel)]="pageSize" (selectionChange)='setPageAfterPageLimit()' [ngModelOptions]="{standalone: true}" >
                      <mat-option>None</mat-option>
                      <mat-option value="1"> 1</mat-option>
                      <mat-option value="5"> 5</mat-option>
                      <mat-option value="10">10</mat-option>
                      <mat-option value="25">25</mat-option>
                      <mat-option value="100">100</mat-option>
                  </mat-select>
            </mat-form-field>
          </div>
          <div fxLayoutAlign="end end" fxLayoutGap="10px">
            <button mat-raised-button color="primary" (click)="onSearch()">
              <i class="material-icons menu-icon top-search" matTooltip="Search">search</i>
            </button>
            <button mat-raised-button type="button" (click)="clear()"><i class="material-icons" matTooltip="Clear!">clear_all</i></button>
  </div>
        </form>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-card-content class="input-top">
    <ngx-datatable class="material fullscreen" 
    [rows]="rows" 
    [columnMode]="'force'" 
    [headerHeight]="'auto'" 
    [footerHeight]="50" 
    [rowHeight]="'auto'"
      [reorderable]="reorderable" 
      [externalPaging]="true" 
      [count]="page.totalElements" 
      [offset]="page.pageNumber" 
      [limit]="page.size"   
      [scrollbarH]="true"      
      (page)='setPage($event)' 
      (sort)='onSort($event)'>



      <ngx-datatable-column headerClass="report-header" [maxWidth]="80" name="SlNo">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <strong>{{(page.pageNumber * page.size) + rowIndex + 1}}</strong>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column headerClass="report-header"  name="invoiceNumber">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()" class="sort-btn sort-desc undefined">Invoice Number</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column headerClass="report-header"  prop="invoiceDate">
        <ng-template let-column="column" ngx-datatable-header-template>
          Invoice Date
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value | date: 'dd/MM/yyyy'}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column headerClass="report-header"  name="partyName">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()" class="sort-btn sort-desc undefined">Party Name</span>
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column headerClass="report-header"  prop="description">
        <ng-template let-column="column" ngx-datatable-header-template>
          Description
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column headerClass="report-header"  prop="quantity" cellClass="report-right-align">
        <ng-template let-column="column" ngx-datatable-header-template>
          Qty/Units
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column headerClass="report-header"  name="price" cellClass="report-right-align">
        <ng-template let-column="column" ngx-datatable-header-template>
          Price
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column headerClass="report-header"  prop="totalTaxableAmount" cellClass="report-right-align">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()" class="sort-btn sort-desc undefined">Amount</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column headerClass="report-header"  prop="discountAmount" cellClass="report-right-align">
        <ng-template let-column="column" ngx-datatable-header-template>
          Discount Amount
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column  headerClass="report-header"  cellClass="report-right-align" prop="cgstTaxAmount">
        <ng-template style="align-content: left;" let-column="column" ngx-datatable-header-template>
          CgstTax Amount
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column headerClass="report-header"  prop="sgstTaxAmount" cellClass="report-right-align">
        <ng-template let-column="column" ngx-datatable-header-template>
          SgstTax Amount
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column headerClass="report-header"  prop="igstTaxAmount"  cellClass="report-right-align">
        <ng-template let-column="column" ngx-datatable-header-template>
          Igst Tax Amount
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column headerClass="report-header"  prop="grandTotal" cellClass="report-right-align">
        <ng-template let-column="column" ngx-datatable-header-template>
          Grand Total
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

  </mat-card-content>
</mat-card>
<div class="button-panel" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    
        <div>
        <button mat-raised-button type="button"  (click)="close()" matTooltip="Close"><i class="material-icons">close</i> Close</button>
        </div>
        <div>
        <button mat-raised-button type="button" color="primary" (click)="saveAsExcel()" matTooltip="Save as Excel"><i class="material-icons">import_export</i> Export to Excel</button>
        </div>
    
    </div> -->