@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin big-input-component-theme($theme) {
  
  // retrieve variables from theme 
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  //$warn: map-get($theme, accent);
  //$foreground: map-get($theme, foreground);
  //$background: map-get($theme, background);
  
  // all of these variables contain many additional variables

//   big-input {

//     input {
    
//       // retrieve particular color from variable, rg: text, base, divider, ...
//       color: mat-color($foreground, text);
//       background-color: mat-color($background, card);
      
//       // or use "default" subvariable by default, oh the puns :)
//       border: 1px solid mat-color($accent);
//     }
//   }


    
}