<div class="main-container" [class]="themeClass">
<h1 mat-dialog-title>{{formHeader|translate}} {{'Information'|translate}}</h1>
<mat-dialog-content [formGroup]="materialPopUpForm">

  <div fxLayout.lt-md="column" fxLayoutGap="10px">
    <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">

      <div fxLayout="row" fxLayoutAlign="space-between center">

        <mat-radio-group [disabled]="true" formControlName="supplyTypeId" >
            <mat-radio-button [checked]="materialPopUpForm.get('supplyTypeId').value === 1" value=1 >{{'Goods'|translate}} </mat-radio-button> &nbsp;
            <mat-radio-button [checked]="materialPopUpForm.get('supplyTypeId').value === 2" value=2>{{'Service'|translate}} </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
      <div fxFlex="50%">
        <mat-form-field class="input-container" *ngIf="isMaterial">
          <mat-select class="input-container" formControlName="materialTypeId">
            <mat-option *ngFor="let materialType of materialTypes" [value]="materialType.id">
              {{materialType.name}}
            </mat-option>
          </mat-select>
          <mat-placeholder>{{'Material Type*'|translate}}</mat-placeholder>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
      <div fxFlex="50%">
        <mat-form-field class="input-container" >
          <input matInput placeholder="{{'Name*'|translate}}'" formControlName="name" (change)="CheckUpdate()"/>
          <mat-error *ngIf="materialPopUpForm.controls.name?.invalid">{{'Please enter Name'|translate}}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
      <div fxFlex="50%">
        <mat-form-field class="input-container" *ngIf="isMaterial">
          <input matInput placeholder="{{'Part Number'|translate}}" formControlName="partNumber" (change)="checkPartNumberAvailability()" />
          <mat-error *ngIf="materialPopUpForm.controls.partNumber?.invalid">Please enter partNumber</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div fxLayout.lt-md="column" fxLayoutGap="10px">
    <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
      <div fxFlex="50%">
        <mat-form-field class="input-container" *ngIf="isMaterial">
          <input matInput placeholder="{{'HSN/SAC'|translate}}" formControlName="hsnCode" />
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
      <div fxFlex="50%">
        <mat-form-field class="input-container" *ngIf="isMaterial">
          <mat-select class="input-container" formControlName="unitOfMeasurementId">
            <mat-option *ngFor="let uom of uoms" [value]="uom.id">
              {{uom.name}}
            </mat-option>
          </mat-select>
          <mat-placeholder>{{'UOM*'|translate}}</mat-placeholder>
        </mat-form-field>
      </div>
    </div>


    <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
      <div fxFlex="50%">
        <mat-form-field class="input-container" *ngIf="isMaterial">
          <mat-select class="input-container" formControlName="taxId">
            <mat-option *ngFor="let tax of taxes" [value]="tax.id">
              {{tax.name}}@{{tax.rate}}%
            </mat-option>
          </mat-select>
          <mat-placeholder>{{'Tax*'|translate}}</mat-placeholder>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
      <div fxFlex="50%">
        <mat-form-field class="input-container" *ngIf="isMaterial">
          <input matInput placeholder="{{'Opening Stock'|translate}}" OnlyNumber="true" formControlName="openingStock" (change)="updateStock()"  />
        </mat-form-field>
      </div>
    </div>
    <!-- <div fxFlex="50%">
        <mat-form-field class="input-container">
          <input matInput placeholder="Price*"  OnlyNumber="true"  formControlName="price" />
        </mat-form-field>
      </div> -->
  </div>

  <div fxLayout.lt-md="column" fxLayoutGap="10px">
    <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
      <div fxFlex="50%">
        <mat-form-field class="input-container">
          <input matInput placeholder="{{'MRP'|translate}}"  OnlyNumber="true"  formControlName="mrp" />
        </mat-form-field>
      </div>
    </div>

    <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
      <div fxFlex="50%">
        <mat-form-field class="input-container">
          <input matInput placeholder="{{'Buying Price'|translate}}"  OnlyNumber="true"  formControlName="buyingPrice" />
        </mat-form-field>
      </div>
    </div>


    <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
      <div fxFlex="50%">
          <mat-form-field class="input-container">
              <input matInput placeholder="{{'Selling Price'|translate}}"  OnlyNumber="true"  formControlName="price" />
          </mat-form-field>
      </div>
    </div>

    <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
      <div fxFlex="50%">
      </div>
    </div>
  </div>
  

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button type="button" (click)="close()" matTooltip="Close">
    <i class="material-icons">close</i> {{'Close'|translate}}
  </button>
  <button mat-raised-button type="button" (click)="saveWrapper()" matTooltip="Save" [disabled]="!materialPopUpForm.valid">
    <i class="material-icons">save</i> {{'Save'|translate}}
  </button>

</mat-dialog-actions>
</div>