<!-- <div [formGroup]="group">            
    
        <div *ngIf="index === 0" class="wrapper11Header">              
            <div class="heading-container">Invoice No.</div>
            <div class="heading-container">Date</div>
            <div class="heading-container">Due Date</div>
            <div class="heading-container">Invoice Amount</div>
            <div class="heading-container">TDS Per</div>
            <div class="heading-container">TDS Amount</div>
            <div class="heading-container">Amount After TDS</div>
            <div class="heading-container">Paid Amount</div>
            <div class="heading-container">Due Amount</div>
            <div class="heading-container">Paying Amount</div>
            <div class="heading-container">Delete</div>    
        </div>
        <div class="wrapper11">
            <div class="input-container"><input  class="input-sm" value="{{group.get('invoiceNumber').value}}" readonly></div>
            <div class="input-container"><input  class="input-sm" value="{{group.get('invoiceDate').value | date :'shortDate'}}" readonly></div>
            <div class="input-container"><input  class="input-sm" value="{{group.get('paymentDueDate').value | date :'shortDate'}}" readonly></div>
            <div class="input-container"><input  class="input-sm input-num" formControlName="invoiceAmount" readonly></div>
            <div class="input-container"><input  class="input-sm input-num" formControlName="tdsPercentage" (change)="onTdsPercentageChange()"></div>
            <div class="input-container"><input  class="input-sm input-num" formControlName="tdsAmount" (change)="onTdsAmountChange()"></div>
            <div class="input-container"><input  class="input-sm input-num" formControlName="amountAfterTds" readonly></div>
            <div class="input-container"><input  class="input-sm input-num" formControlName="paidAmount" readonly></div>
            <div class="input-container"><input  class="input-sm input-num" formControlName="dueAmount" readonly></div>
            <div class="input-container"><input  class="input-sm input-num" formControlName="payingAmount"  ></div>
            <div class="input-container"><mat-icon  class="delete-class" (click)="delete(index)">delete</mat-icon></div>
        </div>    
    </div>
    
     -->

<!-- <div>
        <div fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="space-evenly stretch" class="large-row">
                <div  fxFlex="25">
                        <mat-toolbar color="primary">#</mat-toolbar>
                </div>
                <div  fxFlex="25">
                        <mat-toolbar color="primary">#</mat-toolbar>
                </div>
                <div  fxFlex="25">
                        <mat-toolbar color="primary">#</mat-toolbar>
                </div>
                <div  fxFlex="25">
                        <mat-toolbar color="primary">#</mat-toolbar>
                </div>                                                
        </div>
        <div fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="space-evenly stretch" class="large-row">
                <div  fxFlex="25">
                    <mat-form-field class="input-container" appearance="outline">
                        <input matInput class="input-sm" readonly >
                    </mat-form-field>
                </div>
                <div  fxFlex="25">
                    <mat-form-field class="input-container" appearance="outline">
                        <input matInput class="input-sm" readonly >
                    </mat-form-field>
                </div>
                <div  fxFlex="25">
                    <mat-form-field class="input-container" appearance="outline">
                        <input matInput class="input-sm" readonly >
                    </mat-form-field>
                </div>
                <div  fxFlex="25">
                    <mat-form-field class="input-container" appearance="outline">
                        <input matInput class="input-sm" readonly >
                    </mat-form-field>
                </div>                                                
        </div>
     </div> -->

<div [formGroup]="group" fxLayout="column" fxLayoutAlign="center none">
    <div *ngIf="index === 0" fxLayout="row" fxHide.lt-md="true" fxLayoutGap="2px" fxLayoutAlign="space-evenly stretch"
        class="large-row">
        <div fxFlex="2">
            <mat-toolbar class="item-header" color="primary">#</mat-toolbar>
        </div>
        <div fxFlex="7" color="primary" style="position: sticky; left:0px; z-index: 10;">
            <mat-toolbar class="item-header" color="primary">{{'Invoice No.'| translate}}</mat-toolbar>
        </div>
        <div fxFlex="8" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Date'| translate}}</mat-toolbar>
        </div>
        <div fxFlex="5" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Due Date'|translate}} </mat-toolbar>
        </div>
         <div fxFlex="4" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Prev Tds Per'|translate}}</mat-toolbar>
        </div>
       <div fxFlex="4" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Prev Tds Amount'|translate}}</mat-toolbar>
        </div> 



        <div fxFlex="5" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Taxable Amount'|translate}}</mat-toolbar>
        </div>

        <div fxFlex="5" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Tax Amount'|translate}}<br>{{'(Inc. TCS)'}}</mat-toolbar>
            </div>

            <div fxFlex="5" color="primary" hidden="true">
                <mat-toolbar class="item-header" color="primary">{{'Round Off'|translate}}</mat-toolbar>
                </div>

        <div fxFlex="5" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Invoice Amount'|translate}}</mat-toolbar>
        </div>
        <div fxFlex="5" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'TDS Per'|translate}}</mat-toolbar>
        </div>
        <div fxFlex="5" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'TDS Amount'|translate}}</mat-toolbar>
        </div>
        <div fxFlex="9" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Amount After TDS'|translate}}</mat-toolbar>
        </div>
        <div fxFlex="5" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Deduct Amt'|translate}}</mat-toolbar>
        </div>
        <div fxFlex="6" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Prev Deduct'|translate}} </mat-toolbar>
        </div>
        <div fxFlex="9" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Paid Amount'|translate}}</mat-toolbar>
        </div>
        <div fxFlex="9" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Due Amount'|translate}}</mat-toolbar>
        </div>
        <!-- <div *ngIf="originalDueAmount"  fxFlex="0" color="primary">
            <mat-toolbar class="item-header" color="primary">Original Due Amount</mat-toolbar>
        </div> -->
        <div fxFlex="13" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Paying Amount'|translate}}</mat-toolbar>
        </div>
        <div fxFlex="12" color="primary">
            <mat-toolbar class="item-header" color="primary">{{'Delete'|translate}}</mat-toolbar>
        </div>
    </div>

    <div fxLayout="row" fxHide.lt-md="true" fxLayoutGap="2px" fxLayoutAlign="space-evenly stretch" class="large-row" style="position: static">
        <div fxFlex="2">
            <mat-form-field class="input-container" appearance="outline" [matTooltip]="group.get('slNo').value">
                <input matInput class="input-sm" color="primary" readonly formControlName="slNo">
            </mat-form-field>
            <!-- <label class="input-sm  read-only">
                {{index + 1}}
            </label> 
        style="position: sticky; left:0px; z-index: 9;"
        -->
        </div>
        <div fxFlex="7">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm" readonly value="{{group.get('invoiceNumber').value}}">
            </mat-form-field>
        </div>
        <div fxFlex="6.5">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm " readonly
                    value="{{group.get('invoiceDate').value |date:'dd/MM/yyyy'}}">
            </mat-form-field>
        </div>
        <div fxFlex="5">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm " readonly
                    value="{{group.get('paymentDueDate').value |date:'dd/MM/yyyy'}}">
            </mat-form-field>
        </div>
        <div fxFlex="4">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm input-right" OnlyNumber="true" readonly formControlName="preTdsPer">
            </mat-form-field>
        </div>
       <div fxFlex="4">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm input-right" OnlyNumber="true" readonly formControlName="preTdsAmount">
            </mat-form-field>
        </div>



        <div fxFlex="5">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm input-right" OnlyNumber="true" readonly formControlName="taxableAmount">
            </mat-form-field>
        </div>

        <div fxFlex="5">
                <mat-form-field class="input-container" appearance="outline">
                    <input matInput class="input-sm input-right" OnlyNumber="true" readonly formControlName="taxAmount">
                </mat-form-field>
            </div>

            <div fxFlex="5" hidden="true">
                <mat-form-field class="input-container" appearance="outline">
                    <input matInput class="input-sm input-right" OnlyNumber="true" readonly formControlName="roundOff">
                </mat-form-field>
            </div>


        <div fxFlex="5">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm input-right" OnlyNumber="true" readonly formControlName="invoiceAmount">
            </mat-form-field>
        </div>


        <div fxFlex="5">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm input-right" OnlyNumber="true"  [readonly]="group.get('preTdsAmount').value ? true : false" formControlName="tdsPercentage"
                    (change)="onTdsPercentageChange()">
            </mat-form-field>
        </div>
        <div fxFlex="5">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm input-right" OnlyNumber="true"  [readonly]="group.get('preTdsAmount').value ? true : false" formControlName="tdsAmount"
                    (change)="onTdsAmountChange()">
            </mat-form-field>
        </div>

        <div fxFlex="6.6">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm input-right" OnlyNumber="true" readonly
                    formControlName="amountAfterTds">
            </mat-form-field>
        </div>

        <div fxFlex="5.2">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm input-right" OnlyNumber="true" readonly formControlName="debitAmount">
            </mat-form-field>
        </div>

        <div fxFlex="6">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm input-right" OnlyNumber="true" readonly
                    formControlName="originalDebitAmount">
            </mat-form-field>
        </div>

        <div fxFlex="6.6">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm input-right" OnlyNumber="true" readonly formControlName="paidAmount">
            </mat-form-field>
        </div>
        <div fxFlex="6.5">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm input-right" OnlyNumber="true" readonly formControlName="dueAmount">
            </mat-form-field>
        </div>
        <div fxFlex="6.7">
            <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm input-right" [readonly]="isClearingModeAuto" OnlyNumber="true"
                    formControlName="payingAmount" (change)="onPayingAmountChange()">
            </mat-form-field>
        </div>
        <div fxFlex="12">
            <!-- <mat-icon  *ngIf="!group.disabled" class="delete-class" (click)="delete(index)">delete</mat-icon> -->
            <!-- <mat-form-field class="input-container" appearance="outline">
                <input matInput class="input-sm input-right" [readonly]="isClearingModeAuto"  color="primary" OnlyNumber="true"
                    formControlName="payingAmount" (change)="onPayingAmountChange()">
            </mat-form-field>             -->
            <button mat-button>
                <i *ngIf="!group.disabled" (click)="delete(index)" class="material-icons delete-class">delete</i>
            </button>
        </div>

    </div>

    <div fxLayout="column" fxShow="false" fxShow.lt-md="true">
        <div>
            <mat-accordion>
                <mat-expansion-panel style="margin: 0px !important;" hideToggle>
                    <mat-expansion-panel-header>
                        <!-- <mat-panel-title>
                {{group.get('partName').value}}
              </mat-panel-title>
              <mat-panel-description>
                {{group.get('amount').value}}
              </mat-panel-description> -->
                        <div fxLayout="row" fxLayoutAlign="space-between stretch" style="width: 100%">
                            <div fxFlex="80">
                                {{group.get('invoiceNumber').value}}
                            </div>
                            <div fxFlex="20" fxFlexAlign="end" style="text-align: right">
                                {{group.get('payingAmount').value}}
                            </div>
                        </div>


                    </mat-expansion-panel-header>
                    <div fxLayout="column" fxLayoutGap="2px" fxLayoutAlign="space-evenly stretch" fxShow="false"
                        fxShow.lt-md="true" class="small-item-view">
                        <div fxLayout="row">
                            <div fxFlex="50">
                                <mat-toolbar class="item-header-mobile" color="primary">#</mat-toolbar>
                            </div>
                            <div fxFlex="50">
                                <label class="lbl-class">{{index + 1}}</label>
                            </div>
                        </div>
                        <div fxLayout="row">
                            <div fxFlex="50">
                                <mat-toolbar class="item-header-mobile" color="primary">{{'Invoice No.'|translate}}</mat-toolbar>
                            </div>
                            <div fxFlex="50">
                                <mat-form-field class="input-container" appearance="outline">
                                    <input matInput readonly color="primary" matInput
                                        value="{{group.get('invoiceNumber').value}}">
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row">
                            <div fxFlex="50">
                                <mat-toolbar class="item-header-mobile" color="primary">{{'Date'|translate}}</mat-toolbar>
                            </div>
                            <div fxFlex="50">
                                <mat-form-field class="input-container" appearance="outline">
                                    <input class="input-sm " matInput color="primary" readonly
                                        value="{{group.get('invoiceDate').value | date :'shortDate'}}">
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row">
                            <div fxFlex="50">
                                <mat-toolbar class="item-header-mobile" color="primary">{{'Due Date'|translate}}</mat-toolbar>
                            </div>
                            <div fxFlex="50">
                                <mat-form-field class="input-container" appearance="outline">
                                    <input class="input-sm " matInput color="primary" readonly
                                        value="{{group.get('paymentDueDate').value | date :'shortDate'}}">
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxLayout="row">
                            <div fxFlex="50">
                                <mat-toolbar class="item-header-mobile" color="primary">{{'Prev Tds Per'|translate}}</mat-toolbar>
                            </div>
                            <div fxFlex="50">
                                <mat-form-field class="input-container" appearance="outline">
                                    <input class="input-sm input-right" matInput color="primary" readonly
                                        formControlName="preTdsPer">
                                </mat-form-field>
                           
                        </div>
                        </div> 
                        <!-- <div fxLayout="row">
                            <div fxFlex="50">
                                <mat-toolbar class="item-header-mobile" color="primary">{{'Due Date'|translate}}</mat-toolbar>
                            </div>
                          
                                <div fxFlex="50">
                                    <mat-form-field class="input-container" appearance="outline">
                                        <input class="input-sm input-right" matInput color="primary" readonly
                                            formControlName="preTdsAmount">
                                    </mat-form-field>
                               
                            </div>
                        </div>  -->



                        <div fxLayout="row">
                            <div fxFlex="50">
                                <mat-toolbar class="item-header-mobile" color="primary">{{'Taxable Amount'|translate}}</mat-toolbar>
                            </div>
                            <div fxFlex="50">
                                <mat-form-field class="input-container" appearance="outline">
                                    <input class="input-sm input-right" matInput color="primary" readonly
                                        formControlName="taxableAmount">
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxLayout="row">
                                <div fxFlex="50">
                                    <mat-toolbar class="item-header-mobile" color="primary">{{'Tax Amount'|translate}}<br>{{'(Inc. TCS)'}}</mat-toolbar>
                                </div>
                                <div fxFlex="50">
                                    <mat-form-field class="input-container" appearance="outline">
                                        <input class="input-sm input-right" matInput color="primary" readonly
                                            formControlName="taxAmount">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div fxLayout="row">
                                <div fxFlex="50">
                                    <mat-toolbar class="item-header-mobile" color="primary">{{'Round Off'|translate}}</mat-toolbar>
                                </div>
                                <div fxFlex="50" hidden="true">
                                    <mat-form-field class="input-container" appearance="outline">
                                        <input class="input-sm input-right" matInput color="primary" readonly
                                            formControlName="roundOff">
                                    </mat-form-field>
                                </div>
                            </div>



                        <div fxLayout="row">
                            <div fxFlex="50">
                                <mat-toolbar class="item-header-mobile" color="primary">{{'Invoice Amount'|translate}}</mat-toolbar>
                            </div>
                            <div fxFlex="50">
                                <mat-form-field class="input-container" appearance="outline">
                                    <input class="input-sm input-right" matInput color="primary" readonly
                                        formControlName="invoiceAmount">
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row">
                            <div fxFlex="50">
                                <mat-toolbar class="item-header-mobile" color="primary">{{'TDS Per'|translate}}</mat-toolbar>
                            </div>
                            <div fxFlex="50">
                                <mat-form-field class="input-container" appearance="outline">
                                    <input class="input-sm input-right" matInput color="primary" OnlyNumber="true"
                                        formControlName="tdsPercentage" (change)="onTdsPercentageChange()">
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row">
                            <div fxFlex="50">
                                <mat-toolbar class="item-header-mobile" color="primary">{{'TDS Amount'|translate}}</mat-toolbar>
                            </div>
                            <div fxFlex="50">
                                <mat-form-field class="input-container" appearance="outline">
                                    <input class="input-sm input-right" matInput color="primary" OnlyNumber="true"
                                        readonly formControlName="tdsAmount" (change)="onTdsAmountChange()">
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row">
                            <div fxFlex="50">
                                <mat-toolbar class="item-header-mobile" color="primary">{{'Amount After TDS'|translate}}</mat-toolbar>
                            </div>
                            <div fxFlex="50">
                                <mat-form-field class="input-container" appearance="outline">
                                    <input class="input-sm input-right" matInput color="primary" OnlyNumber="true"
                                        readonly formControlName="amountAfterTds">
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row">
                            <div fxFlex="50">
                                <mat-toolbar class="item-header-mobile" color="primary">{{'Paid Amount'|translate}}</mat-toolbar>
                            </div>
                            <div fxFlex="50">
                                <mat-form-field class="input-container" appearance="outline">
                                    <input class="input-sm input-right" matInput color="primary" OnlyNumber="true"
                                        readonly formControlName="paidAmount">
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row">
                            <div fxFlex="50">
                                <mat-toolbar class="item-header-mobile" color="primary">{{'Due Amount'|translate}}</mat-toolbar>
                            </div>
                            <div fxFlex="50">
                                <mat-form-field class="input-container" appearance="outline">
                                    <input class="input-sm input-right" matInput color="primary" OnlyNumber="true"
                                        readonly formControlName="dueAmount">
                                </mat-form-field>
                            </div>
                        </div>
                        <div *ngIf="originalDueAmount" fxLayout="row">
                            <div fxFlex="50">
                                <mat-toolbar class="item-header-mobile" color="primary"> {{'Original Due Amount'|translate}}
                                </mat-toolbar>
                            </div>
                            <div fxFlex="50">
                                <mat-form-field class="input-container" appearance="outline">
                                    <input class="input-sm input-right" matInput color="primary" OnlyNumber="true"
                                        readonly value="dueAmount" formControlName="originalDueAmount">
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between stretch">
                            <div fxFlex="50">
                                <mat-toolbar class="item-header-mobile" color="primary">{{'Paying Amount'|translate}}</mat-toolbar>
                            </div>
                            <div fxFlex="50">
                                <mat-form-field class="input-container" appearance="outline">
                                    <input class="input-sm input-right" matInput color="primary"
                                        [readonly]="isClearingModeAuto" OnlyNumber="true" formControlName="payingAmount"
                                        (change)="onPayingAmountChange()">
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="end center">
                            <!-- <mat-toolbar class="item-header delete-class" fxFlex="30" color="primary">Delete</mat-toolbar> -->
                            <div fxFlex="50">
                                <mat-icon color="warn" (click)="delete(index)">delete</mat-icon>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>