
    <mat-card>
            <mat-card-content>
                <div class="recent-header">
                    <form [formGroup]="filterForm" novalidate>
                        <mat-form-field>
                            <input matInput placeholder="{{'Filter'|translate}}" formControlName="filterText">
                        </mat-form-field>
                    </form>
                </div>
        
                <div class="recent-container mat-elevation-z8">
                    <div class="example-loading-shade" *ngIf="isLoadingResults">
                        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                    </div>
        
                    <mat-table #table [dataSource]="dataSource" class="example-table" matSort matSortActive="payReferenceDate" matSortdisableClear
                        matSortDirection="desc">
        
        
        
                        <ng-container matColumnDef="payReferenceNumber">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Pay Ref No'|translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{row.payReferenceNumber}}[{{row.statusName}}]</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="partyName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Party'|translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{row.partyCode}}-{{row.partyName}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="payReferenceDate">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Date'|translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{row.payReferenceDate | date: 'dd/MM/yyyy'}}</mat-cell>
                        </ng-container>
        
                        <ng-container matColumnDef="grandTotal">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Payment Amount'|translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{row.paymentAmount}}</mat-cell>
                        </ng-container>
        
                        <!-- <ng-container matColumnDef="partyName">
                            <mat-header-cell *matHeaderCellDef  mat-sort-header>Party</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{row.partyName}}</mat-cell>
                        </ng-container> -->
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row class="tran-item-list" (click)="onRowClick(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
                </div>
            </mat-card-content>
        </mat-card> 