// .grid-container{
//     width:50%;
//     display: grid;
//     grid-template-columns: 4fr 4fr 4fr 2fr ;
//     grid-gap: 1px;
//     background-color: #337ab7;
//     padding: 1px;
//     border: 1px;
// }

// .grid-cell-header{
//     margin: 0px;
//     padding: 0px;
//     border-radius: 0px;  
//     color: white;  
// }

// .grid-cell{
//     margin: 0px;
//     padding: 0px;
//     border-radius: 0px;    
// }

// .input-sm{
//     height:100%;
//     width: 100%;
//     border-radius: 0px;
//     padding: 0px;
//     border: 0px;
//     color: black;
//     background-color: #fff;
// }

// .input-sm-invalid{
//     width: 100%;
//     border-radius: 0px;
//     padding: 0px;
//     border: 0px;
//     color: red;
//     background-color: #fff;
// }

// .delete-class{
//     cursor: pointer;
// }

.item-header{
    font-size: 10pt;
    font-weight: bold;
    white-space: normal;
    height:30px;
    text-align: center;
    line-height: 15px;
    color: white !important;
}
.input-container{
    // margin: 0px;
    // padding: 2px;
    // height:30px;
    // border-radius: 0px;
    background-color: white;
    font-size: 10pt;
    // font-weight: bold;
    //padding: 5px;
    width: 100%;
    margin-bottom: -1.35em
    // white-space: normal;
    // height:30px;
   // text-align: center;
    // line-height: 15px;
    // background-color: white;
}

// .heading-container{
//     margin-right: 1px;
//     padding: 0px;
//     border-radius: 0px;
//     border-right: 1px;
//     /* border-right-color: white; */
//     /* background-color: #337ab7; */
//     /* color: white; */
//     background-color: #d9edf7;
//     border-right-color: black;
//     color: black;
//     font-size: 90%;
//     font-weight: bold;
// }
// /* .input-container:nth-child(odd){
//     background:yellow;
// }

// .input-container:nth-child(even){
//     background:green;
// } */

// .input-sm{
//     width: 100%;
//     border-radius: 0px;
//     padding: 0px;
//     border: 0px;
//     color: black;
// }

// .input-right{
//     text-align: center;
//     padding-top: 15px;
// }

// .small-item-view{
//     margin-bottom: 2%;
// }

// .lbl-class{
//     background-color: white;
//     border-top: 1px;
//     width:100%;
//     height: 100%;
//     color: black;
//     text-align: center;
// }

.delete-class{
    // background-color: white;
    // width:100%;
    text-align: center;
    height: 100%;
    // fill:black;
    color:black;
    cursor: pointer;
    font-size: 24px;
}

// .mat-raised-button{
//     padding:0px;
// }


// .large-row{
//     width:1500px;
// }

// // .read-only{
// // background-color: rgb(221, 216, 216);
// // }
// .button-row{
//     position: fixed;
//     bottom: -4px;
//     //right: 10px;
//     // left: 50%;
//     margin-top:20px;
//     background-color: #f1f1f1;
//     align-content: center;
//     text-align: center;
//     width: 100%;
//     z-index: 9;
//     font-size: 34px;
// }

// .items{
//     // overflow-x: scroll;
//     // background-color: #f1f1f1;
//     // background-color: black;
//     // border-radius: 2px;
// }

.items{
    // overflow-x:scroll;
    width:1500px;
    background-color: #f1f1f1;
    width: 100%;
}

.mat-form-field{
    width:100%;
}
