@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin big-input-component-theme($theme) {
  
  // retrieve variables from theme 
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent); 
  $warn: map-get($theme, warn);


    /* Styles for side nave */
    // .side-nav-class {
    //     background-color: mat-color($primary, default) !important;
    //     color: white;
    // }


    // .mat-tab-label.mat-tab-label-active {
    //     background-color: mat-color($accent, default) !important;
    //     // color: white;
    //     font-weight: 700;
    //     opacity: 1 !important;
    // }

    // .search-field-border{
    //     // border-color: mat-color($primary, default) !important;
    //     // border-width: 1px;
    //     // border-radius: 10px;
    //     // border-style: solid;
    // }


    .dashboard-card-amount{
        color: mat-color($primary, default) !important;
        font-size: 20pt; 
        margin:0px;
       // height: 400px;
    }

    // .error-message{
    //     color: mat-color($warn, default) !important;
    // }

    // .selectedBtn{
    //     background-color: mat-color($accent, default) !important;
    //     color:white;
    // }

    // .bg-accent{
    //     background-color: mat-color($accent, default) !important;
    // }

    /* Styles for the active tab label */
    .mat-tab-label.mat-tab-label-active {
      background-color: mat-color($primary, default) !important;
      color: white;
      font-weight: 700;
  }

  // .custom-tab-class{
  //     //background-color: mat-color($primary, A200) !important;
  // }


  .tran-item-list:hover {    
      background-color: mat-color($accent, default) !important;
      cursor: pointer;
      color:white;
  }

  .side-nav-class {
      background-color: mat-color($primary, default) !important;
      color: white;
    }

    .custom-head-class{
      background-color: mat-color($primary, default) !important;
  }
}