/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';


body, html {
  font-family: 'Roboto';
}
.example-loading-shade {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1500;
    display: flex;
   align-items: center;
    justify-content: center;
  
  }


  

  .mat-card-content {
    padding: 2px;
}

// .mat-toolbar {
//   margin-bottom: 10px;
// }

.mat-card{
  padding: 0px;
  margin-bottom:2%;
  margin-right:2%;
  margin-top:2%;
  margin-left:2%;
}

// .material-icons{
//   font-size: 15px;
//   height: 20px;
// }


.read-only{
  background-color: rgb(221, 216, 216);
  }

  .recent-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 50vw;
    max-width: 80vw;
    position: relative;
  }
  
  .recent-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-top: 34px;
    font-size: 20px;
  }

  .report-right-align{
    text-align: right !important;
    font-size: 20pt;
    // border-width: 1px;
    border-right: 1px solid lightgray;
    // border-left: 1px solid black;

  }

  .app-alerts{
    font-size: 20px;
    font-family: inherit;
    right: 35% !important;
  }

  .example-spacer {
    flex: 1 1 auto;
}



.top-menu{
    position: fixed;
    top:0;
    left: 0;
    z-index: 9;
    //height: 50px;
}

.example-container{
    // top: 7%;
    background-color: #f1f1f1;
    padding-top: 50px;
}

.fixed-header {
  // top: 0;
  position: fixed;
  z-index:2;
  padding-top: 20pt !important;
  padding-bottom: 20pt !important;
  height: 70pt !important;
}

.subhint{
   font-size: small;
}

.main-container{
  height: 100vh;
}

.top-search{
  cursor: pointer;
}


// .material-icons{
//   font-size: 15px;
//   height: 20px;
// }

.menu-icon{
  font-size: 24px;
  height: 25px;
  padding-right: 10px;
}

// .fixed-header-master {
//   top:50px;
//   position: fixed;
//   z-index:6;
// left:0px;
// }
.fixed-header-master {
  top:57px;
  position: fixed;
  z-index:2;
left:0px;
padding-top: 35pt !important;
padding-bottom: 20pt !important;
}
.input-top{
  padding-top: 20px;
}
.title-row{
  width: 100%;
}

.form-top{
  padding-top: 50px;
}

.report-header{
  //font-weight: bolder;
  font-weight: bold !important;
  font-size: 10pt !important;
}

.mat-expansion-panel{
  margin-top: 20pt !important;
}

.recent-card{
  padding-top: 2% !important;
  margin: 0px !important;
  padding: 0px !important;
}

.inner-cell-ngx{
  border-bottom: 1px solid lightgray !important;
}

.inner-cell-ngx-right{
  text-align: right !important;
  border-right: 1px solid lightgray;
}

.inner-header-cell {    
  // border-right: 1px solid black;
  // text-align: center;
  font-size: 12pt;
  background-color: #e0e0e0 !important;
}
