@import '~@angular/material/theming';
// @import 'app/user-role/user-role.component-theme.scss';
@import '../src/custom-theme.scss';
// @import 'app/reference-links/reference-links.component.scss';
@include mat-core();



@mixin custom-components-theme($theme) {
    @include big-input-component-theme($theme); 
    // @include ref-link-component-theme($theme);
  }
  
// $custom-primary: mat-palette($mat-blue-grey, 900);

// $custom-accent:  mat-palette($mat-blue-grey, 200);

// $custom-theme: mat-light-theme($custom-primary, $custom-accent);

$custom-primary: mat-palette($mat-indigo, 500);

$custom-accent:  mat-palette($mat-indigo, A200);

$custom-theme: mat-light-theme($custom-primary, $custom-accent);

//$custom-theme: mat-dark-theme($custom-primary, $custom-accent);

@include angular-material-theme($custom-theme);
@include custom-components-theme($custom-theme);

// ALTERNATIVE THEME

$alt-primary: mat-palette($mat-brown, 900);
$alt-accent:  mat-palette($mat-brown, 200);

$alt-theme: mat-light-theme($alt-primary, $alt-accent);

.alternative {
    @include angular-material-theme($alt-theme);
    @include custom-components-theme($alt-theme);
}

.default-theme {
    @include angular-material-theme($custom-theme);
    @include custom-components-theme($custom-theme);
}

//Blue Grey Theme

// $custom-primary: mat-palette($mat-blue-grey, 900);

// $custom-accent:  mat-palette($mat-blue-grey, 200);

$blue-grey-primary: mat-palette($mat-blue-grey, 500);
$blue-grey-accent: mat-palette($mat-blue-grey, 100);

$blue-grey-theme: mat-light-theme($blue-grey-primary, $blue-grey-accent);

.blue-grey-theme {
    @include angular-material-theme($blue-grey-theme);
    @include custom-components-theme($blue-grey-theme);
}


//Deep Orange Theme

$deep-orange-primary: mat-palette($mat-deep-orange, 900);
$deep-orange-accent: mat-palette($mat-deep-orange, 200);

$deep-orange-theme: mat-light-theme($deep-orange-primary, $deep-orange-accent);

.deep-orange-theme {
    @include angular-material-theme($deep-orange-theme);
    @include custom-components-theme($deep-orange-theme);
}

//Grey Theme

$grey-primary: mat-palette($mat-grey, 900);
$grey-accent: mat-palette($mat-grey, 200);

$grey-theme: mat-light-theme($grey-primary, $grey-accent);

.grey-theme {
    @include angular-material-theme($grey-theme);
    @include custom-components-theme($grey-theme);
}


//Green Theme

$green-primary: mat-palette($mat-green, 900);
$green-accent: mat-palette($mat-green, 200);

$green-theme: mat-light-theme($green-primary, $green-accent);

.green-theme {
    @include angular-material-theme($green-theme);
    @include custom-components-theme($green-theme);
}


//Grey Dark Theme

// $grey-primary: mat-palette($mat-grey, 900);
// $grey-accent: mat-palette($mat-grey, 200);

$grey-dark-theme: mat-dark-theme($grey-primary, $grey-accent);

.grey-dark-theme {
    @include angular-material-theme($grey-dark-theme);
    @include custom-components-theme($grey-dark-theme);
}

