<h1 mat-dialog-title>Alert</h1>
<div mat-dialog-content [innerHTML]="alertMessage"></div>
<div mat-dialog-actions>
  <button mat-button style="color: #fff;background-color: #153961;" (click)="dialogRef.close(true)">Ok</button>
</div>