<!-- <h1 mat-dialog-title>Confirm</h1> -->
<!-- <i class="material-icons">warning</i> -->
<div fxLayout="row" fxLayoutAlign="center center">
  <div style="font-size:5em"><mat-icon  [inline]="true" color="warn">warning</mat-icon></div>
</div>
<div mat-dialog-content><label style="font-family: Arial, Helvetica, sans-serif">{{confirmMessage}}</label></div>
<div mat-dialog-actions align="center">
  
  <button mat-button color="primary" (click)="dialogRef.close(true)">Confirm</button>
  <button mat-button (click)="dialogRef.close(false)">Cancel</button>
</div>