<!-- <h1 mat-dialog-title>Choose Print copies</h1> -->
<div [class]="themeClass" mat-dialog-content>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between top">
        <div fxFlex="20">
            <mat-form-field style="width:90%">
                <!-- <input matInput [(ngModel)]="data.printCopy"> -->
                <!-- <mat-select placeholder="Choose Print copies" [formControl]="printCopy"> -->

                <mat-select placeholder="{{'Choose Print copies'|translate}}" [formControl]="printCopy" >

                    <mat-option *ngFor="let data of printCopys" [value]="data.name">
                        {{data.name}}
                    </mat-option>

                    <!-- <mat-option value="1">
                        Original
                    </mat-option>
                    <mat-option value="2">
                        Duplicate
                    </mat-option>
                    <mat-option value="3">
                        Triplicate
                    </mat-option>
                    <mat-option value="4">
                        All
                    </mat-option> -->
                </mat-select>
            </mat-form-field>

        </div>
        <div fxFlex *ngIf="showMargin">
            <mat-form-field style="width:90%">
                <input matInput type="number" placeholder="{{'Top Margin'|translate}}" [formControl]="topMargin"  />
            </mat-form-field>
        </div>
        <div  fxFlex="20" *ngIf="printHeaderTextValue">
                <mat-form-field>
                   
                    <input matInput type="string" placeholder="{{'Print Header Text'| translate}}" 
                    [formControl]="printHeaderText" #input1 maxlength={{header_length}} />
                   
                  </mat-form-field>
                </div>
        
         

        <div fxFlex="20">
            <button style="width:90%" mat-raised-button (click)="generate()" color="primary">{{'GENERATE'|translate}}</button>
        </div>

       
        <div fxFlex="35">
            <div fxLayout="row" fxLayoutAlign="start center">
                <div>
                    <button *ngIf="pdfGenerated" mat-button (click)="print()">
                        <div style="font-size:2em">
                            <mat-icon [inline]="true" color="primary">print</mat-icon>
                        </div>
                    </button>
                </div>
                <div>
                    <button *ngIf="pdfGenerated" mat-button (click)="download()">
                        <div style="font-size:2em">
                            <mat-icon [inline]="true" color="primary">cloud_download</mat-icon>
                        </div>
                    </button>
                </div>
                <!-- <div>
                    <button *ngIf="exportToExcel" matTooltip="Download in Excel format" color="primary"  mat-button (click)="saveAsExcel()">
                        <img style="height: 22pt; padding-bottom: 5pt;" src="assets/image/icons8-microsoft-excel.svg"/>
                    </button>
                </div> -->

                <!-- <div>
                    <button *ngIf="exportToWord" matTooltip="Download in Word format" color="primary"  mat-button (click)="saveAsWord()">
                        <img style="height: 22pt; padding-bottom: 5pt;" src="assets/image/icons8-microsoft-word.svg"/>
                    </button>
                </div> -->

                <div *ngIf="signatureImage" >
  
            <mat-checkbox  [formControl]="signature" >
            <label>{{'Signature'|translate}}</label>
                </mat-checkbox>
                </div>
              
            </div>

            <div  fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="19"> 

                </div>
                <div fxFlex="19"> 

                </div>
                <div *ngIf="dispalyShippingAddressCheckBox"> 
  
                    <mat-checkbox  [formControl]="shipAddress" >
                    <label>{{'Shiping Address'|translate}}</label>
                        </mat-checkbox>
                        </div>
            </div>

        </div>
        <div fxFlex="5" >
            
            <button mat-button (click)="onCloseClick()">
                <mat-icon>close</mat-icon>
            </button>
                
        </div>
    </div>

    <div class="example-loading-shade" *ngIf="spinStart">
        <mat-spinner *ngIf="spinStart"></mat-spinner>
    </div>

    <div style="width:70vw">
        <ngx-extended-pdf-viewer *ngIf="pdfGenerated" 
        [src]="pdfData" 
        useBrowserLocale="false" 
        height="80vh"
        [showFindButton]="false"
        [showOpenFileButton]="false"
        [showBookmarkButton]="false"
        [showSecondaryToolbarButton]="false"
        [showZoomButtons]="false"
        [showSidebarButton]="false"
        [showPresentationModeButton]="false"
        [showHandToolButton]="false"
        [filenameForDownload]="filenameForDownload"
        [showPagingButtons]="false"
        [showPrintButton]="false"
        [showDownloadButton]="false"
        mobileFriendlyZoom="150%"
        toolbarWidth="75%"
        ></ngx-extended-pdf-viewer>
    </div>
</div>