<h1 mat-dialog-title>Choose Print copies</h1>
<div mat-dialog-content>
    <mat-form-field>
        <!-- <input matInput [(ngModel)]="data.printCopy"> -->
        <mat-select placeholder="Copies" [formControl]="printCopy">
            <mat-option value="1">
                Original
            </mat-option> 
            <mat-option value="2">
                Duplicate
            </mat-option> 
            <mat-option value="3">
                Triplicate
            </mat-option> 
            <mat-option value="4">
                All
            </mat-option>                         
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>  
  <button mat-button [mat-dialog-close]="printCopy.value" cdkFocusInitial>Ok</button>
  <button mat-button (click)="onCloseClick()">Cancel</button>
</div>