<div class="main-container" [class]="themeClass">
  <h1 mat-dialog-title>{{'Party Information'|translate}}</h1>
  <mat-dialog-content [formGroup]="partyPopUpForm">

    <div fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <div fxFlex="50%">

          <!-- <mat-placeholder>Party Type</mat-placeholder>
              <mat-select formControlName="partyTypeId">
                <mat-option *ngFor="let partyType of partyTypes" [value]="partyType.id">
                  {{partyType.name}}
                </mat-option>
              </mat-select> -->
          <mat-form-field>
            <input matInput type="text" placeholder="{{'Party Type'|translate}}" readonly [value]="partyType?.name" />
          </mat-form-field>

        </div>
      </div>
      <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <div fxFlex="60%">
            <mat-form-field *ngIf="!isAutoNumber">
                <mat-label>{{'Party Code*'| translate}} </mat-label>
                <input matInput  formControlName="partyCode" id="party_code" #partyCode />
               </mat-form-field>

          <mat-form-field *ngIf="isAutoNumber">
            <mat-label>{{'Party Code*'| translate}}</mat-label>
            <input matInput readonly [value]="tempTransactionNumber" id="party_tempNumber" matTooltip="For indication only it may get changed after save">
          </mat-form-field>

        </div>
      </div>



    </div>
    <div fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <div fxFlex="50%">
          <mat-form-field>
            <input matInput placeholder="{{'Name*'|translate}}" formControlName="name" />
            <mat-error *ngIf="partyPopUpForm.controls.name?.invalid">Please enter Name</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>


    <div fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <div fxFlex="50%">
          <mat-form-field>
            <input matInput placeholder="{{'E-Mail'|translate}}" formControlName="email" />
            <mat-error *ngIf="partyPopUpForm.controls.email?.invalid">Please enter Valid E-mail</mat-error>
            <!-- <mat-error *ngIf="partyPopUpForm.get('email').hasError('validateEqual')">{{getErrorMessage()}}</mat-error> -->
          </mat-form-field>

        </div>
      </div>


      <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <div fxFlex="50%">

          <mat-form-field>
            <textarea matInput placeholder="{{'Address*'|translate}}" formControlName="address"></textarea>
            <mat-error *ngIf="partyPopUpForm.controls.address?.invalid">Please enter Address</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <div fxFlex="50%">

          <mat-form-field>
            <mat-placeholder>{{'State*'|translate}}</mat-placeholder>
            <mat-select formControlName="stateId" (selectionChange)="onStateChange()">
              <!-- <mat-option value=1>Karnataka</mat-option> -->
              <mat-option *ngFor="let state of states" [value]="state.id">
                {{state.name}}
              </mat-option>
              <!-- <button mat-raised-button type="button" (click)="openDialog()">ADD Material</button> -->
            </mat-select>

            <mat-error *ngIf="partyPopUpForm.controls.stateId?.invalid">Please select State</mat-error>
          </mat-form-field>

        </div>
      </div>


      <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <div fxFlex="50%">

          <mat-form-field>
            <mat-placeholder>{{'Country*'|translate}}</mat-placeholder>
            <mat-select formControlName="countryId">
              <mat-option *ngFor="let country of countries" [value]="country.id" (selectionChange)="checkOrVerifyCurrency()">
                {{country.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="partyPopUpForm.controls.countryId?.invalid">Please select country</mat-error>
          </mat-form-field>

      

        </div>
      </div>
   
    </div>
    

    <div fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <div fxFlex="50%">
          <mat-form-field>
            <mat-placeholder>{{'GST-Registerd-type*'|translate}}</mat-placeholder>
            <mat-select formControlName="gstRegistrationTypeId" [disabled]="partyPopUpForm.disabled">
              <mat-option *ngFor="let regType of gstRegistrationTypes" [value]="regType.id">{{regType.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="partyPopUpForm.controls.gstRegistrationTypeId?.invalid">Please select gstRegistrationType</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="50%" fxLayout.lt-md="column" fxLayoutGap="10px">
        <div fxFlex="50%">
          <mat-form-field *ngIf="!isGstRegistered">
            <span matTooltip="Only 15 Character">
              <input matInput placeholder="{{'GST Number'|translate}}" formControlName="gstNumber" />
            </span>
            <mat-error *ngIf="partyPopUpForm.controls.gstNumber?.invalid">please enter valid GST Number</mat-error>
          </mat-form-field>
        </div>
      </div>

    </div>

    <div fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <div fxFlex="50%">
          <!-- <mat-form-field> -->
          <!-- <input matInput placeholder="IGST Number" formControlName="IGST" /> -->
          <mat-checkbox formControlName="isIgst" labelPosition="after" [disabled]="partyPopUpForm.disabled">
            {{'Is IGST'|translate}} (Special Economic Zone)
          </mat-checkbox>
          <!-- </mat-form-field> -->
        </div>
      </div>
      <div fxFlex="50%" fxLayout.lt-md="column" fxLayoutGap="10px">
        <div fxFlex="50%">
        </div>
      </div>

    </div>
    
    

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button type="button" (click)="close()" matTooltip="Close">
      <i class="material-icons">close</i> {{'Close'|translate}}</button>
    <button mat-raised-button type="button" (click)="save()" matTooltip="Save" [disabled]="!partyPopUpForm.valid">
      <i class="material-icons">save</i> {{'Save'|translate}}</button>

  </mat-dialog-actions>
</div>