<div style="margin-top: 20pt;">

</div>
<div *ngIf="isAdmin" fxLayout="column" fxLayoutGap="40pt" style="min-height: 70vh;">
    <div fxLayout="row" style="padding-left: 30vh;" fxLayoutAlign="left stretch" fxLayoutGap="50pt" fxLayout.lt-md="column">
        <div fxFlex="50%">
          <mat-form-field>
            <mat-placeholder>{{'Period Of Dashboard'|translate}}</mat-placeholder>
            <mat-select   (selectionChange)="onSelect($event)">
              <mat-option *ngFor="let period of periodOfDashBoard" [value]="period.id">{{period.name}}</mat-option>
            </mat-select>

          </mat-form-field>
        </div>
      </div>

    <!-- <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40pt" fxLayout.lt-md="column">
        <div>
            <mat-form-field>
                <mat-select placeholder="Choose months" [(value)]="selectedMonth" (selectionChange)="changeMonth()">
                    <mat-option *ngFor="let month of months" [value]="month">
                        {{month}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div> -->
    <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="40pt" fxLayout.lt-md="column">
        <div fxFlex="40">
            <mat-card> <!--style="height:100%"-->
                <mat-card-content>
                <dashboard [dashboardTransactionSummary]="customerInvoiceSummary" [paymentType]="'Payment received'"
                    [secondSection]="true"
                    [recievedOrPayedAmount]="customerReceivableSummary.transactionAmount"></dashboard>
                <div *ngIf="groupedBarChart.length > 0" class="chart-container">
                    <ngx-charts-bar-vertical-2d 
                    [results]="groupedBarChart" 
                    [xAxis]="true"
                    [yAxis]="true"
                    [showXAxisLabel]="true" 
                    [showYAxisLabel]="true"
                    [xAxisLabel]="'Month'"
                    [yAxisLabel]="'Amount'"
                    [gradient]="true"
                    [legend]="false"
                    legendPosition="below"
                    [scheme]="colorScheme"
                    >
                    </ngx-charts-bar-vertical-2d> 
                </div>
                <!-- <div *ngIf="lineChart.length > 1" class="chart-container" style="margin-top: 50pt;">
                    <ngx-charts-line-chart 
                    [results]="lineChart" 
                    [xAxis]="true" 
                    [yAxis]="true" 
                    [showXAxisLabel]="true" 
                    [showYAxisLabel]="true"
                    [xAxisLabel]="'Month'" 
                    [yAxisLabel]="'Amount'" 
                    >
                     </ngx-charts-line-chart>
                </div> -->
                <!-- <div *ngIf="stackedBarChart.length > 1" style="display: grid; width: 100%">
                    <ngx-charts-bar-vertical-stacked 
                    [results]="stackedBarChart" 
                    [xAxis]="true" 
                    [yAxis]="true" 
                    [showXAxisLabel]="true" 
                    [showYAxisLabel]="true"
                    [xAxisLabel]="'Month'" 
                    [yAxisLabel]="'Amount'" 
                    >
                     </ngx-charts-bar-vertical-stacked>
                </div> -->
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="40">
            <mat-card> <!-- style="height:100%" -->
                <mat-card-content>
                <dashboard [dashboardTransactionSummary]="purchaseInvoiceSummary" [paymentType]="'Payment made'"
                    [secondSection]="true"
                    [recievedOrPayedAmount]="supplierPaymentSummary.transactionAmount"></dashboard>

                    <div *ngIf="purchaseGroupedBarChart.length > 0" class="chart-container">
                        <ngx-charts-bar-vertical-2d 
                        [results]="purchaseGroupedBarChart" 
                        [xAxis]="true"
                        [yAxis]="true"
                        [showXAxisLabel]="true" 
                        [showYAxisLabel]="true"
                        [xAxisLabel]="'Month'"
                        [yAxisLabel]="'Amount'"
                        [gradient]="true"
                        [legend]="false"
                        legendPosition="below"
                        [scheme]="supplierColorScheme"
                        >
                        </ngx-charts-bar-vertical-2d> 
                    </div>

                    <!-- <div *ngIf="purchaseLineChart.length > 1" class="chart-container" style="margin-top: 50pt;">
                        <ngx-charts-area-chart 
                        [results]="purchaseLineChart" 
                        [xAxis]="true" 
                        [yAxis]="true" 
                        [showXAxisLabel]="true" 
                        [showYAxisLabel]="true"
                        [xAxisLabel]="'Month'" 
                        [yAxisLabel]="'Amount'" 
                        >
                         </ngx-charts-area-chart>
                    </div> -->
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <!-- <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="40pt" fxLayout.lt-md="column">
        <div fxFlex="40">
            <mat-card style="height:100%">
                <dashboard [dashboardTransactionSummary]="postDatedChequesCustomerSummary" [paymentType]="''"
                    [secondSection]="false"></dashboard>
            </mat-card>
        </div>
        <div fxFlex="40">
            <mat-card style="height:100%">
                <dashboard [dashboardTransactionSummary]="postDatedChequesSupplierSummary" [paymentType]="''"
                    [secondSection]="false"></dashboard>
            </mat-card>
        </div>
    </div> -->

    <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="40pt" fxLayout.lt-md="column">
        <div fxFlex="40">
            <mat-card>
                <mat-card-content>
                <dashboard [dashboardTransactionSummary]="openQuotationSummary" [paymentType]="''" [secondSection]="false"></dashboard>
                <div *ngIf="quotationBarChart.length > 0" class="chart-container">
                    <ngx-charts-bar-horizontal 
                    [results]="quotationBarChart" 
                    [xAxis]="true"
                    [yAxis]="true"
                    [showXAxisLabel]="true" 
                    [showYAxisLabel]="true"
                    [xAxisLabel]="'Amount'"
                    [yAxisLabel]="'Month'"
                    [gradient]="true"
                    >
                    </ngx-charts-bar-horizontal> 
                </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="40">
            <mat-card>
                <mat-card-content>
                <dashboard [dashboardTransactionSummary]="openPOSummary" [paymentType]="''" [secondSection]="false"></dashboard>
                <div *ngIf="poBarChart.length > 0" class="chart-container">
                <ngx-charts-bar-horizontal 
                    [results]="poBarChart" 
                    [xAxis]="true"
                    [yAxis]="true"
                    [showXAxisLabel]="true" 
                    [showYAxisLabel]="true"
                    [xAxisLabel]="'Amount'"
                    [yAxisLabel]="'Month'"
                    [gradient]="true"
                    >
                </ngx-charts-bar-horizontal> 
                </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div *ngIf="allowJwInvoice" fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="40pt" fxLayout.lt-md="column">
        <div fxFlex="40">
            <mat-card> <!--style="height:100%"-->
                <mat-card-content>
                <dashboard [dashboardTransactionSummary]="jobworkInvoiceSummary" [paymentType]="'Payment received'"
                    [secondSection]="true"
                    [recievedOrPayedAmount]="jobowrkReceivableSummary.transactionAmount"></dashboard>
                <div *ngIf="jobworkGroupedBarChat.length > 0" class="chart-container">
                    <ngx-charts-bar-vertical-2d 
                    [results]="jobworkGroupedBarChat" 
                    [xAxis]="true"
                    [yAxis]="true"
                    [showXAxisLabel]="true" 
                    [showYAxisLabel]="true"
                    [xAxisLabel]="'Month'"
                    [yAxisLabel]="'Amount'"
                    [gradient]="true"
                    [legend]="false"
                    legendPosition="below"
                    [scheme]="colorScheme"
                    >
                    </ngx-charts-bar-vertical-2d> 
                </div>
               
                </mat-card-content>
            </mat-card>
        </div >
        <div fxFlex="40">
            <mat-card> <!-- style="height:100%" -->
                <mat-card-content>
                <dashboard [dashboardTransactionSummary]="subcontractInvoiceSummary" [paymentType]="'Payment made'"
                    [secondSection]="true"
                    [recievedOrPayedAmount]="subcontratPaymentSummary.transactionAmount"></dashboard>

                    <div *ngIf="subcontractGroupedBarChat.length > 0" class="chart-container">
                        <ngx-charts-bar-vertical-2d 
                        [results]="subcontractGroupedBarChat" 
                        [xAxis]="true"
                        [yAxis]="true"
                        [showXAxisLabel]="true" 
                        [showYAxisLabel]="true"
                        [xAxisLabel]="'Month'"
                        [yAxisLabel]="'Amount'"
                        [gradient]="true"
                        [legend]="false"
                        legendPosition="below"
                        [scheme]="supplierColorScheme"
                        >
                        </ngx-charts-bar-vertical-2d> 
                    </div>

                  
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div  *ngIf="allowJwInvoice"  fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="40pt" fxLayout.lt-md="column">

        <div fxFlex="40">
            <mat-card> <!--style="height:100%"-->
                <mat-card-content>
                <dashboard [dashboardTransactionSummary]="salesInvoiceSummary" [paymentType]="'Total Payment received'"
                    [secondSection]="true"
                    [recievedOrPayedAmount]="totalReceivableSummary.transactionAmount"></dashboard>
                <div *ngIf="totalGroupedBarChat.length > 0" class="chart-container">
                    <ngx-charts-bar-vertical-2d 
                    [results]="totalGroupedBarChat" 
                    [xAxis]="true"
                    [yAxis]="true"
                    [showXAxisLabel]="true" 
                    [showYAxisLabel]="true"
                    [xAxisLabel]="'Month'"
                    [yAxisLabel]="'Amount'"
                    [gradient]="true"
                    [legend]="false"
                    legendPosition="below"
                    [scheme]="colorScheme"
                    >
                    </ngx-charts-bar-vertical-2d> 
                </div>
               
                </mat-card-content>
            </mat-card>
        </div>
    



        <div fxFlex="40">
            <mat-card> <!--style="height:100%"-->
                <mat-card-content>
                <dashboard [dashboardTransactionSummary]="totalPurchaseInvoiceSummary" [paymentType]="'Total Payment made'"
                    [secondSection]="true"
                    [recievedOrPayedAmount]="totalPayableSummary.transactionAmount"></dashboard>
                <div *ngIf="totalPurchaseGroupedBarChat.length > 0" class="chart-container">
                    <ngx-charts-bar-vertical-2d 
                    [results]="totalPurchaseGroupedBarChat" 
                    [xAxis]="true"
                    [yAxis]="true"
                    [showXAxisLabel]="true" 
                    [showYAxisLabel]="true"
                    [xAxisLabel]="'Month'"
                    [yAxisLabel]="'Amount'"
                    [gradient]="true"
                    [legend]="false"
                    legendPosition="below"
                    [scheme]="supplierColorScheme"
                    >
                    </ngx-charts-bar-vertical-2d> 
                </div>
               
                </mat-card-content>
            </mat-card>
        </div>




    </div>















    <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="40pt" fxLayout.lt-md="column">
        <div fxFlex="40">
        </div>
        <div fxFlex="40">
            <button mat-button (click)="onRefresh()">
                <mat-icon>refresh</mat-icon> {{'Refresh'|translate}}
            </button>
        </div>
    </div>


</div>