// .home-main-container{
//     margin: 2%;
//     padding: 2%;
// }
// .mat-card{
//     padding: 0px;
// }

// .bg-div{
//     // background-image: url('/assets/home_bg.jpg');
//     background-repeat: no-repeat;
//     background-position: right top;
//     background-attachment: fixed;
//     background-size: cover;
//     min-width: 100%;
//     min-height: 100vw;
// }

.chart-container{
    margin-top: 20pt; 
    display: grid; 
    width: 100%; 
    height: 200pt;
    // margin-bottom: 50pt;
}