<div class="example-container">

    <mat-toolbar color="primary" class="fixed-header-master">
            <div>
                <app-sub-heading [route]="route">
                </app-sub-heading>
            </div>
        <!-- <div fxLayout="row" fxLayoutAlign="end center" class="title-row">
            <div fxFlex="97">
                <label class="form-header-lbl">Material detailed report</label>
            </div>
            <div fxFlex>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="saveAsExcel()">
                        <mat-icon>import_export</mat-icon>
                        <span>Export to Excel</span>
                    </button>
                    <button mat-menu-item (click)="close()">
                        <mat-icon>close</mat-icon>
                        <span>Close</span>
                    </button>
                </mat-menu>
            </div>
        </div> -->
    </mat-toolbar>
    <div style="margin-top: 20pt;">

    </div>
    <!-- <mat-card-content class="input-top"> -->
        <ngx-datatable class="material" (sort)="onSort($event)" [rows]="rows" [columnMode]="'force'" [headerHeight]="'auto'" [footerHeight]="50" [rowHeight]="'auto'"
            [reorderable]="reorderable"
             [summaryRow]="true" 
             [externalPaging]="true" 
             [externalSorting]="true" 
             [summaryPosition]="'bottom'" [summaryHeight]="'auto'" [count]="page.totalElements"
            [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [scrollbarH]="true">
            <ngx-datatable-column headerClass="report-header" [maxWidth]="80" name="{{'SlNo'|translate}}">
                <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    <strong>{{(page.pageNumber * page.size) + rowIndex + 1}}</strong>
                </ng-template>
            </ngx-datatable-column>




            <ngx-datatable-column headerClass="report-header"   name="name">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sort()" class="sort-btn sort-desc undefined">{{'Material'|translate}}</span>
                </ng-template>
            </ngx-datatable-column>


            <ngx-datatable-column headerClass="report-header"  prop="partNumber">
                <ng-template let-column="column" ngx-datatable-header-template>
                    {{'Part Number'|translate}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column headerClass="report-header"  prop="hsnCode">
                <ng-template let-column="column" ngx-datatable-header-template>
                   {{'HSN Code'|translate}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column headerClass="report-header"  prop="mrp" cellClass="report-right-align" [summaryFunc]="null" >
                <ng-template let-column="column" ngx-datatable-header-template>
                    {{'MRP'|translate}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column headerClass="report-header"  prop="buyingPrice" cellClass="report-right-align" [summaryFunc]="null">
                <ng-template let-column="column" ngx-datatable-header-template>
                    {{'Buying Price'|translate}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column headerClass="report-header"  prop="price" cellClass="report-right-align" [summaryFunc]="null">
                <ng-template let-column="column" ngx-datatable-header-template>
                    {{'Selling Price'|translate}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column headerClass="report-header"  prop="stock" cellClass="report-right-align" [summaryFunc]="null">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{'Current Stock'|translate}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column headerClass="report-header"  prop="unitOfMeasurementName">
                <ng-template let-column="column" ngx-datatable-header-template>
                    {{'UOM'|translate}}
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>

    <!-- </mat-card-content> -->

    </div>

<!-- <div class="navbar navbar-fixed-bottom" style="margin-left:200px">
  <div class="row">
      <div class="col-mat-12">
          <div class="button-row">
              <button *ngIf="applicableButtons?.isCloseButton" mat-raised-button type="button" (click)="close()" [disabled]="!enableCloseButton" >Close</button>
              <button *ngIf="applicableButtons?.isDeleteButton" mat-raised-button type="button" (click)="delete()" color="warn" [disabled]="!(enableDeleteButton && primaryKey)">Delete</button>
              <button *ngIf="applicableButtons?.isCancelButton" mat-raised-button type="button" (click)="cancel()" color="warn" [disabled]="!(enableCancelButton && primaryKey)">Cancel</button>
              <button *ngIf="applicableButtons?.isPrintButton" mat-raised-button type="button" (click)="print()" [disabled]="!(enablePrintButton && primaryKey)">Print</button>
              <button *ngIf="applicableButtons?.isClearButton" mat-raised-button type="button" (click)="clear()" [disabled]="!enableClearButton" >Clear</button>
              <button *ngIf="applicableButtons?.isSaveButton" mat-raised-button type="submit" [disabled]="!inForm.valid || !enableSaveButton" color="primary">Save</button>
              <button *ngIf="applicableButtons?.isApproveButton" mat-raised-button type="button" (click)="approve()" [disabled]="!enableApproveButton" >Approve</button>
              <button *ngIf="applicableButtons?.isEditButton"  mat-raised-button type="button" (click)="edit()" [disabled]="!enableEditButton" >Edit</button>
          </div>
      </div>
  </div>
</div> -->


<div class="button-panel" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">

    <div>
        <button mat-raised-button type="button" (click)="close()" matTooltip="Close">
            <i class="material-icons">close</i> {{'Close'|translate}}</button>
    </div>
    <div>
        <button mat-raised-button type="button" color="primary" (click)="saveAsExcel()" matTooltip="Save as Excel">
            <i class="material-icons">import_export</i> {{'Export to Excel'|translate}}</button>
    </div>

    <div>
        <button mat-raised-button type="button" color="primary" (click)="saveAsPdf()" matTooltip="Save as Pdf"><i class="material-icons">import_export</i>
          {{'Export to Pdf'|translate}}</button>
      </div>

</div>

<!-- <nested-table></nested-table> -->