// .example-container{
//     margin-top: 5%;
//     background-color: #f1f1f1
// }

// .title-row{
//     width: 100%;
// }

// .mat-card{
//     padding: 0px;
//     margin-bottom: 5%;
//     margin-right: 5%;
//     margin-top: 5%;
//     margin-left: 5%;
//   }
  
//   .right-align{
//     text-align: right !important;
//     font-size: 20pt;
//     background: pink;
//   }

//   .button-panel{
//     position: fixed;
//     bottom: -4px;
//     margin-top:20px;
//     background-color: #f1f1f1;
//     align-content: center;
//     text-align: center;
//     width: 100%;
//     z-index: 9;
//     font-size: 34px;
// }