<!-- <div  style="padding-bottom: 5%;">
  <div class="form-title">
    <label class="form-header-lbl">Material Stock Trace </label>
  </div>
  <div class="panel-heading bg-primary">

    Search Stock Trace of Material
  </div>

  <div class="panel">
    <form [formGroup]="stockTraceForm" novalidate>
      <mat-form-field>
        <input matInput [matDatepicker]="fromDatepicker" placeholder="From date" formControlName="fromDate">
         <button matSuffix [matDatepickerToggle]="fromDatepicker"></button> 
        <mat-datepicker-toggle matSuffix [for]="fromDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #fromDatepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="toDatepicker" placeholder="To date" formControlName="toDate">
        <button matSuffix [matDatepickerToggle]="toDatepicker"></button>
        <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #toDatepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="materialId">
          <mat-option>-- None --</mat-option>
          <mat-option *ngFor="let material of materials" [value]="material.id">
            {{material.name}}
          </mat-option>

        </mat-select>
        <mat-placeholder>Material</mat-placeholder>
      </mat-form-field>
      <button (click)="onSearch()">Search</button>
    </form> -->
    <div class="example-container">
      
          <mat-toolbar color="primary" class="fixed-header-master">
              <div>
                  <app-sub-heading [route]="route">
                  </app-sub-heading>
              </div>
              <!-- <div fxLayout="row" fxLayoutAlign="end center" class="title-row">
                  <div fxFlex="97">
                      <label class="form-header-lbl">Stock Trace of Material</label>
                  </div>
                  <div fxFlex>
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                          <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                          <button mat-menu-item (click)="saveAsExcel()">
                          <mat-icon>import_export</mat-icon>
                          <span>Export to Excel</span>
                          </button>
                          <button mat-menu-item (click)="close()">
                          <mat-icon>close</mat-icon>
                          <span>Close</span>
                          </button>
                      </mat-menu>
                  </div>
              </div> -->
          </mat-toolbar>
          <mat-accordion>
            <mat-expansion-panel  [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5pt">
                    <div><mat-icon style="font-size:20pt;">filter_list</mat-icon></div>
                    <div><p>{{'Filter'|translate}}</p></div>
                  </div>
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
               <div fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center center" fxLayoutAlign.lt-md="space-around stretch">
              <!-- <div > -->
                <form [formGroup]="stockTraceForm" novalidate>

              <div fxLayoutAlign="space-around center" fxLayoutAlign.lt-md="space-around stretch" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10pt">
                 
                <mat-form-field>
                    <input matInput [matDatepicker]="fromDatepicker" placeholder="{{'From date'|translate}}" formControlName="fromDate">
                    <mat-datepicker-toggle matSuffix [for]="fromDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #fromDatepicker></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput [matDatepicker]="toDatepicker" placeholder="{{'To date'|translate}}" formControlName="toDate">
                    <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #toDatepicker></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-select formControlName="materialId">
                      <mat-option>-- None --</mat-option>
                      <mat-option *ngFor="let material of materials" [value]="material.id">
                        {{material.name }} / {{material.partNumber}}
                      </mat-option>
            
                    </mat-select>
                    <mat-placeholder>{{'Material'|translate}}</mat-placeholder>
                  </mat-form-field>
                  
        
        
                  <button mat-raised-button color="primary" (click)="onSearch()">
                          <i class="material-icons menu-icon top-search" matTooltip="Search">{{'search'|translate}}</i>
                      </button>
                      <button mat-raised-button type="button" (click)="clear()"><i class="material-icons" matTooltip="Clear!">{{'clear_all'|translate}}</i></button>
                      
             </div>

                </form>
              <!-- </div> -->
            </div>
          </mat-expansion-panel>
        </mat-accordion>
  <div>
    <ngx-datatable class="material" [rows]="rows"  (sort)="onSort($event)" [columnMode]="'force'" [headerHeight]="'auto'" [footerHeight]="50" [rowHeight]="'auto'"  [sorts]="[{prop:'businessDate', dir: 'asc'},{prop:'transactionDate', dir: 'asc'}]"
    [scrollbarH]="true" [scrollbarV]="false" [reorderable]="reorderable" [limit]="10">
      <ngx-datatable-column name="{{'SlNo'|translate}}" headerClass="report-header" [maxWidth]="80">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <strong>{{(page.pageNumber * page.size) + rowIndex + 1}}</strong>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column headerClass="report-header"  prop="businessDate">
        <ng-template let-column="column" let-sort="sortFn"  ngx-datatable-header-template>
          <span (click)="sort()" class="sort-btn sort-desc undefined">{{'Business Date'|translate}}</span>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value | date: 'dd/MM/yyyy'}}
        </ng-template>
      </ngx-datatable-column>


    <ngx-datatable-column headerClass="report-header"  prop="transactionDate">
        <ng-template let-column="column" let-sort="sortFn"  ngx-datatable-header-template>
          <span (click)="sort()" class="sort-btn sort-desc undefined">{{'Transaction Date'|translate}}</span>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value | date: 'dd/MM/yyyy'}}
        </ng-template>
      </ngx-datatable-column>


      <!-- <ngx-datatable-column headerClass="report-header"  prop="transactionDate">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{'Transaction Date'|translate}}
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value | date: 'dd/MM/yyyy'}}
        </ng-template>
      </ngx-datatable-column> -->
      <ngx-datatable-column headerClass="report-header"  name="materialName">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span (click)="sort()" class="sort-btn sort-desc undefined">{{'Material Name'|translate}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column headerClass="report-header"  name="materialPartNumber">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span  class="sort-btn sort-desc undefined">{{'Material Code'|translate}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column headerClass="report-header"  name="transactionNote">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span (click)="sort()" class="sort-btn sort-desc undefined">{{'Transaction Note'|translate}}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column headerClass="report-header"  name="transactionNumber">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span (click)="sort()" class="sort-btn sort-desc undefined">{{'Transaction Number'|translate}}</span>
            </ng-template>
          </ngx-datatable-column>

      <ngx-datatable-column headerClass="report-header"  name="partyName">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()" class="sort-btn sort-desc undefined">{{'Party Name'|translate}}</span>
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column headerClass="report-header"  name="partyCode">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()" class="sort-btn sort-desc undefined">{{'Party Code'|translate}}</span>
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column headerClass="report-header"  cellClass="report-right-align" prop="quantityIn" cellClass="report-right-align">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{'In Quantity'|translate}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column headerClass="report-header"  cellClass="report-right-align" prop="quantityOut" cellClass="report-right-align">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{'Out Quantity'|translate}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column headerClass="report-header"  cellClass="report-right-align" prop="closingStock" cellClass="report-right-align">
          <ng-template let-column="column" ngx-datatable-header-template>
              {{'Closing Stock'|translate}} 
          </ng-template>
        </ngx-datatable-column>
  

    </ngx-datatable>
    </div>

  </div>
  
  
<div class="button-panel" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  
      <div>
      <button mat-raised-button type="button" (click)="close()" matTooltip="Close"><i class="material-icons">close</i> {{'Close'|translate}}</button>
      </div>
      <div>
      <button mat-raised-button type="button" color="primary" (click)="saveAsExcel()" matTooltip="Save as Excel"><i class="material-icons">import_export</i> {{'Export to Excel'|translate}}</button>
      </div>
      <div>
        <button mat-raised-button type="button" color="primary" (click)="saveAsPdf()" matTooltip="Save as Pdf"><i class="material-icons">import_export</i>
          {{'Export to Pdf'|translate}}</button>
      </div>
  </div>
    <!-- <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
  
  
      <ng-container matColumnDef="businessDate">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.businessDate | date: 'shortDate'}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="transactionDate">
        <mat-header-cell *matHeaderCellDef> Transaction Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.transactionDate | date: 'shortDate'}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="materialName">
        <mat-header-cell *matHeaderCellDef> Material </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.materialName}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="transactionNote">
        <mat-header-cell *matHeaderCellDef> Transaction </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.transactionNote}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="partyName">
        <mat-header-cell *matHeaderCellDef> Party </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.partyName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="quantityIn">
        <mat-header-cell *matHeaderCellDef> In Quantity </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.quantityIn}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="quantityOut">
        <mat-header-cell *matHeaderCellDef> Out Quantity </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.quantityOut}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="closingStock">
        <mat-header-cell *matHeaderCellDef> Closing Stock </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.closingStock}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div> -->

  <!-- </div>
</div>

<div class="navbar navbar-fixed-bottom mt-5 ">
  <div class="row">
    <div class="col-mat-12">
      <div class="button-row" style="margin-left:500px;">
        <button color="primary" mat-raised-button (click)="saveAsExcel()">Export to excel</button>
        <button color="primary" mat-raised-button (click)="close()">Close</button>
      </div>
    </div>
  </div>
</div> -->


<!-- <app-material-table></app-material-table> -->