<!-- ..............................forget password-card..................................... -->
<ngx-alerts></ngx-alerts>
<div *ngIf="forgetCard" fxLayout="row" fxLayoutAlign="center center" class="forgetpassword-container">
  <mat-card class="forgetpassword-card mat-elevation-z10 summary-section">

    <mat-card-header>
      <mat-card-title class="md-headline">
        <label class="example-header">Reset Password</label>
      </mat-card-title>
      <!-- <mat-card-subtitle>Enter Username
      </mat-card-subtitle> -->
    </mat-card-header>


    <mat-card-content>
      <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-around ">
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <mat-form-field>
            <input matInput placeholder="Username" maxlength=50 autocomplete="off"  required  [formControl]="username">
            <mat-error *ngIf="username.hasError('whitespace')">Username should not have space</mat-error>
              <mat-error *ngIf="username.hasError('minlength')">Username should be minimum 5 characters</mat-error>
              <mat-hint align="end">{{username.value?.length || 0}}/50</mat-hint>
          </mat-form-field>
        </div>

        <div>
          <button mat-raised-button class="action-button " style="width:100%" (click)="forgotPassword()"
            color="primary">Submit</button>
        </div>
      </div>
    </mat-card-content>

  </mat-card>
</div>
<!-- ......................................forget password-card end.......................................... -->


<!-- ..................................Otp Card......................................................... -->

<div *ngIf="otpCard" fxLayout="row" fxLayoutAlign="center center" class="forgetpassword-container">
  <mat-card class="forgetpassword-card mat-elevation-z10 summary-section">

    <mat-card-header>
      <mat-card-title class="md-headline">
        <label class="example-header">Reset Password</label>
      </mat-card-title>
      <!-- <mat-card-subtitle>Enter OTP
      </mat-card-subtitle> -->
    </mat-card-header>


    <mat-card-content>
      <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-around ">
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <mat-form-field>
            <input matInput placeholder="Enter Otp" maxlength="6" OnlyNumber="true" required [formControl]="otp">
            <mat-error *ngIf="otp.invalid" class="error">
              please enter OTP
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <button mat-raised-button class="action-button " style="width:100%" (click)="submitOtp()"
            color="primary">Submit</button>
        </div>
      </div>
    </mat-card-content>

  </mat-card>
</div>
<!-- ................................Otp Card end................................. -->



<!-- ..............................password reset card start............................. -->

<div *ngIf="passwordResetCard" fxLayout="row" fxLayoutAlign="center center" class="forgetpassword-container">
  <mat-card class="forgetpassword-card mat-elevation-z10 summary-section">

    <mat-card-header>
      <mat-card-title class="md-headline">
        <label class="example-header">Reset Password</label>
      </mat-card-title>
      <!-- <mat-card-subtitle>New Password
      </mat-card-subtitle> -->
    </mat-card-header>


    <mat-card-content>
      <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-around ">
        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <mat-form-field>
            <input matInput placeholder="New Password" required type="password"
              [type]="hide ? 'text' : 'password'" minlength="5" maxlength="12" [formControl]="newPassword" (change)="validatePassword()">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="newPassword.hasError('whitespace')">Password should not have space</mat-error>
            <mat-error *ngIf="newPassword.hasError('minlength')">Password should be minimum 5 characters</mat-error>
            <mat-error *ngIf="newPassword.hasError('validateEqual')">Password not matching with confirm password</mat-error>
            <mat-error *ngIf="newPassword.hasError('sameAsUsername')">Password should not be same as username</mat-error>
            <mat-hint align="end">{{newPassword.value?.length || 0}}/12</mat-hint>
          </mat-form-field>
        </div>

        <div fxFlex="50%" fxLayout.lt-sm="column" fxLayoutGap="10px">
          <mat-form-field>
            <input matInput placeholder="Confirm Password" minlength="5" maxlength="12" required type="password"
              [type]="hide ? 'text' : 'password'" [formControl]="confirmPassword" (change)="validatePassword()">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="confirmPassword.hasError('incorrect')">Password not matching with confirm password</mat-error>
            <mat-hint align="end">{{confirmPassword.value?.length || 0}}/12</mat-hint>
          </mat-form-field>
        </div>

        <div>
          <button mat-raised-button class="action-button " style="width:100%" (click)="passwordReset()"
            color="primary">Submit</button>
        </div>
      </div>
    </mat-card-content>

  </mat-card>
</div>

<!-- ............................password reset card end................................ -->