.mat-card-content {
    padding: 10px;
}

.forgetpassword-container{
    height:600px;
}

  
.example-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
  }
  
  .forgetpassword{
      background-color: lavender;
  }

  .incorrect-submit{
      color: red;
  }