<mat-card>
  <form *ngIf="printTemplateForm" [formGroup]="printTemplateForm">
  <div fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="40">
        <div fxLayout="column" fxLayoytGap="10pt" formArrayName="templates" style="height: 60vh; overflow-y: scroll">
            <div *ngFor="let templateItem of printTemplateForm.get('templates')['controls']; let idx=index">
      
              <div [formGroup]="templateItem" fxLayout="row" fxLayoutGap="10pt" fxLayoutAlign="start center">
                <div fxFlex="40">
                  <label>{{templateItem.get('transactionTypeName').value}}</label>
                </div>
      
                <div fxFlex *ngIf="templates && templates.length > 0">
                  <mat-form-field>
                    <mat-select class="input-container" formControlName="printTemplateId">
                      <mat-option *ngFor="let template of filteredTemplates(templateItem.get('transactionTypeName').value); let idx = index" [value]="template.id">
                        {{template.isJasperPrint ? 'Classic-'+(idx-2)+'-'+template.name : template.name}}
                      </mat-option>
      
                    </mat-select>
                    <mat-placeholder>Template</mat-placeholder>
                  </mat-form-field>
                </div>
              </div>
      
              <!-- <mat-divider></mat-divider> -->
      
            </div>

          </div>
    </div>
    <div fxFlex="20">
        <div>
            <button mat-raised-button color="primary" (click)="save(printTemplateForm.value)">{{'APPLY AND CLOSE'|translate}}</button>
          </div>
    </div>
    <div fxFlex="40">

    </div>
  </div>
  

  </form>
</mat-card>