<div class="example-container">
   <mat-toolbar color="primary" class="fixed-header-master">
        <div>
            <app-sub-heading [route]="route_in">
            </app-sub-heading>
        </div>
          <!-- <div fxLayout="row" fxLayoutAlign="end center" class="title-row">
              <div fxFlex="97">
                  <label class="form-header-lbl">{{partyName}} detailed report</label>
              </div>
              <div fxFlex>
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                      <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="saveAsExcel()">
                      <mat-icon>import_export</mat-icon>
                      <span>Export to Excel</span>
                      </button>
                      <button mat-menu-item (click)="close()">
                      <mat-icon>close</mat-icon>
                      <span>Close</span>
                      </button>
                  </mat-menu>
              </div>
          </div> -->
      </mat-toolbar>
      <div style="margin-top: 20pt;">

    </div>

    <mat-accordion>
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5pt">
                <div>
                  <mat-icon style="font-size:20pt;">filter_list</mat-icon>
                </div>
                <div>
                  <p>{{'Filter'|translate}}</p>
                </div>
              </div>
            </mat-panel-title>
            <mat-panel-description>
    
            </mat-panel-description>
          </mat-expansion-panel-header>
    
          <div fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center start">
            <form [formGroup]="filterForm" novalidate>
              <div fxLayoutAlign="center center" fxLayoutGap="10px">
                
                <mat-form-field>
                  <mat-placeholder>
                      {{'Created By'|translate}}
                  </mat-placeholder>
                  <mat-select formControlName="createdBy">
                      <mat-option *ngFor="let employee of employees" [value]="employee.username">
                          {{employee.name}}
                      </mat-option>
                  </mat-select>
    
              </mat-form-field>
              </div>
              <div fxLayoutAlign="end end" fxLayoutGap="10px">                
                <button mat-raised-button color="primary" (click)="onSearch()">
                  <i class="material-icons menu-icon top-search" matTooltip="Search">search</i>
                </button>
                <button mat-raised-button type="button" (click)="clear()"><i class="material-icons" matTooltip="Clear!">clear_all</i></button>
              </div>
            </form>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- <mat-card-content class="input-top"> -->
          <ngx-datatable class="material" (sort)="onSort($event)" [rows]="rows" [columnMode]="'force'" [headerHeight]="'auto'" [footerHeight]="50" [rowHeight]="'auto'"
              [reorderable]="reorderable"  [externalSorting]="true"  [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
              (page)='setPage($event)' [scrollbarH]="true">
              <ngx-datatable-column headerClass="report-header" [maxWidth]="80" name="{{'SlNo'|translate}}">
                  <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                      <strong>{{(page.pageNumber * page.size) + rowIndex + 1}}</strong>
                  </ng-template>
              </ngx-datatable-column>
  
  
  
  
              <ngx-datatable-column headerClass="report-header"  name="name">
                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                      <span (click)="sort()" class="sort-btn sort-desc undefined">{{'Company Name'|translate}}</span>
                  </ng-template>
              </ngx-datatable-column>
              
              <ngx-datatable-column headerClass="report-header"  name="partyCode">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sort()" class="sort-btn sort-desc undefined">{{'Party Code'|translate}}</span>
                </ng-template>
              </ngx-datatable-column>
  
              <ngx-datatable-column headerClass="report-header"  prop="address">
                  <ng-template let-column="column" ngx-datatable-header-template>
                    {{'Address'|translate}}
                  </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column headerClass="report-header"  prop="gstNumber">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{'GST Number'|translate}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column headerClass="report-header"  prop="email"  >
                    <ng-template let-column="column" ngx-datatable-header-template>
                    {{'Email'|translate}}
                </ng-template>
            </ngx-datatable-column> 
              <!-- <ngx-datatable-column headerClass="report-header"  prop="primaryMobile">
                  <ng-template let-column="column" ngx-datatable-header-template>
                    primary mobile number
                  </ng-template>
              </ngx-datatable-column> -->
              <ngx-datatable-column headerClass="report-header"  prop="contactPersonName"  >
                      <ng-template let-column="column" ngx-datatable-header-template>
                        {{'Contact person Name'|translate}}
                  </ng-template>
              </ngx-datatable-column> 

              <ngx-datatable-column headerClass="report-header"  prop="contactPersonNumber">
                  <ng-template let-column="column" ngx-datatable-header-template>
                    {{'Contact Person Number'|translate}}
                  </ng-template>
              </ngx-datatable-column>       
              
              <ngx-datatable-column headerClass="report-header"  prop="primaryMobile">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{'Primary Mobile Number'|translate}}
                </ng-template>
            </ngx-datatable-column>
            
  
          </ngx-datatable>
  
      <!-- </mat-card-content> -->
  

  <div class="button-panel" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    
        <div>
        <button mat-raised-button type="button" (click)="close()" matTooltip="Close"><i class="material-icons">close</i> {{'Close'|translate}}</button>
        </div>
        <div>
        <button mat-raised-button type="button" color="primary" (click)="saveAsExcel()" matTooltip="Save as Excel"><i class="material-icons">import_export</i> {{'Export to Excel'|translate}}</button>
        </div>

        <div>
            <button mat-raised-button type="button" color="primary" (click)="saveAsPdf()" matTooltip="Save as Pdf"><i class="material-icons">import_export</i>
              {{'Export to Pdf'|translate}}</button>
          </div>

          <div>
            <button mat-raised-button type="button" color="primary" (click)="savePartyAddressAsPdf()" matTooltip="Save as Pdf"><i class="material-icons">import_export</i>
              {{'Export to Pdf'|translate}}</button>
          </div>
    
        <!-- <div>
          <button mat-raised-button type="button" color="primary" (click)="exportToTally()" matTooltip="Export to Tally XML"><i class="material-icons">import_export</i>
            Tally XML</button>
        </div>
        <div>
          <button mat-raised-button type="button" color="primary" (click)="exportToTallyUOM()" matTooltip="Export to Tally XML"><i class="material-icons">import_export</i>
            UOM Tally XML</button>
        </div>
       
        <div>
            <button mat-raised-button type="button" color="primary" (click)="exportToTallyGST()" matTooltip="Export to Tally XML"><i class="material-icons">import_export</i>
              GST Tally XML</button>
          </div>

          <div>
            <button mat-raised-button type="button" color="primary" (click)="exportToTallySTOCK()" matTooltip="Export to Tally XML"><i class="material-icons">import_export</i>
              STOCK Tally XML</button>
          </div>

          <div>
            <button mat-raised-button type="button" color="primary" (click)="exportToTallyBANK()" matTooltip="Export to Tally XML"><i class="material-icons">import_export</i>
              BANK Tally XML</button>
          </div> -->
    </div>
   
</div>